{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}

<div class="m-homepage">
<!--     <div class="m-country-flag s-mx">
        <img src="{{ static_url("img/mexico-flag.png") }}" alt="">
    </div> -->
    <h1 class="first-title">Open Data 500 Italy</h1>

    <section class="m-homepage-about">
        <h1>About This Project</h1>
        <p class="intro">About this project text goes here.</p>
    </section>
</div>


<script>
    $('#mc_embed_signup').removeClass('s-disabled').delay(5000).addClass('s-disabled');
</script>
{% end %}
