{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}

<div class="m-homepage">
<!--     <div class="m-country-flag s-mx">
        <img src="{{ static_url("img/mexico-flag.png") }}" alt="">
    </div> -->
    <h1 class="first-title">Open Data 500 Italy</h1>

    <section class="m-homepage-about">
        <h1>About This Project</h1>
        <p class="intro">This is a test.</p>
    </section>
</div>

<div class="about-page">
<!-- <div class="m-country-flag s-mx">
	<img src="{{ static_url("img/mexico-flag.png") }}" alt="">
</div> -->
<section id="about-people">
	<h2>Team</h2>
	<h3 class="adj-title">이 한국 에 대한 테스트 입니다</h3>
	<div class="m-team">
		<div id="team-robyn-caplan" class="m-team-picture">
			<div>
				<img src="{{static_url ("img/test-robyn.png")}}" alt="Robyn Caplan">
				<p class="m-team-member-name">Robyn Caplan</p>
				<p class="m-team-member-job">Research Fellow, <br>GovLab at NYU</p>
			</div>
		
		<div class="m-team-bios">
			<div class="m-team-bio-robyn-caplan">
				<h3>Robyn Caplan</h3>
				<p>Robyn test test test </p>
				
				<p>Test paragraph 2</p>

				<p>Test paragraph 3.</p>
			</div>
			
			</div>
		</div>
	</div>
</section>
</div>
<script>
    $('#mc_embed_signup').removeClass('s-disabled').delay(5000).addClass('s-disabled');
</script>
{% end %}
