# system stuff
bin
build
include
lib

# python stuff
*.pyc

# virtualenv stuff
venv

# osx stuff
.DS_Store

# silly stuff
.svn

# top secret stuff
.env
ninja*
notes.txt
uploadScript.py
companies.csv
static/OD500_Companies_All.csv

# Ignoring Sass Cache files
static/css/.sass-cache

# static Files
static/files/us_OD500_Visits.csv
static/files/us_OD500_Companies_All.csv
testing.ipynb
.ipynb_checkpoints/testing-checkpoint.ipynb
.sass-cache
.gitignore