{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}

<div class="m-homepage">

	<div class="b-top-section m-purple">
	    <h1>Open Data 500 Korea</h1>
	</div>

	<div class="b-divider m-centered">
	    <h1></h1>
	    <h2>Data in Action</h2>
	</div>

	<div class="b-page-section">
    <script src="{{ static_url("js/d3.v3.min.js") }}"></script>
    <div id="chord-chart-container">
        <h2>Open Data Compass</h2>
        <h3>What types of companies use which agencies' data?</h3>
        <p></p>
        <br />

        <div id="chord-chart">
            <span class="chord-legend companies">Company Categories</span>
            <span class="chord-legend agencies">Government Agencies</span>
        </div>

	  </div>
	</div>


  <section class="m-homepage-about">
  	<div class="b-divider">
	  	<h1></h1>
	  	<h2>About This Project</h2>
    </div>
    <div class="b-page-section">
      <div class="row">
        <div class="large-10 large-centered columns">
		      <p> Open Data 500 Korea is a joint project between <a href="http://www.thegovlab.org"> Govlab</a> and <a href="http://www.nia.or.kr/">NIA</a> to conduct a comprehensive, internationally comparable study of private sector entities using open data in Korea.</p>
	      </div>
      </div>
    </div>
  </section>

	<div class="b-divider">
			<h1></h1>
			<h2>How to Participate</h2>
	</div>

	<div class="b-divider m-blue">
			<h1></h1>
			<h2>If you represent an open data company or organization, please respond to the survey.</h2>
	</div>

	<div class="b-page-section">
			<div class="row">
					<div class="column small-12">
						<section class="m-homepage-participate center">
							<!-- <h1>How To Participate</h1> -->
							<div id="kr-en-survey" class="column small-5 small-offset-1 column">
								<a href="#" id="kr-en-survey-button" class="b-button m-purple" target="_blank">Take the Survey <i class="material-icons">arrow_forward</i></a>
							</div>
						</section>

					</div>
			</div>
	</div>


<div class="about-page">
	<section id="about-goals">
		<div class="b-divider m-centered">
			<h1></h1>
			<h2>Study Objectives</h2>
		</div>
		<div class="b-page-section">
			<div class="row">
				<div class="large-10 large-centered columns">
					<ul>
						<li>Provide a basis for assessing the economic and social value of open data.</li>
						<li>Encourage the development of new open data companies.</li>
						<li>Foster a dialogue between government and the private sector on how open data can be made more useful.</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section id="about-govlab-approach">
		<div class="b-divider m-centered">
			<h1></h1>
			<h2>Approach</h2>
		</div>
		<div class="b-page-section">
			<div class="row">
				<div class="large-10 large-centered columns">
					<p>The Open Data 500 Korea study will facilitate the identification, analyzation, and organization of private sector entities using <a href=" https://www.data.go.kr/">open data</a> into a network to enable increased communication and interaction with government to improve open data policies. This network will be supported by Open Data Korea Forum and will integrate with their existing community. The outcome of this project, the Open Data 500 Korea, will be launched during the 2015 Open Data Korea Forum event.</p>
					<p>This project has been reported to the <a href="http://www.odsc.go.kr/">Open Data Strategy Council</a> of Korea, the highest decision making body on open data in Korea, co-chaired by the Prime Minister and is funded by the Ministry of Government Administration and Home Affairs (MOHAGA). It is our hope that this network will collaborate actively with partners worldwide, particularly those within the Open Data 500 Global Network, to bring the benefits of open data beyond national borders to a global scale.</p>
				</div>
			</div>
		</div>
	</section>

<div class="sub-sections">
	<div class="b-divider">
	    <h1></h1>
	    <h2>Company Identification</h2>
	</div>
	<div class="b-page-section">
		<div class="row">
			<div class ="large-10 large-centered columns" id="about-identify">
					<p>The Open Data 500 Korea team will compile the list of companies and NGOs through (1) outreach campaigns, (2) advice from experts and professional organizations, and (3) additional research. The results of the study will culminate in an online platform at www.opendata500.com/kr, which will highlight the companies and their use of open data in Korea.</p>
			</div>
		</div>
	</div>

	<div class="b-divider">
    <h1></h1>
    <h2>What The Study Is Not</h2>
	</div>
	<div class="b-page-section">
		<div class="row">
			<div class ="large-10 large-centered columns" id="about-what-study-is-not">
					<p>The Open Data 500 Korea is not a rating or ranking of companies. It covers companies and entities of different sizes and categories, using various kinds of data. The Open Data 500 Korea is not a competition, but an attempt to give a broad, inclusive view of the field. The study also does not provide a random sample for definitive statistical analysis. Since this is the first thorough scan of companies and entities in the field, it is not yet possible to determine the exact landscape of open data companies and entities.</p>
			</div>
		</div>
	</div>
</div>


<section id="open-data-policy">
	<div class="b-divider m-centered">
		<h1></h1>
		<h2>About the Open Data Policy</h2>
	</div>
	<div class='b-page-section'>
		<div class="row">
			<div class="large-10 large-centered columns">
				<p>Since enactment of the Open Data Law in 2013 there has been a massive increase in the number of datasets opened up by government and the public sector. There is increasingly a growing interest and policy need to improve our understanding about the use and impact of open data socially and economically. The Open Data 500 Korea will complement existing government surveys on the use of open data in Korea, which are grounded in the Open Data Law of Korea.</p>
			</div>
	 	</div>
 </div>
</section>


<section id="about-people">
	<div class="team-odc">
		<div class="b-divider m-centered">
			<h1>Team</h1>
		</div>
		<div class="b-divider m-centered m-blue">
			<h1></h1>
			<h2>Open Data Center (ODC) at the <br>
			<a href="http://www.nia.or.kr/">National Information Society Agency (NIA)</a></h2>
		</div>

		<div class="b-page-section m-centered">
	    <div class="row">
<!-- CARD -->
			<div class="e-card m-purple js-tooltip-trigger js-open-modal" data-open="#modal">
			  <div class="e-card-inner">
				  <div class="e-card-image" style="background-image: url('{{static_url ("img/kr/NIA-Boo-Mann.JPG")}}')"></div>
				    <p class="e-card-name">Boo-Mann CHOUNG</p>
				    <p class="e-card-description">Vice President</p>
			  </div>
			</div>
<!-- endCARD -->
<!-- CARD -->
			<div class="e-card m-purple js-tooltip-trigger js-open-modal" data-open="#modal">
			  <div class="e-card-inner">
				  <div class="e-card-image" style="background-image: url('{{static_url ("img/kr/NIA-ODC-SH-SONG.jpeg")}}')"></div>
				    <p class="e-card-name">Seok-Hyun SONG</p>
				    <p class="e-card-description">Director, Open Data Promotion Department</p>
			  </div>
			</div>
<!-- endCARD -->
<!-- CARD -->
			<div class="e-card m-purple js-tooltip-trigger js-open-modal" data-open="#modal">
			  <div class="e-card-inner">
				  <div class="e-card-image" style="background-image: url('{{static_url ("img/kr/NIA-ODC-YS-JANG.png")}}')"></div>
				    <p class="e-card-name">Yongseon JANG</p>
				    <p class="e-card-description">Executive Principal</p>
			  </div>
			</div>
<!-- endCARD -->
			<div class="e-card m-purple js-tooltip-trigger js-open-modal" data-open="#modal">
			  <div class="e-card-inner">
					<div class="e-card-image" style="background-image: url('{{static_url ("img/kr/NIA-ODC-JH-PARK.png")}}')" alt="NIA Team Member"></div>
					<p class="e-card-name">Ji Hye PARK</p>
					<p class="e-card-description">Researcher Project Manager for Open Data 500 Korea</p>
				</div>
			</div>

			<div class="e-card m-purple js-tooltip-trigger js-open-modal" data-open="#modal">
			  <div class="e-card-inner">
					<div class="e-card-image" style='background-image: url("{{static_url ("img/kr/NIA-ODC-JY-YOU.png")}}")'></div>
					<p class="e-card-name">Jae Young YOU</p>
					<p class="e-card-description">Researcher</p>
				</div>
			</div>

			<div class="e-card m-purple js-tooltip-trigger js-open-modal" data-open="#modal">
			  <div class="e-card-inner">
					<div class="e-card-image" style='background-image: url("{{static_url ("img/kr/NIA-ODC-YS-LEE.png")}}")'></div>
					<p class="e-card-name">YS LEE</p>
					<p class="e-card-description">Executive Principal, POC for Open Data 500 Korea</p>
				</div>
			</div>

			<div class="e-card m-purple js-tooltip-trigger js-open-modal" data-open="#modal">
				<div class="e-card-inner">
					<div class="e-card-image" style='background-image: url("{{static_url ("img/kr/Han-Woo-PARK.jpg")}}")'></div>
					<p class="e-card-name">Han Woo PARK</p>
					<p class="e-card-description">Professor, YeungNam University</p>
				</div>
			</div>

			<div class="e-card m-purple js-tooltip-trigger js-open-modal" data-open="#modal">
			  <div class="e-card-inner">
					<div class="e-card-image" style='background-image: url("{{static_url ("img/kr/Kyujin-JUNG.jpg")}}")'></div>
					<p class="e-card-name">Kyujin JUNG</p>
					<p class="e-card-description">Professor, Tennessee State University</p>
				</div>
			</div>

			<div class="e-card m-purple js-tooltip-trigger js-open-modal" data-open="#modal">
			  <div class="e-card-inner">
					<div class="e-card-image" style='background-image: url("{{static_url ("img/kr/Jiyoung-PARK.jpg")}}")'></div>
					<p class="e-card-name">Jiyoung PARK</p>
					<p class="e-card-description">Researcher, YeungNam University</p>
				</div>
			</div>

			<div class="e-card m-purple js-tooltip-trigger js-open-modal" data-open="#modal">
			  <div class="e-card-inner">
					<div class="e-card-image" style='background-image: url("{{static_url ("img/kr/Jiyoung-KIM.jpg")}}")'></div>
					<p class="e-card-name">Jiyoung KIM</p>
					<p class="e-card-description">Researcher, YeungNam University</p>
				</div>
			</div>
			</div>
		</div>
	</div> <!-- END TEAM -->

	<div class="team-moi">
		<div class="b-divider m-blue m-centered">
			<h1></h1>
			<h2>Public Data Policy Division at the <br>
			<a href="http://www.moi.go.kr">Ministry of Interior (MOI)</a></h2>
		</div>

		<div class="b-page-section m-centered">
	    <div class="row">
	<!-- CARD -->
				<div class="e-card m-purple js-tooltip-trigger js-open-modal" data-open="#modal">
				  <div class="e-card-inner">
					  <div class="e-card-image" style="background-image: url('{{static_url ("img/kr/mogaha-YB-PARK.png")}}')"></div>
					    <p class="e-card-name">Yeon-Byoung PARK</p>
					    <p class="e-card-description">Director</p>
				  </div>
				</div>
	<!-- endCARD -->
	<!-- CARD -->
				<div class="e-card m-purple js-tooltip-trigger js-open-modal" data-open="#modal">
				  <div class="e-card-inner">
					  <div class="e-card-image" style="background-image: url('{{static_url ("img/kr/mogaha-JH-SHIM.png")}}')"></div>
					    <p class="e-card-name">Jun-Hyung SHIM</p>
					    <p class="e-card-description">Deputy Director</p>
				  </div>
				</div>
	<!-- endCARD -->
	<!-- CARD -->
				<div class="e-card m-purple js-tooltip-trigger js-open-modal" data-open="#modal">
				  <div class="e-card-inner">
					  <div class="e-card-image" style="background-image: url('{{static_url ("img/kr/mogaha-YS-OH.png")}}')"></div>
					    <p class="e-card-name">Yeon-Soon OH</p>
					    <p class="e-card-description">Assistant Director</p>
				  </div>
				</div>
	<!-- endCARD -->
	    </div>
	  </div>
	</div> <!-- END TEAM -->

	<div class="team-govlab">
		<div class="b-divider m-centered m-blue">
			<h1></h1>
			<h2>The GovLab</h2>
		</div>

		<div class="b-page-section m-centered">
	    <div class="row">
	<!-- CARD -->
				<div class="e-card m-purple js-tooltip-trigger js-open-modal" data-open="#modal-beth-noveck">
				  <div class="e-card-inner">
					  <div class="e-card-image" style="background-image: url('/static/img/us/beth-noveck.jpg')"></div>
					    <p class="e-card-name">Beth Simone Noveck</p>
					    <p class="e-card-description">Founder &amp; Director, The GovLab</p>
				  </div>
				</div>
	<!-- endCARD -->
	<!-- CARD -->
				<div class="e-card m-purple js-tooltip-trigger js-open-modal" data-open="#modal-stefaan-verhulst">
				  <div class="e-card-inner">
					  <div class="e-card-image" style="background-image: url('/static/img/us/stefaan-verhulst.jpg')"></div>
					    <p class="e-card-name">Stefaan Verhulst</p>
					    <p class="e-card-description">Co-Founder and Chief of Research and Development, The GovLab; Director of GovLab's Open Data Project</p>
				  </div>
				</div>
	<!-- endCARD -->
	<!-- CARD -->
				<div class="e-card m-purple js-tooltip-trigger js-open-modal" data-open="#modal-julia-root">
				  <div class="e-card-inner">
					  <div class="e-card-image" style="background-image: url('/static/img/us/julia-root.jpg')"></div>
					    <p class="e-card-name">Julia Root</p>
					    <p class="e-card-description">Project Lead</p>
				  </div>
				</div>
	<!-- endCARD -->
	<!-- CARD -->
			<div class="e-card m-purple js-tooltip-trigger js-open-modal" data-open="#modal">
			  <div class="e-card-inner">
				  <div class="e-card-image" style="background-image: url('/static/img/us/anupama-sharma.jpg')"></div>
				    <p class="e-card-name">Anupama Sharma</p>
				    <p class="e-card-description">Developer</p>
			  </div>
			</div>
	<!-- endCARD -->
	<!-- CARD -->
			<div class="e-card m-purple js-tooltip-trigger js-open-modal" data-open="#modal-claudio-mendonca">
			  <div class="e-card-inner">
				  <div class="e-card-image" style="background-image: url('/static/img/us/claudio-mendonca.jpg')"></div>
				    <p class="e-card-name">Claudio Mendonca</p>
				    <p class="e-card-description">Designer</p>
			  </div>
			</div>
	<!-- endCARD -->

			<section="govlab-team-bios">
				<div class="b-modal" id="modal-beth-noveck">
					<div class="e-content">
						<h3>Beth Simone Noveck</h3>
						<p>Beth Simone Noveck directs The Governance Lab and its MacArthur Research Network on Opening Governance.  Funded by the John D. and Catherine T. MacArthur Foundation,  the John S. and James L. Knight Foundation and Google.org, the GovLab strives to improve people’s lives by changing how we govern. The GovLab designs and tests technology, policy and strategies for fostering more open and collaborative approaches to strengthen the ability of people and institutions to work together to solve problems, make decisions, resolve conflict and govern themselves more effectively and legitimately.</p>
						<p>The Jacob K. Javits Visiting Professor at New York University’s Robert F. Wagner Graduate School of Public Service and a visiting professor at the MIT Media Lab, Beth is a professor of law at New York Law School. She served in the White House as the first United States Deputy Chief Technology Officer and director of the White House Open Government Initiative (2009-2011). UK Prime Minister David Cameron appointed her senior advisor for Open Government, and she served on the Obama-Biden transition team. Among projects she’s designed or collaborated on are Unchat, The Do Tank, Peer To Patent, Data.gov, Challenge.gov and the Gov Lab’s Living Labs and training platform, The Academy.</p>
						<p>A graduate of Harvard University and Yale Law School, she serves on the Global Commission on Internet Governance and chairs the ICANN Strategy Panel on Multi-Stakeholder Innovation. She was named one of the “Foreign Policy 100″ by Foreign Policy, one of the “100 Most Creative People in Business” by Fast Company and one of the “Top Women in Technology” by Huffington Post. She has also been honored by both the National Democratic Institute and Public Knowledge for her work in civic technology.</p>
						<p>Beth is the author of Wiki Government: How Technology Can Make Government Better, Democracy Stronger and Citizens More Powerful, which has also appeared in Arabic, Russian, Chinese and in an audio edition, and co-editor of The State of Play: Law, Games and Virtual Worlds. Her next book The Networked State will appear with Harvard University Press. She tweets <a href="https://twitter.com/bethnoveck" target="_blank">@bethnoveck</a>.</p>
						<p><a class="b-button js-close-modal" href="#">OK</a></p>
					</div>
				</div>


				<div class="b-modal" id="modal-stefaan-verhulst">
					<div class="e-content">
						<h3>Stefaan G. Verhulst</h3>
						<p>Stefaan G. Verhulst is Co-Founder and Chief Research and Development Officer of the Governance Laboratory @NYU (GovLab) where he is responsible for building a research foundation on how to transform governance using advances in science and technology.</p>
						<p>Verhulst’s latest scholarship centers on how technology can improve people’s lives and the creation of more effective and collaborative forms of governance. Specifically, he is interested in the perils and promise of collaborative technologies and how to harness the unprecedented volume of information to advance the public good.</p>
						<p><a class="b-button js-close-modal" href="#">OK</a></p>
					</div>
				</div>

				<div class="b-modal" id="modal-julia-root">
					<div class="e-content">
						<h3>Julia Root</h3>
						<p>Julia Root is the project lead for GovLab’s Open NYU and Open Data 500 Global Network. She has worked across organizational and urban themes, as well as across sectors, as an inspired strategist, idea connector and network builder. Areas of expertise include open data and urban informatics; expert networks; cross-sector network building; higher education strategy; civic innovation; and intercultural business performance. Previously she was with NYU CUSP (Center for Urban Science + Progress) as the assistant director for student services. Prior to joining NYU, she had worked as a consultant with a boutique international consulting firm focused on advising higher education, public sector and engineering clients on urban issues and cross sector network building. She has contributed research and writing for academic and policy institutes and has consulted with organizations on business development, marketing and organizational development.</p>
						<p>Prior to arriving to New York City she was the associate director of development for the largest health and human service provider in New Orleans and the Gulf Coast and was a field office manager for an advocacy nonprofit located in Los Angeles. Julia has lived and/or worked in Los Angeles, San Diego, Barcelona, New Orleans and New York City.  She has a B.A. from the University of California, San Diego and an M.P.A from NYU’s Robert F. Wagner Graduate School of Public Service.</p>
						<p><a class="b-button js-close-modal" href="#">OK</a></p>
					</div>
				</div>
	<!-- 			<div class="m-team-bios">
				<div class="m-team-bio-john-krauss">
					<h3>John Krauss</h3>
					<p>John Krauss is a technical research fellow at the GovLab @ NYU. He’s active in New York City’s civic hacking scene, working to standardize and visualize transportation, safety, and housing data. John joins the GovLab after several years freelancing in the startup scene, where he experimented with scraping and continuous integration while building open data tools like <a href="http://nyc.crashmapper.com/">Crashmapper</a> on the side. His background is in architecture and housing; he received his B.A. in architecture and history from Columbia University and went on to consult on data and web design for NYU’s Furman Center for Real Estate and Urban Policy. In his spare time, John likes to bike, and once cycled from Santiago de Compostela to Berlin. He occasionally <a href="http://blog.johnkrauss.com/">blogs</a>, almost never <a href="https://twitter.com/recessionporn">tweets</a>, but often <a href="https://github.com/talos/">codes</a>.</p>
				</div>
				 -->
				<div class="b-modal" id="modal-claudio-mendonca">
					<div class="e-content">
					<h3>Claudio Mendonca</h3>
					<p>Claudio Mendonca is the graphic designer at The GovLab. Working as a graphic artist for more than 10 years, he earned his Bachelor's degree in Graphic Design in 2005. He has extensive experience in branding and interaction design.</p>
					<p>Claudio's previous experience includes 3 years developing graphical material for several government institutions in Brazil, publications and interface design for startups.</p>
					<p>He also designs webapps for the Centre of Direct Democracy and works as a design consultant at the World Bank Institute on several open gov projects such as Open Government, Open Contracting, Open Development and Technology Alliance, ICT4Gov.</p>
					<p>At The GovLab, Claudio is responsible for branding and interaction design for The GovLab projects. He can be found at <a href="http://www.claudiomendonca.com" target="_blank">claudiomendonca.com</a>.</p>
					<p><a class="b-button js-close-modal" href="#">OK</a></p>
					</div>
				</div>
			</section>
		</div> <!-- END TEAM -->

	</section> <!-- END ABOUT PEOPLE -->
</div> <!-- END HOMEPAGE DIV -->


<script type="text/javascript">


$('.m-homepage').css('text-align', 'left' );
var data;
d3.json("{{ static_url('files/kr_matrix.json') }}", function(error, json) {
    if (error) return console.warn(error);
    data = json;
    draw_diagram();
})

function draw_diagram() {
    var chord = d3.layout.chord()
        .padding(0.01)
        .sortSubgroups(d3.descending)
        .matrix(data.matrix);

    var width = 730,
        height = 750,
        innerRadius = Math.min(width, height) * .25,
        outerRadius = innerRadius * 1.14;

    var maxColor = '#4a2f76'
    var baseColor = '#eeeeee';
    var baseColor2 = '#a9db6c';
    var range = 50;
    var maxVal = d3.max(chord.groups, function(d) { return d.value; });
    var minVal = d3.min(chord.groups, function(d) { return d.value; });
    var fill_agencies = d3.scale.linear().domain([0,range]).range([maxColor, baseColor]);
    var fill_categories = d3.scale.linear().domain([0,range]).range([maxColor, baseColor2]);

    var svg = d3.select("#chord-chart").append("svg")
        .attr("width", width)
        .attr("height", height)
        .attr("id", "circle")
      .append("g")
        .attr("transform", "translate(335, 375)");
        // .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    var circle = svg.append("circle")
        .attr("r", outerRadius);

    var nodes = svg.append("g").selectAll("path")
        .data(chord.groups)
        .enter().append("path")
        .style("fill", function(d) {
            if (data.num_agencies > d.index) {
                return fill_agencies(d.index);
            } else {
                return fill_categories(d.index);
            }
        })
        .attr("d", d3.svg.arc().innerRadius(innerRadius).outerRadius(outerRadius))
        .on("mouseover", mouseover);

    var ticks = svg.append("g").selectAll("g")
        .data(chord.groups)
        .enter().append("g").selectAll("g")
        .data(groupTicks)
        .enter().append("g")
        .attr("transform", function(d) {
          return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")"
              + "translate(" + outerRadius + ",0)";
        });

    ticks.append("text")
        .attr("x", 8)
        .attr("dy", ".35em")
        .attr("transform", function(d) { return d.angle > Math.PI ? "rotate(180)translate(-16)" : null; })
        .style("text-anchor", function(d) { return d.angle > Math.PI ? "end" : null; })
        .text(function(d) { return d.label; })
        .filter(function(d, i) { return d.angleDiff < .017 })
        .remove();

    //var chord = svg.append("g")
    var chord = svg.selectAll(".chord")
      //.selectAll("path")
        .data(chord.chords)
      .enter().append("path")
        .attr("class", "chord")
        .attr("d", d3.svg.chord().radius(innerRadius))
        .style("fill", "rgba(0,0,0,0.2)");
        // .style("fill", function(d) {
        //     return fill_agencies(d.target.index);
        // });

    chord.on("mouseover", function(d) {
        d3.select(this).style("fill", "rgba(0,0,0,0.4)");
    }).on("mouseout", function(d) {
        d3.select(this).style("fill", "rgba(0,0,0,0.1)");
        // d3.select(this).style("fill", function(d) {
        //     return fill_agencies(d.target.index);
        // });
    });

    chord.append("title")
        .text(function(d) { return data.names[d.source.index] + "->" + data.names[d.target.index] + "\n" + d.target.value + " companies"});

    // nodes.append("title")
    //     .text(function(d) { return data.names[d.index] + "\n" + d.value + " companies"});

    function groupTicks(d) {
      var k = (d.endAngle - d.startAngle) / d.value;
      return d3.range(0, d.value, 1000).map(function(v, i) {
        return {
          angle: v * k + d.startAngle + (d.endAngle - d.startAngle)/2,
          label: data.names[d.index],
          angleDiff: d.endAngle - d.startAngle
        };
      });
    }

    function mouseover(d, i) {
      chord.classed("fade", function(p) {
        return p.source.index != i
            && p.target.index != i;
      });
    }
}

</script>

<script>
    $('#mc_embed_signup').removeClass('s-disabled').delay(5000).addClass('s-disabled');
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70626555-1', 'auto');
  ga('send', 'pageview');

</script>
{% end %}
