
{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}

<h1>Thanks For Submitting to the Open Data 100 Mexico</h1>

<h3>Help us spread the word to the government open data community by tweeting about your participation:
<a href="https://twitter.com/intent/tweet?text=%C2%A1Participamos%20en%20%23OD100MX%20el%201er.%20estudio%20de%20compa%C3%B1%C3%ADas%20y%20ONGs%20que%20usan%20%23DatosAbiertos%20en%20M%C3%A9xico!%20Visita%20www.OpenData500.com%2Fmx%20y%20participa." class="twitter-hashtag-button" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></h3>
<br>
<br>

<p>If you have any questions or concerns, please email <a href="mailto:OD100MX@datos.gob.mx">OD100MX@datos.gob.mx</a>.</p>

{% end %}