{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}
<div class="about-page">
<h1>Acerca del Open Data 100 México</h1>

<section class="intro">
	<p>El Datos Abiertos 100 México forma parte de la iniciativa de Datos Abiertos del Gobierno de la República, y es el primer estudio sobre empresas mexicanas que utilizan datos gubernamentales abiertos para crecer sus negocios, desarrollar nuevos productos y servicios o crear valor social. Los Datos Abiertos son datos públicos y gratuitos que pueden ser utilizados, reutilizados y redistribuidos para lanzar nuevas iniciativas comerciales o filantrópicas, para realizar investigaciones, tomar decisiones basadas en datos, y resolver problemas complicados.</p>
</section>

<section id="about-goals">
	<h2 class="m-page-title">Objetivos del estudio</h2>
	<ul>
		<li>Proveer una base para evaluar el valor económico y social de los datos gubernamentales abiertos.</li>
		<li>Estimular el desarrollo de nuevas compañías que trabajan con Datos Abiertos.</li>
		<li>Facilitar diálogo entre el gobierno y las compañías sobre cómo mejorar la utilidad de los datos gubernamentales abiertos.</li>
	</ul>
</section>

<section id="about-govlab-approach">
	<h1>Estrategia</h1>
	<p>Este estudio buscará compañías/organizaciones de diversos sectores, pequeñas, medianas y grandes, con o sin fines de lucro, que utilizan datos públicos gubernamentales como parte integral de su negocio. Esto incluye cualquier información o estadísticas provenientes de las entidades gubernamentales. Aunque la mayoría de las compañías exhibidas en la iniciativa de Datos Abiertos 100 México trabajan con datos abiertos Federales, también tenemos interés en las compañías que trabajan con datos Estatales o Municipales, en el entendido de que el manejo de sus datos puedan expandirse a nivel regional o nacional.</p>

	<p>Además, para las compañías participantes, el estudio representa una buena oportunidad de promocionar su trabajo a través de una plataforma pública.</p>
</section>

<div class="sub-sections">
	<section id="about-identify" class="m-half">
		<h2 class="m-page-title">Identificación de compañías</h2>
		<p>El equipo del Datos Abiertos 100 México recopilará la lista de las 100 compañías a través de (1) campañas de comunicación, (2) recomendaciones de expertos y organizaciones profesionales, y (3) investigación adicional.</p>

		<p>Los resultados del estudio culminarán en una plataforma en línea vinculada a <a href="http://www.opendata500.com/mx" target="_blank">www.opendata500.com/mx</a>, donde se destacarán diversas compañías y sus trabajos con datos gubernamentales abiertos en México.</p>
		
	</section>

	<section id="about-what-study-is-not" class="m-half">
		<h2 class="m-page-title">El estudio no es</h2>
		<p>Datos Abiertos 100 México, no es una clasificación de las compañías en términos de calidad o desempeño. El estudio cuenta con compañías de diferentes magnitudes y sectores que utilizan diversos tipos de datos. El estudio no significa competencia, por el contrario, es un intento para mostrar una perspectiva amplia e incluyente del ecosistema de datos abiertos en México. El estudio tampoco provee una muestra aleatoria para el análisis estadístico definitivo. Por ser el primer sondeo en este ámbito, todavía no es posible definir el panorama completo de las compañías que utilizan datos gubernamentales abiertos.</p>
	</section>
</div>

<section id="about-approach">
	<h1>Acerca de la Política de Datos Abiertos</h1>
	<p>Para el Gobierno de la República, las bases de datos con carácter público que están en su posesión son activos prioritarios que cuando son publicados en formatos abiertos pueden ser utilizados, reutilizados y redistribuidos para crear valor y beneficios en todos los sectores de la sociedad.</p>
	<p>El objetivo de la Política de Datos Abiertos es contar con una visión enfocada específicamente en facilitar el crecimiento económico, fortalecer la competitividad y promover la innovación en nuestro país; y que al mismo tiempo sea capaz de crear valor social, mejorar la prestación de servicios gubernamentales, incrementar la transparencia y rendición de cuentas, y conducir a mayor eficiencia gubernamental; impactando en una mejor gobernanza en el país.</p>
</section>


<section id="about-people">
	<h1>Equipo</h1>
	<h3>Equipo de Innovación Digital en la Oficina de la Presidencia de la República</h3>
	<div class="m-team">
		<div id="team-ania-calderon" class="m-team-picture">
			<div>
				<img src="/static/img/mx/ania-calderon.jpg" alt="">
				<p class="m-team-member-name">Ania Calderón</p>
				<p class="m-team-member-job">Directora General de Innovación Digital, <br>Presidencia de la República</p>
			</div>
		</div>
		<div id="team-enrique-zapata" class="m-team-picture">
			<div>
				<img src="/static/img/mx/enrique-zapata.jpg" alt="">
				<p class="m-team-member-name">Enrique Zapata</p>
				<p class="m-team-member-job">Director de Innovación Pública, <br>Presidencia de la República</p>
			</div>
		</div>

		<div id="team-rodolfo-wilhelmy" class="m-team-picture">
			<div>
				<img src="/static/img/mx/rodolfo-wilhelmy.jpg" alt="">
				<p class="m-team-member-name">Rodolfo Wilhelmy</p>
				<p class="m-team-member-job">Director de Datos Abiertos, <br>Presidencia de la República</p>
			</div>
		</div>
		<div id="team-eduardo-clark" class="m-team-picture">
			<div>
				<img src="/static/img/mx/eduardo-clark.jpg" alt="">
				<p class="m-team-member-name">Eduardo Clark</p>
				<p class="m-team-member-job">Director de Datos para el Desarollo, <br>Presidencia de la República</p>
			</div>
		</div>
		<div class="m-team-bios">
			<div class="m-team-bio-ania-calderon">
				<h3>Ania Calderón</h3>
				<p>Ania Calderón es Directora General de Innovación Digital de la Coordinación de Estrategia Digital en la Oficina de la Presidencia de la República. Tiene una Maestría en Administración Pública por la Universidad de Columbia con una especialización en Política Urbana en materia de Tecnologías de Información y Comunicación y obtuvo la beca Fulbright-García Robles. Fue miembro del grupo editorial del Journal of International and Public Affairs 2012-2013. Formó parte de un grupo de investigación de la delegación de Gobierno Digital del Equipo de Transición del Presidente Electo (2012-2018) de México. Previo esto fue co-fundadora de Pase Usted A.C., una organización civil enfocada en la construcción de plataformas de diálogo para promover la participación ciudadana en temas de interés público para la Ciudad de México. Impulsó el programa “Genera, tecnología para la ciudad”, una incubadora de proyectos digitales para mejorar la calidad de vida en las ciudades. </p>
			</div>
			<div class="m-team-bio-enrique-zapata">
				<h3>Enrique Zapata</h3>
				<p>Enrique Zapata es el Director de Innovación Pública en la Coordinación de Estrategia Digital Nacional en la Presidencia de la República. Tiene una Maestría en Política Pública por la Universidad de Oxford, con especialidad en Desarrollo Económico, y obtuvo la beca Chevening del Consejo Británico. Con anterioridad trabajó en la Secretaría de Economía donde fue responsable de coordinar la Agenda de Competitividad con América del Norte y negociaciones comerciales con Asia Pacífico. Fue parte del Consejo Editorial para la secciòn Internacional del Periódico Reforma. Internacionalista por la Universidad Iberoamericana, es asociado del Consejo Mexicano de Asuntos Internacionales (COMEXI).</p>
			</div>
			<div class="m-team-bio-rodolfo-wilhelmy">
				<h3>Rodolfo Wilhelmy</h3>
				<p>Hacker. Rodolfo es el que rompe cosas en @DatosGobMx. En su otra vida tocaba el banjo.</p>
			</div>
			<div class="m-team-bio-eduardo-clark">
				<h3>Eduardo Clark</h3>
			</div>
		</div>
	</div>
	<div class="m-team">
		<div id="team-diego-beauroyre" class="m-team-picture">
			<div>
				<img src="/static/img/mx/diego-beauroyre.jpg" alt="">
				<p class="m-team-member-name">Diego Beauroyre</p>
				<p class="m-team-member-job"><br></p>
			</div>
		</div>
		<div id="team-carlos-castro" class="m-team-picture">
			<div>
				<img src="/static/img/mx/carlos-castro.jpg" alt="">
				<p class="m-team-member-name">Carlos Castro</p>
				<p class="m-team-member-job"><br></p>
			</div>
		</div>
		<div id="team-julia-coburn" class="m-team-picture">
			<div>
				<img src="/static/img/mx/julia-coburn.jpg" alt="">
				<p class="m-team-member-name">Julia Coburn</p>
				<p class="m-team-member-job">Enlace de Proyecto, Datos Abiertos 100 México,<br>Presidencia de la República</p>
			</div>
		</div>
		<div id="team-pablo-villarreal" class="m-team-picture">
			<div>
				<img src="/static/img/mx/pablo-villarreal.jpg" alt="">
				<p class="m-team-member-name">Pablo Villarreal</p>
				<p class="m-team-member-job">Director de Gobierno Abierto,<br>Presidencia de la República</p>
			</div>
		</div>
		<div class="m-team-bios">
			<div class="m-team-bio-diego-beauroyre">
				<h3>Diego Beauroyre</h3>
			</div>
			<div class="m-team-bio-carlos-castro">
				<h3>Carlos Castro</h3>
			</div>
			<div class="m-team-bio-julia-coburn">
				<h3>Julia Coburn</h3>
				<p>Antes de integrarse al equipo de Datos Abiertos 100 México, Julia Coburn realizó una Maestría en Medios de Comunicación, Paz y Conflicto, por la Universidad para la Paz de las Naciones Unidas, en Costa Rica. Ahí, trabajó en la primera implementación de Indicadores de Seguridad para Periodistas de la UNESCO en Honduras y Guatemala. También ha trabajado para ONGs en México, EE.UU y Ecuador en las áreas de investigación, desarrollo, y comunicación. Fue becaria Fulbright en Costa Rica y realizó su B.A. en Antropología y Estudios de Latinoamérica y el Caribe por la Universidad de Chicago. </p>
			</div>
			<div class="m-team-bio-pablo-villarreal">
				<h3>Pablo Villarreal</h3>
				<p>Pablo Villarreal es Director de Gobierno Abierto de la Coordinación de Estrategia Digital en la Oficina de la Presidencia de la República. Tiene una Maestría en Administración Pública por la Robert F. Wagner School of Public Affairs de la Universidad de Nueva York y obtuvo la beca Fulbright-Garcia Robles. Anteriormente fue asesor del Secretario de Economía, donde era parte del equipo responsable de elaborar discursos y brindar asesoría en temas nacionales e internacionales. Previo a esto fue Asesor Político en Grupo Estrategia Política. Internacionalista por la Universidad Iberoamericana, es asociado del Consejo Mexicano de Asuntos Internacionales (COMEXI).</p>
			</div>
		</div>
	</div>
	<div class="m-team">
		<div id="team-eduardo-vargas" class="m-team-picture">
			<div>
				<img src="/static/img/mx/eduardo-vargas.jpg" alt="">
				<p class="m-team-member-name">Eduardo Vargas</p>
				<p class="m-team-member-job"><br></p>
			</div>
		</div>
		<div id="team-alejandra-ruiz-rio" class="m-team-picture">
			<div>
				<img src="/static/img/mx/alejandra-ruiz-rio.jpg" alt="">
				<p class="m-team-member-name">Alejandra Ruiz del Rio</p>
				<p class="m-team-member-job"><br></p>
			</div>
		</div>
		<div id="team-guillermo-ruiz-de-teresa" class="m-team-picture">
			<div>
				<img src="/static/img/mx/guillermo-ruiz-de-teresa.jpg" alt="">
				<p class="m-team-member-name">Guillermo Ruiz de Teresa</p>
				<p class="m-team-member-job"><br></p>
			</div>
		</div>
		<div id="team-jorge-diaz" class="m-team-picture">
			<div>
				<img src="/static/img/mx/jorge-diaz.jpg" alt="">
				<p class="m-team-member-name">Jorge Diaz</p>
				<p class="m-team-member-job">Director de Participación y Comunidades Abiertas,<br>Presidencia de la República</p>
			</div>
		</div>
		<div class="m-team-bios">
			<div class="m-team-bio-eduardo-vargas">
				<h3>Eduardo Vargas</h3>
			</div>
			<div class="m-team-bio-alejandra-ruiz-rio">
				<h3>Alejandra Ruiz Rio</h3>
			</div>
			<div class="m-team-bio-guillermo-ruiz-de-teresa">
				<h3>Guillermo Ruiz de Teresa</h3>
				<p></p>
			</div>
			<div class="m-team-bio-jorge-diaz">
				<h3>Jorge Diaz</h3>
				<p>Jorge Díaz es Director de Participación y Comunidades Abiertas en la Coordinación de Estrategia Digital Nacional en la Oficina de la Presidencia de la República. Tiene una maestría en Administración Pública y Desarrollo Internacional por la London School of Economics. Ha trabajado en proyectos de desarrollo social, participación cívica, gubernamental, y empoderamiento de comunidades indígenas en distintas zonas de México. Hizo investigación sobre innovación gubernamental para el Boston Consulting Group en Londres y llevó temas de desarrollo económico en la Representación de México ante las Naciones Unidas y otros organismos internacionales en Ginebra. Más recientemente, fue el coordinador general y estratega para el proyecto de Plataforma de Gobierno Abierto CDMX, desde PIDES, una organización sin fines de lucro local, y el gobierno de la Ciudad de México.</p>
			</div>
		</div>
	</div>
	<h3>Equipo GovLab</h3>
	<div class="m-team">
		<div id="team-joel-gurin" class="m-team-picture">
			<div>
				<img src="/static/img/us/joel-gurin.jpg" alt="">
				<p class="m-team-member-name">Joel Gurin</p>
				<p class="m-team-member-job">Project Director, Open Data 500, and Senior Advisor, <br>The GovLab</p>
			</div>
		</div>
		<div id="team-laura-manley" class="m-team-picture">
			<div>
				<img src="/static/img/us/laura-manley.jpg" alt="">
				<p class="m-team-member-name">Laura Manley</p>
				<p class="m-team-member-job">Project Manager, Open Data 500</p>
			</div>
		</div>
		<div id="team-luis-daniel" class="m-team-picture">
			<div>
				<img src="/static/img/us/luis-daniel.jpg" alt="">
				<p class="m-team-member-name">Luis Daniel Palacios</p>
				<p class="m-team-member-job">Research Fellow, The GovLab</p>
			</div>
		</div>
		<div id="team-katherine-garcia" class="m-team-picture">
			<div>
				<img src="/static/img/us/katherine-garcia.jpg" alt="">
				<p class="m-team-member-name">Katherine Julia Garcia</p>
				<p class="m-team-member-job">Project Liaison, Open Data 100 Mexico,<br>The GovLab</p>
			</div>
		</div>
		<div class="m-team-bios">
			<div class="m-team-bio-joel-gurin">
				<h3>Joel Gurin</h3>
				<p>Joel Gurin is Senior Advisor at the Governance Lab at NYU, where he directs the Open Data 500, a project to study companies that use government Open Data as a key business resource (OpenData500.com). He is the author of the new book, Open Data Now, and covers the field through his website, OpenDataNow.com. He was formerly Editorial Director and then Executive Vice President of Consumers Union and Consumer Reports. From late 2009 through early 2012 Joel Gurin was Chief of the Consumer and Governmental Affairs Bureau of the Federal Communications Commission. He also served as Chair of the White House Task Force on Smart Disclosure, which studied how the federal government can help consumers by providing information on complex choices in the marketplace. He tweets <a href="https://twitter.com/joelgurin" target="_blank">@joelgurin</a>.</p>
			</div>
			<div class="m-team-bio-laura-manley">
				<h3>Laura Manley</h3>
				<p>Laura Manley is the Project Manager of the Open Data 500, the first comprehensive study of U.S. companies that use open government data to generate new business and develop new products and services. She has over 10 years of experience working with NGOs and social enterprises in the US, South Asia, Sub-Saharan Africa and South America specializing in startup strategic planning and organizational development.</p>
				<p>Laura is also the Director of Social Entrepreneurship Research at the NYU Stern School of Business and has worked with multiple development agencies including the United Nations Office of the High Commissioner for Human Rights, the National Endowment for Democracy, UNICEF, and MasterCard Foundation. She holds a Bachelors in Business Administration from the University of Massachusetts Amherst and a Masters in Public Administration from NYU Wagner focusing on international policy and entrepreneurship.</p>
			</div>
			<div class="m-team-bio-luis-daniel">
				<h3>Luis Daniel</h3>
				<p>Luis Daniel is originally from Monterrey, Mexico and is a recent graduate of the Interactive Telecommunications Program at Tisch School of the Arts in NYU. He worked as a Solomon Fellow at NYC Digital where he created and ran New York City government’s first official Spanish Twitter account, @NYCgob. During his time in graduate school, Luis focused on ways technology could help alleviate the problems Mexico faces because of the War on Drugs. In his past life, Luis worked on oil rigs in South Texas as a field engineer for an oilfield services company. He received his B.S. in Mechanical Engineering from The University of Texas at Austin.</p>
			</div>
			<div class="m-team-bio-katherine-garcia">
				<h3>Katherine Julia Garcia</h3>
				<p>Katherine Garcia earned her MPA with an emphasis in Policy Analysis from Baruch College. Prior to joining the Open Data 500 team, she served as the Press Assistant for the U.S. Mission to the United Nations. Katherine serves on the Board of Directors for the Metro NY Chapter of the U.S. National Committee for UN Women, which promotes gender equality and women's empowerment and SustainUS, a non-profit that empowers youth to advance sustainable development.</p>
			</div>
		</div>
		<h3>Consejo Consultivo</h3>
		<ul class="m-half">
			<li><strong>Alejandro Maza</strong>, OPI</li>
			<li><strong>Alberto Padilla</strong>, INNKU</li>
			<li><strong>Eduardo Bohórquez</strong>, Transparencia Mexicana</li>
			<li><strong>Francisco Mekler</strong>, IMCO</li>
			<li><strong>Ana Elena Fierro</strong>, CIDE</li>
			<li><strong>Erik Huesca</strong>, FUNCO</li>
			<li><strong>Elmer Garduño</strong>, Google</li>
		</ul>
		<ul class="m-half">
		</ul>
	</div>	
</section>
<!-- <footer>
	<a class="m-button" href="#">Recommend a company</a><a class="m-button" href="http://thegovlab.org/submit-your-company">Submit Your Company</a>
</footer> -->
</div>
<div id="overlay"></div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'opendata500'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>



</div>

{% end %}