{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}
<style>

</style>

<br>
<br>
<br>
<br>
<br>
<h2>Editando {{company.companyName}}</h2>
<form method="post" id="company_form_edit" class="m-form company_form_edit" data-parsley-validate>

	<!--*****************************************************************-CONTACT INFO-***************************************************************** !-->
	<fieldset class="m-form-half">
		<h3>Información de Contacto</h3>
		<div class="m-form-line"><label for="">Nombre: *</label><input type="text" name="firstName" id="firstName" {% if (company.contact) %} value="{{ company.contact.firstName }}" {% end %} data-parsley-maxlength="50" required></div>
		<div class="m-form-line"><label for="">Apellido: *</label><input type="text" name="lastName" id="lastName" {% if (company.contact) %} value="{{ company.contact.lastName }}" {% end %} data-parsley-maxlength="50" required></div>
		<div class="m-form-line"><label for="">Puesto: *</label><input type="text" name="title" id="title" {% if (company.contact) %} value="{{ company.contact.title }}" {% end %} data-parsley-maxlength="50" required></div>
		<div class="m-form-line"><label for="" required>Correo electrónico: *</label><input type="text" name="email" id="email" data-parsley-trigger="change" data-parsley-type="email" {% if (company.contact) %} value="{{ company.contact.email }}" {% end %} required></div>
		<div class="m-form-line"><label for="">Teléfono:</label><input type="text" name="phone" id="phone" 
			data-parsley-trigger="focusout" 
			data-parsley-pattern="(^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$)"
			data-parsley-error-message="Phone must be in format: ###-###-####" 
			{% if (company.contact) %} value="{{ company.contact.phone }}" {% end %}></div>
	</fieldset>

	<!--*****************************************************************-COMPANY INFO-***************************************************************** !-->
	<fieldset class="m-form-half right">
		<h3>Información de la Compañía</h3>	
		<div class="m-form-line"><label for="url">URL de la compañía: *</label><input type='text' name="url" id='url' data-parsley-trigger="change" data-parsley-type="url" value="{{ company.url }}" required></div>
		<div class="m-form-line"><label for="city">¿En qué ciudad se encuentra su oficina central? </label><input type="text" name="city" id="city" {% if company.city %} value="{{ company.city }}" {% end %} data-parsley-maxlength="50"></div>
		<div class="m-form-line">
			<label for="state">Estado:</label>
			<select name='state' id="state" required>
				{% for i in range(0, len(stateList[country])) %}
					<option name="state" value="{{stateListAbbrev[country][i]}}" {%try%}{%if company.state.replace(' ','') == stateListAbbrev[country][i] %} selected="selected" {%end%}{%except%}{%end%}>{{ stateList[country][i] }}</option>
				{%end%}
			</select>
		</div>
		<div class="m-form-line"><label for="country">País:</label><input type="text" id="country" name="country" country="{{country}}" value="{{country_keys[country]}}" readonly></div>
		<div class="m-form-line"><label for="zipCode">Código postal: *</label><input type="text" name="zipCode" id="zipCode" data-parsley-trigger="change" data-parsley-pattern="(^\d{5}$)|(^\d{5}-\d{4}$)" {% if company.zipCode %}value="{{ company.zipCode }}" {% end %} required></div>
		<!--*****************************************************************-COMPANY TYPE-***************************************************************** !-->
		<div class="m-form-box">Tipo de compañía: *<br>
			<div class="company-type-field">
				{% for type in companyType %}
					<input type="radio" id="{{type}}" name="companyType" data-parsley-group='companyType' value="{{ type }}" {% if company.companyType == type %} checked {% end %}><label for="{{type}}">{{type}}</label><br>
				{% end %}
				{% if company.companyType not in companyType and company.companyType != '' %}
					<input type="radio" id="other_type" name="companyType" value="Other" data-parsley-mincheck="1" data-parsley-group='companyType' data-parsley-trigger="change" checked required><label for="other_type">Otro</label>
					<input type="text" id="other_company_type_field" name="othercompanyType" value ="{{ company.companyType }}">
				{% else %}
					<input type="radio" id="other_type" name="companyType" value="Other" data-parsley-mincheck="1" data-parsley-group='companyType' data-parsley-trigger="change" required><label for="other_type">Otro</label>
					<input type="text" id="other_company_type_field" name="othercompanyType">
				{% end %}
			</div>
		</div>
		<div class="m-form-line"><label for="">Año de fundación: *</label><input type="text" name="yearFounded" id="yearFounded" 
			data-parsley-type="number" 
			data-parsley-trigger="focusout" 
			data-parsley-range="[1000, 2014]"
			required
			{% if company.yearFounded and company.yearFounded != 9999 %} value="{{ company.yearFounded }}" {%end%}></div>
		<div class="m-form-line"><label for="">Número de empleados de tiempo completo: *</label><input type="text" name="fte" id="fte" data-parsley-trigger="focusout" data-parsley-type="number" {% if company.fte %} value="{{ company.fte }}" {%end%} required></div>
	</fieldset>
	
	<fieldset class="m-form-half">
		<!--*****************************************************************-BUSINESS MODELS-***************************************************************** !-->
		<h3>Modelo de Negocio <br><em>(Por favor marca todas las opciones que apliquen)</em> *</h3>
		<div class="business-model-field">
			{% for model in business_models %}
				<input type="checkbox" id="{{model}}" name="businessModel" value="{{model}}" data-parsley-group="businessModel" {% if model in company.businessModel %} checked {% end %}/><label for="{{model}}">{{model}}</label><br>
			{% end %}
			{% if list(set(company.businessModel) - set(business_models)) %}
				<input type="checkbox" id="other_model" name="businessModel" value="Other" {%if company.businessModel[0] %}checked{%end%} data-parsley-mincheck="1" data-parsley-group='businessModel' data-parsley-trigger="change" required><label for="Other">Otro</label>
				<input type="text" name="otherbusinessModel" id="other_model_text_field" value="{{ list(set(company.businessModel) - set(business_models))[0] }}" />
			{% else %}
				<input type="checkbox" id="other_model" name="businessModel" value="Other" data-parsley-mincheck="1" data-parsley-group='businessModel' data-parsley-trigger="change" required><label for="Other">Otro</label>
				<input type="text" name="otherbusinessModel" id="other_model_text_field" />
			{% end %}
		</div>
		<br>

		<!--*****************************************************************-REVENUE SOURCES-***************************************************************** !-->
		<h3>¿Cuáles de la siguientes fuentes de ingresos, son las más importantes para tu compañía? <br><em>(Por favor marca todas las opciones que apliquen)</em> *</h3>
		<div class="revenue-source-field">
			{% for source in revenueSource %}
				<input type="checkbox" id="{{source}}" name="revenueSource" value="{{source}}" data-parsley-group="revenueSource" {% if source.decode('utf-8') in company.revenueSource %} checked {% end %}/><label for="{{source}}">{{source}}</label><br>
			{% end %}
			{% if [e for e in company.revenueSource if e.encode('utf-8') not in revenueSource] %}
				<input type="checkbox" id="other_revenue" name="revenueSource" value="Other" {%if company.revenueSource[0] %}checked{%end%} data-parsley-mincheck="1" data-parsley-group='revenueSource' data-parsley-trigger="change" required><label for="Other">Otro</label>
				<input type="text" name="otherrevenueSource" id="other_revenue_text_field" value="{{ [e for e in company.revenueSource if e.encode('utf-8') not in revenueSource][0] }}" />
			{% else %}
				<input type="checkbox" id="other_revenue" name="revenueSource" value="Other" data-parsley-mincheck="1" data-parsley-group='revenueSource' data-parsley-trigger="change" required><label for="Other">Otro</label>
				<input type="text" name="otherrevenueSource" id="other_revenue_text_field" />
			{% end %}
		</div>
		<br>

	</fieldset>

	<!--*****************************************************************-CATEGORY-***************************************************************** !-->
	<fieldset class="m-form-half right">
		<h3>¿Cuál categoría describe mejor tu compañía? * </h3>
		<div class="category-field">
			{% for category in categories %}
				<input type="radio" id="{{category}}" name="companyCategory" data-parsley-group='category' value="{{ category }}" {% if category == company.companyCategory %} checked {% end %}><label for="{{category}}">{{category}}</label><br>
			{% end %}
			{% if company.companyCategory not in categories and company.companyCategory != '' %}
				<input type="radio" id="other_category" name="companyCategory" value="Other" data-parsley-mincheck="1" data-parsley-group='category' data-parsley-trigger="change" checked required><label for="Other">Otro</label>
				<input type="text" id="other_category_text_field" name="othercompanyCategory" {% if company.companyCategory %}value="{{ company.companyCategory }}"{%end%} data-parsley-trigger="focus">
			{% else %}
				<input type="radio" id="other_category" name="companyCategory" value="Other" data-parsley-mincheck="1" data-parsley-group='category' data-parsley-trigger="change" required><label for="Other">Otro</label>
				<input type="text" id="other_category_text_field" name="othercompanyCategory" data-parsley-trigger="focus">
			{% end %}
		</div>
		<br>

			<!--*****************************************************************-SOCIAL IMPACT-***************************************************************** !-->
		<h3>¿La misión de tu compañía, ha generado un impacto social directo en alguna de las siguientes áreas? <br><em>(Por favor marcar todas las opciones que apliquen)</em></h3>
		<div class="social-impact-field">
			{% for impact in social_impacts %}
				<input type="checkbox" id="{{impact}}" name="socialImpact" value="{{impact}}" data-parsley-group="socialImpact" {% if impact in company.socialImpact %} checked {% end %}/><label for="{{impact}}">{{impact}}</label><br>
			{% end %}
			{% if list(set(company.socialImpact) - set(social_impacts)) %}
				<input type="checkbox" id="other_impact" name="socialImpact" value="Other" {%if company.socialImpact[0] %}checked{%end%} data-parsley-mincheck="1" data-parsley-group='socialImpact' data-parsley-trigger="change"><label for="Other">Otro</label>
				<input type="text" name="othersocialImpact" id="other_impact_text_field" value="{{ list(set(company.socialImpact) - set(social_impacts))[0] }}" />
			{% else %}
				<input type="checkbox" id="other_impact" name="socialImpact" value="Other" data-parsley-mincheck="1" data-parsley-group='socialImpact' data-parsley-trigger="change"><label for="Other">Otro</label>
				<input type="text" name="othersocialImpact" id="other_impact_text_field" />
			{% end %}
		</div>
	</fieldset>


	<!--*****************************************************************-DESCRIPTION-***************************************************************** !-->
	<fieldset class="m-form-half left">
		<h3>Por favor describe de manera breve la misión y el trabajo de tu compañía. Puedes obtener la información de su página web u otras publicaciones al respecto. <br><em>[Máximo 200 palabras]</em> *</h3>
		<textarea rows="10" cols="59" name="description" id="description" 
		data-parsley-trigger="keyup" 
		data-parsley-maxwords="200" 
		data-parsley-error-message="You are over the word limit."
		required>{{ company.description }}</textarea><br><br>
	</fieldset>

	<!--*****************************************************************-SHORT DESCRIPTION-***************************************************************** !-->
	<fieldset class="m-form-half right">
		<h3>Por favor escribe un breve resumen de tu compañía. <br><em>[Máximo 25 palabras]</em> *</h3>
		<textarea rows="10" cols="59" name="descriptionShort" id="descriptionShort" 
		data-parsley-trigger="keyup" 
		data-parsley-maxwords="25" 
		data-parsley-error-message="You are over the word limit."
		required>{{ company.descriptionShort }}</textarea><br>
	</fieldset>

	<!--*****************************************************************-FINANCIAL INFO-***************************************************************** !-->
	<fieldset class="m-form-half left">
		<h3>Por favor incluye cualquier información financiera u operativa, la cual nos ayudará a entender a tu compañía. Tenemos interés en información específica, como ingresos anuales pasados y proyectados, el total de dólares invertidos hasta la fecha, y socios o inversionistas importantes. <br><em>[Máximo 100 palabras]</em></h3>
		<textarea rows="10" cols="59" name="financialInfo" id="financialInfo" 
		data-parsley-trigger="keyup" 
		data-parsley-maxwords="100" 
		data-parsley-error-message="You are over the word limit.">{{ company.financialInfo }}</textarea><br><br>
	</fieldset>


	<h2 class="data-section">El uso de datos y fuentes de información</h2>

	<!--*****************************************************************-EXAMPLE USES-***************************************************************** !-->
	<fieldset class="m-form-half right">
		<h3>Por favor enuncia ejemplos específicos sobre cómo tu compañía utiliza datos gubernamentales abiertos.<br> <em>[Máximo 200 palabras]</em></h3>
		<textarea rows="10" cols="59" name="exampleUses" id="exampleUses" 
		data-parsley-trigger="keyup" 
		data-parsley-maxwords="200" 
		data-parsley-error-message="You are over the word limit.">{%if company.exampleUses %}{{ company.exampleUses }}{%else%}{%end%}</textarea><br>

		<!--*****************************************************************-DATA SOURCES-***************************************************************** !-->
		<h3>¿Aproximadamente cuántas fuentes de datos gubernamentales (ejem. agencias, sub agencias, gobiernos estatales y municipales) utiliza tu compañía? *</h3>
		<div class="source-count-buttons">
			{% for count in source_count %}
				<input type="radio" name="sourceCount" id="{{count}}" value="{{count}}" {% if company.sourceCount == count %}checked{%end%} required><label for="{{count}}">{{count}}</label><br>
			{%end %}
		</div>
	</fieldset>

	<!--*****************************************************************-DATA TYPES-***************************************************************** !-->
	<fieldset class="m-form-half">
		<h3>¿Qué tipos de datos utiliza tu compañía? <br><em>(Por favor marca todas las opciones que apliquen)</em></h3>
		<div class="data-type-field">
			{% for data_type in data_types %}
				<input type="checkbox" id="{{data_type}}_data_type" name="dataTypes" value="{{data_type}}" data-parsley-group="dataTypes" {% if data_type in company.dataTypes %} checked {% end %}/><label for="{{data_type}}_data_type">{{data_type}}</label><br>
			{% end %}
			{% if list(set(company.dataTypes) - set(data_types)) %}
				<input type="checkbox" id="other_data_type" name="dataTypes" value="Other" {%if company.dataTypes[0] %}checked{%end%} data-parsley-mincheck="1" data-parsley-group='dataTypes' data-parsley-trigger="change"><label for="Other">Other</label>
				<input type="text" name="otherDataType" id="other_data_type_text_field" value="{{ list(set(company.dataTypes) - set(data_types))[0] }}" />
			{% else %}
				<input type="checkbox" id="other_data_type" name="dataTypes" value="Other" data-parsley-mincheck="1" data-parsley-group='dataTypes' data-parsley-trigger="change"><label for="Other">Other</label>
				<input type="text" name="otherDataType" id="other_data_type_text_field" />
			{% end %}
		</div>
		<input type="hidden" name="id" id="companyID" value="{{company.id}}">
	</fieldset>

	<fieldset class="m-form-half">
		<h3>Qué impacto tienen los datos gubernamentales abiertos en tu compañía? <em>(Por favor marca todas las opciones que apliquen)*</em></h3>
		<div class="data-impacts-field">
			{% for impact in data_impacts %}
				<input type="checkbox" id="{{impact}}_data_impacts" name="dataImpacts" value="{{impact}}" data-parsley-group="dataImpacts" {% if impact in company.dataImpacts %} checked {% end %}/><label for="{{impact}}_data_impacts">{{impact}}</label><br>
			{% end%}
			{% if list(set(company.dataImpacts) - set(data_impacts)) %}
				<input type="checkbox" id="other_data_impacts" name="dataImpacts" value="Other" {%if company.dataImpacts[0] %}checked{%end%} data-parsley-mincheck="1" data-parsley-group='dataImpacts' data-parsley-trigger="change" required><label for="Other">Other</label>
				<input type="text" name="otherDataImpact" id="other_data_impacts_text_field" value="{{ list(set(company.dataImpacts) - set(data_impacts))[0] }}" />
			{% else %}
				<input type="checkbox" id="other_data_impacts" name="dataImpacts" value="Other" data-parsley-mincheck="1" data-parsley-group='dataImpacts' data-parsley-trigger="change" required><label for="Other">Other</label>
				<input type="text" name="otherDataImpact" id="other_data_impacts_text_field" />
			{% end %}
		</div>
	</fieldset>
	{% raw xsrf_form_html() %}

</form>
<br>

<!--*****************************************************************-AGENCY FORM-***************************************************************** !-->
<div class="m-form-box data">
	<p>Por favor cuéntanos más sobre las fuentes de datos que utiliza tu compañía.</p>
	<p>Puedes usar la herramienta de búsqueda para seleccionar las agencias, sub agencias, gobiernos estatales y municipales, o instituciones de la lista disponible.</p>
	<p>Si no puedes encontrar en la lista la fuente que buscas, por favor mándanos un <a href="mailto:OD100MX@datos.gob.mx">correo</a> para sugerir una nueva agencia, sub agencia, organización, etc.</p>
	<p><strong>[Opcional]: </strong>Por favor cuéntanos sobre el conjunto de datos que utiliza tu compañía, que pertenecen a las fuentes gubernamentales que seleccionaste. Por favor clasifica cada conjunto de datos en una escala de 1 a 4 (como en el siguiente ejemplo: 1 = pobre, 4 = excelente).</p>
	<p><div class="example-popup"><a>Ver ejemplo.</a></div></p>
	<div class="dialog-example" style="display:none">
		<img src="{{ static_url("img/ExampleData.png") }}">
	</div>
	<div class="ui-widget">
		<label for="tags">Buscar: </label>
		<input id="agencyTags" placeholder="ejemplo: INEGI, Secretaría de Salud, PEMEX, etc..." value="" size="78">
		<input type="hidden" id="searchval" />
		<input type="button" class="l-button" id="addSearchResult" value="Agregar">
		<input type="hidden" class="companyID" name="companyID" value="{{ company.id }}">
		<div class="errors-search">
			<span class="agency-search-error-message" style="display:inline-block;"></span>
		</div>
	</div>
	<div class="agencyList">
		<div id="accordionAgency">
			{% for agency in company.agencies %}
				<h3 class="agency" name='{{agency.name.replace(" ", "-") }}'><a href="#">{{agency.name}}</a>
					<span style="float:right; display: none;" class="toolbar ui-corner-all ui-icon ui-icon-circle-close red" subagency="" agency="{{agency.name.replace(" ","-")}}"></span>
				</h3>
				<div id="{{agency.name.replace(" ","-")}}Accordion">
					<br><h3>Agency Level Datasets</h3><br>
					<table class="datasetTable">
						<tr>
							<th class="table-header-name">Dataset Name</th>
							<th class="table-header-url">Dataset URL</th>
							<th class="table-header-rating">Rating (1-4)</th>
							<th class="table-header-buttons"></th>
						</tr>
						{% for d in agency.datasets %}{% if company == d.usedBy %}
							<tr class="dataset-row" name="{{d.datasetName}}" subagency="" agency="{{agency.name.replace(" ","-")}}">
								<td><input type="text" name="datasetName" id="datasetName" {% if (d.datasetName) %} value="{{d.datasetName}}" {% end %} ></td>
								<td><input type="text" name="datasetURL" id="datasetURL" {% if (d.datasetURL) %} value="{{d.datasetURL}}" {% end %}></td>
								<td><input type="text" name="rating" id="rating" size="3" {% if (d.rating) %} value="{{d.rating}}" {% end %}></td>
								<td><input type="button" class="l-button" id="saveDataset" value="Save"><input type="button" class="l-button" id="deleteDataset" value="Delete">
									<span class="dataset-error-message" style="display:inline-block;"></span></td>
							</tr>
						{% end %}{% end %}
						<tr class="dataset-row" subagency="" agency="{{agency.name.replace(" ","-")}}" >
							<td><input type="text" name="datasetName" id="datasetName" placeholder="Agency-Level Dataset" value=""></td>
							<td><input type="text" name="datasetURL" id="datasetURL" value=""></td>
							<td><input type="text" name="rating" id="rating" size="3" value=""></td>
							<td><input type="button" class="l-button" id="saveDataset" value="Save"><input type="button" class="l-button" id="deleteDataset" value="Delete" style="display:none">
								<span class="dataset-error-message" style="display:inline-block;"></span></td>
						</tr>
					</table>	<!---END DATASETS FROM JUST AGENCY !-->
					<!-- ROLL THROUGH SUBAGENCIES !-->
					{% if agency.subagencies %}<br><h3>Sub-Agencies</h3><br>{% end %}
					<div id="accordionSubAgency" class="{{agency.name.replace(" ", "-") }}Subagencies">
						{% for sub in agency.subagencies %}{% if company in sub.usedBy %}
							<h3 class="subagency" name="{{sub.name.replace(" ", "-") }}"><a href="#">{{sub.name}}</a>
								<span style="float:right; display: none;" class="toolbar ui-corner-all ui-icon ui-icon-circle-close red" subagency="{{sub.name.replace(" ","-")}}" agency="{{agency.name.replace(" ","-")}}"></span>
							</h3>
							<div class="{{ sub.name.replace(" ", "-") }}">
								<table class="subagencyDatasetTable">
									<tr>
										<th class="table-header-name">Dataset Name</th>
										<th class="table-header-url">Dataset URL</th>
										<th class="table-header-rating">Rating (1-4)</th>
										<th class="table-header-buttons"></th>
									</tr>
									{% for d in sub.datasets %}{%if company == d.usedBy %}
										<tr class="dataset-row" name="{{d.datasetName}}" subagency="{{ sub.name.replace(" ", "-") }}" agency="{{agency.name.replace(" ","-")}}">
											<td><input type="text" name="datasetName" id="datasetName" {% if (d.datasetName) %} value="{{d.datasetName}}" {% end %}></td>
											<td><input type="text" name="datasetURL" id="datasetURL" {% if (d.datasetURL) %} value="{{d.datasetURL}}" {% end %}></td>
											<td><input type="text" name="rating" id="rating" size="3" {% if (d.rating) %} value="{{d.rating}}" {% end %}></td>
											<td><input type="button" class="l-button" id="saveDataset" value="Save"><input type="button" class="l-button" id="deleteDataset" value="Delete">
												<span class="dataset-error-message" style="display:inline-block;"></span></td>
										</tr>
									{% end %}{% end %}
									<tr class="dataset-row" subagency="{{ sub.name.replace(" ", "-") }}" agency="{{agency.name.replace(" ","-")}}">
										<td><input type="text" name="datasetName" id="datasetName" placeholder="Subagency-Level Dataset" value=""></td>
										<td><input type="text" name="datasetURL" id="datasetURL" value=""></td>
										<td><input type="text" name="rating" id="rating" size="3" value=""></td>
										<td><input type="button" class="l-button" id="saveDataset" value="Save"><input type="button" class="l-button" id="deleteDataset" value="Delete" style="display:none">
											<span class="dataset-error-message" style="display:inline-block;"></span></td>
									</tr>
								</table>
							</div>
						{% end %}{% end %} <!-- END OF SUBAGENCIES !-->
					</div>
				</div>
			{% end %}<!-- END OF AGENCIES !-->
		</div><br>
	</div>
</div>

<!--*****************************************************************-DATA COMMENTS-***************************************************************** !-->
<form method="post" class="m-form data-comment-form" data-parsley-validate>
	<fieldset class="m-form-half right">
		<h3>Nos interesa tu opinión por lo que nos gustaría saber tus comentarios sobre la utilidad de todas estas fuentes de datos y conjuntos de datos.<br><em>[Máximo 250 palabras]* </em></h3>
		<textarea rows="10" cols="59" name="dataComments" id="dataComments" 
		parsley-trigger="keyup" 
		data-parsley-maxwords="250"
		required>{%if company.dataComments %}{{ company.dataComments }}{% end %}</textarea><br>
	</fieldset>
</form>

<!--*****************************************************************-SUBMIT BUTTON-***************************************************************** !-->
<div class='submit_form'>
	<input type="submit" class="l-button" id="submit_form_edit_button" name="formSave" value="Guardar Información">
	<span class="response-message" style="display:none"></span>
</div>


<!--*****************************************************************-SUBMIT FORM-***************************************************************** !-->
<script>
$(document).ready( function () {
    var _xsrf = $("[name='_xsrf']").val();
    var rm = $('.response-message');
    var id = '{{company.id}}';
    $("#company_form_edit").parsley();
    $('#data_comments_form').parsley();
    $('.submit_form').on('click', '#submit_form_edit_button', function() {
        if ($("#company_form_edit").parsley().validate() && $('.data-comment-form').parsley().validate() && $(".agency").length > 0) {
            data = $('#company_form_edit').serializeArray();
            data[data.length] = { name: "dataComments", value: $('#dataComments').val() };
            $.ajax({
		        type: 'POST',
		        url: '/edit/' + id,
		        data: data,
		        error: function(error) {
		            console.debug(JSON.stringify(error));
		            rm.text("Oops... Something went wrong.").show().delay(5000).fadeOut();
		          	$("#submit_form_edit_button").prop("disabled", false); 
		        },
		        beforeSend: function(xhr, settings) {
		          $("#submit_form_edit_button").prop("disabled", true); 
		          rm.text("Saving...").show().delay(5000).fadeOut();
		        },
		        success: function(success) {
		          $("#submit_form_edit_button").prop("disabled", false); 
		          rm.text("Saved!").show().delay(5000).fadeOut();
		          console.log("regular saved!");
		        }
		      });
        } else if($(".agency").length == 0){
        	rm.text("You need to add at least one source of data.");
        	rm.show().delay(5000).fadeOut();
        } else {
        	rm.text("You need to fix some errors.");
        	rm.show().delay(5000).fadeOut();
        }
        event.preventDefault();
    });
});

</script>








{% end %}