{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}

<div class="m-homepage">

    <h1 class="first-title">Datos Abiertos México OD100MX</h1>

    <section class="m-homepage-banner" style="height:100px; text-align:center; padding-top:50px;">
        <p>Hold space for banner</p>
    </section>

    <section class="m-homepage-about">
        <h1>Acerca de esta iniciativa</h1>
        <p class="intro">El #OD100MX forma parte de la iniciativa política de Datos Abiertos del Gobierno de la República. Es el primer estudio sobre empresas mexicanas que utilizan datos gubernamentales abiertos para hacer crecer sus negocios, desarrollar nuevos productos y servicios o crear valor social.</p>
        <p class="more"><a href="/mx/about/" class="m-button">Aprender más</a> <a href="/mx/submitCompany/" class="m-button">Ir a la encuesta</a></p> 
    </section>

    <section class="m-homepage-participate">
        <h1>Cómo Participar</h1>
        <div class="m-homepage-box">
            <h2>1</h2>
            <h3>Si representas una Compañía que trabaja con datos abiertos:</h3>
            <p>Si tu Compañía no aparece en la lista, por favor responde la <a href="/mx/submitCompany/">encuesta</a> y cuéntanos sobre tu trabajo y los datos que utilizas.</p>    
        </div>
        <div class="m-homepage-box">
            <h2>2</h2>
            <h3>Si quieres recomendar o proveer información sobre una Compañía de Datos Abiertos:</h3>
            <p>Por favor selecciona el Botón comentar para contarnos sobre esa compañía o envía un correo a <a href="mailto:OD100MX@datos.gob.mx">OD100MX@datos.gob.mx</a>.</p>
        </div>
        <div class="m-homepage-box">
            <h2>3</h2>
            <h3>Si tienes información general que quieras compartir:</h3>
            <p><a href="http://www.opendata500.com/mx/about/#disqus_thread">Únete a la conversación</a>, twittea tus comentarios en #OD100MX, o envíanos un correo a <a href="mailto:OD100MX@datos.gob.mx">OD100MX@datos.gob.mx</a>.</p>
        </div>
    </section>
</div>


<script>
    $('#mc_embed_signup').removeClass('s-disabled').delay(5000).addClass('s-disabled');
</script>
{% end %}
