{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}

<h1 class="international-header">Estudios Internacionales</h1>

<div class="international-studies-intro">
	<p>Los estudios Datos Abiertos 500 Internacional forman una red de proyectos para estudiar, facilitar, y mejorar el uso de datos gubernamentales abiertos por todo el mundo. The GovLab mantiene y coordina la red, la cual esta basada en el estudio Datos Abiertos 500 (Open Data 500). <a href="http://www.opendata500.com/us/">Datos Abiertos 500</a> es el primer estudio abarcador que analiza como companias estadounidenses utilizan datos gubernamentales abiertos para generar nuevas oportunidades economicas y desarrollar nuevos productos y servicios. Si tienes interes en colaborar en un estudio de datos abiertos en tu pais, por favor manda un correo a <a href="mailto:laura.manley@nyu.edu"> laura.manley@nyu.edu</a>.</p>

	<div class="od-studies">
		<a href="/us/"><h2>Open Data 500 US</h2></a>
	</div>

</div>

{%end%}