{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}

<h1>Información de datos y fuentes de información para {{company.companyName}}</h1>


	<form class="m-form" id="company-data-form" data-parsley-validate>
		<h2 class="data-section">El uso de datos y fuentes de información</h2>

		<!--*****************************************************************-EXAMPLE USES-***************************************************************** !-->
		<fieldset class="m-form-half right">
			<h3>Por favor enuncia ejemplos específicos sobre cómo tu compañía utiliza datos gubernamentales abiertos.<br> <em>[Máximo 200 palabras]</em></h3>
			<textarea rows="10" cols="59" name="exampleUses" id="exampleUses" 
			data-parsley-trigger="keyup" 
			data-parsley-maxwords="200" 
			data-parsley-error-message="You are over the word limit.">{%if company.exampleUses %}{{ company.exampleUses }}{%else%}{%end%}</textarea><br>
			<br>
			
			<!--*****************************************************************-DATA SOURCES-***************************************************************** !-->
			<h3>¿Aproximadamente cuántas fuentes de datos gubernamentales (ejem. agencias, sub agencias, gobiernos estatales y municipales) utiliza tu compañía? *</h3>
			<div class="source-count-buttons">
				{% for count in source_count %}
					<input type="radio" name="sourceCount" id="{{count}}" value="{{count}}" {% if company.sourceCount == count %}checked{%end%} required><label for="{{count}}">{{count}}</label><br>
				{%end %}
			</div>
		</fieldset>

		<!--*****************************************************************-DATA TYPES-***************************************************************** !-->
		<fieldset class="m-form-half">
			<h3>¿Qué tipos de datos utiliza tu compañía? <br><em>(Por favor marca todas las opciones que apliquen)</em></h3>
			<div class="data-type-field">
				{% for data_type in data_types %}
					<input type="checkbox" id="{{data_type}}_data_type" name="dataTypes" value="{{data_type}}" data-parsley-group="dataTypes" {% if data_type.decode('utf-8') in company.dataTypes %} checked {% end %}/><label for="{{data_type}}_data_type">{{data_type}}</label><br>
				{% end %}
				{% if [e for e in company.dataTypes if e.encode('utf-8') not in data_types] %}
					<input type="checkbox" id="other_data_type" name="dataTypes" value="Other" {%if company.dataTypes[0] %}checked{%end%} data-parsley-mincheck="1" data-parsley-group='dataTypes' data-parsley-trigger="change"><label for="Other">Otro</label>
					<input type="text" name="otherDataType" id="other_data_type_text_field" value="{{ [e for e in company.dataTypes if e.encode('utf-8') not in data_types][0] }}" />
				{% else %}
					<input type="checkbox" id="other_data_type" name="dataTypes" value="Other" data-parsley-mincheck="1" data-parsley-group='dataTypes' data-parsley-trigger="change"><label for="Other">Otro</label>
					<input type="text" name="otherDataType" id="other_data_type_text_field" />
				{% end %}
			</div>
			{% raw xsrf_form_html() %}
			<input type="hidden" name="id" id="companyID" value="{{company.id}}">
		</fieldset>

		<fieldset class="m-form-half">
			<h3>Qué impacto tienen los datos gubernamentales abiertos en tu compañía? <em>(Por favor marca todas las opciones que apliquen)*</em></h3>
			<div class="data-impacts-field">
				{% for impact in data_impacts %}
					<input type="checkbox" id="{{impact}}_data_impacts" name="dataImpacts" value="{{impact}}" data-parsley-group="dataImpacts" {% if impact.decode('utf-8') in company.dataImpacts %} checked {% end %} required/><label for="{{impact}}_data_impacts">{{impact}}</label><br>
				{% end%}
				{% if [e for e in company.dataImpacts if e.encode('utf-8') not in data_impacts] %}
					<input type="checkbox" id="other_data_impacts" name="dataImpacts" value="Other" {%if company.dataImpacts[0] %}checked{%end%} data-parsley-mincheck="1" data-parsley-group='dataImpacts' data-parsley-trigger="change" required><label for="Other">Otro</label>
					<input type="text" name="otherdataImpacts" id="other_data_impacts_text_field" value="{{ [e for e in company.dataImpacts if e.encode('utf-8') not in data_impacts][0] }}" />
				{% else %}
					<input type="checkbox" id="other_data_impacts" name="dataImpacts" value="Other" data-parsley-mincheck="1" data-parsley-group='dataImpacts' data-parsley-trigger="change" required><label for="Other">Otro</label>
					<input type="text" name="otherdataImpacts" id="other_data_impacts_text_field" />
				{% end %}
			</div>
		</fieldset>

	</form>

	<!--*****************************************************************-AGENCIES AND SUBAGENCIES-***************************************************************** !-->
	<div class="m-form-box data">
		<h2>Fuentes de datos abiertos gubernamentales</h2>
		<p>Por favor cuéntanos más sobre las fuentes de datos que utiliza tu compañía.</p>
		<p>Puedes usar la herramienta de búsqueda para seleccionar las agencias, sub agencias, gobiernos estatales y municipales, o instituciones de la lista disponible.</p>
		<p>Si no puedes encontrar en la lista la fuente que buscas, por favor completa el formulario abajo [link] para sugerir una nueva agencia, sub agencia, organización, etc.</p>
		<p><strong>[Opcional]: </strong>Por favor cuéntanos sobre el conjunto de datos que utiliza tu compañía, que pertenecen a las fuentes gubernamentales que seleccionaste. Por favor clasifica cada conjunto de datos en una escala de 1 a 4 (como en el siguiente ejemplo: 1 = pobre, 4 = excelente).</p>
		<p><div class="example-popup"><a>Ver ejemplo.</a></div></p>
		<div class="dialog-example" style="display:none">
			<img src="{{ static_url("img/ExampleData.png") }}">
		</div>
		<div class="ui-widget">
			<label for="tags">Buscar: </label>
			<input id="agencyTags" placeholder="ejemplo: INEGI, Secretaría de Salud, PEMEX, etc..." value="" size="78">
			<input type="hidden" id="searchval" />
			<input type="button" class="l-button" id="addSearchResult" value="Agregar">
			<input type="hidden" class="companyID" name="companyID" value="{{ company.id }}">
			<div class="errors-search">
				<span class="agency-search-error-message" style="display:inline-block;"></span>
			</div>
		</div>
		<div class="agencyList">
			<div id="accordionAgency">
				{% for agency in company.agencies %}
					<h3 class="agency" name='{{agency.name.replace(" ", "-") }}'><a href="#">{{agency.name}}</a>
						<span style="float:right; display: none;" class="toolbar ui-corner-all ui-icon ui-icon-circle-close red" subagency="" agency="{{agency.name.replace(" ","-")}}"></span>
					</h3>
					<div id="{{agency.name.replace(" ","-")}}Accordion">
						<br><h3>Agency Level Datasets</h3><br>
						<table class="datasetTable">
							<tr>
								<th class="table-header-name">Dataset Name</th>
								<th class="table-header-url">Dataset URL</th>
								<th class="table-header-rating">Rating (1-4)</th>
								<th class="table-header-buttons"></th>
							</tr>
							{% for d in agency.datasets %}{% if company == d.usedBy %}
								<tr class="dataset-row" name="{{d.datasetName}}" subagency="" agency="{{agency.name.replace(" ","-")}}">
									<td><input type="text" name="datasetName" id="datasetName" {% if (d.datasetName) %} value="{{d.datasetName}}" {% end %} ></td>
									<td><input type="text" name="datasetURL" id="datasetURL" {% if (d.datasetURL) %} value="{{d.datasetURL}}" {% end %}></td>
									<td><input type="text" name="rating" id="rating" size="3" {% if (d.rating) %} value="{{d.rating}}" {% end %}></td>
									<td><input type="button" class="l-button" id="saveDataset" value="Save"><input type="button" class="l-button" id="deleteDataset" value="Delete">
										<span class="dataset-error-message" style="display:inline-block;"></span></td>
								</tr>
							{% end %}{% end %}
							<tr class="dataset-row" subagency="" agency="{{agency.name.replace(" ","-")}}" >
								<td><input type="text" name="datasetName" id="datasetName" placeholder="Agency-Level Dataset" value=""></td>
								<td><input type="text" name="datasetURL" id="datasetURL" value=""></td>
								<td><input type="text" name="rating" id="rating" size="3" value=""></td>
								<td><input type="button" class="l-button" id="saveDataset" value="Save"><input type="button" class="l-button" id="deleteDataset" value="Delete" style="display:none">
									<span class="dataset-error-message" style="display:inline-block;"></span></td>
							</tr>
						</table>	<!---END DATASETS FROM JUST AGENCY !-->
						<!-- ROLL THROUGH SUBAGENCIES !-->
						{% if agency.subagencies %}<br><h3>Sub-Agencies</h3><br>{% end %}
						<div id="accordionSubAgency" class="{{agency.name.replace(" ", "-") }}Subagencies">
							{% for sub in agency.subagencies %}{% if company in sub.usedBy %}
								<h3 class="subagency" name="{{sub.name.replace(" ", "-") }}"><a href="#">{{sub.name}}</a>
									<span style="float:right; display: none;" class="toolbar ui-corner-all ui-icon ui-icon-circle-close red" subagency="{{sub.name.replace(" ","-")}}" agency="{{agency.name.replace(" ","-")}}"></span>
								</h3>
								<div class="{{ sub.name.replace(" ", "-") }}">
									<table class="subagencyDatasetTable">
										<tr>
											<th class="table-header-name">Dataset Name</th>
											<th class="table-header-url">Dataset URL</th>
											<th class="table-header-rating">Rating (1-4)</th>
											<th class="table-header-buttons"></th>
										</tr>
										{% for d in sub.datasets %}{%if company == d.usedBy %}
											<tr class="dataset-row" name="{{d.datasetName}}" subagency="{{ sub.name.replace(" ", "-") }}" agency="{{agency.name.replace(" ","-")}}">
												<td><input type="text" name="datasetName" id="datasetName" {% if (d.datasetName) %} value="{{d.datasetName}}" {% end %}></td>
												<td><input type="text" name="datasetURL" id="datasetURL" {% if (d.datasetURL) %} value="{{d.datasetURL}}" {% end %}></td>
												<td><input type="text" name="rating" id="rating" size="3" {% if (d.rating) %} value="{{d.rating}}" {% end %}></td>
												<td><input type="button" class="l-button" id="saveDataset" value="Save"><input type="button" class="l-button" id="deleteDataset" value="Delete">
													<span class="dataset-error-message" style="display:inline-block;"></span></td>
											</tr>
										{% end %}{% end %}
										<tr class="dataset-row" subagency="{{ sub.name.replace(" ", "-") }}" agency="{{agency.name.replace(" ","-")}}">
											<td><input type="text" name="datasetName" id="datasetName" placeholder="Subagency-Level Dataset" value=""></td>
											<td><input type="text" name="datasetURL" id="datasetURL" value=""></td>
											<td><input type="text" name="rating" id="rating" size="3" value=""></td>
											<td><input type="button" class="l-button" id="saveDataset" value="Save"><input type="button" class="l-button" id="deleteDataset" value="Delete" style="display:none">
												<span class="dataset-error-message" style="display:inline-block;"></span></td>
										</tr>
									</table>
								</div>
							{% end %}{% end %} <!-- END OF SUBAGENCIES !-->
						</div>
					</div>
				{% end %}<!-- END OF AGENCIES !-->
			</div><br>
		</div>
	</div>

	<!--*****************************************************************-DATA COMMENTS-***************************************************************** !-->
	<form class="m-form"  id="company-data-comment-form">
		<fieldset class="m-form-half right">
				<h3>Nos interesa tu opinión por lo que nos gustaría saber tus comentarios sobre la utilidad de todas estas fuentes de datos y conjuntos de datos.<br><em>[Máximo 250 palabras] </em></h3>
				<textarea rows="10" cols="59" name="dataComments" id="dataComments" 
				parsley-trigger="keyup" 
				data-parsley-maxwords="250">{%if company.dataComments %}{{ company.dataComments }}{% end %}</textarea><br>
		</fieldset>
	</form>

	<fieldset class="m-form-half">
		<input type="button" id="submit-all-forms" class="m-button" value="Guardar y Terminar">
		<span class="response-message"></span>
	</fieldset>


{% end %}