{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}



<section class="submitDescription">
	<h1>#OD100MX <br>Encuesta</h1>

	<p><strong>Para participar en el OD100MX, la compañía debe:</strong></p>
	<ul>
		<li><strong>Tener su base en México</strong> (o realizar gran parte de sus operaciones en México),</li>
		<li><strong>Generar ingresos de sus productos y servicios</strong> (se aceptan organizaciones sin fines de lucro bajo la condición de que generen ingresos de manera sostenible), y</li>
		<li><strong>Utilizar fuentes de datos gubernamentales abiertos como parte integral de su negocio.</strong> (Aunque la mayoría de las compañías exhibidas en el Open Data 100 trabajan con datos abiertos Federales, también tenemos interés en las compañías que trabajan con datos de las entidades federativas o Municipales (en el entendido de que el manejo de sus datos puedan expandirse a nivel regional o nacional).</li>
	</ul>
	<p>Si tu compañía cumple con estos criterios, te invitamos a completar esta breve encuesta en línea.  Gracias por tu participación.</p>
	<p><em>Los campos marcados con * son requeridos</em></p>
</section>
<form method="post" id="submitCompany" class="m-form companyForm" data-parsley-validate>

	<!--*****************************************************************-CONTACT INFO-***************************************************************** !-->
	<fieldset class="m-form-half">
		<h3>Información de Contacto</h3>
		<div class="m-form-line"><label for="">Nombre: *</label><input type="text" name="firstName" id="firstName" data-parsley-maxlength="50" required></div>
		<div class="m-form-line"><label for="">Apellido: *</label><input type="text" name="lastName" id="lastName" data-parsley-maxlength="50" required></div>
		<div class="m-form-line"><label for="">Puesto: *</label><input type="text" name="title" id="title" data-parsley-maxlength="50" required></div>
		<div class="m-form-line"><label for="">Correo electrónico: *</label><input type="text" name="email" id="email" data-parsley-maxlength="50" data-parsley-trigger="focusout" data-parsley-type="email" required></div>
		<div class="m-form-line"><label for="">Teléfono:</label><input type="text" name="phone" id="phone" 
			data-parsley-trigger="focusout" 
			data-parsley-pattern="(^\d{3}(-|\s)\d{3}(-|\s)\d{4}$)|(^\d{10})"
			data-parsley-error-message="Phone must be in format: ###-###-####"></div>
	</fieldset>

	<!--*****************************************************************-COMPANY INFO-***************************************************************** !-->
	<fieldset class="m-form-half right">
		<h3>Información de la Compañía</h3>
		<div class="m-form-line">
			<label for="companyName">Nombre de la compañía: *</label><input type="text" name="companyName" id="companyName" 
			data-parsley-trigger="focusout"
            data-parsley-remote
            data-parsley-remote-options='{ "type": "POST" }'
            data-parsley-remote-validator="validateName"
            data-parsley-maxlength="70"
            data-parsley-error-message=""
            required>
			<span class='company-name-error'></span>
		</div>
		<div class="m-form-line"><label for="url">URL de la compañía: *</label><input type='text' name="url" id='url' data-parsley-trigger="change" data-parsley-type="url" required></div>
		<div class="m-form-line"><label for="city">¿En qué ciudad se encuentra su oficina central?</label><input type="text" name="city" id="city"></div>
		<div class="m-form-line">
			<label for="state">Estado: *</label>
			<select name='state' id="state" required>
				{% for i in range(0, len(stateList[country])) %}
					<option name="state" value="{{stateListAbbrev[country][i]}}">{{ stateList[country][i] }}</option>
				{%end%}
			</select>
		</div>
		<div class="m-form-line"><label for="country">País:</label><input type="text" name="country" value="{{country_keys[country]}}" readonly></div>
		<div class="m-form-line"><label for="zipCode">Código postal: *</label><input type="text" name="zipCode" id="zipCode" data-parsley-trigger="focusout" data-parsley-pattern="(^\d{5}$)|(^\d{5}-\d{4}$)" required></div>
		<div class="m-form-box"><label for="companyType">Tipo de compañía: *</label><br>
			<div class="company-type-field">
				{% for type in companyType %}
					<input type="radio" id="{{type}}" name="companyType" data-parsley-group='companyType' value="{{ type }}"><label for="{{type}}">{{type}}</label><br>
				{% end %}
				<input type="radio" id="other_type" name="companyType" value="Other" data-parsley-mincheck="1" data-parsley-group='companyType' data-parsley-trigger="change" required><label for="other_type">Otro</label>
				<input type="text" id="other_company_type_field" name="othercompanyType">
			</div>
		</div>
		<div class="m-form-line"><label for="">Año de fundación: *</label><input type="text" name="yearFounded" id="yearFounded" 
			data-parsley-type="number" 
			data-parsley-trigger="focusout" 
			data-parsley-range="[1000, 2014]" 
			required></div>
		<div class="m-form-line"><label for="">Número de empleados de tiempo completo: *</label><input type="text" name="fte" id="fte" data-parsley-trigger="focusout" data-parsley-type="number" required></div>
	</fieldset>

	<fieldset class="m-form-half">	
		<!--*****************************************************************-BUSINESS MODELS-***************************************************************** !-->
		<h3>Modelo de Negocio <br><em>(Por favor marca todas las opciones que apliquen)</em> *</h3>
		<div class="business-model-field">
			{% for model in business_models %}
				<input type="checkbox" id="{{model}}" name="businessModel" value="{{model}}" data-parsley-group="businessModel" /><label for="{{model}}">{{model}}</label><br>
			{% end %}
			<input type="checkbox" id="other_model" name="businessModel" value="Other" data-parsley-mincheck="1" data-parsley-group='businessModel' data-parsley-trigger="change" required><label for="Other">Otro</label>
			<input type="text" name="otherbusinessModel" id="other_model_text_field" />
		</div>
		<br>
		<br>

		<!--*****************************************************************-REVENUE SOURCES-***************************************************************** !-->
		<h3>¿Cuáles de la siguientes fuentes de ingresos, son las más importantes para tu compañía? <br><em>(Por favor marca todas las opciones que apliquen)</em> *</h3>
		<div class="revenue-source-field">
			{% for source in revenueSource %}
				<input type="checkbox" id="{{source}}" name="revenueSource" value="{{source}}" data-parsley-group="revenueSource" /><label for="{{source}}">{{source}}</label><br>
			{% end %}
			<input type="checkbox" id="other_revenue" name="revenueSource" value="Other" data-parsley-mincheck="1" data-parsley-group='revenueSource' data-parsley-trigger="change" required><label for="Other">Otro</label>
			<input type="text" name="otherrevenueSource" id="other_revenue_text_field" />
		</div>
		<br>
		<br>

	<!--*****************************************************************-SOCIAL IMPACT-***************************************************************** !-->
		<h3>¿La misión de tu compañía, ha generado un impacto social directo en alguna de las siguientes áreas? <br><em>(Por favor marcar todas las opciones que apliquen)</em></h3>
		<div class="social-impact-field">
			{% for impact in social_impacts %}
				<input type="checkbox" id="{{impact}}" name="socialImpact" value="{{impact}}" data-parsley-group="socialImpact" /><label for="{{impact}}">{{impact}}</label><br>
			{% end %}
			<input type="checkbox" id="other_impact" name="socialImpact" value="Other" data-parsley-mincheck="1" data-parsley-group='socialImpact' data-parsley-trigger="change"><label for="Other">Otro</label>
			<input type="text" name="othersocialImpact" id="other_impact_text_field" />
		</div>

	</fieldset>

	<!--*****************************************************************-CATEGORY-***************************************************************** !-->
	<fieldset class="m-form-half right">
		<h3>¿Cuál categoría describe mejor tu compañía? *</h3>
		<div class="category-field">
			{% for category in categories %}
				<input type="radio" id="{{category}}" name="category" data-parsley-group='category' value="{{ category }}"><label for="{{category}}">{{category}}</label><br>
			{% end %}
			<input type="radio" id="other_category" name="category" value="Other" data-parsley-mincheck="1" data-parsley-group='category' data-parsley-trigger="change" required><label for="Other">Otro</label>
			<input type="text" id="other_category_text_field" name="companyCategory" data-parsley-trigger="focus">
		</div>
	</fieldset>

	<!--*****************************************************************-DESCRIPTION-***************************************************************** !-->
	<fieldset class="m-form-half left">
		<h3>Por favor describe de manera breve la misión y el trabajo de tu compañía. Puedes obtener la información de su página web u otras publicaciones al respecto. <br><em>[Máximo 200 palabras]</em> *</h3>
		<textarea rows="10" cols="59" name="description" id="description" 
		data-parsley-trigger="keyup" 
		data-parsley-maxwords="200" 
		data-parsley-error-message="You are over the word limit."
		required></textarea><br><br>
	</fieldset>

	<!--*****************************************************************-SHORT DESCRIPTION-***************************************************************** !-->
	<fieldset class="m-form-half right">
		<h3>Por favor escribe un breve resumen de tu compañía.. <br><em>[Máximo 25 palabras]</em> *</h3>
		<textarea rows="10" cols="59" name="descriptionShort" id="descriptionShort" 
		data-parsley-trigger="keyup" 
		data-parsley-maxwords="25" 
		data-parsley-error-message="You are over the word limit." 
		required></textarea><br>
	</fieldset>

	<!--*****************************************************************-FINANCIAL INFO-***************************************************************** !-->
	<fieldset class="m-form-half">
		<h3>Por favor incluye cualquier información financiera u operativa, la cual nos ayudará a entender a tu compañía. Tenemos interés en información específica, como ingresos anuales pasados y proyectados, el total de dólares invertidos hasta la fecha, y socios o inversionistas importantes. <br><em>[Máximo 100 palabras]</em></h3>
		<textarea rows="10" cols="59" name="financialInfo" id="financialInfo" 
		data-parsley-trigger="keyup" 
		data-parsley-maxwords="100" 
		data-parsley-error-message="You are over the word limit."></textarea><br><br>
	</fieldset>
	{% raw xsrf_form_html() %}

	<p class="disclaimer-text warning">Tus respuestas serán incluidas en una base de datos públicos que expone información sobre compañías que utilizan datos gubernamentales abiertos. Al enviar este formulario, estás aceptando que - con excepción de tu información de contacto personal - la información será accesible al público.</p>
	<div class="saveCompanyForm-new">	
		<input type="hidden" class="companyID" name="companyID" value="">
		<input type="submit" class="m-button" id="formSave" name="formSave" value="Siguiente">
		<span class="company-form-error-message error-message" style="display:none"></span>
	</div>
</form>



{% end %}
