{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}

<h1>Información de datos y fuentes de información para {{company.companyName}}</h1>


	<form class="m-form" id="company-data-form" data-parsley-validate>
		
		{% module FormData(country, "es", True, company) %}
		{% raw xsrf_form_html() %}

	</form>

	{% module AgencyAdd(country, settings['default_language'], company) %}
	
	</form>

	<fieldset class="m-form-half">
		<input type="button" id="submit-all-forms" class="m-button" value="Guardar y Terminar">
		<span class="response-message"></span>
	</fieldset>


{% end %}