{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}


<div class="findings-page">
    <h1>OD500 Stats</h1>
	<a href="/ca/stats/?lan=english">English</a> <a href="/ca/stats/?lan=french">French</a>

    <p>The Open Data 500 is a living study which the GovLab will maintain and update it on an ongoing basis. We welcome inquiries, input, and comments on our work and findings. Please write to us at <a href="mailto:opendata500@thegovlab.org">OpenData500@thegovlab.org</a> or tweet at @OpenData500 and #OD500.</p>
    <p>Major patterns of open data companies:</p>
    <ul>
        <li>Open government data is a key business resource for hundreds of U.S.-based companies. Previous studies have estimated the broad economic value of open government data, but the Open Data 500 is the first to take a more granular, empirical approach that looks at individual companies in depth. Our results confirm that a variety of government open data is being used by a large number of companies of all kinds.</li>
        <li>Open Data companies operate in a large number of sectors and use very diverse sources of open government data. We found Open Data companies large and small, across the country, in all sectors. Many companies use more than 100 different data sources from a range of government agencies. Conversely, individual agencies not only provide data to a large number of companies, they often serve companies in very different sectors of the economy.</li>
        <li>Open Data companies generate value through a wide variety of operating models. These companies earn revenue from a range of sources, including advertising, sales of services, referrals to other businesses, etc.</li>
    </ul>
</div>

{% end %}