// About
.about-page {
	
	font-size: 14px;
	line-height: 20px;

	section {
		padding-bottom: 23px;
		margin-bottom: 35px;
		padding-top: 23px;
		margin-bottom: 35px;
		border-bottom: 1px solid $light_gray;

		ul li.list-title {
			list-style: none;
			margin-top: 15px;
			margin-bottom: 5px;

			h3 {
				font-size: 16px;

			}
		}
	}

	h1 {
		margin-top: 25px;
	}

	h2 {
		text-align: center;
		margin-bottom:40px;
		font-weight: 200;
	}

	.intro {
		overflow: hidden;
	}

	.adj-title {
		font-size: 30px !important;
		line-height: 42px;

	}

	section:last-child {
		border-bottom: 0;
	}

	.m-half {
		width: calc(50% - 70px);
		padding-right: 60px;
		display: inline-block;
		vertical-align: top;
	}

	ul.m-half {
		width: calc(50% - 105px);
	}
	
	.about-page-toc {
		float: right;
		margin: 0 0 30px 30px;
		padding: 10px 20px;
		border: 1px solid $light_gray;

		h4 {
			margin-bottom: 25px;
			margin-top: 0;
			font-family: $fancy_type;
			font-weight: 300;
			font-size: 1.7em;
			font-style: italic;
			color: $black;
		}
		
		li {
			list-style-type: none;
			margin: 8px 0 7px 0;
			text-align: right;

		}
	}

	
	#about-people {
		text-align: center;
		position: relative;

		h2 {
			margin-bottom: 20px;
		}

		h3 {
			margin: 20px 0;
			font-size: 42px;
			font-family: $fancy_type;
			font-weight: 100;
		}

		.m-half {
			li {
				list-style: none;
				text-align: left;
			}
		}

		.m-team-bios {
			max-height: 0;
			height: 0;
			width: 860px;
			margin: 0 auto;
			@include transition;
			position: relative;
			z-index: 2;

			> div {
				// display: none;
				opacity: 0;
				text-align: left;
				padding: 10px 15px;
				background-color: #f2f2f2;
				border: 1px solid $purple_alpha_40;
				border-right: 0;
				border-left: 0;
				max-height: 0;
				visibility: hidden;
				pointer-events: none;
				@include inner_shadow;
				@include transition_alpha;
			}

			> div.s-active {
				opacity: 1;
				height: auto;
				max-height: 2000px;
				pointer-events: all;
				visibility: visible;
				@include transition_alpha;
				display: block;
			}

			h3 {
				margin-top: 10px;
				font-size: 20px;
				font-style: italic;
			}
		}

	.m-team-bios.s-active {
		max-height: 2000px;
		height: auto;
		@include transition;
		display: block;
	}

	}

	.m-team.s-active {

		.m-team-picture {
			opacity: .35;
			@include transition;
		}

		.m-team-picture.s-active {
			opacity: 1;
			@include transition;
		}
	}

	.m-team-picture {
		list-style: none;
		width: 200px;
		height: 250px;
		margin: 10px;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		position: relative;

		img {
			width: 160px;
			height: 160px;
			background-color: $lighter_gray;
			@include circle;
			@include inner_shadow;
			border: 4px solid $white_alpha_50;	

		}
		
		.m-team-member-name {
			margin: 0;
			font-family: $fancy_type;
			font-size: 18px;
			font-weight: 400;
			font-style: italic;
			color: $purple;
		}
		.m-team-member-job {
			margin: 0;
			color: $dark_gray;

		}
	}

	.m-team-picture:hover {

		img {
			border-color: $super_light_gray;
		}
	}

	.m-team-picture.s-active {
		img {
			border-color: $purple_alpha_40;
		}
	}	
}

// #about-govlab-approach {
// 	h1 {
// 		margin-top: 10px;
// 	}
// }

.sub-sections {
	border-bottom: 1px solid $light_gray;
	padding-bottom: 23px;
	margin-bottom: 0;

	.m-half {
		border-bottom: 0;
		padding-bottom: 0;
	}
}

#overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	z-index: 1;
	display: none;
}

#overlay.s-active {
	display: block;
}

.resources-intro {
	text-align: center;
}

