// About
.about-page {
	
	font-size: 14px;
	line-height: 20px;

	section {
		padding-bottom: 25px;
		margin-bottom: 35px;
		border-bottom: 1px solid $light_gray;
	}

	section:last-child {
		border-bottom: 0;
	}

	.m-half {
		width: calc(50% - 70px);
		padding-right: 60px;
		display: inline-block;
		vertical-align: top;
	}

	.m-page-title {
		font-size: 2.3em;
		margin-bottom: 35px;
		font-weight: 100;
	}
	
	.about-page-toc {
		float: right;
		margin: 0 0 30px 20px;
		padding: 10px 20px;
		border: 1px solid $light_gray;

		h4 {
			margin-bottom: 25px;
			margin-top: 0;
			font-family: $fancy_type;
			font-weight: 300;
			font-size: 1.7em;
			font-style: italic;
			color: $black;
		}
		
		li {
			list-style-type: none;
			margin: 6px 0;
		}
	}

}