// Candidates Page


#candidates-warning {
	width: 500px;
	padding: 1px 15px;
	margin-bottom: 20px;
}

.full-list {
	.first-title {
		margin-bottom: 20px;
	}
}

.m-download-data {
	padding: 10px;
	color: $dark_gray;
	display: block;
	border-top: 1px solid $super_light_gray;
	border-bottom: 1px solid $super_light_gray;
	text-align: center;
	margin-bottom: 30px;
	
	strong {
		margin-right: 30px;
		display: inline-block;
	}

	a {
		color: $dark_gray;
		padding: 4px 8px;

		&:hover {
			background-color: $light_purple;
			color: $white;

		}
	}	


}

.m-candidates {
	h1 {
		font-size: 6.79em;
	}

	.m-filter-menu {
		width: 200px;
		float: right;
		border-left: 1px solid $lighter_gray;
		padding-left: 75px;
		
		h3 {
			margin-bottom: 10px;
			font-weight: normal;
		}

		button {
			display: block;
		}
	}
}

.m-candidates-list {
	padding: 0;
	overflow: hidden;
}

.m-candidates-buttons {

	button {
		background-color: $light_purple;
		font-size: 11px;
		@include rounded;
		border: 0;
		color: $white;
		cursor: pointer;
		padding: 3px 7px 5px;
	}

	button:hover {
		background-color: $purple;
	}
}

.m-candidates-item {
	list-style-type: none;
	padding:15px;
	background-color: $super_light_gray;
	width: 198px / 960px * 100%;
	height: 165px;
	float: left;
	margin: 5px;
	color: $black;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid #ccc;


	h3 {
		color: $purple;
		margin-top: 0;
		font-weight: 300;
		font-family: $fancy_type;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: 150px;
		line-height: 1.3em;
	}

	p {
		margin-top: 0;
	}

	.m-homepage-list-desc {
		width: 195px;
		height: 80px;
		overflow: hidden;
		color: $black;
		margin-top: 5px;
	}

	em {
		color: $black;
		display: block;
		height: 15px;
		margin-top: 5px;
		letter-spacing: .6px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: 150px;
	}

}

.m-candidates-item.survey-company {
	background-color: $super_light_purple;
	h3, .m-homepage-list-desc, em {
	}
}

.m-candidates-item.preview-company {
	background-color: $purple_alpha;

	h3, .m-homepage-list-desc, em {
		color: $white;
	}
}

.m-candidates-item:hover {
	border-color: $purple;
}

.m-candidates-item.s-active {
	width: 35.5%;
	// height: 342px;
	z-index: 1000;

	em, .m-homepage-list-desc, h3 {
		width: 330px;
	}
	
}


.legend {
	text-align: center;
	border: 1px solid $super_light_gray;
	margin-bottom: 20px;
	padding: 5px;
	font-weight: 300;


	.color {
		display: inline-block;
		margin: 0 3px;
		padding: 4px 10px;
		color: $white;
		letter-spacing: .4px;
		border: 1px solid #ccc;
		color: $dark_gray_alpha;

	}


	.color.candidate {
		background-color: $super_light_gray;
	}

	.color.survey {
		background-color: $super_light_purple;
	}

	.color.preview {
		background-color: $purple_alpha;
	}
}

#chart svg {
	opacity: .7;
}

#filters {
	button {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		border: 1px solid $light_gray;
		background-color: $white_alpha;
		border-left: 4px solid $purple;
		color: $black;
		padding: 3px 9px 3px 6px;
	}
}

#clear-filters-menu {
	clear: both;
	margin-top: 20px;

	.clear-all-filters {
	  display: inline-block;
	  float: right;
	  border: 1px solid #ccc;
	  letter-spacing: .4px;
	  padding: 4px 10px;
	  color: rgba(0, 0, 0, 0.6);
	}
}
