.b-third {
	box-sizing: border-box;
	float: left;
	width: calc(33% - 20px);
	margin: 0 10px;
}

#govlab-logo {
	height: 50px;
}

#international-homepage {
	
	header {
		height: 50px;
		@include drop_shadow;
	}
	
	.b-section {
		margin-bottom: 40px;
	}

	.b-country-selector {
		overflow: hidden;
	}

	.b-country {
		text-align: center;

		h2 {
			font-size: 20px;
			font-weight: 400;
		}

		p {
			font-size: 1.2rem;
			line-height: 1.4;
			font-family: $fancy_type;
			font-weight: 100;
		}
		
		&.m-disabled {
			opacity: .3;
			pointer-events: none;
		}
	}

	.b-flag {
		height: 110px;
		width: 110px;
		margin: 0 auto 20px;	
		border: 5px solid $light_gray_alpha;
		@include circle;
	
		> div {
			height: 110px;
			width: 110px;
			@include circle;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;	
		}

		&.m-us > div { background-image: url("/static/img/us-flag.png"); }
		&.m-mx > div { background-image: url("/static/img/mexico-flag.png"); }
		&.m-au > div { background-image: url("/static/img/australia-flag.png"); }
		&.m-kr > div { background-image: url("/static/img/southkorea-flag.png"); }
		&.m-it > div { background-image: url("/static/img/italy-flag.png"); }
		&.m-ru > div { background-image: url("/static/img/russia-flag.png"); }
		&.m-in-your-country > div {
			background-image: url("/static/img/od500-in-your-country.png");
			background-size: 80%;
		}
	}

	.b-country:hover {
		.b-flag {
			border-color: $purple;
			box-shadow: 0 0 10px rgba(0,0,0,0.5);
		}
	}

@media only screen and (max-width : 760px) {
.b-third {
	box-sizing: border-box;
	float: none;
	width: calc(100% - 60px);
	margin: 30px;
}










}
















































}















// .consortium-homepage {
// 	header {
// 		margin-bottom: 15px;

// 		.m-main-menu {
// 			width: 400px;

// 			a {
// 				letter-spacing: .5px;
// 			}
// 		}
// 	}

// 	#consortium-logo {
// 		width: 600px;
// 	}

// 	.consortium-tagline {
// 		width: 350px;
// 		float: right;
// 		font-size: 20px;
// 		font-family: $fancy_type;
// 		font-weight: 100;
// 		font-style: italic;
// 		text-align: right;
// 		line-height: 26px;
// 	}

// 	.countries {
// 		margin-top: 100px;
// 		margin-bottom: 100px;
// 		clear: both;
// 		text-align: center;
// 	}

// 	.country-link-outer {
// 		border: 8px solid $purple_alpha_40;
// 		width: 262px;
// 		height: 262px;
// 		display: inline-block;
// 		margin-right: 60px;
// 		@include drop_shadow;
// 		@include circle;

// 		.country-link {
// 			width: 250px;
// 			height: 250px;
// 			overflow: hidden;
// 			text-align: center;
// 			border: 6px solid $purple;
// 			cursor: pointer;
// 			@include drop_shadow;
// 			@include circle;


// 			img {
// 				opacity: .4;
// 				position: relative;
// 			}
// 		}

// 		&:last-child {
// 			margin-right: 0;
// 		}

// 		&.canada {
// 			img {
// 				width: 150%;
// 				bottom: -30px;
// 				left: -25%;
// 			}
// 		}

// 		&.mexico {
// 			img {
// 				bottom: -17px;
// 				width: 151%;
// 				left: -26%;
// 			}
// 		}

// 		&.us {
// 			img {
// 				width: 190%;
// 				left: -25%;
// 				bottom: 0px;
// 			}
// 		}

// 		&:hover {

// 			.country-link {
				

// 				img {
// 					opacity: 1;
// 				}
// 			}
// 		}

// 	}

	
// }
