
// TEMP HEADER STYLING
.e-logo::after {
    content:" Open Data 500";
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 10px;
    vertical-align: -6px;
}


// TEMP NAV BAR STYLING
.b-main-menu {
  overflow-y:auto;
  
  li {
    list-style: none;
  }

  .e-submenu {
    position: relative; 
    text-align: left;
  }

  .e-submenu-item {
    display: block;
    border: 0;
    font-size: 14px;
    color: #6f5d8b;
    padding: 3px 18px 0px 35px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    letter-spacing: 1px; 
    .a:hover {
        color: white; 
    }
  }

}
