.m-homepage {
	
	h1 {
		margin: 15px 0 50px 0;
		font-size: 3.8em;
	}

	.first-title {
		margin: 25px 0 30px 0;
		font-size: 5.5em;
	}

	section {
		padding-bottom: 24px;
		border-bottom: 1px solid $purple;
		margin-bottom: 25px;
	}

	#chord-chart-container {
		text-align: center;
		position: relative;

		h3 {
			font-weight: 100;
			font-family: $fancy_type;
			font-size: 2em;
			margin-top: 15px;
		}

		.chord-legend {
			font-weight: 400;
			font-family: $fancy_type;
			font-size: 18px;
			position: absolute;
			color: $purple;
			top: 440px;
		}

		.chord-legend.companies {
			@include rotate(-90deg);
			left: -30px;
			color: #8eab6f;
		}

		.chord-legend.agencies {
			@include rotate(90deg);
			right: -30px;
		}
	}

	.m-banner-slider {
		margin-bottom: 50px;
		height: 347px;
		@include inner_shadow;

		img {
			position: relative;
			z-index: -1;
		}
	}

}

.m-homepage-about {
	.more {
		text-align: right;
	}
}


.m-homepage-participate {
	overflow: hidden;

	.m-homepage-box {
		float: left;
		width: 280px;
		margin-right: 26px;
		font-family: $fancy_type;
		border: 1px solid $light_purple;
		padding: 10px;
		
		h2 {
			text-align: center;
			font-size: 36px;
			vertical-align: middle;
			font-weight: 100;
			color: $light_purple;
			padding: 7px 4px 2px 6px;
			width: 40px;
			height: 40px;
			margin: -35px auto 0;
			background-color: $purple;
			@include circle;
		}

		h3 {
			margin-top: 15px;
			font-weight: 400;		
		}

		p {
			font-size: 16px;
			font-family: $regular_type;
			line-height: 1.5em;
			font-weight: 300;
		}
	}
}
.m-homepage-box:last-of-type {
	margin-right: 0;
}

.embed-chart-info {
	margin-top: 50px;
	text-align: right;

	.expand-trigger {
		display: inline-block;
		font-size: 16px;
		cursor: pointer;
		color: $purple;
		padding: 5px;
		position: relative;

		&:hover {
			text-decoration: underline;
		}

		&::after {
			content: "";
			width: 0;
			height: 0;
			border-right: 8px solid $purple;
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			border-left: 0;
			position: absolute;
			right: -10px;
		}
	}

	.embed-chart-info-content {
		display: none;
	}



&.s-active .expand-trigger::after {
	border-top: 8px solid $purple;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	border-bottom: 0;
	right: -16px;
	top: 8px;
}

&.s-active .embed-chart-info-content {
	display: block;
}

	textarea {
		max-width: 940px;
		min-width: 940px;
		max-height: 20px;
		min-height: 20px;
		font-size: 13px;
		font-family: $regular_type;
		border: 1px solid $light_gray;
		border-radius: 0;
		overflow: hidden;
	}	
}

// Consortium Landing Page 

#consortium-landing-page {
	header {
	    height: 30px;
	    text-align: center;
	}
	.l-centered {
	    text-align: center;
	}

	img {
		max-width: 600px;
		margin-top: -20px;
	}

	.box {
	    font-size: 16px;
	    line-height: 20px;
	    border: 1px solid $purple;
	    padding: 10px;
	    width: 600px !important;
	    margin-top: -35px;
	}

}



