#world-map {
	path {
		fill: $white-30;
		stroke: transparent;
	}

	.formal-agreement {
	fill: $purple-40k !important;
	}

	.working-agreement {
		fill: $dark_gray !important;
	}

	.in-discussion,
	.in-discussion > path {
		fill: $light_gray !important;
	}

	.project {
		fill: $purple !important;
	}
}


