// Preview Page  Styles

.m-preview {

	h2 {
		font-size: 2em;
	}

	h3 {
		font-family: $fancy_type;
		font-weight: 100;
		margin-top: 15px;
	}

	ul {
		padding: 0;
		background-color: $white_alpha;
	}

	li {
		list-style-type: none;
		border-bottom: 1px solid $purple;
		padding: 0 20px 12px 10px;
		max-height: 38px;
		height: auto;
		overflow: hidden;
		@include transition;

		div {
			max-height: 42px;
			overflow: hidden;
			text-overflow: "…" "…";
			@include transition;
		}
	}

	li.s-active {
		max-height: 2000px;
		@include transition;

		div {
			max-height: 800px;
			@include transition;
			height: auto;
			overflow: visible;
			text-overflow: visible;
		}
	}
}

.m-half {
	width: calc(50% - 20px);
	padding-right: 10px;
	display: inline-block;
	vertical-align: top;
}

.m-full {
	display: block;
	padding: 1px 10px;
	margin-top: 10px;
}

.datasets {
	box-shadow: inset 0 0 3px rgba(0,0,0,0.4);
	padding: 20px;
	background-color: #f6f6f6;
	
	ul {
		margin: 1em 0;
		padding-left: 10px;
	}
	li {
		border-bottom: 0;
		list-style: none;
	}

	a {
		color: $purple;
	}

	a:hover {
		text-decoration: underline;
	}
	
	> h3 {
		font-size: 16px;
		color: $dark_gray;
	}

	.company-view-agency-list {
		h3 {
			font-size: 14px;
			line-height: 18px;
		}
	}
}

.m-list-head {
	background-color: $purple;

	div {
		display: inline-block;
		padding: 10px 5px 0;
		color: $white;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: .5px;
	}
}

.m-list-company-summary {
	margin-bottom: 10px;
	cursor: pointer;
	
	div {
		display: inline-block;
		vertical-align: top;
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 5px;
		// vertical-align: middle;
	}
}

.m-list-company-full {
	padding-top: 20px;
	border-top: 1px solid $light_gray;
	box-shadow: inset 0 3px 3px -3px rgba(0,0,0,0.3);
}

.m-preview-list-name {
	width: calc(15% - 20px);
	padding-left: 10px;
	margin-right: 10px;
}
.m-preview-list-sectors {
	width: calc(35% - 20px);
	margin-right: 10px;
}
.m-preview-list-desc {
	width: calc(46% - 20px);
}
.m-preview-list-control {
	width: calc(4% - 20px);
	text-align: center;
}

.m-list-company-comment {
	
}

.m-expand-arrow {
	width: 0;
	height: 0;
	padding: 0 !important;
	display: inline-block;
	border-left: 8px solid $purple;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	cursor: pointer;
}

.s-active .m-expand-arrow {
	width: 0;
	height: 0;
	padding: 0 !important;
	display: inline-block;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	border-top: 8px solid $purple;
	cursor: pointer;
	position: relative;
	top: 6px;
}