#resources-press {
	h2 {
		margin-bottom: 30px;
		
	}
}

.resource-panel {
	margin-top: 30px;

	.first-title {
		margin-bottom: 0;
	}

	h3 {
		margin-bottom: 20px;
		font-family: $fancy_type;
		font-weight: 100;
		font-style: italic;
	}

	ul {
		width: 448px;
		display: inline-block;
		padding: 15px;
		vertical-align: top;

		li {
			list-style: none;
			margin-bottom: 5px;
			border-bottom: 1px solid $lighter_gray;
			padding-bottom: 5px;
			padding-left: 15px;
			position: relative;
		}

		li:before {
			content: "";
			width: 0;
			height: 0;
			border-left: 6px solid $purple;
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;
			position: absolute;
			left: 0;
			top: 1px;
		}
	}
}

.resource-logo {
	text-align: center;
	display: block;
	border-bottom: 1px solid $lighter_gray;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

