#roundtables {

	.rt-logo {
		width: 500px;
		margin: 0 auto 40px;
		text-align: center;
		clear: both;

		img {
			margin-bottom: 40px;
		}

		.rt-slogan {
			font-size: 30px;
			font-weight: 100;
			line-height: 38px;
			font-style: italic;
		}
	}

	section {
		padding-bottom: 23px;
		margin-bottom: 35px;
		border-bottom: 1px solid $light_gray;
	}

	p, li {
		font-size: 16px;
		line-height: 22px;
	}

	.in-content-image {
		float: right;
		width: 50%;
		margin-left: 30px;
		@include drop_shadow;
	}

	blockquote {
		font-size: 24px;
		line-height: 30px;
		font-family: $fancy-type;
		font-weight: 100;
		font-style: italic;
		text-align: left;
		color: $purple;
		background-color: $super_light_gray;
		padding: 20px 30px;
		border-left: 3px solid $purple;
		margin: 0;
	}

	.roundtables-series-sponsors {
		text-align: center;

		.sponsor-container {
			width: 260px;
			height: 180px;
			padding: 10px 20px;
			display: inline-block;	
			overflow: hidden;
			margin-right: 30px;
		}

		img {
			max-width: 260px;
			vertical-align: middle;
			position: relative;
		}

		#sponsor-aws img {
			top: 40px;
		}

		#sponsor-pwc img {
			top: -20px;
		}
	}
}

.drop-cap:first-letter {
	line-height: 86px;
	float: left;
	margin: 5px 16px 0 0;
	font-weight: 200;
	padding: 5px;
	font-size: 86px;
	background-color: $purple;
	font-family: $fancy-type;
	color: $white;
}