.submitDescription {

	.first-title {
		clear: both;
		margin-bottom: 60px;
		margin-top: 0;
	}

	.adj-title {
		font-size: 30px;
		font-family: $fancy_type;
		text-align: center;
		color: $light_purple;
		margin-top: 90px;
		margin-bottom: 10px;

	}
}