//  Typography

body {
	color: $black;
	font-family: $regular_type;
	font-size: 12px;
	line-height: 1.4em;
}

h1 {
	font-family: $fancy_type;
	font-weight: 100;
	font-size: 4.5em;
	line-height: 1.2em;
	margin-bottom: 30px;

}

h2 {
	font-family: $fancy_type;
	font-weight: 500;
	font-size: 3em;
	line-height: 1em;
}

h3 {
	color: $purple;
	font-size: 1.6em;
	line-height: 1em;
}

a {
	// font-family: $regular_type;
	text-decoration: none;
	color: $light_purple;
}

a:hover {
	color: $purple;
}

.intro {
	font-family: $fancy_type;
	font-weight: 100;
	font-style: italic;
	font-size: 1.8em;
	line-height: 1.5em;
}

.warning {
	padding: 10px;
	background-color: $super_light_gray;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

.disclaimer-text {
	font-size: 16px;
	line-height: 20px;
}



