@charset "UTF-8";
body {
  margin: 0;
  color: #444444;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.4em; }

header {
  padding: 10px 0; }

h1 {
  font-family: "Exo", sans-serif;
  font-weight: 100;
  font-size: 5.6em; }

h2 {
  font-family: "Exo", sans-serif;
  font-weight: 500;
  font-size: 3em; }

h3 {
  color: #472b74; }

a {
  font-family: Helvetica,Arial,sans-serif;
  text-decoration: none;
  color: #8977a7; }

a:hover {
  color: #472b74; }

input[type="text"] {
  padding: 5px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc; }

textarea {
  padding: 5px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc; }

.l-centered {
  width: 960px;
  margin: 0 auto; }

header {
  background-color: #472b74;
  border-bottom: 5px solid #8977a7; }

.m-main-menu a {
  padding: 5px 20px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  border-right: 2px solid #8977a7; }

.m-main-menu a:hover {
  background-color: #8977a7;
  color: #fff; }

.m-main-menu a:last-child {
  border-right: 0; }

.m-button {
  padding: 5px 14px 4px 14px;
  background-color: transparent;
  border: 1px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font-family: "Exo", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 14px;
  letter-spacing: .6px;
  cursor: pointer; }

.m-button:hover {
  background-color: #472b74;
  border: 1px solid #fff;
  color: #fff; }

.m-form-group, .m-form-half, .m-form-full {
  padding: 20px 0;
  border: 0; }

.m-form h2 {
  margin-bottom: 0;
  margin-top: 70px; }

.m-form h3 {
  border-bottom: 1px solid #8977a7;
  padding-bottom: 5px;
  margin-bottom: 10px; }

.m-form-half {
  display: inline-block;
  width: 47.5%;
  vertical-align: top;
  margin-right: 40px; }

.m-form-half.right {
  margin-right: 0; }

.m-form-line {
  margin-bottom: 5px;
  text-align: right; }

.m-form-line label {
  width: 46%;
  display: inline-block;
  text-align: left; }

.m-form-half input[type='text'] {
  width: 48%; }

.m-form-half textarea {
  width: 430px;
  height: 150px;
  min-width: 430px;
  max-width: 430px; }

.m-form-box {
  padding: 5px 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  overflow: hidden; }

.m-form-footer {
  background-color: #8977a7;
  padding: 5px;
  margin: 5px 5px 20px;
  overflow: hidden; }

.m-form-footer input[type="submit"] {
  float: right; }

.contacted-box {
  padding-left: 30px;
  position: relative;
  background-color: #fafafa; }

#contacted {
  position: absolute;
  left: 5px; }

.type-of-company-box {
  line-height: 23px; }

#otherCompanyType {
  width: 37%;
  margin-left: 5px; }

.parsley-error-list {
  list-style: none;
  background-color: rgba(214, 17, 17, 0.1);
  padding: 5px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d61111;
  color: #d61111;
  font-weight: bold;
  text-align: center;
  position: relative;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }

.parsley-error-list:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 8px solid #d61111;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -8px;
  left: 30px; }

.fancy-background {
  text-align: center;
  height: 270px; }
  .fancy-background img {
    position: relative;
    z-index: -1;
    left: -180px; }

.fancy-background-all {
  width: 1200px; }
  .fancy-background-all img {
    position: absolute;
    z-index: -1;
    left: 130px; }

.m-homepage section {
  margin-bottom: 30px; }
.m-homepage .m-home-big-links {
  font-size: 30px;
  padding: 30px 0;
  text-transform: uppercase;
  text-align: center; }
  .m-homepage .m-home-big-links a {
    font-family: "Exo", sans-serif;
    display: inline-block;
    padding: 20px 40px;
    border: 3px solid #8977a7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 20px; }
  .m-homepage .m-home-big-links a:hover {
    background-color: #472b74;
    color: white; }
.m-homepage .m-quotes {
  font-size: 36px;
  font-style: italic;
  font-family: "Exo", sans-serif;
  font-weight: 100;
  line-height: 42px;
  color: #8977a7;
  text-align: right; }
  .m-homepage .m-quotes p {
    margin-bottom: 10px; }
.m-homepage .m-quotes-author {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #472b74; }
  .m-homepage .m-quotes-author em {
    font-weight: 300; }
.m-homepage ul {
  display: inline-block;
  width: 266px;
  border: 1px solid #8977a7;
  margin-right: 10px;
  padding: 0 20px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .m-homepage ul h2 {
    font-size: 26px; }
  .m-homepage ul li {
    list-style-type: none;
    font-size: 14px;
    line-height: 20px; }

.m-preview h1 {
  margin-bottom: 80px; }
.m-preview h2 {
  font-size: 2em; }
.m-preview ul {
  padding: 0; }
.m-preview li {
  list-style-type: none;
  border-bottom: 1px solid #472b74;
  padding: 0 0 12px;
  max-height: 38px;
  height: auto;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .m-preview li div {
    max-height: 42px;
    overflow: hidden;
    text-overflow: "…" "…";
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }
.m-preview li.s-active {
  max-height: 2000px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .m-preview li.s-active div {
    max-height: 800px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    height: auto;
    overflow: visible;
    text-overflow: visible; }

.m-half {
  width: calc(50% - 20px);
  padding-right: 10px;
  display: inline-block;
  vertical-align: top; }

.m-full {
  display: block;
  padding: 1px 10px;
  margin-top: 10px; }

.datasets {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
  background-color: #f6f6f6; }
  .datasets li {
    border-bottom: 0; }
  .datasets a {
    color: #472b74; }
  .datasets a:hover {
    text-decoration: underline; }

.m-list-head {
  background-color: #472b74; }
  .m-list-head div {
    display: inline-block;
    padding: 10px 5px 0;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .5px; }

.m-list-company-summary {
  margin-bottom: 10px;
  cursor: pointer; }
  .m-list-company-summary div {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px; }

.m-list-company-full {
  border-top: 1px solid #aaaaaa;
  box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3); }

.m-preview-list-name {
  width: calc(15% - 20px);
  padding-left: 10px;
  margin-right: 10px; }

.m-preview-list-sectors {
  width: calc(35% - 20px);
  margin-right: 10px; }

.m-preview-list-desc {
  width: calc(46% - 20px); }

.m-preview-list-control {
  width: calc(4% - 20px);
  text-align: center; }

.m-expand-arrow {
  width: 0;
  height: 0;
  padding: 0 !important;
  display: inline-block;
  border-left: 8px solid #472b74;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  cursor: pointer; }

.s-active .m-expand-arrow {
  width: 0;
  height: 0;
  padding: 0 !important;
  display: inline-block;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 8px solid #472b74;
  cursor: pointer;
  position: relative;
  top: 6px; }

.about-page {
  font-size: 12px;
  line-height: 16px; }
  .about-page section {
    padding-bottom: 25px;
    margin-bottom: 35px;
    border-bottom: 1px solid #aaaaaa; }
  .about-page h1 {
    margin-top: 65px;
    margin-bottom: 65px; }
  .about-page .m-half {
    width: calc(50% - 70px);
    padding-right: 60px;
    display: inline-block;
    vertical-align: top; }
  .about-page .m-page-title {
    font-size: 2em;
    margin-bottom: 35px; }

.m-download-button {
  display: inline-block;
  width: 30%;
  border: 3px solid #472b74;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  vertical-align: top; }
  .m-download-button span {
    padding: 30px 20px 10px;
    border: 3px solid #8977a7;
    display: block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 200px;
    font-family: "Exo", sans-serif;
    font-size: 48px;
    line-height: 60px;
    text-align: center; }

footer {
  background-color: #444444;
  padding: 20px 0;
  overflow: hidden; }
  footer ul {
    text-align: right; }
  footer .footer-menu-item {
    display: inline-block;
    padding: 2px 10px;
    border-right: 1px solid #888;
    margin-top: 10px; }
    footer .footer-menu-item a {
      color: #aaaaaa; }
    footer .footer-menu-item a:hover {
      color: white; }
  footer .footer-menu-item.last {
    border-right: 0; }
  footer .govlab-logo {
    border: 0;
    margin-right: 40px;
    margin-top: 0;
    float: left; }

.m-candidates-list {
  padding: 0;
  overflow: hidden; }

.m-candidates-buttons button {
  background-color: #8977a7;
  font-size: 11px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  color: white;
  cursor: pointer;
  padding: 3px 7px 5px; }
.m-candidates-buttons button:hover {
  background-color: #472b74; }

.m-candidates-item {
  list-style-type: none;
  padding: 15px;
  background-color: #472b74;
  width: 180px;
  height: 180px;
  float: left;
  margin: 0 10px 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white; }
  .m-candidates-item h3 {
    color: #fff;
    margin-top: 0; }
  .m-candidates-item em {
    color: #8977a7;
    display: inline-block;
    height: 15px;
    overflow: hidden; }
