@charset "UTF-8";
input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 5px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc; }

textarea {
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc; }

select {
  border: 1px solid #ccc;
  padding: 5px 10px; }

.m-button {
  padding: 5px 14px 4px 14px;
  border: 1px solid #8977a7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #472b74;
  font-family: "Exo", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 14px;
  letter-spacing: .6px;
  cursor: pointer; }

.m-button:hover {
  background-color: #472b74;
  border: 1px solid #fff;
  color: #fff; }

.m-form .m-button {
  border: 1px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff; }
.m-form .m-button:hover {
  background-color: #472b74;
  border: 1px solid #fff;
  color: #fff; }

.m-form-group, .m-form-half, .m-form-full {
  padding: 20px 0;
  border: 0; }

.m-form h2 {
  margin-bottom: 0;
  margin-top: 70px; }

.m-form h3 {
  border-bottom: 1px solid #8977a7;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 1.2em; }
  .m-form h3 em {
    font-weight: 300;
    display: inline-block;
    margin-top: 4px; }

.m-form-half {
  display: inline-block;
  width: 47.5%;
  vertical-align: top;
  margin-right: 40px; }

.m-form-half.right {
  margin-right: 0; }

.m-form-line {
  margin-bottom: 5px;
  text-align: right; }

.m-form-line label {
  width: 46%;
  display: inline-block;
  text-align: left; }

.m-form-half input[type='text'] {
  width: 48%; }

.m-form-half select {
  width: 52.8%;
  font-family: sans-serif;
  font-size: 1em;
  color: #444444; }

.m-form-half textarea {
  width: 100%;
  height: 150px;
  min-width: 95%;
  max-width: 95%; }

.m-form-box {
  padding: 5px 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  overflow: hidden; }

.m-form-footer {
  background-color: transparent;
  border-top: 1px solid #aaaaaa;
  padding: 5px;
  margin: 5px 5px 20px;
  overflow: hidden; }

.m-form-footer input[type="submit"] {
  float: right; }

.contacted-box {
  padding-left: 30px;
  position: relative;
  background-color: #fafafa; }

#contacted {
  position: absolute;
  left: 5px; }

.type-of-company-box {
  line-height: 23px; }

#otherCompanyType {
  width: 37%;
  margin-left: 5px; }

.parsley-error-list {
  list-style: none;
  background-color: rgba(214, 17, 17, 0.1);
  padding: 5px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d61111;
  color: #d61111;
  font-weight: bold;
  text-align: center;
  position: relative;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }

.parsley-error-list:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 8px solid #d61111;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -8px;
  left: 30px; }

body {
  color: #444444;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  line-height: 1.4em; }

h1 {
  font-family: "Exo", sans-serif;
  font-weight: 100;
  font-size: 5.624em;
  line-height: 1.2em;
  margin-bottom: 30px; }

h2 {
  font-family: "Exo", sans-serif;
  font-weight: 500;
  font-size: 3em;
  line-height: 1em; }

h3 {
  color: #472b74;
  font-size: 1.6em;
  line-height: 1em; }

a {
  text-decoration: none;
  color: #8977a7; }

a:hover {
  color: #472b74; }

.intro {
  font-family: "Exo", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 1.8em;
  line-height: 1.5em; }

.warning {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); }

.logo {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px; }
  .logo img {
    width: 200px; }
.m-homepage {
  text-align: center; 
}
.m-homepage h1 {
  margin: 0 0 10px 0;
  font-size: 4em; }
.m-homepage .pre-launch {
  margin: 0 0 60px 0;
  font-size: 4em; }

.m-homepage .separator-title {
  margin-top: 20px;
  border-top: 1px solid #8977a7;
  padding-top: 15px;
  margin-bottom: 10px; }
.m-homepage .m-homepage-box {
  width: 20.83333%;
  /*width: 15%;*/
  text-align: left;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #472b74;
  padding: 16px 20px 10px;
  background-color: rgba(255, 255, 255, 0.7); }
  .m-homepage .m-homepage-box h2 {
    font-size: 2em; }
  .m-homepage .m-homepage-box .m-button {
    display: block;
    text-align: center; }
.m-homepage .m-homepage-about {
  margin-right: 3.125%; }
.m-homepage .m-homepage-participate {
  margin-left: 3.125%; }
  .m-homepage .m-homepage-participate form {
    position: relative; }
    .m-homepage .m-homepage-participate form input[type="email"] {
      width: 120px;
      -webkit-border-radius: 4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px;
      border-right: 0;
      padding: 6px 10px 5px;
      border-color: #aaaaaa; }
    .m-homepage .m-homepage-participate form .m-button {
      width: 40px;
      display: inline-block;
      padding: 5px 5px 4px;
      margin-top: 1px;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 12px;
      background-color: white;
      color: #472b74;
      border-color: #aaaaaa;
      margin-left: 0;
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0; }
    .m-homepage .m-homepage-participate form .m-button:hover {
      background-color: #472b74;
      color: white;
      border-color: #472b74; }
  .m-homepage .m-homepage-participate #mce-responses .response {
    position: absolute;
    width: 175px;
    padding: 10px;
    background-color: #8977a7;
    border: 1px solid #472b74;
    top: 89px;
    color: #472b74;
    @inlcude rounded;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
  .m-homepage .m-homepage-participate #mce-responses .response:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 8px solid #472b74;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -8px;
    left: 48%; }
  .m-homepage .m-homepage-participate input.mce_inline_error {
    border-color: #d61111 !important; }
  .m-homepage .m-homepage-participate div.mce_inline_error {
    position: absolute;
    width: 178px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.15) !important;
    border: 1px solid #d61111;
    top: 89px;
    color: #d61111 !important;
    @inlcude rounded;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
  .m-homepage .m-homepage-participate div.mce_inline_error:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 8px solid #d61111;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -8px;
    left: 48%; }
.m-homepage .m-homepage-explore {
  display: inline-block;
  width: 42.5%;
  text-align: center; }
  .m-homepage .m-homepage-explore > div {
    padding-bottom: 24px;
    margin-bottom: 25px; }
  .m-homepage .m-homepage-explore h2, .m-homepage .m-homepage-explore p {
    margin-bottom: 10px; }
  .m-homepage .m-homepage-explore h2 {
    color: #472b74;
    font-size: 2.8em; }
  .m-homepage .m-homepage-explore .map-title {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 22px;
    font-style: italic; }
  .m-homepage .m-homepage-explore .map img {
    width: 450px;
    position: relative;
    left: -30px;
    top: 0; }
  .m-homepage .m-homepage-explore .m-button {
    display: block;
    margin-top: 20px;
    padding: 20px;
    font-size: 1.6em;
    background-color: #472b74;
    border-color: #8977a7;
    color: white; }
  .m-homepage .m-homepage-explore .m-button:hover {
    background-color: #8977a7;
    border-color: #472b74;
    color: #472b74; }
.m-homepage .m-homepage-press {
  background-color: rgba(0, 0, 0, 0.15);
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .m-homepage .m-homepage-press h2 {
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    color: #666666;
    margin-bottom: 10px; }
  .m-homepage .m-homepage-press img {
    margin-right: 20px;
    opacity: .4; }
  .m-homepage .m-homepage-press a:hover img {
    opacity: .7; }
  .m-homepage .m-homepage-press #informationweek-logo {
    position: relative;
    top: -6px;
    height: 26px; }

.about-page {
  font-size: 14px;
  line-height: 20px; }
  .about-page section {
    padding-bottom: 25px;
    margin-bottom: 35px;
    border-bottom: 1px solid #aaaaaa; }
    .about-page section ul li.list-title {
      list-style: none;
      margin-top: 15px;
      margin-bottom: 5px; }
      .about-page section ul li.list-title h3 {
        font-size: 16px; }
  .about-page .intro {
    overflow: hidden; }
  .about-page section:last-child {
    border-bottom: 0; }
  .about-page .m-half {
    width: calc(50% - 70px);
    padding-right: 60px;
    display: inline-block;
    vertical-align: top; }
  .about-page ul.m-half {
    width: calc(50% - 105px); }
  .about-page .m-page-title {
    font-size: 2.3em;
    margin-bottom: 35px;
    font-weight: 100; }
  .about-page .about-page-toc {
    float: right;
    margin: 0 0 30px 20px;
    padding: 10px 20px;
    border: 1px solid #aaaaaa; }
    .about-page .about-page-toc h4 {
      margin-bottom: 25px;
      margin-top: 0;
      font-family: "Exo", sans-serif;
      font-weight: 300;
      font-size: 1.7em;
      font-style: italic;
      color: #444444; }
    .about-page .about-page-toc li {
      list-style-type: none;
      margin: 6px 0; }

.m-preview h2 {
  font-size: 2em; }
.m-preview h3 {
  font-family: "Exo", sans-serif;
  font-weight: 100;
  margin-top: 15px; }
.m-preview ul {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.7); }
.m-preview li {
  list-style-type: none;
  border-bottom: 1px solid #472b74;
  padding: 0 20px 12px 10px;
  max-height: 38px;
  height: auto;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .m-preview li div {
    max-height: 42px;
    overflow: hidden;
    text-overflow: "…" "…";
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }
.m-preview li.s-active {
  max-height: 2000px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .m-preview li.s-active div {
    max-height: 800px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    height: auto;
    overflow: visible;
    text-overflow: visible; }

.m-half {
  width: calc(50% - 20px);
  padding-right: 10px;
  display: inline-block;
  vertical-align: top; }

.m-full {
  display: block;
  padding: 1px 10px;
  margin-top: 10px; }

.datasets {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
  background-color: #f6f6f6;
  padding: 10px; }
  .datasets ul {
    margin: 1em 0; }
  .datasets li {
    border-bottom: 0; }
  .datasets a {
    color: #472b74; }
  .datasets a:hover {
    text-decoration: underline; }

.m-list-head {
  background-color: #472b74; }
  .m-list-head div {
    display: inline-block;
    padding: 10px 5px 0;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .5px; }

.m-list-company-summary {
  margin-bottom: 10px;
  cursor: pointer; }
  .m-list-company-summary div {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px; }

.m-list-company-full {
  border-top: 1px solid #aaaaaa;
  box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3); }

.m-preview-list-name {
  width: calc(15% - 20px);
  padding-left: 10px;
  margin-right: 10px; }

.m-preview-list-sectors {
  width: calc(35% - 20px);
  margin-right: 10px; }

.m-preview-list-desc {
  width: calc(46% - 20px); }

.m-preview-list-control {
  width: calc(4% - 20px);
  text-align: center; }

.m-expand-arrow {
  width: 0;
  height: 0;
  padding: 0 !important;
  display: inline-block;
  border-left: 8px solid #472b74;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  cursor: pointer; }

.s-active .m-expand-arrow {
  width: 0;
  height: 0;
  padding: 0 !important;
  display: inline-block;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 8px solid #472b74;
  cursor: pointer;
  position: relative;
  top: 6px; }

.m-candidates h1 {
  font-size: 6.79em; }
.m-candidates .m-filter-menu {
  width: 200px;
  float: right;
  padding-left: 9px; }
  .m-candidates .m-filter-menu h3 {
    margin-bottom: 10px;
    font-weight: normal; }
  .m-candidates .m-filter-menu button {
    display: block; }

.m-candidates-list {
  padding: 0;
  overflow: hidden; }

.m-candidates-buttons button {
  background-color: #8977a7;
  font-size: 11px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  color: white;
  cursor: pointer;
  padding: 3px 7px 5px; }
.m-candidates-buttons button:hover {
  background-color: #472b74; }

.m-candidates-item {
  list-style-type: none;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.05);
  width: 20.625%;
  height: 165px;
  float: left;
  margin: 5px;
  color: #444444;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #ccc; }
  .m-candidates-item h3 {
    color: #472b74;
    margin-top: 0;
    font-weight: 300;
    font-family: "Exo", sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 150px;
    line-height: 1.3em; }
  .m-candidates-item p {
    margin-top: 0; }
  .m-candidates-item .m-homepage-list-desc {
    width: 195px;
    height: 80px;
    overflow: hidden;
    color: #444444;
    margin-top: 5px; }
  .m-candidates-item em {
    color: #444444;
    display: block;
    height: 15px;
    margin-top: 5px;
    letter-spacing: .6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 150px; }

.m-candidates-item.survey-company {
  background-color: rgba(71, 43, 116, 0.3); }

.m-candidates-item.preview-company {
  background-color: rgba(71, 43, 116, 0.9); }
  .m-candidates-item.preview-company h3, .m-candidates-item.preview-company .m-homepage-list-desc, .m-candidates-item.preview-company em {
    color: white; }

.m-candidates-item:hover {
  border-color: #472b74; }

.m-candidates-item.s-active {
  width: 45.6%;
  z-index: 1000; }
  .m-candidates-item.s-active em, .m-candidates-item.s-active .m-homepage-list-desc, .m-candidates-item.s-active h3 {
    width: 330px; }

.legend {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  padding: 5px;
  font-weight: 300; }
  .legend .color {
    display: inline-block;
    margin: 0 3px;
    padding: 4px 10px;
    color: white;
    letter-spacing: .4px;
    border: 1px solid #ccc;
    color: rgba(0, 0, 0, 0.6); }
  .legend .color.candidate {
    background-color: rgba(0, 0, 0, 0.05); }
  .legend .color.survey {
    background-color: rgba(71, 43, 116, 0.3); }
  .legend .color.preview {
    background-color: rgba(71, 43, 116, 0.9); }

.legend .color.survey.s-active {
  background-color: rgba(71, 43, 116, 0.9);
  color: white;
}

.legend .color.candidate.s-active {
  background-color: rgba(71, 43, 116, 0.9);
  color: white;
}

.states.s-active {
  stroke: black;
  stroke-width: 2px;
}

#chart svg {
  opacity: .7; }

#filters button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #aaaaaa;
  background-color: rgba(255, 255, 255, 0.7);
  border-left: 4px solid #472b74;
  color: #444444;
  padding: 3px 9px 3px 6px; }

#filters button:hover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #aaaaaa;
  background-color: rgba(71, 43, 116, 0.6);
  border-left: 4px solid #472b74;
  color: white;
  padding: 3px 9px 3px 6px; }

#filters .s-active {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #472b74;
  background-color: #472b74;
  border-left: 4px solid #472b74;
  color: white;
  padding: 3px 9px 3px 6px; }


.m-download {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1em; }
  .m-download h1 {
    margin-bottom: 20px; }
  .m-download .m-download-item {
    border: 1px solid #aaaaaa;
    padding: 20px;
    display: inline-block;
    width: 300px;
    margin: 7px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 2.4em;
    line-height: 1.2em;
    font-family: "Exo", sans-serif;
    font-weight: 100;
    vertical-align: top;
    height: 115px; }
    .m-download .m-download-item p {
      height: 40px;
      vertical-align: middle;
      margin-top: 0; }
  .m-download .m-button {
    display: block;
    font-weight: 300;
    background-color: #472b74;
    color: white; }
  .m-download a:hover {
    background-color: #8977a7;
    color: white;
    border-color: #472b74; }

.login-form {
  margin: 0 auto;
  width: 31.25%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 20px 20px 10px 0;
  border: 1px solid #aaaaaa; }
  .login-form .m-form-line.submit {
    text-align: center;
    margin-top: 20px; }

.resource-panel {
  margin-top: 80px; }
  .resource-panel h3 {
    margin-bottom: 20px;
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-style: italic; }
  .resource-panel ul {
    width: 448px;
    display: inline-block;
    padding: 15px;
    vertical-align: top; }
    .resource-panel ul li {
      list-style: none;
      margin-bottom: 5px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      padding-bottom: 5px;
      padding-left: 15px;
      position: relative; }
    .resource-panel ul li:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 6px solid #472b74;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      position: absolute;
      left: 0;
      top: 1px; }

.resource-logo {
  text-align: center;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 10px;
  margin-bottom: 20px; }

.m-press {
  cursor: pointer; }

.m-press-item {
  display: inline-block;
  width: 260px;
  border: 1px solid #472b74;
  border-left: 0;
  border-right: 0;
  height: 160px;
  padding: 0 20px;
  vertical-align: top;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  position: relative; }

.m-press-title {
  font-size: 15px;
  line-height: 19px;
  color: #666666; }

.m-press-meta {
  font-style: italic;
  position: absolute;
  bottom: 0; }

.m-press-item:hover {
  background-color: rgba(71, 43, 116, 0.1); }
  .m-press-item:hover p {
    color: #472b74; }

body {
  margin: 0; }

h1, h2, h3, h4 {
  margin: 0; }

h1 {
  margin-top: 65px;
  margin-bottom: 65px;
  text-align: center; }

header {
  background-color: #472b74;
  border-bottom: 5px solid #8977a7;
  padding: 10px 0;
  position: fixed;
  z-index: 9999;
  width: 100%;
  text-align: center;
  top: 0px; }

.l-centered {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }

.m-centered {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto; }

#container {
  min-height: 460px;
  margin-top: 100px; }

.m-main-menu {
  font-size: 0; }
  .m-main-menu a {
    font-size: 12px;
    padding: 5px 20px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    border-right: 2px solid #8977a7; }

.m-main-menu a:hover {
  background-color: #8977a7;
  color: #fff; }

.m-main-menu a:last-child {
  border-right: 0; }

.parallax-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 800px;
  z-index: -2; }

#background {
  top: -500px;
  background: url(../img/bg-element-2.png) no-repeat center; }

#background-2 {
  top: -380px;
  left: 300px;
  background: url(../img/bg-element-1.png) no-repeat center;
  z-index: -1; }

#background-3 {
  top: -400px;
  left: -300px;
  background: url(../img/bg-element-1.png) no-repeat center;
  z-index: -1; }

footer {
  background-color: #444444;
  padding: 20px 0;
  overflow: hidden;
  clear: both;
  margin-top: 30px;
  color: #aaaaaa; }
  footer a {
    color: #aaaaaa; }
  footer a:hover {
    color: white; }
  footer .m-footer-logos {
    float: left; }
    footer .m-footer-logos img {
      height: 37px;
      margin-right: 30px;
      opacity: .4; }
    footer .m-footer-logos a:hover img {
      opacity: 1; }
    footer .m-footer-logos #govlab-logo {
      height: 30px;
      vertical-align: 2px; }
  footer ul {
    text-align: right; }
  footer .footer-menu-item {
    display: inline-block;
    padding: 2px 10px;
    border-right: 1px solid #888;
    margin-top: 10px; }
  footer .footer-menu-item.last {
    border-right: 0; }
  footer .creative-commons-license {
    margin-top: 30px;
    font-size: 11px; }
    footer .creative-commons-license img {
      float: left;
      margin-right: 10px; }

#chart {

}

.no-flexbox #chart {
  width:180; 
  height:447.36842105263156;
}


/* Why you always gotta be messing with Luis' STYLEZZ? */
.ui-autocomplete-input {
  width: 500px;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.error-agency-search {
  display:block;
  color: red;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.error-dataset {
  color: red;
  padding-left: 5px;
}

.l-button {
  padding: 5px 14px 4px 14px;
  border: 1px solid #8977a7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #472b74;
  font-family: "Exo", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 14px;
  letter-spacing: .6px;
  cursor: pointer;
  background-color: white; }

.l-button:hover {
  background-color: #472b74;
  border: 1px solid #fff;
  color: #fff; }

table {
  width: 100%;
}
th.table-header-name, th.table-header-url {
  width: 15%;
}
th.table-header-buttons {
  width: 60%;
}
th.table-header-rating {
  width: 5%; /* Not necessary, since only 70% width remains */
}

h2.disclaimer-text {
  font-family: "Exo", sans-serif;
  font-size: 1.5em;
  font-weight: 350;
  margin-bottom: 20px;
  margin-top: 20px;
}

.savingMessage_companyEdit, .savedMessage_companyEdit, .errorMessage_companyEdit {
  color: #472b74;
}

.error-form {
  color: red;
  padding-left: 5px;
}

.message-form {
  color: black;
  padding-left: 5px;
  font-size: 12px;
}

.data-text {
  font-size: 1.2em;
  font-weight: 300;
}
.m-form-half h3 {
  font-size: 1.2em;
}

.submitCompanyForm, .saveCompanyForm, .saveCompanyForm-new {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.dialog-example {
  display: none;
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}

.source-count-buttons input[type="radio"] {
    display:none; 
}

.source-count-buttons label {
  padding: 5px 14px 4px 14px;
  border: 1px solid #8977a7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #472b74;
  font-family: "Exo", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 14px;
  letter-spacing: .6px;
  cursor: pointer;
  background-color: white;
}

.source-count-buttons input[type="radio"]:checked + label { 
  background-color: #472b74;
  border: 1px solid #fff;
  color: #fff;
}

.company-view-agency-list {
  padding-top: 10px;
}

.all-filters {
  text-align: center;
}


/*----------------SANKEY CHART----------*/
#chart_sankey {
  height: 500px;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}


/*----------------------------CHORD DIAGRAM-----------------*/
/*#chart {
  text-align: left;
}
#circle circle {
  fill: none;
  pointer-events: all;
}
path.chord {

}*/


#circle:hover path.fade {
  display: none;
}

#circle circle {
  fill: none;
  pointer-events: all;
}

.group path {
  fill-opacity: .5;
}

path.chord {

}

#circle:hover path.fade {
  display: none;
}


