@import 'variables';
@import 'form-styles';
@import 'layout';
@import 'typography';
@import 'homepage';
@import 'international-homepage';
@import 'about';
@import 'preview';
@import 'submitcompany';
@import 'candidates';
@import 'download';
@import 'login';
@import 'resources';
@import 'press';
@import 'findings';
@import 'consortium';
@import 'roundtables';
@import 'country-homepage';

// Reset

body {
	margin: 0;
}

// === Base Styles

h1, h2, h3, h4 {
	margin: 0;
}

h1 {
	margin-top: 65px;
	margin-bottom: 65px;
	text-align: center;
}

.first-title {
	margin-top: 90px;
}


// Header Module

header {
	background-color: $purple;
	border-bottom: 5px solid $light_purple;
	padding: 10px 0;
	height: 30px;
    text-align: center;
}

// === Layout classes

.l-centered {
	width: 960px / 960px * 100%;
	max-width: 960px;
	margin: 0 auto;

}

#container {
	min-height: 460px;
}


// Main Menu Module

.logo {
	border: 0;
	float: left;
	margin-top: -5px;
	padding: 0;

	img {
		width: 120px;
	}
}

.poly-logo {
	text-align: right;
	float: right;
	background-image: url(/static/img/poly_logo.png);
	background-size: cover;
	width: 297px;
	height: 40px;
}

.m-country-flag {
	text-align: center;
	clear:both;
	margin: 40px auto 0;

	img {
		height: 80px;
		@include drop_shadow;
		
	}
}

.logo:hover {
	background-color: transparent;
}

#country-selector {
	font-size: 12px;
	padding: 5px 0 4px;
	color: $light_purple;
	text-transform: uppercase;
	display: inline-block;
	// position: absolute;
	// right: 0;
	float: right;
	margin-top: 50px;

	&:hover {
		color: $purple;
	}
}

.m-main-menu {
	font-size: 0;
	margin-top: 4px;

	.m-main-menu-item {
		font-size: 12px;
		padding: 5px 0 4px;
		color: #fff;
		text-transform: uppercase;
		display: inline-block;
		position: relative;
		border-right: 2px solid $light_purple;
	}

	.m-main-menu-item a {
		font-size: 12px;
		padding: 5px 20px;
		color: #fff;
		text-transform: uppercase;
	}

	.m-main-menu-sub-menu {
		display: none;
		position: absolute;
		background-color: $light_purple;
		margin-top: 4px;
		top: 21px;
		left: -2px;
		width: 161px;
		padding: 0;
		cursor: pointer;
		border: 1px solid $purple;
		@include drop-shadow;

		li {
			list-style: none;
		}

		.m-main-menu-sub-menu-item {
			font-size: 12px;
			padding: 7px 20px;
			color: #fff;
			text-transform: uppercase;
			text-align: left;
			display: block;
		}

		.m-main-menu-sub-menu-item:hover {
			background-color: $purple;
		}
	}

	.language-options {
		font-size: 0;
		position: relative;
		left: 320px;

		> a {
			font-size: 12px;
			padding-right: 4px;
			padding-left: 4px;

			&:first-child {
				border-right: 2px solid $light_purple;
			}
		}
	}

	#submenu-about {
		width: 182px;
	}


	.m-main-menu-item:hover .m-main-menu-sub-menu,
	.m-main-menu-sub-menu:hover {
		display: block;
	}

	#submenu-about {
		width: 182px;
	}


	.m-main-menu-item:hover .m-main-menu-sub-menu,
	.m-main-menu-sub-menu:hover {
		display: block;
	}

	.m-main-menu-item a:hover {
		background-color: $light_purple;
		color: #fff;
	}
	
	.m-main-menu-item:last-of-type {
		border-right: 0;
	}
}

// Title
.m-page-title {
	font-size: 2.3em;
	margin-bottom: 35px;
	font-weight: 100;
}

// Background

.parallax-bg {
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
}

#background {
	top: -320px; // 450px;
	background: url(../img/bg-element-2.png) no-repeat center 0;
}

#background-2 {
	top: -380px;
	left: 300px;
	background: url(../img/bg-element-1.png) no-repeat center;
	z-index: -1;
}

#background-3 {
	top: -400px;
	left: -300px;
	background: url(../img/bg-element-1.png) no-repeat center;
	z-index: -1;
}


// Subscribe 
#mc_embed_signup {
	position: fixed;
	border: 1px solid $light_purple;
	background-color: $super_light_purple_matte;
	padding: 13px 15px 13px 20px;
	z-index: 10;
	right: -1px;
	width: 200px;
	top: 200px;
	@include transition;

	.m-page-title {
		margin-bottom: 5px;
		font-size: 1.5em;
		font-weight: 400;
	}

	p {
		margin: 3px;
		font-size: 14px;
	}

	.signup-handle {
		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-left: 8px solid $purple;
		position: absolute;
		left: 4px;
		top: 40px;
		cursor: pointer;
	}

	.signup-handle:hover {
		border-left-color: $red;
	}

	

	form {
		position: relative;

		input[type="email"] {
			width: 112px;
			-webkit-border-radius: 4px 0 0 4px;
			-moz-border-radius: 4px 0 0 4px;
			border-radius: 4px 0 0 4px;
			border-right: 0;
			padding: 6px 10px 5px;
			border-color: $light_purple;
			background-color: $white_alpha_50;
		}

		input[type="email"]:focus {
			background-color: $white;
		}

		.m-button {
			width: 40px;
			display: inline-block;
			padding: 5px 5px 4px;
			margin-top: 1px;
			font-family: $regular_type;
			font-size: 12px;
			background-color: $white_alpha_50;
			color: $purple;
			border-color: $light_purple;
			margin-left: 0;
			-webkit-border-radius: 0 4px 4px 0;
			-moz-border-radius: 0 4px 4px 0;
			border-radius: 0 4px 4px 0;
		}

		.m-button:hover {
			background-color: $purple;
			color: $white;
			border-color: $purple;
		}
	}

	#mce-responses {

		.response {
			position: absolute;
			width: 175px;
			padding: 10px;
			background-color: $light_purple;
			border: 1px solid $purple;
			top: 89px;
			color: $purple;
			@inlcude rounded;
			@include drop-shadow;
		}

		.response:after {
			content: "";
			width: 0;
			height: 0;
			position: absolute;
			border-bottom: 8px solid $purple;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			top: -8px;
			left: 48%;
			
		}
	}

	input.mce_inline_error {
		border-color: $red !important;
	}

	div.mce_inline_error {
		position: absolute;
		left: -31px;
		width: 200px;
		padding: 10px;
		background-color: $lighter_gray !important;
		border: 1px solid $red;
		top: 124px;
		color: $red !important;
		@inlcude rounded;
		@include drop-shadow;
	}

	div.mce_inline_error:after {
		content: "";
		width: 0;
		height: 0;
		position: absolute;
		border-bottom: 8px solid $red;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		top: -8px;
		left: 48%;
	}
}

#mc_embed_signup.s-disabled {
	right: -236px;
	@include transition;

	.signup-handle:before {
		content:"Subscribe";
		background-color: $light_purple;
		position: absolute;
		border: 1px solid $purple;
		left: -78px;
		top: -13px;
		width: 88px;
		padding: 5px;
		font-family: $fancy_type;
		font-weight: 400;
		text-align: center;
		font-size: 18px;
		color: $purple;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
}




// Footer 

footer {
	background-color: $black;
	padding: 20px 0;
	overflow: hidden;
	clear: both;
	margin-top: 30px;
	color: $light_gray;

	a {
			color: $light_gray;
		}

	a:hover {
		color: $white;
	}

	.m-footer-logos {
		float: left;

		img {
			height: 37px;
			margin-right: 30px;
			opacity: .4;
		}

		a:hover img {
			opacity: 1;
		}

		#govlab-logo {
			height: 30px;
			vertical-align: 2px;
		}
	}

	ul {
		text-align: right;
	}
	.footer-menu-item {
		display: inline-block;
		padding: 2px 10px;
		border-right: 1px solid #888;
		margin-top: 10px;
	}

	.footer-menu-item.last {
		border-right: 0;
	}

	.creative-commons-license {
		margin-top: 30px;
		font-size: 11px;

		img {
			float: left;
			margin-right: 10px;
		}
	}
}

.m-international-page {
	font-size: 14px;
	line-height: 20px;

	.m-country-flag.s-international img {
		box-shadow: 0 0 0;
		width: 300px;
		height: auto;
	}

	.first-title {
		margin-top: 20px;
	}
}

