@import 'variables';
@import 'form-styles';
@import 'layout';
@import 'typography';
@import 'homepage';
@import 'about';
@import 'preview';
@import 'candidates';
@import 'download';

// Reset

body {
	margin: 0;
}

// === Base Styles

h1, h2, h3, h4 {
	margin: 0;
}

h1 {
	margin-top: 65px;
	margin-bottom: 65px;
	text-align: center;
}


// Header Module

header {
	background-color: $purple;
	border-bottom: 5px solid $light_purple;
	padding: 10px 0;
}

// === Layout classes

.l-centered {
	width: 960px;
	margin: 0 auto;
}



// Main Menu Module

.m-main-menu a {
	padding: 5px 20px;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	border-right: 2px solid $light_purple;
}

.m-main-menu a:hover {
	background-color: $light_purple;
	color: #fff;
}

.m-main-menu a:last-child {
	border-right: 0;
}

// Background

#background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/bg-element-2.png) no-repeat center -350px;
	z-index: -1;
}


// Footer 

footer {
	background-color: $black;
	padding: 20px 0;
	overflow: hidden;

	ul {
		text-align: right;
	}
	.footer-menu-item {
		display: inline-block;
		padding: 2px 10px;
		border-right: 1px solid #888;
		margin-top: 10px;

		a {
			color: $light_gray;
		}

		a:hover {
			color: $white;
		}
	}

	.footer-menu-item.last {
		border-right: 0;
	}

	.govlab-logo {
		border: 0;
		margin-right: 40px;
		margin-top: 0;
		float: left;
	}
}
