{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}

<h1><a href="{% if 'http' in company.url %}{{company.url}}{%else%}http://{{company.url}}{%end%}">{{ page_heading }}</a></h1>

<div class="m-list-company-full">
		<div class="m-half">
			<h3>Company Information</h3>
			<p><strong>URL: </strong>{% if company.url %}<a href="{% if 'http' in company.url %}{{company.url}}{%else%}http://{{company.url}}{%end%}">{{company.url}}{%else%}Not Available{%end%}</a></p>
			<p><strong>Year Founded: </strong> {% if company.yearFounded %}{{company.yearFounded}}{%else%}Not Available{%end%}</p>
			<p><strong>Location: </strong>{%if company.city %} {{company.city}}, {{company.state}}{%else%}{{company.state}}{%end%}</p>
			<p><strong>Zip Code: </strong> {%if company.zipCode %}{{company.zipCode}}{%else%}Not Available{%end%}</p>
			<p><strong>Full-Time Employees: </strong> {% if company.fte %} {{company.fte}}{%else%}Not Available{%end%}</p>
			<p><strong>Type of Company: </strong> {% if company.companyType %} {{company.companyType}}{%else%}Not Available{%end%}</p>
			<p><strong>Category: </strong> {{company.companyCategory}}</p>
			<p><strong>Sources of Revenue: </strong>{% if len(company.revenueSource) > 0 %}{% if company.revenueSource[0] %}{{ ", ".join(company.revenueSource) }}{%else%}Not Available{%end%}{%else%}Not Available{%end%}</p>
			{%if company.sourceCount == "NA" %}<p><strong>Approximate number of sources of government open data: </strong>Not Available
			{% elif company.sourceCount %}<p><strong>Approximate number of sources of government open data: </strong>{{company.sourceCount}} Agencies/Local Governments/Organizations
			{% else %}<p><strong>Approximate number of sources of government open data: </strong>Not Available{%end%}</p>
		</div>
		<div class="m-half">
			<h3>Description:</h3>
			<p>{% if company.description %}{{company.description}}{%else%}Not Available{%end%}</p>
		</div>
	<div class="m-full datasets">
		<h3>Agency and Data Information</h3>
		{% if company.agencies %}
			{%for a in company.agencies %}
				<div class="company-view-agency-list">
					<ul>
						<li><h3>{%if a.url %}<a href="{% if 'http' in a.url %}{{a.url}}{%else%}http://{{a.url}}{%end%}">{{a.name}}</a>{%else%}{{a.name}}{%end%}</h3></li>
						<div class="company-view-agency-name">
							{% for d in a.datasets %} 
								{% if d.usedBy == company %}
									<ul>
										{% if d.datasetURL %}
											<li><a href="{% if 'http' in d.datasetURL %}{{d.datasetURL}}{%else%}http://{{d.datasetURL}}{%end%}">{{ d.datasetName }}</a></li>
										{% else %}
											<li>{{ d.datasetName }}</li>
										{% end %}
									</ul>
								{%end%}
							{% end %}
							<ul>
								{% for s in a.subagencies %}
									{% if company in s.usedBy %}
										<li><h3><a href="{% if 'http' in s.url %}{{s.url}}{%else%}http://{{s.url}}{%end%}">{{s.name}}</a></h3></li>
									{%end%}
								{%end%}
							</ul>
						</div>
					</ul>
				</div>
			{% end %}
		{%else%}
			<p>None Available</p>
		{% end %}
	</div>
</div>	
<br>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'opendata500'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

{% end %}