{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}
<div id="roundtables">
	<div class="event-title">
		<div class="host-agency-logo">
			<img src="{{ static_url("img/roundtables/usda-logo.png") }}">
		</div>
		<h1>USDA Roundtable</h1>
		<h2>August 1, 2014</h2>

	</div>
	<span class="event-picture-gallery">Photos by Audrey Ariss</span>
	
	<div class="event-pictures-viewer">
		<div class="event-pictures-strip">
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-02-01.jpg") }}">
				<figcaption>
					<div>Dr. Ann Bartuska</div>
					<em>Deputy Under Secretary, USDA Research, Economics and Education</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-02-02.jpg") }}">
				<figcaption>
					<div>Cheryl Cook</div>
					<em>Chief Information Officer, USDA</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-02-03.jpg") }}">
				<figcaption>
					<div>Erie Meyer</div>
					<em>Senior Advisor to the CTO, White House OSTP</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-02-04.jpg") }}">
				<figcaption>
					<em>Tyler Dahlberg, Geospatial Solution Specialist at Azavea shares discussion highlights from breakout session 1</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-02-05.jpg") }}">
				<figcaption>
					<em>Report back from breakout session 2: Data-Driven Solutions for Food Resilience</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-02-06.jpg") }}">
				<figcaption>
					<div>Dr. Catherine Woteki</div>
					<em>Chief Scientist, USDA</em>
				</figcaption>
			</figure>
		</div>
	</div>

	<section>
		<p class="drop-cap">On August 1, USDA and The GovLab co-hosted an Open Data Roundtable on food resilience in Washington, DC. The event, held in conjunction with the White House Climate Data Initiative, convened government officials, companies, and nonprofits to improve the use climate and agricultural data to ensure a reliable food supply. The Roundtable Series is designed to promote dialogue between government agencies that supply data and the companies and organizations that use it. The ultimate goal is to make open government data more relevant, accessible, and actionable.</p>

		<p>Deputy CIO Joyce Hunter led the Department's planning and engagement with the event, and participated for the entire day. Over 30 other USDA officials and staff from other federal agencies participated as well, including NOAA, Department of Treasury and U.S. Geological Survey. The attendees heard presentations from Dr. Catherine Woteki, Under Secretary for the USDA’s Research, Education, and Economics (REE) mission area and the Department’s Chief Scientist; Dr. Ann Bartuska, Deputy Under Secretary for REE; Cheryl Cook, Chief Information Officer of the USDA; and Erie Meyer, Senior Advisor to the U.S. Chief Technology Officer in the White House Office of Science and Technology Policy.</p>

		<p><a href="http://thegovlab.org/the-usda-open-data-roundtable-climate-change-and-food-resilience/" target="_blank">Read blog posts about the event</a> from Joel Gurin, The GovLab Senior Advisor.</p>
	</section>
	<section>
		<h2 class="m-page-title">Agenda</h2>
		<p><a href="../../static/files/us/USDA_Roundtable_Agenda.pdf" target="_blank">Agenda in PDF</a></p>
	</section>
	 
	<section>
		<h2 class="m-page-title">Attendees</h2>

		<ul class="roundtable-attendees">
			<li><span>Sinam Al-Khafaji</span> Account Manager - USDA Esri</li>
			<li><span>Audrey Ariss</span> Research Assistant of the Open Data 500, The GovLab</li>
			<li><span>Dr. Ann Bartuska</span> Deputy Under Secretary USDA Research, Education and Economics</li>
			<li><span>Dr. Michael Bowers</span> National Program Leader, Director of the Agriculture and Food Research Initiative (AFRI), USDA National Institute of Food and Agriculture</li>
			<li><span>Stanley Campbell</span> Chief Executive Officer, EagleForce Associates</li>
			<li><span>Deb Casurella</span> General Manager Independent Data Management LLC</li>
			<li><span>James Chan</span> Intern, Sunlight Foundation</li>
			<li><span>Tina Chang</span> Acting CIO/Director of Applications, OIT/NIFA USDA National Institute of Food and Agriculture</li>
			<li><span>Cheryl Cook</span> Chief Information Officer, USDA</li>
			<li><span>Tyler Dahlberg</span> Geospatial Solution Specialist, Azavea </li>
			<li><span>Lori Davis</span> Vice President, Mackson Consulting</li>
			<li><span>Damon Davis</span> Director of the Health Data, Initiative Health and Human Services</li>
			<li><span>Dr. Kerry Dearfield</span> Chief Scientist, USDA Food Safety and Inspection Service</li>
			<li><span>Katherine Garcia</span> Research Assistant of the Open Data 500, The GovLab</li>
			<li><span>Paul Gibson</span> CIO, USDA Agricultural Research Service </li>
			<li><span>Marisa Gil Lapetra</span> Health Market Intelligence Portfolio Manager and Analyst, Knoema</li>
			<li><span>Lewrene Glaser</span> Deputy Director for Data Management, USDA Economic Research Service </li>
			<li><span>Ariel Gold</span> Program Manager, World Wide Public Sector, Amazon Web Services </li>
			<li><span>Marcus Graham</span> Project Manager, Intelligent Data Pilot, U.S. Department of Treasury</li>
			<li><span>Karl Gudmunds</span> ERS Branch Chief, USDA Economic Research Service</li>
			<li><span>Joseph Gulisano</span> Risk Assurance Innovation Technology, PricewaterhouseCoopers</li>
			<li><span>Joel Gurin</span> Project Director of the Open Data 500, The GovLab</li>
			<li><span>Katina Hanson</span> Acting Budget Officer, USDA Risk Management Agency</li>
			<li><span>Joyce Hunter</span> Deputy CIO, USDA Office of the CIO</li>
			<li><span>Rich Iovanna</span> Agricultural Economist, USDA Farm Service Agency</li>
			<li><span>Dr. Daney Jackson</span> Ministerial Agricultural Extension Advisor, USDA Foreign Agriculture Service </li>
			<li><span>Thomas Jacob</span> Analyst, USDA National Agricultural Statistics Services</li>
			<li><span>Bobby Jones</span> Senior Advisor, Deputy CIO, USDA Office of the CIO</li>
			<li><span>Payal Kamdar</span> President &amp; CEO, VSolvit </li>
			<li><span>Ines Kapphan</span> Product Manger, Weather Data Systems The Climate Corporation </li>
			<li><span>Joe Koss Branch</span> Chief Applications Development, USDA Food and Nutrition Service </li>
			<li><span>Patrice Kunesh</span> Deputy Under Secretary, USDA Rural Development</li>
			<li><span>Barbara Leach</span> Director of Risk Mitigation, USDA Office of the CIO</li>
			<li><span>Marilla Li</span> Research Assistant of the Open Data 500, The GovLab</li>
			<li><span>Stephen Lowe</span> Geospatial Information Officer, USDA Office of the CIO</li>
			<li><span>Laura Manley</span> Project Manager of the Open Data 500, The GovLab</li>
			<li><span>Charles Martin-Shields</span> Consultant, Ushahidi</li>
			<li><span>Tawny Mata</span> AAA Fellow &amp; Advisor for Climate Change, USDA Office of the Chief Scientist</li>
			<li><span>Linda McCaw</span> Program Manager, Social Security Administration</li>
			<li><span>Ken Melero</span> Director of Federal, Socrata</li>
			<li><span>Erie Meyer</span> Senior Advisor to the CTO, White House Office of Science and Technology Policy</li>
			<li><span>David Michaud</span> Deputy CIO, National Oceanic and Atmospheric Administration</li>
			<li><span>Eva Mitter</span> USDA Natural Resources Conservation Service, USDA Natural Resources Conservation Service</li>
			<li><span>David Nulph</span> GIS Analyst, USDA Economic Research Service</li>
			<li><span>Ted Payne</span> GIS Office Chief, USDA Farm Service Agency </li>
			<li><span>Ravoyne Payton</span> Acting Departmental FOIA Officer, USDA Office of the CIO</li>
			<li><span>Jessica Powers</span> Director, National Hunger Clearinghouse WhyHunger</li>
			<li><span>Joe Pringle</span> Director of Health, Socrata</li>
			<li><span>Stu Rabinowitz</span> Director Federal Markets and Channel Partners, Socrata</li>
			<li><span>Morgan Robinson</span> Data Analyst, The Reinvestment Fund</li>
			<li><span>David Sandler</span> Senior Emergency Response Specialist USDA Food Safety and Inspection Service </li>
			<li><span>Ron Sequeira</span> Associate Director at USDA APHIS PPQ CPHST, USDA Animal and Plant Health Inspection Services </li>
			<li><span>Omar Silver</span> Program Director, Dovel Technologies</li>
			<li><span>Jonathan Smith</span> Program Coordinator Land Change Science, U.S. Geological Survey</li>
			<li><span>Dave Standish</span> Federal Civilian Account Manager, Google</li>
			<li><span>Sheila Steffenson</span> Director of Operations, vSolvIT </li>
			<li><span>Jed Sundwall</span> Open Data Business Development Manager, Amazon Web Services </li>
			<li><span>Michael Valivullah</span> CTO, USDA National Agricultural Statistics Services </li>
			<li><span>Jesse Vollmar</span> Co-Founder &amp; CEO, FarmLogs </li>
			<li><span>Adam Welsh</span> SVP Health IT, Dovel Technologies</li>
			<li><span>Curtis Wiley</span> Acting Deputy Assistant Secretary, USDA Office of the Secretary</li>
			<li><span>Dr. Catherine Woteki</span> Chief Scientist, USDA</li>
			
		</ul>
		<p class="invitation-disclaimer"><em>To invite attendees for this event, the GovLab sent an email to over 120 companies in the Open Data 500 study that we know to be using Department of Commerce data, and several nonprofit organizations that either use Commerce data directly or study the way it is used. The Department of Commerce chose its own representatives, high-level officials and staff who direct the Department's data programs.</em></p>
	</section>
	<section>
		<h2 class="m-page-title">Series Sponsors</h2>

		<div class="roundtables-series-sponsors">
			<div id="sponsor-aws" class="sponsor-container"><img src="{{ static_url("img/roundtables/roundtables-sponsor-aws.png") }}"></div>
			<div id="sponsor-pwc" class="sponsor-container"><img src="{{ static_url("img/roundtables/roundtables-sponsor-pwc.png") }}"></div>
		</div>
		<p>The Open Data Roundtables Series is supported by Amazon Web Services and PricewaterhouseCoopers. The GovLab is currently seeking additional sponsors for the Open Data Roundtable Series and for individual Roundtable events. For more information, please contact us at <a href="mailto:opendata500@thegovlab.org">opendata500@thegovlab.org</a>.</p>
	</section>
	<section>
		<h2 class="m-page-title">Event Supporter</h2>

		<div class="roundtables-event-sponsors">
			<div id="sponsor-dtc" class="sponsor-container"><img src="{{ static_url("img/roundtables/roundtables-sponsor-dtc.png") }}"></div>
		</div>
		<p>The GovLab also thanks the Data Transparency Coalition, the Event Sponsor for this first Roundtable, for providing refreshments, lunch, and a reception after the event.</p>
	</section>
</div>
{% end %}