{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}
<div id="roundtables">
	<div class="event-title">
		<div class="host-agency-logo">
			<img src="{{ static_url("img/roundtables/doc-logo.png") }}">
		</div>
		<h1>U.S. Department of Commerce Roundtable</h1>
		<h2>June 18, 2014</h2>

	</div>
	<span class="event-picture-gallery">
		<a href="https://www.flickr.com/photos/thegovlab/sets/72157645294263883/" target="_blank">See the full gallery at Flickr</a> | 
		Photos by Kristine Brown
	</span>
	
	<div class="event-pictures-viewer">
		<div class="event-pictures-strip">
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-01-01.jpg") }}">
				<figcaption>
					<div>Stefaan Verhulst</div>
					<em>Chief Research and Development Officer, the GovLab</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-01-06.jpg") }}">
				<figcaption>
					<div>Penny Pritzker</div>
					<em>Secretary of Commerce</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-01-02.jpg") }}">
				<figcaption>
					<div>Mark Doms</div>
					<em>Under Secretary of Commerce for Economic Affairs</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-01-03.jpg") }}">
				<figcaption>
					<em>Joel Gurin, Senior Advisor at the GovLab, with Acting Deputy Secretary of Commerce Bruce Andrews</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-01-04.jpg") }}">
				<figcaption>
					<div>David Michaud</div>
					<em>Acting Deputy CIO, NOAA</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-01-05.jpg") }}">
				<figcaption>
					<div>Nick Sinai</div>
					<em>U.S. Deputy Chief Technology Officer</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-01-07.jpg") }}">
				<figcaption>
					<div>Erie Meyer</div>
					<em>Senior Advisor to the U.S. CTO, leads a breakout session</em>
				</figcaption>
			</figure>
		</div>
	</div>


	<section>
		<p class="drop-cap">The first Open Data Roundtable was held in Washington, DC on June 18, 2014. It was co-hosted by the GovLab and the White House Office of Science and Technology Policy (OSTP) together with the U.S. Department of Commerce. Under Secretary of Commerce for Economic Affairs Mark Doms led the Department's planning and engagement with the event, and participated for the entire day. Over 20 other officials and staff from the Department of Commerce participated as well, with appearances by Secretary Penny Pritzker and Acting Deputy Secretary Bruce Andrews. Nick Sinai, U.S. Deputy Chief Technology Officer, and Erie Meyer, Senior Advisor to the U.S. CTO, represented OSTP at the event. The GovLab is now compiling a report on the Roundtable for public release.</p>

		<p>Read blog posts about the event from <a href="http://www.commerce.gov/blog/2014/06/19/listening-our-data-customers-open-data-roundtable">Bruce Andrews, Acting Deputy Secretary</a>, <a href="http://www.esa.doc.gov/Blog/2014/06/19/big-day-big-data-beginning-our-data-transformation">Mark Doms, Under Secretary for Economic Affairs</a>, and <a href="http://thegovlab.org/the-govlab-roundtables-open-dialogues-on-open-data/">Joel Gurin, The GovLab Senior Advisor</a>. The agenda for the event can be found <a href="http://opendata500.thegovlab.org/files/DOC_Roundtable_Agenda.pdf">here</a>.</p>
	</section>
	<section>
		<h2 class="m-page-title">Upcoming Roundtables</h2>
		<p>The GovLab is now working with the Departments of Agriculture, Labor, Transportation, and Treasury to design similar Roundtables in 2014. We are planning additional events with other government agencies and businesses as well. Interested parties should please contact us at <a href="mailto:opendata500@thegovlab.org">opendata500@thegovlab.org</a>.</p>
	</section>
	
	
	<section>
		<h2 class="m-page-title">Open Data Roundtable Attendees</h2>

		<ul class="roundtable-attendees">
			<li><span>Steven Adler</span> Information Strategist, IBM</li>
			<li><span>Sinam Al-Khafaji</span> Account Manager - USDA Esri</li>
			<li><span>Audrey Ariss</span> Research Assistant of the Open Data 500, The GovLab</li>
			<li><span>Dr. Ann Bartuska</span> Deputy Under Secretary USDA Research, Education and Economics</li>
			<li><span>Dr. Michael Bowers</span> National Program Leader, Director of the Agriculture and Food Research Initiative (AFRI), USDA National Institute of Food and Agriculture</li>
			<li><span>Stanley Campbell</span> Chief Executive Officer, EagleForce Associates</li>
			<li><span>Deb Casurella</span> General Manager Independent Data Management LLC</li>
			<li><span>James Chan</span> Intern, Sunlight Foundation</li>
			<li><span>Tina Chang</span> Acting CIO/Director of Applications, OIT/NIFA USDA National Institute of Food and Agriculture </li>
			<li><span>Cheryl Cook</span> Chief Information Officer, USDA</li>
			<li><span>Tyler Dahlberg</span> Geospatial Solution Specialist, Azavea </li>
			<li><span>Lori Davis</span> Vice President, Mackson Consulting</li>
			<li><span>Damon Davis</span> Director of the Health Data, Initiative Health and Human Services</li>
			<li><span>Dr. Kerry Dearfield</span> Chief Scientist, USDA Food Safety and Inspection Service</li>
			<li><span>Katherine Garcia</span> Research Assistant of the Open Data 500, The GovLab</li>
			<li><span>Paul Gibson</span> CIO, USDA Agricultural Research Service </li>
			<li><span>Marisa Gil Lapetra</span> Health Market Intelligence Portfolio Manager and Analyst, Knoema</li>
			<li><span>Lewrene Glaser</span> Deputy Director for Data Management, USDA Economic Research Service </li>
			<li><span>Ariel Gold</span> Program Manager, World Wide Public Sector, Amazon Web Services </li>
			<li><span>Marcus Graham</span> Project Manager, Intelligent Data Pilot, U.S. Department of Treasury</li>
			<li><span>Karl Gudmunds</span> ERS Branch Chief, USDA Economic Research Service</li>
			<li><span>Joseph Gulisano</span> Risk Assurance Innovation Technology, PricewaterhouseCoopers</li>
			<li><span>Joel Gurin</span> Project Director of the Open Data 500, The GovLab</li>
			<li><span>Katina Hanson</span> Acting Budget Officer, USDA Risk Management Agency</li>
			<li><span>Joyce Hunter</span> Deputy CIO, USDA Office of the CIO</li>
			<li><span>Rich Iovanna</span> Agricultural Economist, USDA Farm Service Agency</li>
			<li><span>Dr. Daney Jackson</span> Ministerial Agricultural Extension Advisor, USDA Foreign Agriculture Service </li>
			<li><span>Thomas Jacob</span> Analyst, USDA National Agricultural Statistics Services</li>
			<li><span>Bobby Jones</span> Senior Advisor, Deputy CIO, USDA Office of the CIO</li>
			<li><span>Payal Kamdar</span> President &amp; CEO, VSolvit </li>
			<li><span>Ines Kapphan</span> Product Manger, Weather Data Systems The Climate Corporation </li>
			<li><span>Joe Koss Branch</span> Chief Applications Development, USDA Food and Nutrition Service </li>
			<li><span>Patrice Kunesh</span> Deputy Under Secretary, USDA Rural Development</li>
			<li><span>Barbara Leach</span> Director of Risk Mitigation, USDA Office of the CIO</li>
			<li><span>Marilla Li</span> Research Assistant of the Open Data 500, The GovLab</li>
			<li><span>Stephen Lowe</span> Geospatial Information Officer, USDA Office of the CIO</li>
			<li><span>Laura Manley</span> Project Manager of the Open Data 500, The GovLab</li>
			<li><span>Charles Martin-Shields</span> Consultant, Ushahidi</li>
			<li><span>Tawny Mata</span> AAA Fellow &amp; Advisor for Climate Change, USDA Office of the Chief Scientist</li>
			<li><span>Linda McCaw</span> Program Manager, Social Security Administration</li>
			<li><span>Ken Melero</span> Director of Federal, Socrata</li>
			<li><span>Erie Meyer</span> Senior Advisor to the CTO, White House Office of Science and Technology Policy</li>
			<li><span>David Michaud</span> Deputy CIO, National Oceanic and Atmospheric Administration</li>
			<li><span>Eva Mitter</span> USDA Natural Resources Conservation Service, USDA Natural Resources Conservation Service</li>
			<li><span>David Nulph</span> GIS Analyst, USDA Economic Research Service</li>
			<li><span>Ted Payne</span> GIS Office Chief, USDA Farm Service Agency </li>
			<li><span>Ravoyne Payton</span> Acting Departmental FOIA Officer, USDA Office of the CIO</li>
			<li><span>Jessica Powers</span> Director, National Hunger Clearinghouse WhyHunger</li>
			<li><span>Joe Pringle</span> Director of Health, Socrata</li>
			<li><span>Stu Rabinowitz</span> Director Federal Markets and Channel Partners, Socrata</li>
			<li><span>Morgan Robinson</span> Data Analyst, The Reinvestment Fund</li>
			<li><span>David Sandler</span> Senior Emergency Response Specialist USDA Food Safety and Inspection Service </li>
			<li><span>Ron Sequeira</span> Associate Director at USDA APHIS PPQ CPHST, USDA Animal and Plant Health Inspection Services </li>
			<li><span>Omar Silver</span> Program Director, Dovel Technologies</li>
			<li><span>Jonathan Smith</span> Program Coordinator Land Change Science, U.S. Geological Survey</li>
			<li><span>Dave Standish</span> Federal Civilian Account Manager, Google</li>
			<li><span>Sheila Steffenson</span> Director of Operations, vSolvIT </li>
			<li><span>Jed Sundwall</span> Open Data Business Development Manager, Amazon Web Services </li>
			<li><span>Michael Valivullah</span> CTO, USDA National Agricultural Statistics Services </li>
			<li><span>Jesse Vollmar</span> Co-Founder &amp; CEO, FarmLogs </li>
			<li><span>Adam Welsh</span> SVP Health IT, Dovel Technologies</li>
			<li><span>Curtis Wiley</span> Acting Deputy Assistant Secretary, USDA Office of the Secretary</li>
			<li><span>Dr. Catherine Woteki</span> Chief Scientist, USDA</li>
		</ul>
		<p class="invitation-disclaimer"><em>To invite attendees for this event, the GovLab sent an email to over 120 companies in the Open Data 500 study that we know to be using Department of Commerce data, and several nonprofit organizations that either use Commerce data directly or study the way it is used. The Department of Commerce chose its own representatives, high-level officials and staff who direct the Department's data programs.</em></p>
	</section>
	<section>
		<h2 class="m-page-title">Series Sponsors</h2>

		<div class="roundtables-series-sponsors">
			<div id="sponsor-aws" class="sponsor-container"><img src="{{ static_url("img/roundtables/roundtables-sponsor-aws.png") }}"></div>
			<div id="sponsor-pwc" class="sponsor-container"><img src="{{ static_url("img/roundtables/roundtables-sponsor-pwc.png") }}"></div>
		</div>
		<p>The Open Data Roundtables Series is supported by Amazon Web Services and PricewaterhouseCoopers. The GovLab is currently seeking additional sponsors for the Open Data Roundtable Series and for individual Roundtable events. For more information, please contact us at <a href="mailto:opendata500@thegovlab.org">opendata500@thegovlab.org</a>.</p>
	</section>
	<section>
		<h2 class="m-page-title">Event Supporter</h2>

		<div class="roundtables-event-sponsors">
			<div id="sponsor-dtc" class="sponsor-container"><img src="{{ static_url("img/roundtables/roundtables-sponsor-dtc.png") }}"></div>
		</div>
		<p>The GovLab also thanks the Data Transparency Coalition, the Event Sponsor for this first Roundtable, for providing refreshments, lunch, and a reception after the event.</p>
	</section>
</div>
{% end %}