{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}
<style>

</style>

<br>
<br>
<br>
<br>
<br>
<h2>{{ page_heading }}</h2>
<form method="post" id="company_form_edit" class="m-form company_form_edit" data-parsley-validate>

	 {% module Form(country, "en", True, True, company) %}


	{% module FormData(country, "es", True, company) %}
	{% raw xsrf_form_html() %}

</form>
<br>

{% module AgencyAdd(country, settings['default_language'], company) %}

<!--*****************************************************************-SUBMIT BUTTON-***************************************************************** !-->
<div class='submit_form'>
	<input type="submit" class="l-button" id="submit_form_edit_button" name="formSave" value="Save Company Info">
	<span class="response-message" style="display:none"></span>
</div>


<!--*****************************************************************-SUBMIT FORM-***************************************************************** !-->
<script>
$(document).ready( function () {
    var _xsrf = $("[name='_xsrf']").val();
    var rm = $('.response-message');
    var id = '{{company.id}}';
    $("#company_form_edit").parsley();
    $('#data_comments_form').parsley();
    $('.submit_form').on('click', '#submit_form_edit_button', function() {
        if ($("#company_form_edit").parsley().validate() && $('#company-data-comment-form').parsley().validate() && $(".agency").length > 0) {
            data = $('#company_form_edit').serializeArray();
            data[data.length] = { name: "dataComments", value: $('#dataComments').val() };
            $.ajax({
		        type: 'POST',
		        url: '/edit/' + id,
		        data: data,
		        error: function(error) {
		            console.debug(JSON.stringify(error));
		            rm.text("Oops... Something went wrong.").show().delay(5000).fadeOut();
		          	$("#submit_form_edit_button").prop("disabled", false); 
		        },
		        beforeSend: function(xhr, settings) {
		          $("#submit_form_edit_button").prop("disabled", true); 
		          rm.text("Saving...").show().delay(5000).fadeOut();
		        },
		        success: function(success) {
		          $("#submit_form_edit_button").prop("disabled", false); 
		          rm.text("Saved!").show().delay(5000).fadeOut();
		          console.log("regular saved!");
		        }
		      });
        } else if($(".agency").length == 0){
        	rm.text("You need to add at least one source of data.");
        	rm.show().delay(5000).fadeOut();
        } else {
        	rm.text("You need to fix some errors.");
        	rm.show().delay(5000).fadeOut();
        }
        event.preventDefault();
    });
});

</script>








{% end %}