{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}
<div id="roundtables">

<div class="rt-logo">
	<img src="{{ static_url("img/roundtables/roundtables-logo.png") }}" alt="">

	<h2 class="rt-slogan">Making open government data more relevant, accessible, and actionable</h2>
</div>

<section>
	<p id="roundtables-first-paragraph" class="drop-cap">The GovLab is hosting a series of Roundtables that will bring together federal agencies with the businesses and other organizations that use their data, drawing on the work of the Open Data 500. <a href="http://www.whitehouse.gov/sites/default/files/microsites/ostp/us_open_data_action_plan.pdf" target="_blank">The U.S. Open Data Action Plan, released by the White House on May 9, 2014</a>, describes these Roundtables as a key part of meeting the commitment to “support innovators and improve open data based on feedback.” The Plan notes that “Specific, actionable feedback from these sessions [the Roundtables] and others has the potential to improve descriptions, formats, and accessibility of government data.”</p>
</section>

<section>
	<h2 class="m-page-title">Objectives</h2>

	<img class="in-content-image" src="{{ static_url("img/roundtables/roundatables-series-dots-2.jpg") }}">
	<p>The Open Data Roundtables bring together data providers in government and data users in business and the nonprofit sector to identify the kinds of datasets that have the greatest value, and to determine what is needed to make them as useful as possible. The Roundtables are designed to:</p>

	<ul>
		<li><strong>Prioritize</strong> the most important datasets in each agency for business and public use.</li>
		<li><strong>Improve</strong> each agency’s data and make it easier to find, access, and work with.</li>
		<li><strong>Connect</strong> businesses and organizations with government agency staff who manage the data they use, and set up a process for ongoing feedback.</li>
	</ul>

	<p>The GovLab will publish summaries of the Roundtables and their results for a public audience.</p>
	
	<p>The Open Data Roundtable Series is designed to establish a new way of planning, preparing, and implementing the release of open data at the federal level. The shift to demand-driven open data will help agencies prioritize their work on open data much more effectively, meet the needs of users more efficiently, and potentially release billions of dollars in economic value through new, targeted data release.</p>

	<blockquote cite="http://www.whitehouse.gov/sites/default/files/microsites/ostp/us_open_data_action_plan.pdf">Specific, actionable feedback from these sessions [the Roundtables] and others has the potential to improve descriptions, formats, and accessibility of government data.</blockquote>
</section>

<section>
	<h2 class="m-page-title">Upcoming Roundtables</h2>
	<p>The GovLab is now working with ten other federal agencies to design similar Roundtables. We are also planning follow-up events with various government agencies and businesses. Interested parties should please contact us at opendata500@thegovlab.org.</p>
</section>

<section>
	<h2 class="m-page-title">Series Sponsors</h2>

	<div class="roundtables-series-sponsors">
		<div id="sponsor-aws" class="sponsor-container"><img src="{{ static_url("img/roundtables/roundtables-sponsor-aws.png") }}"></div>
		<div id="sponsor-pwc" class="sponsor-container"><img src="{{ static_url("img/roundtables/roundtables-sponsor-pwc.png") }}"></div>
	</div>
	<p>The Open Data Roundtables Series is supported by Amazon Web Services and PricewaterhouseCoopers. The GovLab is currently seeking additional sponsors for the Open Data Roundtable Series and for individual Roundtable events. For more information, please contact us at <a href="mailto:opendata500@thegovlab.org">opendata500@thegovlab.org</a>.</p>
</section>
</div>


{% end %}