{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}



<section class="submitDescription">
	<h1>Open Data 500 <br>Company Survey</h1>

	<p><strong>To qualify for the Open Data 500, a company must:</strong></p>
	<ul>
		<li>Be U.S.-based,</li>
		<li>Earn revenue from its products and services, and</li>
		<li>Use open government data as a key resource for its business. (While most Open Data 500 companies will work with federal data, we are also interested in those that use city or state data in a way that can scale regionally or nationally.)</li>
	</ul>
	<p>If your company meets these criteria, please take a few minutes to fill out this short online form. Thank you again for your participation.</p>
	<p><em>The fields marked with * are required</em></p>
</section>
<form method="post" id="submitCompany" class="m-form companyForm" data-parsley-validate>

	<!--*****************************************************************-CONTACT INFO-***************************************************************** !-->
	<fieldset class="m-form-half">
		<h3>Contact Information</h3>
		<div class="m-form-line"><label for="">First Name: *</label><input type="text" name="firstName" id="firstName" data-parsley-maxlength="50" required></div>
		<div class="m-form-line"><label for="">Last Name: *</label><input type="text" name="lastName" id="lastName" data-parsley-maxlength="50" required></div>
		<div class="m-form-line"><label for="">Title: *</label><input type="text" name="title" id="title" data-parsley-maxlength="50" required></div>
		<div class="m-form-line"><label for="">Email: *</label><input type="text" name="email" id="email" data-parsley-maxlength="50" data-parsley-trigger="focusout" data-parsley-type="email" required></div>
		<div class="m-form-line"><label for="">Phone:</label><input type="text" name="phone" id="phone" 
			data-parsley-trigger="focusout" 
			data-parsley-pattern="(^\d{3}(-|\s)\d{3}(-|\s)\d{4}$)|(^\d{10})"
			data-parsley-error-message="Phone must be in format: ###-###-####"></div>
	</fieldset>

	<!--*****************************************************************-COMPANY INFO-***************************************************************** !-->
	<fieldset class="m-form-half right">
		<h3>Company Information</h3>
		<div class="m-form-line">
			<label for="companyName">Company Name: *</label><input type="text" name="companyName" id="companyName" 
			data-parsley-trigger="focusout"
            data-parsley-remote
            data-parsley-remote-options='{ "type": "POST" }'
            data-parsley-remote-validator="validateName"
            data-parsley-maxlength="70"
            data-parsley-error-message=""
            required>
			<span class='company-name-error'></span>
		</div>
		<div class="m-form-line"><label for="url">Company URL: *</label><input type='text' name="url" id='url' data-parsley-trigger="change" data-parsley-type="url" required></div>
		<div class="m-form-line"><label for="city">In which city is your company's headquarters located?</label><input type="text" name="city" id="city"></div>
		<div class="m-form-line">
			<label for="state">State: *</label>
			<select name='state' id="state" required>
				{% for i in range(0, len(stateList[country])) %}
					<option name="state" value="{{stateListAbbrev[country][i]}}">{{ stateList[country][i] }}</option>
				{%end%}
			</select>
		</div>
		<div class="m-form-line"><label for="country">Country:</label><input type="text" name="country" value="{{country_keys[country]}}" readonly></div>
		<div class="m-form-line"><label for="zipCode">Zip Code: *</label><input type="text" name="zipCode" id="zipCode" data-parsley-trigger="focusout" data-parsley-pattern="(^\d{5}$)|(^\d{5}-\d{4}$)" required></div>
		<!--*****************************************************************-COMPANY TYPE-***************************************************************** !-->
		<div class="m-form-box"><label for="companyType">Type of Company: *</label><br>
			<div class="company-type-field">
				{% for type in companyType %}
					<input type="radio" id="{{type}}" name="companyType" data-parsley-group='companyType' value="{{ type }}"><label for="{{type}}">{{type}}</label><br>
				{% end %}
				<input type="radio" id="other_type" name="companyType" value="Other" data-parsley-mincheck="1" data-parsley-group='companyType' data-parsley-trigger="change" required><label for="other_type">Other</label>
				<input type="text" id="other_company_type_field" name="othercompanyType">
			</div>
		</div>
		<div class="m-form-line"><label for="">Founding Year: *</label><input type="text" name="yearFounded" id="yearFounded" 
			data-parsley-type="number" 
			data-parsley-trigger="focusout" 
			data-parsley-range="[1000, 2014]" 
			required></div>
		<div class="m-form-line"><label for="">Number of full-time employees: *</label><input type="text" name="fte" id="fte" data-parsley-trigger="focusout" data-parsley-type="number" required></div>
	</fieldset>

	<fieldset class="m-form-half">	
		<!--*****************************************************************-BUSINESS MODELS-***************************************************************** !-->
		<h3>Business Model <br><em>(check all that apply)</em> *</h3>
		<div class="business-model-field">
			{% for model in business_models %}
				<input type="checkbox" id="{{model}}" name="businessModel" value="{{model}}" data-parsley-group="businessModel" /><label for="{{model}}">{{model}}</label><br>
			{% end %}
			<input type="checkbox" id="other_model" name="businessModel" value="Other" data-parsley-mincheck="1" data-parsley-group='businessModel' data-parsley-trigger="change" required><label for="Other">Other</label>
			<input type="text" name="otherbusinessModel" id="other_model_text_field" />
		</div>
		<br>
		<br>

		<!--*****************************************************************-REVENUE SOURCES-***************************************************************** !-->
		<h3>Which of the following are significant sources of revenue for your company? <br><em>(check all that apply)</em> *</h3>
		<div class="revenue-source-field">
			{% for source in revenueSource %}
				<input type="checkbox" id="{{source}}" name="revenueSource" value="{{source}}" data-parsley-group="revenueSource" /><label for="{{source}}">{{source}}</label><br>
			{% end %}
			<input type="checkbox" id="other_revenue" name="revenueSource" value="Other" data-parsley-mincheck="1" data-parsley-group='revenueSource' data-parsley-trigger="change" required><label for="Other">Other</label>
			<input type="text" name="otherrevenueSource" id="other_revenue_text_field" />
		</div>
		<br>
		<br>

	<!--*****************************************************************-SOCIAL IMPACT-***************************************************************** !-->
		<h3>Does your company’s mission have a direct, beneficial social impact in any of the following areas? <br><em>(check all that apply)</em> </h3>
		<div class="social-impact-field">
			{% for impact in social_impacts %}
				<input type="checkbox" id="{{impact}}" name="socialImpact" value="{{impact}}" data-parsley-group="socialImpact" /><label for="{{impact}}">{{impact}}</label><br>
			{% end %}
			<input type="checkbox" id="other_impact" name="socialImpact" value="Other" data-parsley-mincheck="1" data-parsley-group='socialImpact' data-parsley-trigger="change"><label for="Other">Other</label>
			<input type="text" name="othersocialImpact" id="other_impact_text_field" />
		</div>

	</fieldset>

	<!--*****************************************************************-CATEGORY-***************************************************************** !-->
	<fieldset class="m-form-half right">
		<h3>What category best describes your company? *</h3>
		<div class="category-field">
			{% for category in categories %}
				<input type="radio" id="{{category}}" name="companyCategory" data-parsley-group='category' value="{{ category }}"><label for="{{category}}">{{category}}</label><br>
			{% end %}
			<input type="radio" id="other_category" name="companyCategory" value="Other" data-parsley-mincheck="1" data-parsley-group='category' data-parsley-trigger="change" required><label for="Other">Other</label>
			<input type="text" id="other_category_text_field" name="othercompanyCategory" data-parsley-trigger="focus">
		</div>
	</fieldset>

	<!--*****************************************************************-DESCRIPTION-***************************************************************** !-->
	<fieldset class="m-form-half left">
		<h3>Please give us a short public statement describing your company’s mission and work. You can take this material from your website or other publications if you choose to. <br><em>[200 words or less]</em> *</h3>
		<textarea rows="10" cols="59" name="description" id="description" 
		data-parsley-trigger="keyup" 
		data-parsley-maxwords="200" 
		data-parsley-error-message="You are over the word limit."
		required></textarea><br><br>
	</fieldset>

	<!--*****************************************************************-SHORT DESCRIPTION-***************************************************************** !-->
	<fieldset class="m-form-half right">
		<h3>As a summary, please provide a one sentence description of your company. <br><em>[25 words or less]</em> *</h3>
		<textarea rows="10" cols="59" name="descriptionShort" id="descriptionShort" 
		data-parsley-trigger="keyup" 
		data-parsley-maxwords="25" 
		data-parsley-error-message="You are over the word limit." 
		required></textarea><br>
	</fieldset>

	<!--*****************************************************************-FINANCIAL INFO-***************************************************************** !-->
	<fieldset class="m-form-half">
		<h3>Please include any financial or operational information that will help us understand your company. We are interested in specific information like past and projected annual revenues, total outside investment dollars to date, and significant investors or partners. <br><em>[100 words or less]</em></h3>
		<textarea rows="10" cols="59" name="financialInfo" id="financialInfo" 
		data-parsley-trigger="keyup" 
		data-parsley-maxwords="100" 
		data-parsley-error-message="You are over the word limit."></textarea><br><br>
	</fieldset>
	{% raw xsrf_form_html() %}

	<p class="disclaimer-text warning">Your responses will become part of a public database of information on Open Data companies. By submitting this form you are agreeing that, other than personal contact information, this information will be part of a publicly available database.</p>
	<div class="saveCompanyForm-new">	
		<input type="hidden" class="companyID" name="companyID" value="">
		<input type="submit" class="m-button" id="formSave" name="formSave" value="Next">
		<span class="company-form-error-message error-message" style="display:none"></span>
	</div>
</form>



{% end %}
