{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}
<div id="roundtables">
	<div class="b-top-section m-purple">
		<div class="m-centered">
			<img src="{{ static_url("img/roundtables/uspto-logo.png") }}">
		</div>
		<h2>USPTO Roundtable</h2>
		<h3>December 8, 2014</h3>
	</div>

	<!--
	<span class="event-picture-gallery">Photos by Audrey Ariss</span>
	
	<div class="event-pictures-viewer">
		<div class="event-pictures-strip">
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-02-01.jpg") }}">
				<figcaption>
					<div>Dr. Ann Bartuska</div>
					<em>Deputy Under Secretary, USDA Research, Economics and Education</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-02-02.jpg") }}">
				<figcaption>
					<div>Cheryl Cook</div>
					<em>Chief Information Officer, USDA</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-02-03.jpg") }}">
				<figcaption>
					<div>Erie Meyer</div>
					<em>Senior Advisor to the CTO, White House OSTP</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-02-04.jpg") }}">
				<figcaption>
					<em>Tyler Dahlberg, Geospatial Solution Specialist at Azavea shares discussion highlights from breakout session 1</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-02-05.jpg") }}">
				<figcaption>
					<em>Report back from breakout session 2: Data-Driven Solutions for Food Resilience</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-02-06.jpg") }}">
				<figcaption>
					<div>Dr. Catherine Woteki</div>
					<em>Chief Scientist, USDA</em>
				</figcaption>
			</figure>
		</div>
	</div>
-->

	<div class="b-page-section">
		<div class="row">
			<div class="large-10 large-centered columns">
				<p>On December 8, 2014, The GovLab and the U.S. Patent and Trademark Office (USPTO) co-hosted an Open Data Roundtable in Washington, DC. The impetus for this event was the first Open Data Roundtable, held with the U.S.  Department of Commerce where USPTO identified a need to further engage its data users in devising its open data roadmap for the next few years. At the USPTO Roundtable, Alan Marco, USPTO’s Chief Economist, and Lynn Overmann, Deputy Chief Data Officer of the Department of Commerce (DOC), both emphasized the agency’s desire to more actively engage data users and technologists by involving the developer community and creating ongoing feedback loops and collaborations. This Roundtable was primarily focused on USPTO’s patent data, which is much more challenging than trademark data: while owners wish to promote their trademarks, and thereby provide good data to USPTO, there are many more data collection, format, and quality issues associated with patent data.</p>

<!--
		<p>Read blog posts about the event from <a href="https://www.data.gov/food/participants-open-data-roundtables-guide-usda-ways-provide-high-quality-data-users/" target="_blank">Joyce Hunter</a>, Deputy CIO and <a href="http://thegovlab.org/the-usda-open-data-roundtable-climate-change-and-food-resilience/" target="_blank">Joel Gurin</a>, The GovLab Senior Advisor.</p>
-->
			</div>
		</div>
	</div>
<!--
	<section>
		<h2 class="m-page-title">Agenda</h2>
		<p><a href="http://opendata500.thegovlab.org/files/USDA_Roundtable_Agenda.pdf" target="_blank">Agenda in PDF</a></p>
	</section>
-->

<div class="b-page-section">
	<div class="row">
		<div class="large-10 large-centered columns">
			<p><a class="b-button" href="{{ static_url("files/us/USPTO_Roundtable_Report.pdf") }}" target="_blank">Read the full report</a></p>
		</div>
	</div>
</div>
	 
<!--
	<section>
		<h2 class="m-page-title">Attendees</h2>

		<ul class="roundtable-attendees">
			<li><span>Steven Adler</span> Information Strategist IBM </li>
			<li><span>Sinam Al-Khafaji</span> Account Manager - USDA Esri</li>
			<li><span>Audrey Ariss</span> Research Assistant of the Open Data 500 The GovLab</li>
			<li><span>Dr. Ann Bartuska</span> Deputy Under Secretary USDA Research, Education and Economics </li>
			<li><span>Dr. Michael Bowers</span> National Program Leader, Director of the Agriculture and Food Research Initiative (AFRI) USDA National Institute of Food and Agriculture </li>
			<li><span>Stanley Campbell</span> Chief Executive Officer EagleForce Associates</li>
			<li><span>Deb Casurella</span> General Manager Independent Data Management LLC</li>
			<li><span>James Chan</span> Intern Sunlight Foundation</li>
			<li><span>Tina Chang</span> Acting CIO/Director of Applications, OIT/NIFA USDA National Institute of Food and Agriculture </li>
			<li><span>Cheryl Cook</span> Chief Information Officer USDA</li>
			<li><span>Tyler Dahlberg</span> Geospatial Solution Specialist Azavea </li>
			<li><span>Lori Davis</span> Vice President Mackson Consulting</li>
			<li><span>Damon Davis</span> Director of the Health Data Initiative Health and Human Services </li>
			<li><span>Dr. Kerry Dearfield</span> Chief Scientist USDA Food Safety and Inspection Service </li>
			<li><span>Katherine Garcia</span> Research Assistant of the Open Data 500 The GovLab</li>
			<li><span>Paul Gibson</span> CIO USDA Agricultural Research Service </li>
			<li><span>Marisa Gil Lapetra</span> Health Market Intelligence Portfolio Manager and Analyst Knoema</li>
			<li><span>Lewrene Glaser</span> Deputy Director for Data Management USDA Economic Research Service </li>
			<li><span>Ariel Gold </span>Program Manager, World Wide Public Sector Amazon Web Services </li>
			<li><span>Marcus Graham</span> Project Manager, Intelligent Data Pilot U.S. Department of Treasury</li>
			<li><span>Karl Gudmunds</span> ERS Branch Chief USDA Economic Research Service </li>
			<li><span>Joseph Gulisano</span> Risk Assurance Innovation Technology PricewaterhouseCoopers</li>
			<li><span>Joel Gurin</span> Project Director of the Open Data 500 The GovLab</li>
			<li><span>Katina Hanson</span> Acting Budget Officer USDA Risk Management Agency</li>
			<li><span>Joyce Hunter</span> Deputy CIO USDA Office of the CIO</li>
			<li><span>Rich Iovanna</span> Agricultural Economist USDA Farm Service Agency</li>
			<li><span>Dr. Daney Jackson</span> Ministerial Agricultural Extension Advisor USDA Foreign Agriculture Service </li>
			<li><span>Thomas Jacob</span> Analyst USDA National Agricultural Statistics Services </li>
			<li><span>Bobby Jones</span> Senior Advisor, Deputy CIO USDA Office of the CIO</li>
			<li><span>Payal Kamdar</span> President &amp; CEO VSolvit </li>
			<li><span>Ines Kapphan</span> Product Manager, Weather Data Systems The Climate Corporation </li>
			<li><span>Joe Koss</span> Branch Chief, Applications Development USDA Food and Nutrition Service </li>
			<li><span>Patrice Kunesh</span> Deputy Under Secretary USDA Rural Development</li>
			<li><span>Barbara Leach</span> Director of Risk Mitigation USDA Office of the CIO</li>
			<li><span>Marilla Li</span> Research Assistant of the Open Data 500 The GovLab</li>
			<li><span>Stephen Lowe</span> Geospatial Information Officer USDA Office of the CIO</li>
			<li><span>Laura Manley</span> Project Manager of the Open Data 500 The GovLab</li>
			<li><span>Charles Martin-Shields</span> Consultant Ushahidi</li>
			<li><span>Tawny Mata</span> AAA Fellow &amp; Advisor for Climate Change USDA Office of the Chief Scientist</li>
			<li><span>Linda McCaw</span> Program Manager Social Security Administration </li>
			<li><span>Ken Melero</span> Director of Federal Socrata</li>
			<li><span>Erie Meyer</span> Senior Advisor to the CTO White House Office of Science and Technology Policy </li>
			<li><span>David Michaud</span> Deputy CIO National Oceanic and Atmospheric Administration </li>
			<li><span>Eva Mitter</span>USDA Natural Resources Conservation Service</li>
			<li><span>David Nulph</span> GIS Analyst USDA Economic Research Service </li>
			<li><span>Ted Payne</span> GIS Office Chief USDA Farm Service Agency </li>
			<li><span>Ravoyne Payton</span> Acting Departmental FOIA Officer USDA Office of the CIO</li>
			<li><span>Jessica Powers</span> Director, National Hunger Clearinghouse WhyHunger</li>
			<li><span>Joe Pringle</span> Director of Health Socrata</li>
			<li><span>Stu Rabinowitz</span> Director Federal Markets and Channel Partners Socrata</li>
			<li><span>Morgan Robinson</span> Data Analyst The Reinvestment Fund</li>
			<li><span>David Sandler</span> Senior Emergency Response Specialist USDA Food Safety and Inspection Service </li>
			<li><span>Ron Sequeira</span> Associate Director at USDA APHIS PPQ CPHST USDA Animal and Plant Health Inspection Services </li>
			<li><span>Omar Silver</span> Program Director Dovel Technologies</li>
			<li><span>Jonathan Smith</span> Program Coordinator Land Change Science U.S. Geological Survey</li>
			<li><span>Dave Standish</span> Federal Civilian Account Manager Google</li>
			<li><span>Sheila Steffenson</span> Director of Operations vSolvIT </li>
			<li><span>Jed Sundwall</span> Open Data Business Development Manager Amazon Web Services </li>
			<li><span>Michael Valivullah</span> CTO USDA National Agricultural Statistics Services </li>
			<li><span>Jesse Vollmar</span> Co-Founder &amp; CEO FarmLogs </li>
			<li><span>Adam Welsh</span> SVP Health IT Dovel Technologies</li>
			<li><span>Curtis Wiley</span> Acting Deputy Assistant Secretary USDA Office of the Secretary</li>
			<li><span>Dr. Catherine Woteki</span> Chief Scientist USDA</li>
			
		</ul>
		<p class="invitation-disclaimer"><em>To invite attendees for this event, the GovLab contacted over 35 companies in the Open Data 500 study and several nonprofit organizations that we know to be using USDA data with a focus on food resilience. USDA chose its own representatives, high-level officials and staff who direct the Department's data programs.</em></p>
	</section>
-->

<div class="b-divider m-blue m-centered">
	<h1></h1>
	<h2>Series Sponsors</h2>
</div>

<div class="b-page-section">
	<div class="row">
		<div class="medium-5 medium-offset-1 column">
			<div id="sponsor-aws" class="m-centered"><img src="{{ static_url("img/roundtables/roundtables-sponsor-aws.png") }}"></div>
		</div>
		<div class="medium-5 medium-offset-1 column">
			<div id="sponsor-pwc" class="m-centered"><img src="{{ static_url("img/roundtables/roundtables-sponsor-pwc.png") }}"></div>
		</div>
	</div>
	<div class="row">
		<div class="large-10 large-centered columns">
			<p>The Open Data Roundtables Series is supported by Amazon Web Services and PricewaterhouseCoopers. The GovLab is currently seeking additional sponsors for the Open Data Roundtable Series and for individual Roundtable events. For more information, please contact us at <a href="mailto:opendata500@thegovlab.org">opendata500@thegovlab.org</a>.</p>
		</div>
	</div>
</div>




<!--
	<section>
		<h2 class="m-page-title">Event Supporter</h2>

		<div class="roundtables-event-sponsors">
			<div id="sponsor-dtc" class="event-sponsor-container"><img src="http://opendata500.thegovlab.org/images/socrata_logo.png"></div>
		</div>
		<p>The GovLab also thanks Socrata, the Event Sponsor for this second Roundtable, for providing refreshments, lunch, and a reception after the event.</p>
	</section>
-->
</div>
{% end %}
