{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}

<h1 class="international-header">International Studies</h1>

<div class="international-studies-intro">
	<p>The Open Data 500 international studies are a network of projects to study, facilitate, and improve the use of open government data around the world. It is maintained and coordinated by the GovLab and is based on Open Data 500 U.S. study. If you are interested in collaborating on an open data study outside of the U.S., please email us at <a href="mailto:opendata500@thegovlab.org">opendata500@thegovlab.org</a>.</p>

	<p>We are currently in the planning stages with several countries in Latin America, Europe, and Asia to conduct similar open data studies.</p>

	<div class="od-studies">
		<a href="/mx/"><h2>Open Data 100 Mexico</h2></a>
		<p><em>(Coming in October 2014)</em></p>
	</div>

	<div class="od-studies">
		<h2>Open Data 100 Australia</h2>
		<p><em>(Coming in 2015)</em></p>
	</div>

</div>

{%end%}
