

{% extends "../main.html" %}
{% autoescape None %}

{% block body %}

<br>
<br>
<br>


<h1>{{ page_heading }}</h1>
<form action="/register/" method="POST" parsley-validate>
	Username: <input type="text" name="username" parsley-trigger="change" parsley-required="true" /><br>
	Password: <input type="password" name="password" id="password" parsley-required="true"/><br>
	Confirm Password: <input type="password" name="password_confirm" parsley-equalto="#password" parsley-required="true"/><br>
	Country: <select name="country" id="country" parsley-required="true">
		<option name="country" value="" style="display:none;"></option>
		<option name="country" value="ca">Canada</option>
		<option name="country" value="us">United States</option>
	</select>
	{% raw xsrf_form_html() %}
<input type="submit" value="Register" /> </form>





{% end %}