{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}

<section class="submitDescription">
	<h1>Datos Abiertos 100 México<br>Encuesta</h1>
	<div class="survey-instructions">
		<p><strong>Para participar en el Datos Abiertos 100 México, la compañía debe:</strong></p>
		<ul>
			<li><strong>Tener su base en México</strong> (o realizar gran parte de sus operaciones en México).</li>
			<li><strong>Generar ingresos de sus productos y servicios</strong> (se aceptan organizaciones sin fines de lucro bajo la condición de que generen ingresos de manera sostenible).</li>
			<li><strong>Utilizar datos públicos gubernamentales como parte integral de su negocio</strong> (esto incluye cualquier información o estadísticas provenientes de las entidades gubernamentales).</li>
		</ul>
		<p>Si tu compañía cumple con estos criterios, te invitamos a completar esta breve encuesta en línea.  Gracias por tu participación.</p>
		<p><em>Los campos marcados con * son requeridos</em></p>
	</div>
</section>
<form method="post" id="submitCompany" class="m-form companyForm" data-parsley-validate>

	{% module Form(country, settings['default_language'], True, False) %}
	{% raw xsrf_form_html() %}

	<p class="disclaimer-text warning">Tus respuestas serán incluidas en una base de datos públicos que expone información sobre compañías que utilizan datos gubernamentales abiertos. Al enviar este formulario, estás aceptando que - con excepción de tu información de contacto personal - la información será accesible al público.</p>
	<div class="saveCompanyForm-new">	
		<input type="hidden" class="companyID" name="companyID" value="">
		<input type="submit" class="m-button" id="formSave" name="formSave" value="Siguiente">
		<span class="company-form-error-message error-message" style="display:none"></span>
	</div>
</form>



{% end %}
