{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}

<h1>Términos y Condiciones</h1>

<div class="terms-of-service">
	<h3>1. Aceptación</h3>

	<p>Los presentes “términos y condiciones” regulan el uso del sitio de datos abiertos de la Administración Pública Federal de los Estados Unidos Mexicanos.</p>
	<p>El uso del sitio <em><strong>“opendata500.com/mx/”</strong></em> o de cualquiera de sus componentes, implica la aceptación expresa de los presentes “términos y condiciones”.</p>
	<p>El Gobierno de la República hace de su conocimiento que los datos personales que, en su caso, se recolecten con motivo del uso del sitio opendata500.com/mx/ serán tratados de conformidad con la Ley Federal de Transparencia y Acceso a la Información Pública Gubernamental y demás disposiciones aplicables. Para conocer el texto completo de la leyenda de información, así como los medios para hacer efectivos sus derechos, puede consultar la sección de “Política de Privacidad y Protección de Datos” contenida en http://www.presidencia.gob.mx/politica-de-privacidad-y-manejo-de-datos-personales/</p>
	<p>Los presentes “términos y condiciones” son aplicables a todo usuario -persona física o representante legal de una persona jurídica-, que acceda, descargue, utilice, reutilice y/o redistribuya información contenida en el catálogo, directamente o a través de una aplicación informática. Los términos y condiciones vincularán a cualquier Usuario por el mero hecho de hacer uso del sitio opendata500.com/mx/.</p>
	<h3>2. Objetivo de<em> opendata500.com/mx/</em></h3>
	<p>El objeto del portal de datos abiertos es proveer un único punto de acceso al Catálogo de Datos Abiertos de la Administración Pública Federal, así como fomentar su uso, reuso y redistribución para el desarrollo de nuevos servicios y productos, sin importar si el uso que se les da es comercial o no, siempre y cuando el mismo sea lícito.</p>
	<p>Los datos abiertos son catalogados conforme son proporcionados por las Dependencias y Entidades de la Administración Pública Federal. Al catalogar un conjunto de datos se considera que están disponibles para que los usuarios los utilicen adoptando los términos de libre uso de datos abiertos, salvo en el caso de aquellos componentes que requieran alguna licencia o permiso específico para la protección de los derechos de autor.</p>
	<h3>3. Acceso y utilización del sitio <em>opendata500.com/mx/</em></h3>
	<p>Los Usuarios se obligan a hacer buen uso del sitio web <em><strong>“opendata500.com/mx/”</strong></em> y del Catálogo de Datos Abiertos y sus contenidos, respetando la normativa nacional vigente, el orden público, y comprometiéndose en todos los casos a no causar daños al sitio de opendata500.com/mx/, a las instituciones gubernamentales o a terceros que aparezcan o estén relacionados al sitio.</p>
	<p>Salvo indicación en contrario, la información contenida en el portal será considerada de carácter público. Cuando su uso o tratamiento esté sujeto a algún tipo de restricción deberá estarse a lo indicado expresamente en estos términos o la ley respectiva.</p>
	<h3>4. Obligaciones de los Usuarios</h3>
	<p>Son obligaciones de los Usuarios en general</p>
	<ul>
		<li>No dañar, inutilizar o deteriorar los sistemas informáticos de la dependencia o entidad o de terceros, ni los contenidos incorporados y/o almacenados en éstos.</li>
		<li>No modificar de ninguna manera los sistemas de la Dependencia o Entidad de la Administración Pública Federal, no utilizar versiones de sistemas modificados con el fin de obtener acceso no autorizado a cualquier sistema de información, contenido y/o servicios del sitio.</li>
		<li>No interferir ni interrumpir el acceso y utilización del sitio, servidores o redes conectados al mismo, o incumplir los requisitos, procedimientos y regulaciones de la política de conexión de redes.</li>
		<li>Utilizar la información publicada con apego a lo dispuesto por los Términos de Libre Uso.</li>
		<li>No aparentar que el uso que usted haga de los datos representa una postura oficial del Gobierno o que el mismo está avalado por la fuente de origen.</li>
		<li>Citar adecuadamente el origen de los datos que utilicen de conformidad con los criterios de cita sugeridos a continuación:<br />
		“Variedades Vegetales y Semillas” publicado por SAGARPA. Consultado en http://catalogo.datos.gob.mx/dataset/variedades-vegetales-y-semillas el 4 de julio de 2014.</li>
	</ul>
	<p>Al ingresar y hacer uso del catálogo, todo Usuario se adhiere en forma inmediata e incondicional a todos y cada uno de los términos y condiciones aquí establecidos.</p>
	<h3>5. Obligaciones de las Dependencias y Entidades</h3>
	<p>Las Dependencias y Entidades que aportan conjuntos de datos abiertos al catálogo, deberán:</p>
	<ul>
	<li>Garantizar que la información relacionada con datos personales sea sometida a procesos de disociación o anonimización previa a la publicación de datos abiertos, con el fin de que la misma no pueda ser utilizada para identificar a una persona, ya sea directa o indirectamente a través de la asociación de datos.</li>
	<li>Verificar que los datos abiertos en el sitio <strong><em>“opendata500.com/mx/”</em></strong> cumplan con la normatividad mexicana vigente en la materia.</li>
	<li>Verificar que los datos abiertos en el sitio <em><strong>“opendata500.com/mx/”</strong></em>, cumplan con las disposiciones de la Ley Federal de Transparencia y Acceso a la Información Pública Gubernamental, su reglamento y demás disposiciones aplicables en materia de protección de datos y seguridad nacional.</li>
	</ul>
	<h3>6. Disponibilidad de contenidos y servicios</h3>
	<p>La disponibilidad y acceso al sitio <strong><em>“opendata500.com/mx/”</em></strong> y a los datos o conjuntos de datos, están sujetos a que cuentes con un servicio de acceso a Internet y a que el equipo desde el que accedas cuente con las características mínimas requeridas para reproducir y ejecutar los archivos electrónicos de los conjuntos de datos publicados. No obstante, <em><strong>“opendata500.com/mx/”</strong></em> no será responsable en caso de que una dependencia o entidad en particular, decida dejar de publicar sus conjuntos de datos a través del sitio.</p>
	<h3>7. Limitación de Responsabilidad</h3>
	<p>Los datos disponibles a través de <em><strong>“opendata500.com/mx/”</strong></em> se ofrecen con carácter informativo tal cual han sido generados por la dependencia o entidad correspondiente, sin ningún tipo de garantía en cuanto a la calidad, precisión, o actualización en dicha información.</p>
	<p>La veracidad, integridad y actualidad de los contenidos publicados en el portal datos abiertos son de exclusiva responsabilidad de la dependencia o entidad que los proporciona.</p>
	<p>Ni <strong><em>“opendata500.com/mx/”</em></strong> ni la dependencia o entidad que, en su caso, provea los datos que correspondan serán responsables por los daños que el uso de su sitio o los contenidos del mismo puedan ocasionar a su equipo, información, patrimonio o persona. Al utilizar nuestro sitio o contenidos, usted exime de toda responsabilidad por los daños que el uso de nuestro sitio o contenidos le pudieran ocasionar de forma incidental o consecuente.</p>
	<h3>8. Propiedad intelectual</h3>
	<p>El uso de los contenidos, salvo en los casos establecidos en el siguiente párrafo, está sujeto a las condiciones establecidas en los Términos de Libre Uso, dejando a salvo los derechos de terceros sobre los contenidos que se contengan en los conjuntos de datos u otro contenido publicados en <strong><em>“opendata500.com/mx/”</em></strong>, en términos de la Ley Federal del Derecho de Autor, por lo que para su uso, usted deberá de obtener las autorizaciones correspondientes directamente de los titulares de los derechos.</p>
	<p>Los textos publicados en la página principal y otras subsecciones del sitio pueden estar sujetos a diferentes licencias de uso.</p>
	<p>Recomendamos verificar en cada caso la licencia que específicamente aplica al texto de que se trate a fin de que, en su caso, pueda Usted utilizarlo con apego a las condiciones establecidas en dicha licencia.</p>
	<h3>9. Uso legal del sitio y sus contenidos</h3>
	<p>Al hacer uso del sitio o de los contenidos de <strong><em>“opendata500.com/mx/”</em></strong>, acepta y se obliga a utilizarlos para fines lícitos y con apego a las disposiciones legales aplicables.</p>
	<h3>10. Modificación</h3>
	<p><em><strong>“opendata500.com/mx/”</strong></em> se reserva en todo momento el derecho de modificar los presentes términos y condiciones para el sitio <em><strong>“opendata500.com/mx/”</strong> </em>y de los Términos de Libre Uso. De la misma forma, se reserva el derecho de modificar las condiciones de los datos publicados. Le sugerimos visitar regularmente este sitio para estar al día en cuanto a los términos de uso, así como la Política de Privacidad y Protección de Datos” contenida en http://www.presidencia.gob.mx/politica-de-privacidad-y-manejo-de-datos-personales/</p>
	<h3>11. Legislación aplicable y jurisdicción</h3>
	<p>En caso de existir controversia derivada del uso del sitio <strong><em>“opendata500.com/mx/”</em></strong> o en relación con los datos, los contenidos publicados, los Términos de Libre Uso, o Leyenda de Información, Usted está de acuerdo expresamente en someterse a la jurisdicción de los Tribunales Federales en el Distrito Federal y a las leyes federales vigentes en territorio de los Estados Unidos Mexicanos.<br />
	Contacto: OD100MX@datos.gob.mx</p>
</div>



{%end%}