{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}
<div class="about-page">
<h1>About the Mexico Open Data 100</h1>

<section class="intro">
	<p>The Mexico Open Data 100, based on the U.S. Open Data 500, is the first comprehensive study of Mexican companies that use open government data to generate new business and develop new products and services. Open Data is free, public data that can be used to launch commercial and nonprofit ventures, do research, make data-driven decisions, and solve complex problems.</p>
</section>

<section id="about-goals">
	<h2 class="m-page-title">Study Goals</h2>
	<ul>
		<li>Provide a basis for assessing the economic value of government open data</li>
		<li>Encourage the development of new open data companies</li>
		<li>Foster a dialogue between government and business on how government data can be made more useful</li>
	</ul>
</section>

<section id="about-approach">
	<h1>Approach</h1>
	<p>Text for Approach</p>
</section>



<section id="about-people">
	<h1>People</h1>
	<h3>Mexico Open Data 100 Team</h3>
	<div class="m-team">
		<div id="team-joel-gurin" class="m-team-picture">
			<div>
				<img src="/static/img/joel-gurin.jpg" alt="">
				<p class="m-team-member-name">Joel Gurin</p>
				<p class="m-team-member-job">Project Director, Open Data 500, and Senior Advisor, <br>The GovLab</p>
			</div>
		</div>
		<div id="team-laura-manley" class="m-team-picture">
			<div>
				<img src="/static/img/laura-manley.jpg" alt="">
				<p class="m-team-member-name">Laura Manley</p>
				<p class="m-team-member-job">Project Manager, Open Data 500</p>
			</div>
		</div>
		<div class="m-team-bios">
			<div class="m-team-bio-joel-gurin">
				<h3>Joel Gurin</h3>
				<p>Joel Gurin is Senior Advisor at the Governance Lab at NYU, where he directs the Open Data 500, a project to study companies that use government Open Data as a key business resource (OpenData500.com). He is the author of the new book, Open Data Now, and covers the field through his website, OpenDataNow.com. He was formerly Editorial Director and then Executive Vice President of Consumers Union and Consumer Reports. From late 2009 through early 2012 Joel Gurin was Chief of the Consumer and Governmental Affairs Bureau of the Federal Communications Commission. He also served as Chair of the White House Task Force on Smart Disclosure, which studied how the federal government can help consumers by providing information on complex choices in the marketplace. He tweets <a href="https://twitter.com/joelgurin" target="_blank">@joelgurin</a>.</p>
			</div>
			<div class="m-team-bio-laura-manley">
				<h3>Laura Manley</h3>
				<p>Laura Manley is the Project Manager of the Open Data 500, the first comprehensive study of U.S. companies that use open government data to generate new business and develop new products and services. She has over 10 years of experience working with NGOs and social enterprises in the US, South Asia, Sub-Saharan Africa and South America specializing in startup strategic planning and organizational development.</p>
				<p>Laura is also the Director of Social Entrepreneurship Research at the NYU Stern School of Business and has worked with multiple development agencies including the United Nations Office of the High Commissioner for Human Rights, the National Endowment for Democracy, UNICEF, and MasterCard Foundation. She holds a Bachelors in Business Administration from the University of Massachusetts Amherst and a Masters in Public Administration from NYU Wagner focusing on international policy and entrepreneurship.</p>
			</div>
		</div>
		<div id="team-luis-daniel" class="m-team-picture">
			<div>
				<img src="/static/img/luis-daniel.jpg" alt="">
				<p class="m-team-member-name">Luis Daniel Palacios</p>
				<p class="m-team-member-job">Research Fellow and Developer</p>
			</div>
		</div>
		<div id="team-katherine-garcia" class="m-team-picture">
			<div>
				<img src="/static/img/katherine-garcia.jpg" alt="">
				<p class="m-team-member-name">Katherine Julia Garcia</p>
				<p class="m-team-member-job">Research Assistant</p>
			</div>
		</div>
		<div class="m-team-bios">
			<div class="m-team-bio-luis-daniel">
				<h3>Luis Daniel</h3>
				<p>Luis Daniel is originally from Monterrey, Mexico and is a recent graduate of the Interactive Telecommunications Program at Tisch School of the Arts in NYU. He worked as a Solomon Fellow at NYC Digital where he created and ran New York City government’s first official Spanish Twitter account, @NYCgob. During his time in graduate school, Luis focused on ways technology could help alleviate the problems Mexico faces because of the War on Drugs. In his past life, Luis worked on oil rigs in South Texas as a field engineer for an oilfield services company. He received his B.S. in Mechanical Engineering from The University of Texas at Austin.</p>
			</div>
			<div class="m-team-bio-katherine-garcia">
				<h3>Katherine Julia Garcia</h3>
				<p>Katherine Garcia earned her MPA with an emphasis in Policy Analysis from Baruch College. Prior to joining the Open Data 500 team, she served as the Press Assistant for the U.S. Mission to the United Nations. Katherine serves on the Board of Directors for the Metro NY Chapter of the U.S. National Committee for UN Women, which promotes gender equality and women's empowerment and SustainUS, a non-profit that empowers youth to advance sustainable development.</p>
			</div>
		</div>
		<div class="m-team-bios">
	</div>
</section>
<!-- <footer>
	<a class="m-button" href="#">Recommend a company</a><a class="m-button" href="http://thegovlab.org/submit-your-company">Submit Your Company</a>
</footer> -->
</div>
<div id="overlay"></div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'opendata500'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>



</div>

{% end %}