{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}

<header class="b-top-section m-purple">
    <div class="row">
        <div class="column small-12">
            <h2>Open Data 100 México</h2>
        </div>
    </div>
</header>

<div class="b-page-section">
    <div class="row">
        <div class="column small-10 small-offset-1 column">
          <section class="m-homepage-about">
              <!-- <h1>About This Project</h1> -->
              <p>As part of its <a href="http://datos.gob.mx/">Open Data policy</a>, the Federal Government of Mexico is working in partnership with The GovLab at New York University to conduct the Open Data 100 Mexico.  This is the first study of Mexican companies and NGO's that use open government data to generate new business, develop new products and services, and create social value.</p>
              <a href="/mx/about/" class="b-button m-purple">Learn More</a>
              <!-- <p class="more"><a href="/mx/about/" class="m-button">Learn More</a></p> -->
          </section>
        </div>
    </div>
</div>

<div class="b-divider">
    <h1></h1>
    <h2>Data in Action</h2>
</div>

<div class="b-page-section">
    <div class="row">
        <div class="column small-10 small-offset-1 column">
          <script src="{{ static_url("js/d3.v3.min.js") }}"></script>
          <section id="chord-chart-container">
              <iframe src="http://www.opendata500.com/mx/chart/?lan=en" width="960" height="860" marginwidth="0" marginheight="50" scrolling="no" frameborder="0"></iframe>
          </section>

        </div>
    </div>
</div>

<div class="b-divider">
    <h1></h1>
    <h2>More Information about Open Data 100 Mexico</h2>
</div>

<div class="b-page-section">
    <div class="row">
        <div class="column small-10 small-offset-1 column">
          <section id="od100-video">
              <iframe width="960" height="540" src="https://www.youtube.com/embed/ljuclmBfAQQ" frameborder="0" allowfullscreen></iframe>
          </section>
        </div>
    </div>
</div>

<div class="b-divider">
    <h1></h1>
    <h2>How to Participate</h2>
</div>

<div class="b-divider m-blue">
    <h1></h1>
    <h2>If you represent an open data company or organization, please respond Si representas una compañía u ONG que trabaja con Datos Abiertos, por favor responde la encuesta.</h2>
</div>

<div class="b-page-section">
    <div class="row">
        <div class="column small-12">
					<section class="m-homepage-participate center">
						<!-- <h1>How To Participate</h1> -->
						<div id="mx-es-survey" class="column small-5 small-offset-1 column">
							<a href="/mx/submitCompany/" id="mx-es-survey-button" class="b-button m-purple">Ir a la encuesta <i class="material-icons">arrow_forward</i></a>
						</div>
					</section>

        </div>
    </div>
</div>

<div class="b-divider m-blue">
    <h1></h1>
    <h2>Si tienes información general que quieras compartir sobre los Datos Abiertos en México, por favor envía un correo a DA100MX@datos.gob.mx.</h2>
</div>

<div class="b-page-section">
    <div class="row">
        <div class="column small-12">
					<section class="m-homepage-participate center">
						<!-- <h1>How To Participate</h1> -->
						<div id="mx-es-email" class="column small-5 small-offset-1 column">
							<a href="mailto:DA100MX@datos.gob.mx" id="mx-es-email-button" class="b-button m-purple">Envía un correo <i class="material-icons">send</i></a>
						</div>
          </section>
        </div>
    </div>
</div>

<div class="b-divider m-blue">
    <h1></h1>
    <h2>Si tienes información general que quieras compartir sobre los Datos Abiertos en México, únete a la conversación o twittea tus comentarios en #OD100MX.</h2>
</div>

<div class="b-page-section">
    <div class="row">
        <div class="column small-12">
					<section class="m-homepage-participate center">
						<!-- <h1>How To Participate</h1> -->
            <div id="mx-es-disqus" class="column small-5 small-offset-1 column">
              <a href="http://www.opendata500.com/mx/about/#disqus_thread" id="mx-es-disqus-button" class="b-button m-blue">Únete a la conversación <i class="fa fa-comment fa-2x" aria-hidden="true"></i></a>
            </div>

						<div id="mx-es-twitter" class="column small-5 small-offset-1 column">
							<a href="https://twitter.com/hashtag/od100mx" id="mx-es-twitter-button" class="b-button m-blue">Twittea tus comentarios en #OD100MX <i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
						</div>
            </div>
          </section>
      </div>
    </div>
</div>




<!-- <div class="b-page-section">
    <div class="row">
        <div class="column small-10 small-offset-1 column">
          <section class="m-homepage-participate"> -->
              <!-- <h1>How To Participate</h1> -->

              <!-- <div class="m-homepage-box">
                  <h2>1</h2>
                  <h3>If you represent an Open Data company or NGO</h3>
                  <p>Please fill out our <a href="/mx/submitCompany/">survey</a>.</p>
              </div>
              <div class="m-homepage-box">
                  <h2>2</h2>
                  <h3>If you would like to recommend an Open Data company</h3>
                  <p>Please email us at <a href="mailto:DA100MX@datos.gob.mx">DA100MX@datos.gob.mx</a>.</p>
              </div>
              <div class="m-homepage-box">
                  <h2>3</h2>
                  <h3>If you have general information to share about open data in Mexico</h3>
                  <p><a href="http://www.opendata500.com/about/#disqus_thread">Join the Conversation</a>, tweet your comments to #OD100MX, or email us at <a href="mailto:DA100MX@datos.gob.mx">DA100MX@datos.gob.mx</a>.</p>
              </div>
          </section>
        </div>
    </div>
</div> -->

<div class="b-divider">
    <h1></h1>
    <h2>More Information</h2>
</div>

<div class="b-divider m-blue">
    <h1></h1>
    <h2>Study Objectives</h2>
</div>

<div class="b-page-section">
    <div class="row">
        <div class="column small-10 small-offset-1 column">
          <ul>
            <li>Provide a basis for assessing the economic and social value of open government data</li>
            <li>Stimulate the development of new companies working with Open Data</li>
            <li>Facilitate dialogue between the government and the private sector on how to improve the usefulness of open government data</li>
          </ul>
        </div>
    </div>
</div>

<div class="b-divider m-blue">
    <h1></h1>
    <h2>Strategy</h2>
</div>

<div class="b-page-section">
    <div class="row">
        <div class="column small-5small-offset-1 column">
          <p>The publishing process of government public data as Open Data is a process of gradual change. Therefore, this study will seek companies / organizations from various sectors, small, medium and large, for-profit, nonprofit, or governmental which use public data as an integral part of their business.</p>
        </div>
        <div class="column small-5 small-offset-1 column">
          <p>This includes any information or statistics from government agencies. While most companies exhibited at the initiative of Open Data 100 Mexico working with federal open data, we also have interest in companies that work with state or municipal data, on the understanding that the management of their data can be expanded to regional or national level.</p>
        </div>
    </div>
</div>

<div class="b-divider m-blue">
    <h1></h1>
    <h2>Company Identification</h2>
</div>

<div class="b-page-section">
    <div class="row">
        <div class="column small-5 small-offset-1 column">
          <p>The team collected data Mexico Open 100 list of 100 companies and NGOs through:
            <ol>
              <li>communication campaigns</li>
              <li>recommendations of experts and professional organizations</li>
              <li>further investigation</li>
            </ol>
          </p>
        </div>
        <div class="column small-5 small-offset-1 column">
          <p>The results of the study will culminate in an online platform at <a href="http://www.opendata500.com/mx">www.opendata500.com/mx</a>, where various companies and their work with open government data in Mexico will be highlighted.</p>
        </div>
    </div>
</div>


<div class="b-divider m-blue">
    <h1></h1>
    <h2>What the Study is Not</h2>
</div>

<div class="b-page-section">
    <div class="row">
        <div class="column small-10 small-offset-1 column">
          <p>Open Data 100 Mexico is not a ranking of the companies in terms of quality or performance. It covers companies and entities of different sizes and categories, using various kinds of data. The Open Data 100 Mexico is not a competition, but an attempt to give a broad, inclusive view of the field. The study also does not provide a random sample for definitive statistical analysis. Since this is the first thorough scan of companies and entities in the field, it is not yet possible to determine the exact landscape of open data companies and entities.</p>

        </div>
    </div>
</div>

<div class="b-divider m-blue">
    <h1></h1>
    <h2></h2>
</div>

<div class="b-page-section">
    <div class="row">
        <div class="column small-10 small-offset-1 column">

        </div>
    </div>
</div>

















<!-- <div class="m-homepage"> -->
<!--     <div class="m-country-flag s-mx">
        <img src="{{ static_url("img/mexico-flag.png") }}" alt="">
    </div> -->
    <!-- <h1 class="first-title">Open Data 100 Mexico</h1>
    <section id="od100-video">
        <iframe width="960" height="540" src="https://www.youtube.com/embed/ljuclmBfAQQ" frameborder="0" allowfullscreen></iframe>
    </section>

    <script src="{{ static_url("js/d3.v3.min.js") }}"></script>
    <section id="chord-chart-container">
        <iframe src="http://www.opendata500.com/mx/chart/?lan=en" width="960" height="860" marginwidth="0" marginheight="50" scrolling="no" frameborder="0"></iframe>
        <div class="embed-chart-info">
            <span id="embed-chart-trigger" class="expand-trigger">Embed Chart</span>
            <div class="embed-chart-info-content">
                <p>To embed this chart on your website, just copy and paste this code onto your page:</p>
                <textarea class="embed-code" readonly="readonly">
                    <iframe src="http://www.opendata500.com/mx/chart/?lan=en" width="960" height="860" marginwidth="0" marginheight="50" scrolling="no" frameborder="0"></iframe>
                </textarea>
            </div>
        </div>
    </section>

    <section class="m-homepage-about">
        <h1>About This Project</h1>
        <p class="intro">As part of its <a href="http://datos.gob.mx/">Open Data policy</a>, the Federal Government of Mexico is working in partnership with The GovLab at New York University to conduct the Open Data 100 Mexico.  This is the first study of Mexican companies and NGO's that use open government data to generate new business, develop new products and services, and create social value.</p>
        <p class="more"><a href="/mx/about/" class="m-button">Learn More</a></p>
    </section> -->

    <!-- <section class="m-homepage-participate">
        <h1>How To Participate</h1>
        <div class="m-homepage-box">
            <h2>1</h2>
            <h3>If you represent an Open Data company or NGO</h3>
            <p>Please fill out our <a href="/mx/submitCompany/">survey</a>.</p>
        </div>
        <div class="m-homepage-box">
            <h2>2</h2>
            <h3>If you would like to recommend an Open Data company</h3>
            <p>Please email us at <a href="mailto:DA100MX@datos.gob.mx">DA100MX@datos.gob.mx</a>.</p>
        </div>
        <div class="m-homepage-box">
            <h2>3</h2>
            <h3>If you have general information to share about open data in Mexico</h3>
            <p><a href="http://www.opendata500.com/about/#disqus_thread">Join the Conversation</a>, tweet your comments to #OD100MX, or email us at <a href="mailto:DA100MX@datos.gob.mx">DA100MX@datos.gob.mx</a>.</p>
        </div>
    </section>
</div> -->


<script>
    $('#mc_embed_signup').removeClass('s-disabled').delay(5000).addClass('s-disabled');
</script>
{% end %}
