{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}
<div class="resources-page">
	<h1>Open Data Resources</h1>
	
	<section id="resources-press" class="m-press">
		<h2>Press, Media and Blogs</h2>

	</section>

	<section id="resources-blog" class="resource-panel">
		<a class="resource-logo" href='http://thegovlab.org/blog/' target="_blank"><img src='{{ static_url("img/govlabblog-logo.png") }}'></a>
		<p>The Governance Lab (The GovLab) at New York University strives to improve people’s lives by changing how we govern. Founded in 2012, with funding from the MacArthur and Knight Foundations, the GovLab designs technology, policy and strategies for fostering more open and collaborative approaches to governance, and tests what works.</p>
		
		<ul>
			<li><a href="http://thegovlab.org/beth-noveck-open-datas-real-value-lies-in-getting-citizens-to-collaborate/" target="_blank">Beth Noveck: ‘Open data’s real value lies in getting citizens to collaborate’</a></li>
			<li><a href="http://thegovlab.org/a-global-week-for-open-data/" target="_blank">A Global Week for Open Data</a></li>
			<li><a href="http://thegovlab.org/now-live-blog-from-open-data-summit/" target="_blank">NOW: Live-Blog from Open Data Institute Summit</a></li>
			<li><a href="http://thegovlab.org/a-chance-to-help-shape-the-global-open-data-movement/" target="_blank">A chance to help shape the global Open Data movement</a></li>
			<li><a href="http://thegovlab.org/govlab-selected-readings-on-open-data/" target="_blank">The GovLab Selected Readings on Open Data</a></li>
		</ul>
		<ul>
			<li><a href="http://thegovlab.org/the-govlabs-open-governance-twitter-lists/" target="_blank">The GovLab’s Open Governance Twitter Lists</a></li> 
			<li><a href="http://thegovlab.org/whats-the-value-of-open-data/" target="_blank">What’s The Value of Open Data?</a></li>
			<li><a href="http://thegovlab.org/data-transparency-2013-an-open-data-benchmark/" target="_blank">Data Transparency 2013: An Open Data Benchmark</a></li>
			<li><a href="http://thegovlab.org/understanding-open-data-with-joel-gurin/" target="_blank">Understanding Open Data with Joel Gurin</a></li>
			<li><a href="http://thegovlab.org/re-imagining-how-we-provide-and-govern-health-care-using-open-data/" target="_blank">Re-imagining How We Provide and Govern Health Care Using Open Data</a></li>
		</ul>
	</section>

	<section id="resources-academy" class="resource-panel">
		<a class="resource-logo" href='http://www.thegovlabacademy.org/data/opendata/' target="_blank"><img src='{{ static_url("img/govlabacademy-logo.png") }}'></a>
		<p>The GovLab Academy is an online training community that uses technology and innovation to tackle public problems. A partnership between The GovLab and MIT Media Lab’s Online Learning Initiative, the site offers videos, podcasts, readings and activities designed to enable the purpose-driven learner to deepen his or her practical knowledge.</p>
	</section>

</div>

{% end %}



