{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}



<br>
<br>
<br>
<br>
<br>
<h2>{{ page_heading }}</h2>


<form method="post" id="newCompany" class="m-form" data-parsley-validate>

	{% module Form(country, settings['default_language'], False, False) %}

	<h2 class="data-section">Data Use and Source Information </h2>	
	<!--*****************************************************************-EXAMPLE USES-***************************************************************** !-->
	<fieldset class="m-form-half">
		<h3>Provide any specific examples of how your company uses open data.<br> <em>[200 words or less]</em></h3>
		<textarea rows="10" cols="59" name="exampleUses" id="exampleUses" 
		data-parsley-trigger="keyup" 
		data-parsley-maxwords="200" 
		data-parsley-error-message="You are over the word limit."></textarea><br>

		<!--*****************************************************************-DATA TYPES-***************************************************************** !-->
		<h3>What types of data does your company use? <br><em>(check all that apply)</em></h3>
		<div class="data-type-field">
			{% for data_type in data_types %}
				<input type="checkbox" id="{{data_type}}_data_type" name="dataTypes" value="{{data_type}}" data-parsley-group="dataTypes" /><label for="{{data_type}}_data_type">{{data_type}}</label><br>
			{% end %}
			<input type="checkbox" id="other_data_type" name="dataTypes" value="Other" data-parsley-mincheck="1" data-parsley-group='dataTypes' data-parsley-trigger="change"><label for="Other">Other</label>
			<input type="text" name="otherDataType" id="other_data_type_text_field" />
		</div>
	</fieldset>

	<!--*****************************************************************-DATA SOURCES-***************************************************************** !-->
	<fieldset class="m-form-half right">
		<h3>From approximately how many sources (i.e. agencies, subagencies, local and state governments) does your company use data? *</h3>
		<div class="source-count-buttons">
			{% for count in source_count %}
				<input type="radio" name="sourceCount" id="{{count}}" value="{{count}}"><label for="{{count}}">{{count}}</label><br>
			{%end %}
		</div>
		<br>

		<h3>What impact does open data use have on your company? <em>(check all that apply)*</em></h3>
		<div class="data-impacts-field">
			{% for impact in data_impacts %}
				<input type="checkbox" id="{{impact}}_data_impacts" name="dataImpacts" value="{{impact}}" data-parsley-group="dataImpacts" /><label for="{{impact}}_data_impacts">{{impact}}</label><br>
			{% end%}
			<input type="checkbox" id="other_data_impacts" name="dataImpacts" value="Other" data-parsley-mincheck="1" data-parsley-group='dataImpacts' data-parsley-trigger="change" ><label for="Other">Other</label>
			<input type="text" name="otherDataImpact" id="other_data_impacts_text_field" />
		</div>
	</fieldset>


	{% raw xsrf_form_html() %}
	<input type="hidden" name="submittedThroughWebsite" value="False">
	<input type="hidden" name="vettedByCompany" value="False">
	<input type="hidden" name="submittedSurvey" value="False">
	<input type="submit" class="m-button" value="Add Company"><span class="company-form-error-message error-message" style="display:none"></span>
</form>


<script>

$(document).ready( function() {
	//--*****************************************************************-VALIDATE & SUBMIT COMPANY FORM-*****************************************************************--//
    var _xsrf = $("[name='_xsrf']").val();
    var country = $('[name="country"]').attr('id');
    var error_message = $('.company-form-error-message');
    var companyName = $("#companyName").parsley()
        .addAsyncValidator('validateName', function(xhr) {
            window.ParsleyUI.removeError(companyName, 'name-exists');
            if (xhr.status === 404) {
                window.ParsleyUI.addError(companyName, 'name-exists', "This company has already been submitted. Please contact opendata500@thegovlab.org if you have any questions.");
            }
            return xhr.status === 200;
        }, '/validate/?country=' + country + '&_xsrf=' + _xsrf);
    $("#newCompany").parsley();

    $("#newCompany").submit(function(event) {
        $(this).parsley("validate");
        if ($(this).parsley("isValid")) {
            var data = $('#newCompany').serializeArray();
            $.ajax({
                type: 'POST',
                url: '/admin/company-add/',
                data: data,
                error: function(error) {
                    console.debug(JSON.stringify(error));
                    error_message.text('Oops... Something went wrong :/').show().delay(5000).fadeOut();
                },
                beforeSend: function(xhr, settings) {
                    error_message.text('Saving...').show().delay(5000).fadeOut();
                },
                success: function(response) {
                	if (response == 'success') {
                    	document.location.href = '/admin/companies/';
                	} else {
	                	error_message.text('Oops... Something went wrong :/').show().delay(5000).fadeOut();
	                	console.log(response);
                	}
                }
            });
        } else {
            error_message.text('You still need to fix some items.').show().delay(5000).fadeOut();
        }
        event.preventDefault();
    });
});
</script>

{% end %}



