{% extends "main.html" %}
{% autoescape None %}

{% block body %}
<div class="about-page">
<h1>About the Open Data 500</h1>

<ul class="about-page-toc">
	<li><h4>Table of Contents</h4></li>
	<li><a href="#about-conducting-study">Who is Conducting the Study?</a></li>
	<li><a href="#about-eligibility">Eligibility</a></li>
	<li><a href="#about-how-to-contribute">How People Can Participate</a></li>
	<li><a href="#about-goals">Goals</a></li>
	<li><a href="#survey-structure">Survey Structure</a></li>
	<li><a href="#about-identify">How are Companies Being Identified?</a></li>
	<li><a href="#about-vetted">How are Companies Being Vetted?</a></li>
	<li><a href="#about-publishing">Publishing Results</a></li>
	<li><a href="#about-results">How Will the Results be Used?</a></li>
	<li><a href="#about-next-steps">Next Steps</a></li>
	<li><a href="#about-people">People</a></li>
</ul>

<section class="intro">
	<p>The Open Data 500 is the first comprehensive study of U.S. companies using open government data to develop new products and services. The study will identify, describe, and analyze companies that use open government data in their businesses. The Open Data 500 is designed to provide a basis for assessing the value of government data; help encourage the development of new open data companies; and foster a dialogue between government and business on how government data can be made more useful.</p>
</section>

<section id="about-conducting-study">
	<h2 class="m-page-title">Who is Conducting the Study?</h2>
	<p>The Open Data 500 study is being conducted by the GovLab at New York University with funding from the Knight Foundation. The GovLab works to improve people’s lives by changing how we govern. Toward that end the GovLab brings together thinkers and doers who design, implement, and study technology-enabled solutions that advance a collaborative, networked approach to reinvent institutions of governance. It is an action-research center leading an interdisciplinary and global research network. The GovLab operates on the hypothesis that 21st century citizen engagement can make governance more effective and legitimate. As part of its mission, the GovLab studies how institutions can publish the data they collect as open data so that citizens can analyze and use this information to detect and solve problems.</p>
	<p>In addition to the Open Data 500, several other efforts are under way to describe and understand how civil society and the private sector can use government open data. The GovLab is coordinating work on the Open Data 500 with the World Wide Web Foundation, the Open Data Institute, the McKinsey Global Institute, and others doing important work in this field.</p>
</section>

<section id="about-eligibility">
	<div class="m-half">
		<h2 class="m-page-title">Eligibility</h2>
		<p>To qualify for the Open Data 500, a company must:</p>
		<ul>
			<li>Be U.S.-based – which can include international companies with a major presence in the U.S.</li>
			<li>Earn revenue from its products and services. In addition to for-profit companies, nonprofits may qualify if they support themselves primarily through sales of products and services rather than philanthropy.</li>
			<li>Use open government data as a critical resource for its business. <i>(While most Open Data 500 companies will work with federal data, the study will also include some that use city or state data if their work can scale regionally or nationally)</i></li>
		</ul>
	</div>

	<div class="m-half" id="about-how-to-contribute">
		<h2 class="m-page-title">How People Can Participate</h2> 
		<ol>
			<li><p><strong>If you represent an Open Data company:</strong> Please fill out our <a href="/submitCompany/">survey</a> to tell us about your company, the data you use, your goals, and your operations. You can check to see if your company is already listed as a Candidate Company, and whether it has submitted the survey or not.</p></li>
			<li><p><strong>If you have information about a Candidate Company:</strong> please use the Comment button for that company to tell us about it, or email us at <a href="mailto:opendata500@thegovlab.org">opendata500@thegovlab.org.</a></p></li>
			<li><p><strong>If you have general information to share</strong> – such as recommending a company or giving us other information – please <a href="/about/#disqus_thread">Join the Conversation</a>, tweet your comments to #OD500, or email us at <a href="mailto:opendata500@thegovlab.org">opendata500@thegovlab.org.</a></p></li>
		</ol>
	</div>
</section>
<!-- <section>
	<h2 class="m-page-title">Goals</h2>
	<p>The Open Data 500 will map the open data ecosystem, particularly as it applies to the private sector, and will address how to make government open data more useful in ways that can help create new products and services for the public. It will identify areas of opportunity where open data can be useful and will help guide and prioritize efforts to make more federal data available in open, usable formats. By assessing which specific government datasets are proving most useful and which are most problematic, it will set the stage for dialogue between federal data-holders and data users, to make government open data more effective for the public good.</p>
	<p>Over the last several years, the U.S. and UK governments, the European Union, several American cities and states, and more than 50 countries through the Open Government Partnership have developed programs to release open government data for use by the public, nonprofit organizations, and the private sector. The hope is that open government data will be a public good that can help improve health care, financial services, energy, education, and other more.  However, little is known about exactly how the data is being used and by whom, and what impact it has had.</p>
	<p>In May 2013 the Obama Administration announced a new Open Data Policy that mandates the release of most federal data as usable open data going forward. While this is a major step, it will not be possible to make the more than ten thousand federal datasets easily accessible overnight. For the new Open Data Policy to succeed – an effort that can have great public benefit – we need to know whether and when the value of federal data is worth the cost and effort of making it open.</p>
	<p>The Open Data 500 will provide the first comprehensive census of American companies using federal data and the results of a survey showing what datasets they are using and how. The study will be large enough to lay the groundwork for further analysis of the economic value of open data. The survey also asks companies to identify datasets that they believe should be released in more usable formats, that need quality improvement, or that can be made more useful in other ways.  That structured feedback will help federal agencies begin a dialogue with data users about data availability, usefulness, and quality.</p>
</section> -->

<section id="about-goals">
	<h2 class="m-page-title">Goals</h2>
	<p>Our goal is to (1) provide a basis for assessing the value of open government data; (2) help encourage the development of new open data companies; and (3) foster a dialogue between government and business on how government data can be made more useful.</p>
	<p>We’ve compiled the initial list of 500 companies through our own research, advice from experts, professional organizations, and other sources. In the spirit of Open Data, we’re releasing this working list now for public comment and input. You can use comment buttons to give us feedback on individual companies or join the bigger conversation about Open Data and economic growth here.</p>
	<p>The information we collect is available as Open Data itself so that policymakers, economists, and anyone else can download and analyze it. Here’s what we’ve learned so far:</p>
	<ul>
		<li>Economic value: Open Data is a new and emerging resource that is generating new businesses across the U.S.</li>
		<li>Covering many sectors: These Open Data companies are building economic value in many parts of the economy, including health, energy, transportation, finance, and others.</li>
		<li>Large and small, old and new: Our sample includes startups and established companies, ranging in size from one-person operations to companies with thousands of employees.</li>
		<li>Many ways to succeed: These companies are using a range of business models, including advertising, revenue from sales of services, and others.</li>
		<li>Making government data work better: Open Data companies use state, city, and many kinds of federal data – and their experience ranges from excellent to frustrating.  Companies are giving us candid feedback on their experience with government data, which we plan to use to start a new dialogue between data suppliers and data users.</li>
		<li>We are currently exploring options to replicate this study in other countries. If you are interested in collaborating on a similar project, please email us at <a href="mailto:opendata500@thegovlab.org">opendata500@thegovlab.org</a></li>
	</ul>
</section>

<section id="survey-structure">
	<h2 class="m-page-title">Survey Structure</h2>
	<div class="m-half">
		<p>The Open Data 500 survey combines highly structured and open-ended questions. The structured questions ask companies about:</p>
		<ul>
			<li>Basic company information: CEO, date founded, number of employees</li>
			<li>Type of company (public/private/nonprofit)</li>
			<li>Function of company (e.g. data management, investment services, etc.)</li>
			<li>Sector the company operates in (agriculture, health care, etc.)</li>
			<li>Sources of revenue</li>
			<li>Sources of data – general (federal, state, private data)</li>
			<li>Sources of data – specific datasets used and evaluation of their usefulness</li>
		</ul>
	</div>
	<div class="m-half">
		<p>The open-ended questions ask companies to describe:</p>
		<ul>
			<li>Their mission and work</li>
			<li>Their finances and operations</li>
			<li>The nature and scope of their impact</li>
			<li>Additional datasets they would like to use</li>
			<li>Recommendations for other companies of interest</li>
			<li>Recommendations for events, conferences, and resources on uses of open data</li>
		</ul>
	</div>
</section>

<section id="about-identify">
	<h2 class="m-page-title">How are Companies Being Identified?</h2>
	<p>The GovLab has developed a comprehensive call, leveraging our network to start mapping the universe of companies for the Open Data 500. Once identified and vetted for inclusion in the current sample, potential participants receive a standard invitation to fill out the survey, followed by emails and phone outreach to encourage their participation as needed. The following sources, among others, have been used to identify our universe of 500 companies:</p>
	<ul>
		<li>Recommendations from government and non-governmental organizations studying this field. </li>
		<li>List of companies using datasets from Data.gov, the federal hub for government data</li>
		<li>Online Open Data Userbase created by Socrata</li>
		<li>Directory of open data companies developed by Deloitte</li>
		<li>Mass email to 3100 people in the GovLab network</li>
		<li>Mass email to 2200 people on contact list for OpenDataNow.com, website of Open Data 500 project director Joel Gurin</li>
		<li>Companies identified in research for upcoming book, <i>Open Data Now</i></li>
		<li>Response to coverage of the Open Data 500 in <i>Information Week</i> and <i>FedScoop</i></li>
		<li>Outreach through Twitter</li>
		<li>Outreach at “Data Transparency 2013” conference (September 2013, Washington, DC)</li>
		<li>Blog posts on TheGovLab.org and OpenDataNow.com</li>
	</ul>
</section>

<section id="about-vetted">
	<h2 class="m-page-title">How are Companies Being Vetted?</h2>
	<p>The GovLab is doing follow-up with each company as needed to ensure that all survey questions are answered fully, specifically, and accurately. The survey ultimately relies on companies’ self-reporting: Only the company executives themselves know which government datasets they are using and in what ways. However, there’s no clear incentive for companies to lie about their use of specific datasets, and the fact that their responses will be made public is an incentive to be honest.</p>
</section>
<section id="about-publishing">
	<h2 class="m-page-title">Publishing Results</h2>
	<p>The Open Data 500 project will produce a comprehensive information base that will help assess the value of open government data, identify key areas of opportunity, and accelerate efforts to improve the quality and usability of government data. The results of the project will be published in an open, searchable, sortable database. This database, available online at an Open Data 500 microsite, will allow users to:</p>
	<ul>
		<li>Research these companies by sector, size (number of employees),  or other variables</li>
		<li>Learn what federal datasets are being used by these companies, how useful they are, and how they could be made more useful</li>
		<li>Use visualizations that show which datasets each company uses, and which companies use each dataset</li>
		<li>Recommend additions or changes to the Open Data 500 to keep this a “living list” that evolves over time</li>
		<li>Recommend areas for future research</li>
		<li>Download survey data for further analysis</li>
	</ul>
</section>

<section id="about-results">
	<h2 class="m-page-title">How Will the Results be Used?</h2>
	<p>As the first comprehensive study of the commercial use of open government data, the Open Data 500 will be an important benchmark for future efforts to evaluate the economic potential of open data. The study will also be a starting point for dialogue between data-holders and data users to help make government open data more useful.</p>
	<p>The Open Data 500 will not rate or rank companies. It will cover companies of different sizes, in different sectors, using different kinds of data. Since these companies may also have different metrics for success, any attempt to identify the “best” companies in the Open Data 500 would likely be meaningless. The Open Data 500 is not a competition, but an attempt to give a broad, inclusive view of the field.</p>
	<p>It’s also important to note that the Open Data 500 study is not meant to provide information for definitive statistical analysis. For example, if 20 percent of the Open Data 500 companies turn out to be health-care related, that does not mean that 20 percent of all companies using federal open data are in the health-care sector. Since this is the first thorough scan of companies in the field, it is not yet possible to design a study that will allow this kind of statistical analysis. The results of this first Open Data 500 study, together with complementary work by others studying this area, should lead to more refined, representative, and statistically valid research on the use of open data in the future.</p>
	<p>All information collected by the Open Data 500 study will itself by available as open data. (While the survey allows companies to request confidentiality for some of their responses, none of the companies in the first wave of responses made that request.) The GovLab will encourage social science researchers, economists, and others interested in the open data ecosystem to use survey results for further research and analysis.</p>
</section>

<section id="about-next-steps">
	<h2 class="m-page-title">Next Steps</h2>
	<p>This Open Data 500 study is meant to be the beginning of a research project, not its final conclusion. It may be updated online, repeated annually, and expanded by the GovLab and others. Future opportunities include replicating the Open Data 500 in the UK and other countries, and holding workshops or conferences that take the results of the Open Data 500 and the issues it addresses to a wider audience.</p>
	<p>At the GovLab, we believe that the value of government Open Data goes well beyond its commercial use. We hope to develop future projects on the impact of Open Data through nonprofit organizations, foundations, civil society organizations, and others. In particular, we have begun to gather examples of nonprofits using government open data and may develop that list in a future study.</p>
</section>


<section id="about-people">
	<h2 class="m-page-title">People</h2>
	<strong>The GovLab - Open Data 500 Team</strong>
	<ul>
		<li><a href="http://thegovlab.org/about/team/beth-simone-noveck/">Beth Simone Noveck</a>, Founder &amp; Director, The GovLab </li>
		<li><a href="http://thegovlab.org/about/team/stefaan-verhulst/">Stefaan Verhulst</a>, Co-Founder &amp; Chief of Research and Development, The GovLab </li>
		<li><a href="http://thegovlab.org/about/team/joel-gurin/">Joel Gurin</a>, Project Director, Open Data 500, and Senior Advisor, the GovLab</li>
		<li><a href="http://thegovlab.org/about/team/laura-manley/">Laura Manley</a>, Project Manager</li>
		<li>Claudio Mendonca, Designer</li>
		<li><a href="http://thegovlab.org/about/team/luis-daniel/">Luis Daniel Palacios</a>, Developer</li>
		<li><a href="http://thegovlab.org/about/team/mehan-jayasuriya/">Mehan Jayasuriya</a>, Developer</li>
		<li>Marilla Li, Research Assistant</li>
		<li>Marc Krokowski, Research Assistant</li>
	</ul>

	<strong>Expert Advisors:</strong>
	<ul>
		<li>Jose Alonso, World Wide Web Foundation</li>
		<li>Paul Baker, Webitects/Open Data Institute (Chicago)</li>
		<li>Michael Chui, McKinsey Global Institute</li>
		<li>Hania Farhan, World Wide Web Foundation</li>
		<li>Juliana Freire, New York University</li>
		<li>Daniel Goroff, Alfred P. Sloan Foundation</li>
		<li>Jim Hendler, Rensselaer Polytechnic Institute</li>
		<li>Hudson Hollister, Data Transparency Coalition</li>
		<li>Harvey Lewis, Deloitte</li>
		<li>Bill McGee, Author, Attention All Passengers</li>
		<li>Theresa Pardo, Center for Technology in Government</li>
		<li>Lee Rainie, Pew Research Center</li>
		<li>Gavin Starks, Open Data Institute (London) </li>
		<li>Danne Woo, Datavisual, Inc</li>
	</ul>
</section>



<!-- <footer>
	<a class="m-button" href="#">Recommend a company</a><a class="m-button" href="http://thegovlab.org/submit-your-company">Submit Your Company</a>
</footer> -->
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'opendata500'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>



</div>

{% end %}