{% extends "main.html" %}
{% autoescape None %}

{% block body %}
<div class="about-page">
<h1>About the Open Data 500</h1>

<ul class="about-page-toc">
	<li><h4>Table of Contents</h4></li>
	<li><a href="#about-goals">Study Goals</a></li>
	<li><a href="#about-govlab-approach">The Govlab’s Approach</a></li>
	<li><a href="#about-eligibility">Eligibility</a></li>
	<li><a href="#about-how-to-contribute">How to Participate</a></li>
	<li><a href="#about-identify">Company Identification</a></li>
	<li><a href="#about-vetted">Company Vetting Process</a></li>
	<li><a href="#about-publishing">Publishing Results</a></li>
	<li><a href="#about-what-study-is-not">What The Study Is Not</a></li>
	<li><a href="#about-results">Preliminary Findings</a></li>
	<li><a href="#about-next-steps">Next Steps</a></li>
	<li><a href="#about-people">People</a></li>
</ul>

<section class="intro">
	<p>The Open Data 500 is the first comprehensive study of U.S. companies that use open government data to generate new business and develop new products and services.</p>
</section>

<section id="about-goals">
	<h2 class="m-page-title">Study Goals</h2>
	<ul>
		<li>Provide a basis for assessing the economic value of government data</li>
		<li>Encourage the development of new open data companies</li>
		<li>Foster a dialogue between government and business on how government data can be made more useful</li>
	</ul>
</section>

<section id="about-govlab-approach">
	<h2 class="m-page-title">The Govlab’s Approach</h2>
	<p>The Open Data 500 study is being conducted by the GovLab at New York University with funding from the Knight Foundation. The GovLab works to improve people’s lives by changing how we govern, using technology-enabled solutions and a collaborative, networked approach. As part of its mission, the GovLab studies how institutions can publish the data they collect as open data so that businesses, organizations, and citizens can analyze and use this information.</p>
	<p>The GovLab is an action-research center leading an interdisciplinary and global research network. It is coordinating work on the Open Data 500 with the World Wide Web Foundation, the Open Data Institute, the McKinsey Global Institute, and others doing important work in this field.</p>
</section>

<section id="about-eligibility" class="m-half">
	<h2 class="m-page-title">Eligibility</h2>
	<p>To qualify for the Open Data 500, a company must:</p>
	<ul>
		<li>Be U.S.-based – which can include international companies with a major presence in the U.S.</li>
		<li>Earn revenue from its products and services. In addition to for-profit companies, nonprofits may qualify if they support themselves primarily through sales of products and services rather than philanthropy.</li>
		<li>Use open government data as a critical resource for its business. <em>(While most Open Data 500 companies work with federal data, the study also includes some that use city or state data in a way that can scale regionally or nationally)</em></li>
	</ul>
</section>
<section class="m-half" id="about-how-to-contribute">
	<h2 class="m-page-title">How to Participate</h2>
	<ol>
		<li>If you represent an Open Data company: If your company is not already on our list, please fill out our survey to tell us about your your work and the data you use.</li>
		<li>If you have information about a company on our list: please use the Comment button for that company to tell us about it, or email us  at <a href="mailto:opendata500@thegovlab.org">opendata500@thegovlab.org</a>.</li>
		<li>If you have general information to share: Join the Conversation, tweet your comments to #OD500, or email us at <a href="mailto:opendata500@thegovlab.org">opendata500@thegovlab.org</a>.</li>
	</ol>
	<p>We are currently exploring options to replicate this study in other countries. If you are interested in collaborating on a similar project, please email us at <a href="mailto:opendata500@thegovlab.org">opendata500@thegovlab.org</a></p>
</section>
<section id="about-identify">
	<h2 class="m-page-title">Company Identification</h2>
	<p>The Open Data 500 team has compiled the working list of 500 companies through (1) outreach campaigns, (2) advice from experts and professional organizations, and (3) additional research. In the spirit of Open Data, we are releasing this working list for public comment and input. Recommend a company by emailing opendata500@thegovlab.org  or use the comment feature on each company page to give feedback. The following sources, among others, are being used to create our working list of companies:</p>
	<ul>
		<li class="list-title"><h3>Outreach Campaign</h3></li>
		<li>Mass email to over 3,000 contacts in the GovLab network</li>
		<li>Mass email to over 2,000 contacts OpenDataNow.com</li>
		<li>Blog posts on TheGovLab.org and OpenDataNow.com</li>
		<li>Social media recommendations </li>
		<li>Media coverage of the Open Data 500 </li>
		<li>Attending presentations and conferences</li>
		<li class="list-title"><h3>Expert Advice</h3></li>
		<li>Recommendations from government and non-governmental organizations </li>
		<li>Guidance and feedback from Open Data 500 advisors</li>
		<li class="list-title"><h3>Research</h3></li>
		<li>Companies identified for the book, Open Data Now</li>
		<li>Companies using datasets from Data.gov</li>
		<li>Directory of open data companies developed by Deloitte</li>
		<li>Online Open Data Userbase created by Socrata</li>
	</ul>
</section>
<section>
	<div id="about-vetted" class="m-half">
		<h2 class="m-page-title">Company Vetting Process</h2>
		<ol>
			<li>Once a company is identified from other sources or a company chooses to submit its survey, the Open Data 500 team reviews the company for eligibility. Companies that do not meet the study eligibility criteria are recorded for potential further studies and/or collaboration.</li>
			<li>If the company meets the Open Data 500 criteria, they receive an invitation to fill out the survey if they have not already submitted it.</li>
			<li>The Open Data 500 team follows up with the company via email and phone outreach to ensure all survey questions are answered fully, specifically, and accurately. Non-responsive companies may be included on the list using information from publicly available sources.</li>
		</ol>
	</div>
	<div id="about-publishing" class="m-half">
		<h2 class="m-page-title">Publishing Results</h2>
		<p>The results of the study will be published in an open, searchable, sortable database. [Note: While the information we have collected so far is already downloadable, we are currently in the pre-launch phase and have not finalized our results yet]. The finalized database will allow users to:</p>
		<ul>
			<li>Search companies by category,  number of employees, and/or other variables</li>
			<li>View data visualizations that show company open data usage </li>
			<li>Download survey data for further analysis</li>
			<li>Recommend changes to the Open Data 500 to keep it as current as possible</li>
		</ul>
	</div>	
</section>


<section id="about-what-study-is-not">
	<div class="m-half">
		<h2 class="m-page-title">What The Study Is Not</h2>
		<p>The Open Data 500 is not a rating or ranking of companies. It will cover companies of different sizes and categories, using various kinds of data. The Open Data 500 is not a competition, but an attempt to give a broad, inclusive view of the field.</p>
		<p>The Open Data 500 study also does not provide a random sample for definitive statistical analysis. For example, if 20 percent of the Open Data 500 companies turn out to be healthcare related, that does not mean that 20 percent of all companies using government Open Data are in the healthcare sector. Since this is the first thorough scan of companies in the field, it is not yet possible to determine the exact landscape of open data companies.</p>
		<p>The results of this first Open Data 500 study, together with complementary work by others studying this area, should make other approaches to sampling and analysis possible in the future. The GovLab will encourage social science researchers, economists, and others interested in the open data ecosystem to use survey results for further research and analysis.</p>
	</div>

	<div id="about-results" class="m-half">
		<h2 class="m-page-title">Preliminary Findings</h2>
		<p>The information we collect is available as Open Data itself so that policymakers, economists, and anyone else can download and analyze it. Here’s what we’ve learned so far:</p>
		<ul>
			<li><strong>Economic value:</strong> Open Data is a new and emerging resource that is generating new business opportunities across the U.S.</li>
			<li><strong>Covering many sectors:</strong> Open Data companies are building economic value in many parts of the economy, including health, energy, transportation, finance, and others.</li>
			<li><strong>Large and small, old and new:</strong> Our working list includes startups and established companies, ranging in size from one-person operations to companies with thousands of employees.</li>
			<li><strong>Many ways to succeed:</strong> These companies are using a range of business models, including revenue from advertising, sales of services, referrals to other businesses, and other sources.</li>
			<li><strong>Making government data work better:</strong> Open Data companies use state, city, and many kinds of federal data – and their experience ranges from excellent to frustrating. Companies are giving us candid feedback on their experience with government data, which we will use to start a new dialogue between data suppliers and data users.</li>
		</ul>
	</div>
</section>

<section id="about-next-steps">
	<h2 class="m-page-title">Next Steps</h2>
	<p>This Open Data 500 study will be updated frequently and expanded by the GovLab and others. Future next steps include holding workshops and convenings to help improve government data by connecting data users with data providers. Additionally we plan on replicating the Open Data 500 in the UK and other countries.</p>
	<p>At the GovLab, we believe that the value of government Open Data goes well beyond its commercial use. We plan to develop future projects on the impact of Open Data through nonprofit organizations, foundations, civil society organizations, and others.</p>
</section>

<section id="about-people">
	<h2 class="m-page-title">People</h2>
	<strong>The GovLab - Open Data 500 Team</strong>
	<ul>
		<li><strong><a href="http://thegovlab.org/about/team/beth-simone-noveck/">Beth Simone Noveck</a></strong>, Founder &amp; Director, The GovLab </li>
		<li><strong><a href="http://thegovlab.org/about/team/stefaan-verhulst/">Stefaan Verhulst</a></strong>, Co-Founder &amp; Chief of Research and Development, The GovLab </li>
		<li><strong><a href="http://thegovlab.org/about/team/joel-gurin/">Joel Gurin</a></strong>, Project Director, Open Data 500, and Senior Advisor, the GovLab</li>
		<li><strong><a href="http://thegovlab.org/about/team/laura-manley/">Laura Manley</a></strong>, Project Manager</li>
		<li><strong>Claudio Mendonca</strong>, Designer</li>
		<li><strong><a href="http://thegovlab.org/about/team/luis-daniel/">Luis Daniel Palacios</a></strong>, Developer</li>
		<li><strong><a href="http://thegovlab.org/about/team/mehan-jayasuriya/">Mehan Jayasuriya</a></strong>, Developer</li>
		<li><strong>Marilla Li</strong>, Research Assistant</li>
	</ul>

	<p><strong>Expert Advisors:</strong></p>
	<ul class="m-half">
		<li><strong>Jose Alonso</strong>, World Wide Web Foundation</li>
		<li><strong>Paul Baker</strong>, Webitects/Open Data Institute (Chicago)</li>
		<li><strong>Michael Chui</strong>, McKinsey Global Institute</li>
		<li><strong>Hania Farhan</strong>, World Wide Web Foundation</li>
		<li><strong>Juliana Freire</strong>, New York University</li>
		<li><strong>Daniel Goroff</strong>, Alfred P. Sloan Foundation</li>
		<li><strong>Jim Hendler</strong>, Rensselaer Polytechnic Institute</li>
	</ul>
	<ul class="m-half">
		<li><strong>Hudson Hollister</strong>, Data Transparency Coalition</li>
		<li><strong>Harvey Lewis</strong>, Deloitte</li>
		<li><strong>Bill McGee</strong>, Author, Attention All Passengers</li>
		<li><strong>Theresa Pardo</strong>, Center for Technology in Government</li>
		<li><strong>Lee Rainie</strong>, Pew Research Center</li>
		<li><strong>Gavin Starks</strong>, Open Data Institute (London) </li>
		<li><strong>Danne Woo</strong>, Datavisual, Inc</li>
	</ul>	
</section>
<!-- <footer>
	<a class="m-button" href="#">Recommend a company</a><a class="m-button" href="http://thegovlab.org/submit-your-company">Submit Your Company</a>
</footer> -->
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'opendata500'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>



</div>

{% end %}