
{% extends "main.html" %}
{% autoescape None %}


{% block body %}

<h1>{{ page_heading }}</h1>

<form method="post" id="edit-agency-form" class="m-form agency-form" parsley-validate>
	<fieldset class="m-form-half">
		<h3>Agency Information</h3>
		<div class="m-form-line"><label for="">Name: </label><input type="text" name="{{agency.name}}" id="agencyName" {% if (agency.name) %} value="{{ agency.name }}" {% end %}></div>
		<div class="m-form-line"><label for="">Abbreviation: </label><input type="text" name="abbrev" id="agencyAbbrev" {% if (agency.abbrev) %} value="{{ agency.abbrev }}" {% end %}></div>
		<div class="m-form-line"><label for="">URL: </label><input type="text" name="url" id="agencyURL" {% if (agency.url) %} value="{{ agency.url }}" {% end %}></div>
		<div class="m-form-line"><label for="">Source:</label><input type="text" name="source" id="source" {% if (agency.source) %} value="{{ agency.source }}" {% end %}></div>
		<div class="m-form-line">
			<label for="type">Type:</label>
			<select name='type' id="type">
				{% for type in agency_types %}
					<option name="type" value="{{type}}" {% if type == agency.dataType %}selected{%end%}>{{type}}</option>
				{%end%}
				{% if agency.dataType not in agency_types %}
					<option name="type" value="{{agency.dataType}}" selected>{{agency.dataType}}</option>
				{%end%}
			</select>
		</div>
		<p>Country: {{agency.country.upper()}}</p>
		<div class="m-form-line">Used by: <br>{% if agency.usedBy %}{%for c in agency.usedBy%}<a href="/admin/company-edit/{{c.id}}/">{{c.companyName}}</a><br> {%end%}{%else%}None{%end%}</div>
		<input type="button" class="l-button action-button" id="edit-agency-button" action="edit-agency" value="Save Edits">
		<span class="agency-message"></span><br><br>
		<h3>Agency Datasets</h3>
		<div class="agency-datasets-list">
			<table class="agency-dataset-table">
				<tr>
					<th>Dataset Name</th>
					<th>Used By</th>
					<th>Rating</th>
				</tr>
				{%for d in agency.datasets %}
					<tr>
						<td>{%if d.datasetURL %}<a href="{{d.datasetURL}}">{{d.datasetURL}}</a>{%else%}<p>{{d.datasetName}}</p>{%end%}</td>
						<td>{%if d.usedBy %}{{d.usedBy.companyName}}{%else%}None{%end%}</td>
					</tr>
				{%end%}
			</table>
		</div>
	</fieldset>
	<fieldset class="m-form-half right">
		<h3>Notes</h3>
		<textarea rows="10" cols="59" name="notes" id="notes" parsley-trigger="keyup" parsley-maxwords="1000">{%if agency.notes %}{{agency.notes}}{%end%}</textarea>
	</fieldset>
	<h3>Subagencies</h3>
	<fieldset class="m-form-three-quarters">
		<div class="subagency-list">
			{% if agency.subagencies %}
				{% for s in agency.subagencies %}
					<div class="subagency-item">
						<h3>{{s.name}}</h3>
						<div class="m-form-line"><label for="">Name: </label><input type="text" name="{{s.name}}" id="subagency-name" {% if (s.name) %} value="{{ s.name }}" {% end %}></div>
						<div class="m-form-line"><label for="">Abbreviation: </label><input type="text" name="subagency-abbrev" id="subagency-abbrev" {% if (s.abbrev) %} value="{{ s.abbrev }}" {% end %}></div>
						<div class="m-form-line"><label for="">URL: </label><input type="text" name="subagency-url" id="subagency-url" {% if (s.url) %} value="{{ s.url }}" {% end %}></div>
						<div class="m-form-line">Used by: <br>{% if s.usedBy %}{%for c in s.usedBy%}<a href="/admin/company-edit/{{c.id}}/">{{c.companyName}}</a><br> {%end%}{%else%}None{%end%}</div>
						{% if s.datasets %}
							<div class="subagency-datasets-list">
								<h3>Datasets</h3>
								<table class="agency-dataset-table">
									<tr>
										<th>Dataset Name</th>
										<th>Used By</th>
										<th>Rating</th>
									</tr>
									{%for d in s.datasets %}
										<tr>
											<td>{%if d.datasetURL %}<a href="http://{{d.datasetURL}}">{{d.datasetName}}</a>{%else%}<p>{{d.datasetName}}</p>{%end%}</td>
											<td>{%if d.usedBy %}{{d.usedBy.companyName}}{%else%}None{%end%}</td>
										</tr>
									{%end%}
								</table>
							</div>
						{%end%}
						<div class="subagency-list-buttons">
							<input type="button" class="l-button action-button" id="edit-subagency-button" name="delete-subagency-button" action="edit-subagency" value="Save Edits">
							<input type="button" class="l-button" id="delete-button" name="delete-subagency-button" value="Delete This Subagency"><br>
							<span class="subagency-message"></span>
							<div class="confirm-delete" style="display:none">
								<p>Are you sure?
								<input type="button" class="l-button action-button" id="confirm-delete-subagency-button" action="delete-subagency" value="Yes">
								<input type="button" class="l-button" id="cancel-delete-button" value="No"></p>
							</div>
						</div>
					</div>
				{%end%}
				<div class="subagency-item">
					<h3>Add New</h3>
					<div class="m-form-line"><label for="">Name: </label><input type="text" name="" id="subagency-name" value=""></div>
					<div class="m-form-line"><label for="">Abbreviation: </label><input type="text" name="subagency-abbrev" id="subagency-abbrev" value=""></div>
					<div class="m-form-line"><label for="">URL: </label><input type="text" name="subagency-url" id="subagency-url" value="" ></div>
					<div class="subagency-list-buttons">
						<input type="button" class="l-button action-button" id="edit-subagency-button" name="delete-subagency-button" action="add-subagency" value="Add"><br>
						<span class="subagency-message"></span>
					</div>
				</div>
			{%else%}
				<div class="subagency-item">
					<h3>Add New</h3>
					<div class="m-form-line"><label for="">Name: </label><input type="text" name="" id="subagency-name" value=""></div>
					<div class="m-form-line"><label for="">Abbreviation: </label><input type="text" name="subagency-abbrev" id="subagency-abbrev" value=""></div>
					<div class="m-form-line"><label for="">URL: </label><input type="text" name="subagency-url" id="subagency-url" value="" ></div>
					<div class="subagency-list-buttons">
						<input type="button" class="l-button action-button" id="edit-subagency-button" name="delete-subagency-button" action="add-subagency" value="Add"><br>
						<span class="subagency-message"></span>
					</div>
				</div>
			{%end%}
		</div>
	</fieldset>
	<input type="hidden" id="agency-id" value="{{agency.id}}">
	{% raw xsrf_form_html() %}
</form>

<div class="delete-agency">
	<input type="button" class="l-button" id="delete-button" name="delete-agency-button" value="Delete This Agency"><br>
	<div class="confirm-delete" style="display:none">
		<p>Are you sure?</p>
		<input type="button" class="l-button action-button" id="confirm-delete-agency-button" action="delete-agency" value="Yes"><br>
		<input type="button" class="l-button" id="cancel-delete-button" value="No"><br>
	</div>
	<span class="delete-agency-warning">Note: You can only delete this agency if it is not in use by a company.</span><br>
	<span class="delete-agency-error"></span>
</div>

<script type='text/template' id='template'>
	<div class="subagency-item">
		<h3><%= heading %></h3>
		<div class="m-form-line"><label for="">Name: </label><input type="text" name="<%= name %>" id="subagency-name" value="<%= name %>"></div>
		<div class="m-form-line"><label for="">Abbreviation: </label><input type="text" name="subagency-abbrev" id="subagency-abbrev" value="<%= abbrev %>"></div>
		<div class="m-form-line"><label for="">URL: </label><input type="text" name="subagency-url" id="subagency-url" value="<%= url %>"></div>
		<div class="subagency-list-buttons">
			<input type="button" class="l-button action-button" id="edit-subagency-button" action="<%= new_action %>" value="<%= button %>">
			<input type="button" class="l-button" id="delete-button" <%= delete_button %> value="Delete This Subagency"><br>
			<span class="subagency-message"><%= message %></span>
			<div class="confirm-delete" style="display:none">
				<p>Are you sure?
				<input type="button" class="l-button action-button" id="confirm-delete-subagency-button" action="delete-subagency" value="Yes">
				<input type="button" class="l-button" id="cancel-delete-button" value="No"></p>
			</div>
		</div>
	</div>

</script>


<script type="text/javascript">

$(document).ready( function() {
	//----------------------------------------EDIT/NEW/DELETE AGENCY/SUBAGENCY--------------------------------------------------
	var subagency = _.template($("#template").html());
	$(document).on("click", "#delete-button", function() {
		var current_options = $(this).parent().find(".confirm-delete")
		current_options.show();
		current_options.on("click", "#cancel-delete-button", function(event) {
			current_options.hide();
			event.stopPropagation();
		});
	});
	$(document).on("click", ".action-button", function() {
		action = $(this).attr("action");
		if (action == "edit-agency" || action == "delete-agency") {
			var this_form = $(".agency-form");
		} else {
			var this_form = $(this).closest(".subagency-item");
		}
		var id = $("#agency-id").val();
		var data = {
			"agency_new_name": this_form.find("#agencyName").val(),
			"agency_old_name": this_form.find("#agencyName").attr("name"),
			"agency_url": this_form.find("#agencyURL").val(),
			"agency_abbrev": this_form.find("#agencyAbbrev").val(),
			"agency_type": this_form.find("#type").val(),
			"agency_source": this_form.find("#source").val(),
			"agency_notes": this_form.find("#notes").val(),
			"subagency_old_name": this_form.find("#subagency-name").attr("name"),
			"subagency_new_name": this_form.find("#subagency-name").val(), 
			"subagency_abbrev": this_form.find("#subagency-abbrev").val(), 
			"subagency_url": this_form.find("#subagency-url").val(),
			"action": action,
			"_xsrf": $("[name='_xsrf']").val(),
			}
		console.log(data);
		$.ajax({
			type: 'POST',
			url: '/admin/agency-edit/' + id + "/",
			data: data,
			error: function(error) {
		        console.debug(JSON.stringify(error));
		        this_form.find(".subagency-message").text("Something went wrong : /");
			},
		    beforeSend: function(xhr, settings) {
		    },
		    success: function(data) {
		    	if ("error" in data) {
		    		this_form.find(".subagency-message").text(data['error']).show().delay(5000).fadeOut();
		    	} else {
			    	if (action =="delete-subagency") {
			    		this_form.empty();
			    	}
			    	if (action =="add-subagency") {
			    		this_form.empty();
			    		$(".subagency-list").append(subagency(data))
			    		$(".subagency-list").append(subagency({"heading":"Add New", "message":"", "name":"", "abbrev":"", "url":"", "button":"Add", "new_action":"add-subagency", "delete_button":"style='display:none;'"}))
			    	}
			    	if (action =="edit-subagency") {
			    		this_form.find(".subagency-message").text(data['message']).show().delay(5000).fadeOut();
			    	}
			    	if (action == "edit-agency") {
			    		this_form.find(".agency-message").text(data['message']).show().delay(5000).fadeOut();
			    		if ( data["message"] == "Edits saved!" ) {
			    			this_form.find("#agencyName").attr("name", this_form.find("#agencyName").val());
			    		}
			    	}
			    	if (action == "delete-agency") {
			    		if (data["message"] == "Agency Deleted") {
				    		document.location.href = '/admin/agencies/';
				    	} else {
				    		$(".delete-agency-error").text(data["message"]).show().delay(5000).fadeOut();
				    	}
			    	}
			    }
		    }
		});
	});
});

</script>



{% end %}