
{% extends "main.html" %}
{% autoescape None %}


{% block body %}

<h1>{{ page_heading }}</h1>

<h2>Stats</h2>
<fieldset class="m-form">
	<fieldset class="m-form-half">
		<h3>Total Companies: </h3><p id="totalCompanies">{{stats.totalCompanies}}</p>
		<h3>Total Companies Submitted Via Web: </h3><p id="totalCompaniesWeb">{{stats.totalCompaniesWeb}}</p>
		<h3>Total Companies With Complete Surveys: </h3><p id="totalCompaniesSurvey">{{stats.totalCompaniesSurvey}}</p>
	</fieldset>
	<fieldset class="m-form-half">
		{% raw xsrf_form_html() %}
		<input type="button" class="l-button admin_utils" id="refresh" name="refresh" value="Refresh">
		<input type="button" class="l-button admin_utils" id="files" name="files" value="Generate Files">
		<span class="message"></span>
	</fieldset>
</fieldset>
<br>
<h2>Need Vetting</h2>
<table style="width:100%; text-align:left; border:1px;">
	<tr>
		<th>Company Name</th>
		<th>Edit URL</th>
		<th>Contact Email</th>
		<th>Date Submitted/Updated</th>
		<th>Via Web?</th>
		<th>Displayed?</th>
	</tr>
	{% for company in needVetting %}
		<tr>
			<td><strong>{{ company.companyName }}</strong></a></td>
			<td><a href="/admin/edit/{{ company.id }}">Edit</a></td>
			<td>{%try%}{% if (company.contact) %} {{ company.contact.email }} {% end %}{%except%}{%end%}</td>
			<td>{{ company.lastUpdated.strftime("%b, %d '%y @%I:%M %p") }}</td>
			<td>{%if company.submittedThroughWebsite %} √ {%end%}</td>
			<td>{%if company.display %} √ {%end%}</td>
		</tr>
	{% end %}
</table>
<br>
<h2>Need to fill out Surveys</h2>
<table style="width:100%; text-align:left;">
	<tr>
		<th>Company Name</th>
		<th>Edit URL</th>
		<th>Contact Email</th>
		<th>Admin Edit</th>

	</tr>
	{% for company in sendSurveys %}
		<tr>
			<td><strong>{{ company.companyName }}</strong></a></td>
			<td><a href="/edit/{{ company.id }}">www.opendata500.com/edit/{{company.id}}</a></td>
			<td>{%try%}{% if (company.contact) %} {{ company.contact.email }} {% end %}{%except%}{%end%}</td>
			<td><a href="/admin/edit/{{ company.id }}">Edit</a></td>
		</tr>
	{% end %}
</table>
<br>
<br>
<h2>Submitted Survey, Vetted, and Displayed</h2>
<div id="accordionUnvetted">
{% for company in surveySubmitted %}
	<h3><strong>{{ company.companyName }}</strong> Submitted: {{company.ts}}</h3> 
	<div>
		<p><a href="/admin/edit/{{ company.id }}">Edit</a></p>
	</div>
{% end %}
</div>
<script>

$(document).ready( function() {
	$('.m-form').on('click', '.admin_utils', function() {
		action = this.id;
		if (action == "files") {
			$('.message').text("Hold on, this one takes a bit...").show();
		} else {
			$('.message').text("Hold up...").show();
		}
		data = { "action":action, "_xsrf": $("[name='_xsrf']").val() }
	  $.ajax({
	    type: 'POST',
	    url: '/admin/',
	    data: data,
	    error: function(error) {
	        console.debug(JSON.stringify(error));
	        $('.message').text("That didn't work...").show().delay(5000).fadeOut();;
		},
	    beforeSend: function(xhr, settings) {
	    },
	    success: function(data) {
	    	if (action == "refresh") {
				console.log(data);
				$('#totalCompanies').text(data['totalCompanies']);
				$('#totalCompaniesWeb').text(data['totalCompaniesWeb']);
				$('#totalCompaniesSurvey').text(data['totalCompaniesSurvey']);
				$('.message').text("Aight, I'm done.").show().delay(5000).fadeOut();
			}
			if (action == "files") {
				$('.message').text("Aight, I'm done.").show().delay(5000).fadeOut();
			}
	    }
	  });
	});
});


</script>

{% end %}