{% extends "main.html" %}
{% autoescape None %}

{% block body %}
<br>
<br>
<br>
<section>
	<h1 class="m-page-title">{{ page_heading }}</h1>
	<p class="intro">Explore our preliminary list of 500 candidate companies that we believe meet our criteria for the Open Data 500. We have invited all listed companies to fill out our survey. Detailed information is shown here as companies have provided it to us. We do not vouch for the objectivity of all information at this stage, and invite input and comment.</p>
	<p class="warning"><strong>How to use this page:</strong> Click on a square to expand it and read the brief company description. Click on a company's name to view more information and for a space to comment. </p>
	<p class="warning"><strong>Please Note:</strong> We expect to that this list may change as we learn more about how each company operates – that’s part of our open process. Many of these companies have not yet responded to our survey, so information about them may change as we receive more input from them and from others.</p>
</section>

<div class="m-candidates">
    
    <div class="m-filter-menu">
        <h3>Filter by Category</h3>
        <div id="filters" class="m-candidates-buttons button-group" data-toggle="buttons-checkbox">
            <button data-filter="*">Show All</button>
            {% for category in categories %}
                <button data-filter=".{{category.strip().replace(" ", "-").replace("/","").replace("&", "")}}">{{category}}</button>
            {%end%}
        </div>
    </div>

    <div id="chart"></div>
    <div class="legend" id="legend">
    	<span>Filter by:  </span>
    	<span class="color preview" data-filter=".preview-company">Preview Company</span>
    	<span class="color survey" data-filter=".survey-company, .preview-company">Submitted Survey</span>
    	<span class="color candidate" data-filter=":not(.preview-company) :not(.survey-company)">No Survey Submitted</span>
    	<span class="color all" data-filter="*">Show all</span>
    </div>
	<div class="m-candidates isotopes-container" data-isotope-options='{ "layoutMode": "fitColumns" }'>
		{% for company in companies %}
			{% if company not in recentlySubmitted %}
	            <div class="m-candidates-item {%try%} {{company.companyCategory.strip().replace(" ", "-").replace("/","").replace("&", "")}} {%except%}None{%end%} {{ company.state }}{% if company.vetted %} preview-company{%end%} {% if company.vettedByCompany %} survey-company{%end%}">
	                <a href="/{{company.prettyName}}"><h3><strong>{{ company.companyName }}</strong></h3></a>
	                <p class="m-homepage-list-location"> {%try%}{{ states[company.state] }}{%except%}{%end%}</p>
	                <em> {{ company.companyCategory }}</em>
	                <p class="m-homepage-list-desc">{{ company.descriptionShort }}</p>
				</div>
			{%end%}
		{%end%}
	</div>
</div>

<!-- <div id="hidden" style="display:none;"><{#{{ stateInfo }}#}></{#{{ stateInfo }}#}></div> -->
<div id="hidden" style="display:none;"><[{"abbrev": "AL","STATE":"Alabama","VALUE":"0"},
{"abbrev": "AK","STATE":"Alaska","VALUE":"0"},
{"abbrev": "AZ","STATE":"Arizona","VALUE":"4"},
{"abbrev": "AR","STATE":"Arkansas","VALUE":"1"},
{"abbrev": "CA","STATE":"California","VALUE":"135"},
{"abbrev": "CO","STATE":"Colorado","VALUE":"11"},
{"abbrev": "CT","STATE":"Connecticut","VALUE":"10"},
{"abbrev": "DE","STATE":"Delaware","VALUE":"0"},
{"abbrev": "DC","STATE":"District of Columbia","VALUE":"24"},
{"abbrev": "FL","STATE":"Florida","VALUE":"6"},
{"abbrev": "GA","STATE":"Georgia","VALUE":"7"},
{"abbrev": "HI","STATE":"Hawaii","VALUE":"0"},
{"abbrev": "ID","STATE":"Idaho","VALUE":"0"},
{"abbrev": "IL","STATE":"Illinois","VALUE":"19"},
{"abbrev": "IN","STATE":"Indiana","VALUE":"7"},
{"abbrev": "IA","STATE":"Iowa","VALUE":"1"},
{"abbrev": "KA","STATE":"Kansas","VALUE":"0"},
{"abbrev": "KY","STATE":"Kentucky","VALUE":"2"},
{"abbrev": "LA","STATE":"Louisiana","VALUE":"0"},
{"abbrev": "ME","STATE":"Maine","VALUE":"1"},
{"abbrev": "MD","STATE":"Maryland","VALUE":"13"},
{"abbrev": "MA","STATE":"Massachusetts","VALUE":"42"},
{"abbrev": "MI","STATE":"Michigan","VALUE":"4"},
{"abbrev": "MN","STATE":"Minnesota","VALUE":"4"},
{"abbrev": "MS","STATE":"Mississippi","VALUE":"0"},
{"abbrev": "MO","STATE":"Missouri","VALUE":"5"},
{"abbrev": "MT","STATE":"Montana","VALUE":"0"},
{"abbrev": "NE","STATE":"Nebraska","VALUE":"1"},
{"abbrev": "NV","STATE":"Nevada","VALUE":"1"},
{"abbrev": "NH","STATE":"New Hampshire","VALUE":"1"},
{"abbrev": "NJ","STATE":"New Jersey","VALUE":"10"},
{"abbrev": "NM","STATE":"New Mexico","VALUE":"0"},
{"abbrev": "NY","STATE":"New York","VALUE":"90"},
{"abbrev": "NC","STATE":"North Carolina","VALUE":"2"},
{"abbrev": "ND","STATE":"North Dakota","VALUE":"0"},
{"abbrev": "OH","STATE":"Ohio","VALUE":"7"},
{"abbrev": "OK","STATE":"Oklahoma","VALUE":"1"},
{"abbrev": "OR","STATE":"Oregon","VALUE":"1"},
{"abbrev": "PA","STATE":"Pennsylvania","VALUE":"10"},
{"abbrev": "RI","STATE":"Rhode Island","VALUE":"1"},
{"abbrev": "SC","STATE":"South Carolina","VALUE":"0"},
{"abbrev": "SD","STATE":"South Dakota","VALUE":"0"},
{"abbrev": "TN","STATE":"Tennessee","VALUE":"3"},
{"abbrev": "TX","STATE":"Texas","VALUE":"15"},
{"abbrev": "UT","STATE":"Utah","VALUE":"2"},
{"abbrev": "VT","STATE":"Vermont","VALUE":"0"},
{"abbrev": "VA","STATE":"Virginia","VALUE":"17"},
{"abbrev": "WA","STATE":"Washington","VALUE":"20"},
{"abbrev": "WV","STATE":"West Virginia","VALUE":"0"},
{"abbrev": "WI","STATE":"Wisconsin","VALUE":"4"},
{"abbrev": "WY","STATE":"Wyoming","VALUE":"0"},
{"abbrev": "PR","STATE":"Puerto Rico","VALUE":"0"}]></[{"abbrev": "AL","STATE":"Alabama","VALUE":"0"},
{"abbrev": "AK","STATE":"Alaska","VALUE":"0"},
{"abbrev": "AZ","STATE":"Arizona","VALUE":"4"},
{"abbrev": "AR","STATE":"Arkansas","VALUE":"1"},
{"abbrev": "CA","STATE":"California","VALUE":"135"},
{"abbrev": "CO","STATE":"Colorado","VALUE":"11"},
{"abbrev": "CT","STATE":"Connecticut","VALUE":"10"},
{"abbrev": "DE","STATE":"Delaware","VALUE":"0"},
{"abbrev": "DC","STATE":"District of Columbia","VALUE":"24"},
{"abbrev": "FL","STATE":"Florida","VALUE":"6"},
{"abbrev": "GA","STATE":"Georgia","VALUE":"7"},
{"abbrev": "HI","STATE":"Hawaii","VALUE":"0"},
{"abbrev": "ID","STATE":"Idaho","VALUE":"0"},
{"abbrev": "IL","STATE":"Illinois","VALUE":"19"},
{"abbrev": "IN","STATE":"Indiana","VALUE":"7"},
{"abbrev": "IA","STATE":"Iowa","VALUE":"1"},
{"abbrev": "KA","STATE":"Kansas","VALUE":"0"},
{"abbrev": "KY","STATE":"Kentucky","VALUE":"2"},
{"abbrev": "LA","STATE":"Louisiana","VALUE":"0"},
{"abbrev": "ME","STATE":"Maine","VALUE":"1"},
{"abbrev": "MD","STATE":"Maryland","VALUE":"13"},
{"abbrev": "MA","STATE":"Massachusetts","VALUE":"42"},
{"abbrev": "MI","STATE":"Michigan","VALUE":"4"},
{"abbrev": "MN","STATE":"Minnesota","VALUE":"4"},
{"abbrev": "MS","STATE":"Mississippi","VALUE":"0"},
{"abbrev": "MO","STATE":"Missouri","VALUE":"5"},
{"abbrev": "MT","STATE":"Montana","VALUE":"0"},
{"abbrev": "NE","STATE":"Nebraska","VALUE":"1"},
{"abbrev": "NV","STATE":"Nevada","VALUE":"1"},
{"abbrev": "NH","STATE":"New Hampshire","VALUE":"1"},
{"abbrev": "NJ","STATE":"New Jersey","VALUE":"10"},
{"abbrev": "NM","STATE":"New Mexico","VALUE":"0"},
{"abbrev": "NY","STATE":"New York","VALUE":"90"},
{"abbrev": "NC","STATE":"North Carolina","VALUE":"2"},
{"abbrev": "ND","STATE":"North Dakota","VALUE":"0"},
{"abbrev": "OH","STATE":"Ohio","VALUE":"7"},
{"abbrev": "OK","STATE":"Oklahoma","VALUE":"1"},
{"abbrev": "OR","STATE":"Oregon","VALUE":"1"},
{"abbrev": "PA","STATE":"Pennsylvania","VALUE":"10"},
{"abbrev": "RI","STATE":"Rhode Island","VALUE":"1"},
{"abbrev": "SC","STATE":"South Carolina","VALUE":"0"},
{"abbrev": "SD","STATE":"South Dakota","VALUE":"0"},
{"abbrev": "TN","STATE":"Tennessee","VALUE":"3"},
{"abbrev": "TX","STATE":"Texas","VALUE":"15"},
{"abbrev": "UT","STATE":"Utah","VALUE":"2"},
{"abbrev": "VT","STATE":"Vermont","VALUE":"0"},
{"abbrev": "VA","STATE":"Virginia","VALUE":"17"},
{"abbrev": "WA","STATE":"Washington","VALUE":"20"},
{"abbrev": "WV","STATE":"West Virginia","VALUE":"0"},
{"abbrev": "WI","STATE":"Wisconsin","VALUE":"4"},
{"abbrev": "WY","STATE":"Wyoming","VALUE":"0"},
{"abbrev": "PR","STATE":"Puerto Rico","VALUE":"0"}]></div>

<script src="{{ static_url("js/d3.v3.min.js") }}"></script>
<script src="{{ static_url("js/queue.v1.min.js") }}"></script>
<script src="{{ static_url("js/isotope.pkgd.min.js") }}"></script>
<script>
(function(){
	var $container = $('.isotopes-container').isotope({
		layoutMode: 'fitRows',
		resizesContainer : false,
	});
	// filter items on button click
	$('#filters').on( 'click', 'button', function( event ) {
	  var filtr = $(this).attr('data-filter');
      $("#filters button").removeClass('s-active');
      $(this).addClass('s-active');
	  $container.isotope({ filter: filtr });
	});

	// filter items by survey type
	$('#legend').on( 'click', 'span', function( event ) {
	  var filtr = $(this).attr('data-filter');
	  $container.isotope({ filter: filtr });
	});

	// $('.states').on('click', 'path', function(event) {
	// 	var filtr = $(this).attr('class').split(' ')[1];
	// 	//$container.isotope({ filter: filtr });
	// 	console.log(filtr);
	// });

	$container.delegate( '.m-candidates-item', 'click', function(){
			//$('.m-candidates-item.large').removeClass('large');
	        $(this).toggleClass('s-active');
	        $container.isotope();
	});

    data = [{"abbrev": "AL", "STATE":"Alabama", "VALUE":14}, 
            {"abbrev": "AK", "STATE":"Alaska", "VALUE":52}, 
            {"abbrev": "AZ", "STATE":"Arizona", "VALUE":42},
            {"abbrev": "AR", "STATE":"Arkansas", "VALUE":11},
            {"abbrev": "CA", "STATE":"California", "VALUE":63},
            {"abbrev": "CO", "STATE":"Colorado", "VALUE":86},
            {"abbrev": "CT", "STATE":"Connecticut", "VALUE":59}, 
            {"abbrev": "DE", "STATE":"Delaware", "VALUE":96}, 
            {"abbrev": "DC", "STATE":"District of Columbia", "VALUE":22},
            {"abbrev": "FL", "STATE":"Florida", "VALUE":35},
            {"abbrev": "GA", "STATE":"Georgia", "VALUE":53},
            {"abbrev": "HI", "STATE":"Hawaii", "VALUE":62},
            {"abbrev": "ID", "STATE":"Idaho", "VALUE":72}, 
            {"abbrev": "IL", "STATE":"Illinois", "VALUE":46},
            {"abbrev": "IN", "STATE":"Indiana", "VALUE":92},
            {"abbrev": "IA", "STATE":"Iowa", "VALUE":35},
            {"abbrev": "KA", "STATE":"Kansas", "VALUE":73},
            {"abbrev": "KY", "STATE":"Kentucky", "VALUE":33}, 
            {"abbrev": "LA", "STATE":"Louisiana", "VALUE":37}, 
            {"abbrev": "ME", "STATE":"Maine", "VALUE":62},
            {"abbrev": "MD", "STATE":"Maryland", "VALUE":87},
            {"abbrev": "MA", "STATE":"Massachusetts", "VALUE":26},
            {"abbrev": "MI", "STATE":"Michigan", "VALUE":57},
            {"abbrev": "MN", "STATE":"Minnesota", "VALUE":37},
            {"abbrev": "MS", "STATE":"Mississippi", "VALUE":24},
            {"abbrev": "MO", "STATE":"Missouri", "VALUE":46},
            {"abbrev": "MT", "STATE":"Montana", "VALUE":71}, 
            {"abbrev": "NE", "STATE":"Nebraska", "VALUE":26}, 
            {"abbrev": "NV", "STATE":"Nevada", "VALUE":49},
            {"abbrev": "NH", "STATE":"New Hampshire", "VALUE":30},
            {"abbrev": "NJ", "STATE":"New Jersey", "VALUE":61},
            {"abbrev": "NM", "STATE":"New Mexico", "VALUE":35},
            {"abbrev": "NY", "STATE":"New York", "VALUE":74}, 
            {"abbrev": "NC", "STATE":"North Carolina", "VALUE":17},
            {"abbrev": "ND", "STATE":"North Dakota", "VALUE":42},
            {"abbrev": "OH", "STATE":"Ohio", "VALUE":74},
            {"abbrev": "OK", "STATE":"Oklahoma", "VALUE":28},
            {"abbrev": "OR", "STATE":"Oregon", "VALUE":58}, 
            {"abbrev": "PA", "STATE":"Pennsylvania", "VALUE":42}, 
            {"abbrev": "RI", "STATE":"Rhode Island", "VALUE":73},
            {"abbrev": "SC", "STATE":"South Carolina", "VALUE":26},
            {"abbrev": "SD", "STATE":"South Dakota", "VALUE":71},
            {"abbrev": "TN", "STATE":"Tennessee", "VALUE":60},
            {"abbrev": "TX", "STATE":"Texas", "VALUE":53},
            {"abbrev": "UT", "STATE":"Utah", "VALUE":82},
            {"abbrev": "VT", "STATE":"Vermont", "VALUE":48},
            {"abbrev": "VA", "STATE":"Virginia", "VALUE":24}, 
            {"abbrev": "WA", "STATE":"Washington", "VALUE":17}, 
            {"abbrev": "WV", "STATE":"West Virginia", "VALUE":5},
            {"abbrev": "WI", "STATE":"Wisconsin", "VALUE":34},
            {"abbrev": "WY", "STATE":"Wyoming", "VALUE":71},
            {"abbrev": "PR", "STATE":"Puerto Rico", "VALUE":25}];
            
    var userData = document.getElementById('hidden').textContent.replace('<','').replace('>','');
    console.log(userData);
    userData = JSON.parse(userData)
    if (userData) data = userData
    
    createChart = function(){
        var hoverDisplay = "State &amp; Value".replace('&amp;', '&')
        
        //General chart
        this.Title = '500 Companies';
        this.Size = 600;
        this.MarginTop = 60;
        this.MarginRight = 40;
        this.MarginBottom = 40;
        this.MarginLeft = 40;
        this.Guide = false;
        this.DataType = 'Number';
        this.BackgroundColor = '#ffffff';
        //States
        this.StateBaseColor = '#ffffff';
        this.StateMaxColor = '#472b74';
        this.Range = 40;
        this.LineThickness = 1;
        this.LineColor = '#bbbbbb';
        //Labels
        this.ChartTitle = true;
        this.ChartTitleText = 'Filter By State';
        this.ChartTitleXLocation = 'Center';
        this.ChartTitleYLocation = 0;
        this.ChartTitleFont = 'Arial';
        this.ChartTitleSize = 24;
        this.ChartTitleColor = '#472b74';
        this.PointLabel = true;
        this.PointLabelLocation = -10;
        this.PointLabelFont = 'Arial';
        this.PointLabelSize = 14;
        this.PointLabelColor = '#000000';
        //Hover State
        this.HoverStates = true;
        this.HoverDisplay = hoverDisplay;
        this.HoverLabelFont = 'Arial';
        this.HoverLabelSize = 10;
        this.HoverLabelColor = '#000000';
        this.HoverValueFont = 'Arial';
        this.HoverValueSize = 16;
        this.HoverValueColor = '#000000';
        
        this.mainChart = function() {
        
            var height = 550;
            var width = 950;
            
            var size = this.Size/width,
                marginTop = this.MarginTop,
                marginRight = this.MarginRight,
                marginBottom = this.MarginBottom,
                marginLeft = this.MarginLeft,
                guideOn = this.Guide,
                dataType = this.DataType,
                backgroundColor = this.BackgroundColor,
                stateBaseColor = this.StateBaseColor,
                stateMaxColor = this.StateMaxColor,
                range = this.Range,
                lineThickness = this.LineThickness,
                lineColor = this.LineColor,
                chartTitle = this.ChartTitle,
                chartTitleText = this.ChartTitleText,
                chartTitleXLoc = this.ChartTitleXLocation,
                chartTitleYLoc = this.ChartTitleYLocation,
                chartTitleFont = this.ChartTitleFont,
                chartTitleSize = this.ChartTitleSize,
                chartTitleColor = this.ChartTitleColor,
                pointLabelLoc = this.PointLabelLocation,
                pointLabelFont = this.PointLabelFont,
                pointLabelSize = this.PointLabelSize,
                pointLabelColor = this.PointLabelColor,
                hoverStates = this.HoverStates,
                hoverDisplay = this.HoverDisplay,
                hoverLabelFont = this.HoverLabelFont,
                hoverLabelSize = this.HoverLabelSize,
                hoverLabelColor = this.HoverLabelColor,
                hoverValueFont = this.HoverValueFont,
                hoverValueSize = this.HoverValueSize,
                hoverValueColor = this.HoverValueColor;
                
            var margin = {top: marginTop, right: marginRight, bottom: marginBottom, left: marginLeft},
                w = (width*size) + margin.left + margin.right,
                h = (height*size) + margin.top + margin.bottom;
                
            var bkgdColor = document.getElementsByTagName("body")[0];
            bkgdColor.setAttribute("style","background-color:" + backgroundColor + ";margin:0px;");
            
            var elem = document.getElementById("chart");
            elem.setAttribute("style","width:" + w + "; height:" + h + "; ");
            
            var graph = d3.select('#chart').append('svg')
                .attr('width', w)
                .attr('height', h);
                
            //Background Color
            graph.append("svg:rect")
                .attr("class", "bkgd")
                .attr("width", w)
                .attr("height", h)
                .style("fill", "none");
                
            var group = graph.append('g');
            
            var hover = d3.select("#chart")
                .append("div")
                .attr("class", "tooltip")
                .style("position", "absolute")
                .style("z-index", "1000")
                .style("padding", "5px")
                .style("font-family", hoverLabelFont)
                .style("font-size", hoverLabelSize)
                .style("color", hoverLabelColor);
                
            queue()
                .defer(d3.json, "{{ static_url("us_states.json") }}")
                .await(ready);
                
            var numberFormat = d3.format("0,000");
            var percentFormat = function(d) { return numberFormat(d) + "%"; };
            var dollarFormat = function(d) { return "$" + numberFormat(d); };
            
            var projection = d3.geo.albersUsa();
            var path = d3.geo.path()
                .projection(projection);
                
            group.attr('transform', 'translate(' + margin.left + ', ' + margin.top + '),scale(' + size + ', ' + size + ')');
            
            var color = d3.scale.linear().domain([0,range]).range([stateMaxColor, stateBaseColor]);
            
            var maxVal = d3.max(data, function(d) { return d.VALUE; });
            var minVal = d3.min(data, function(d) { return d.VALUE; });
            var total = maxVal - minVal;
            
            var number = d3.format("0,000");
            
            function ready(error, us, _data) {
            
                group.selectAll('path')
                    .data(us.features)
                    .enter().append('path')
                    .attr('class', 'states')
                    .attr('d', d3.geo.path().projection(projection))
                    //.attr('id', function(d){return d.properties.name.replace(/\s+/g, '')})
                    .style('stroke', lineColor)
                    .style('stroke-width', lineThickness/size);
                    
                group.selectAll('.states')
                    .data(data)
                    .style('fill', function(d){return color( total/d.VALUE )})
                    .on("mouseover", function(d, i) {   
                        if (hoverStates == true) {
                                hover.transition().duration(100).style("opacity", 1)
                                    .style("background-color", color(total/d.VALUE))
                                    .style("left", (d3.event.pageX) + 20 + "px")
                                    .style("top", (d3.event.pageY) + "px");
                        if (hoverDisplay == "State & Value") {
                                if (dataType == "Number") hover.html(d.STATE + "<br><span style='font-size:" + hoverValueSize + ";font-family:" + hoverValueFont + ";color:" + hoverValueColor + ";'>" + numberFormat(d.VALUE) + "</span>");
                                if (dataType == "Percent") hover.html(d.STATE + "<br><span style='font-size:" + hoverValueSize + ";font-family:" + hoverValueFont + ";color:" + hoverValueColor + ";'>" + percentFormat(d.VALUE) + "</span>");
                                if (dataType == "Dollar") hover.html(d.STATE + "<br><span style='font-size:" + hoverValueSize + ";font-family:" + hoverValueFont + ";color:" + hoverValueColor + ";'>" + dollarFormat(d.VALUE) + "</span>");
                        }
                            if (hoverDisplay == "Value") {
                                if (dataType == "Number") hover.html("<span style='font-size:" + hoverValueSize + ";font-family:" + hoverValueFont + ";color:" + hoverValueColor + ";'>" + numberFormat(d.VALUE) + "</span>");
                                if (dataType == "Percent") hover.html("<span style='font-size:" + hoverValueSize + ";font-family:" + hoverValueFont + ";color:" + hoverValueColor + ";'>" + percentFormat(d.VALUE) + "</span>");
                                if (dataType == "Dollar") hover.html("<span style='font-size:" + hoverValueSize + ";font-family:" + hoverValueFont + ";color:" + hoverValueColor + ";'>" + dollarFormat(d.VALUE) + "</span>");
                            }
                        }
                    })
                    .on("mouseout", function(d) { if (hoverStates == true) hover.style("left", -100).style("top", -100).transition().duration(100).style("opacity", 0); })
                    .on("mousemove", function(d, i) { if (hoverStates == true)hover.style("left", (d3.event.pageX) + 20 + "px").style("top", (d3.event.pageY) + "px"); })
                    .on('click', function(d) { 
                        var filtr = "." + d.abbrev; 
                        $container.isotope({ filter: filtr }); 
                        console.log(filtr); 
                        $("#filters button").removeClass('s-active');
                    });
                    
                if (chartTitleXLoc == "Left") { var cxpos = margin.left; var ctextanchor = "start"; };
                if (chartTitleXLoc == "Center") { var cxpos = (w - margin.right - margin.left)/2 + margin.left; var ctextanchor = "middle"; };
                if (chartTitleXLoc == "Right") { var cxpos = (w - margin.right - margin.left) + margin.left; var ctextanchor = "end"; };
                
                if (chartTitle == true) {
                graph.append("text")
                    .attr("transform", "translate(" + cxpos + "," + (margin.top + chartTitleYLoc) + ")")
                    .style({ 'text-anchor': ctextanchor, 'font-family': chartTitleFont, 'font-size': chartTitleSize, 'fill': chartTitleColor})
                    .text(chartTitleText);
                }
                
            }
            
        };
        
            this.updateChart = function(){
                d3.select("svg").remove()
                this.mainChart()
            };  
        };
        
    var chart = new createChart()         
    chart.mainChart()
})()</script>





{% end %}