{% extends "main.html" %}
{% autoescape None %}

{% block body %}

<div class="m-candidates">
	<h1>{{ page_heading }}</h1>
	<h3>Filter by Sector</h3>
	<div id="filters" class="m-candidates-buttons button-group" data-toggle="buttons-checkbox">
	    <button data-filter="*">show all</button>
	    <select name="" id="">
	    {% for sector in sectors %}
		    <option data-filter=".{{sector.strip().replace(" ", "-").replace("/","")}}">{{sector}}</option>
	    {%end%}
	    </select>
	</div>
		<div class="m-candidates isotopes-container" data-isotope-options='{ "layoutMode": "fitColumns" }'>
			{% for company in companies %}
				<div class="m-candidates-item {% for sector in company.sector %}{{sector.strip().replace(" ", "-").replace("/","")}} {%end%}">
					<div class="m-homepage-list-name companyName"><p><strong>{{ company.companyName }}</strong></p></div>
					<div class="m-homepage-list-sectors"><p>{{ ', '.join(company.sector) }}</p></div>
					<div class="m-homepage-list-desc"><p>{{ company.descriptionShort }}</p></div>
				</div>
			{%end%}
		</div>
	</div>
{% end %}