{% extends "main.html" %}
{% autoescape None %}

{% block body %}

<h1><a href="{% if 'http' in company.url %}{{company.url}}{%else%}http://{{company.url}}{%end%}">{{ page_heading }}</a></h1>

<div class="m-list-company-full">
	{% if not company.vetted %}
		<div class="m-half">
			<h3>Company Information</h3>
			<p><strong>Location:</strong>{{company.state}}</p>
			<p><strong>Category: </strong> {{company.companyCategory}}</p>
			<p><strong>Short Description: </strong> {{company.descriptionShort}}</p>
		</div>
	{% end %}
	{% if company.vetted %}
		<div class="m-half">
			<h3>Company Information</h3>
			<p><strong>Year Founded:</strong> {{company.yearFounded}}</p>
			<p><strong>Location:</strong> {{company.city}}, {{company.state}}</p>
			<p><strong>FTE:</strong> {% if company.fte == 0 %}Not Available{%else%}{{company.fte}}{%end%}</p>
			<p><strong>Type of Company:</strong> {{company.companyType}}</p>
			<p><strong>Category:</strong> {{company.companyCategory}}</p>
			<p><strong>Source of Revenue:</strong> {{ ", ".join(company.revenueSource) }}</p>
		</div>
		<div class="m-half">
			<h3>Description:</h3>
			<p>{{company.description}}</p>
			<h3>Financial Info:</h3>
			<p>{{company.financialInfo}}</p>
		</div>
	{% end %}
	<div class="m-full datasets">
		<h3>Agencies</h3>
		{%for a in company.agencies %}
			<div class="company-view-agency-list">
				<h3><a href="{{a.url}}">{{a.name}}</a></h3>
				<div class="company-view-agency-name">
					{% for d in a.datasets %} 
						{% if d.usedBy == company %}
							<ul>
								{% if d.datasetURL %}
									<li><a href="{{d.datasetURL}}"><strong>{{ d.datasetName }}</strong></a></li>
								{% else %}
									<li><strong>{{ d.datasetName }}</strong></li>
								{% end %}
							</ul>
						{%end%}
					{% end %}
				</div>
			</div>
		{% end %}
	</div>
</div>	
<br>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'opendata500'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

{% end %}