
{% extends "main.html" %}
{% autoescape None %}

{% block body %}

<section class="m-download">
	<h1>{{ page_heading }}</h1>
	
	<div class="m-download-item">
		<p>Download CSV</p>
		<a class="m-button" href="/download/OD500_Companies.csv">Download</a>	
	</div>
	<div class="m-download-item">
		<p>Download Companies JSON</p>
		<a class="m-button" href="/download/OD500_Companies.json">Download</a>
	</div>
	<div class="m-download-item">
		<p>Download Datasets JSON</p>
		<a class="m-button" href="/download/OD500_Datasets.json">Download</a>
	</div>

	
	
	
</section>


{% end %}