
{% extends "main.html" %}
{% autoescape None %}

{% block body %}

<section class="m-download">
	<h1>{{ page_heading }}</h1>
	
	<div class="m-download-item">
		<p>List of 50</p>
		<a class="m-button" href="/download/OD500_Companies.csv">CSV</a>	
	</div>
	<div class="m-download-item">
		<p>List of 500 Canidadtes</p>
		<a class="m-button" href="/download/OD500_Companies.csv">CSV</a>	
	</div>
	<div class="m-download-item">
		<p>List of 50</p>
		<a class="m-button" href="/download/OD500_Companies.json">JSON</a>
	</div>
	<div class="m-download-item">
		<p>Datasets for List of 50</p>
		<a class="m-button" href="/download/OD500_Datasets.json">JSON</a>
	</div>

	
	
	
</section>


{% end %}