{% extends "main.html" %}
{% autoescape None %}

{% block body %}

<h1>{{ page_heading }}</h1>

<p>The object ID is: </p> {{ id }}


<p>Please fill out the following information for the datasets that you consider to be the most important to your core business.</p>

<form method="post" id="submitDataset">
	Name of Dataset: <input type="text" name="datasetName" id="datasetName" value ="{{ dataset.datasetName }}"><br>
	URL of Dataset: <input type="text" name="datasetURL" id="datasetURL" value ="{{ dataset.datasetURL }}"><br>
	<p>Type of Dataset:</p>

	{% for type in datatypes %}
		<input type="checkbox" name="dataType" value="{{ type }}" {% if type in dataset.dataType %} checked {% end %}>{{ type }}<br>
	{% end %}
	{%if list(set(dataset.dataType) - set(datatypes)) %}
		<input type="checkbox" name="dataType" value="Other" checked>Other<br>
		<input type="text" name="otherDataType" id="otherDataType" value="{{ list(set(dataset.dataType) - set(datatypes))[0] }}"><br>
	{% else %}
		<input type="checkbox" name="dataType" value="Other">Other<br>
		<input type="text" name="otherDataType" id="otherDataType"><br>
	{% end %}
	<input type="hidden" class="id" name="id" value="{{ id }}">
	<input type="submit" id="submit">
</form>


{% end %}