{% extends "main.html" %}
{% autoescape None %}

{% block body %}
{{ page_heading }}


<form method="post" id="submitCompany">
	Name of company: <input type="text" name="companyName" id="companyName" value="{{ company.companyName }}"><br>
	Company URL: <input type='text' name="url" id='url' value="{{ company.url }}"><br>
	First Name of CEO: <input type="text" name="ceoFirstName" id="ceoFirstName" value="{{ company.ceo.firstName}}"><br>
	Last Name of CEO: <input type="text" name="ceoLastName" id="ceoLastName" value="{{ company.ceo.lastName }}"><br>
	CEO Email: <input type="text" name="ceoEmail" id="ceoEmail" value="{{ company.ceo.email }}"><br>
	Type of Company:<br>
	{% for type in companyType %}
		<input type="radio" name="companyType" value="{{ type }}" {% if company.companyType == type %} checked {% end %}>{{ type }}<br>
	{% end %}
	{%if company.companyType not in companyType %}
		<input type="radio" name="companyType" value="other" checked>Other<br>
		<input type="text" name="otherCompanyType" id="otherCompanyType" value ="{{ company.companyType }}"><br>
	{% else %}
		<input type="radio" name="companyType" value="other">Other<br>
		<input type="text" name="otherCompanyType" id="otherCompanyType"><br>
	{% end %}
	Founding Year: <input type="text" name="yearFounded" id="yearFounded" value="{{ company.yearFounded }}"><br>
	Number of FTE's: <input type="text" name="fte" id="fte" value="{{ company.fte }}"><br>
	
	<p>Which best describes the function of your company?</p>
	{% for function in companyFunction %}
		<input type="radio" name="companyFunction" value="{{ function }}" {% if company.companyFunction == function %} checked {% end %}>{{ function }}<br>
	{% end %}
	{%if company.companyFunction not in companyFunction %}
		<input type="radio" name="companyFunction" value="other" checked>Other<br>
		<input type="text" name="otherCompanyFunction" id="otherCompanyFunction" value="{{ company.companyFunction }}"><br>
	{% else %}
		<input type="radio" name="companyFunction" value="other">Other<br>
		<input type="text" name="otherCompanyFunction" id="otherCompanyFunction"><br>
	{% end %}
	
	<p>Which of the following are critical sources of data for your company? By “critical,” we mean that your company would have to shut down a line of business, shut down completely, or replace the data in some way if the data were no longer available. (check all that apply) *</p>
	{% for dataType in criticalDataTypes %}
		<input type="checkbox" name="criticalDataTypes" value="{{ dataType }}" {% if dataType in company.criticalDataTypes %} checked {% end %}>{{ dataType }}<br>
	{% end %}
	{% if 'other' in company.criticalDataTypes %}
		<input type="checkbox" name="criticalDataTypes" value="other" checked>Other<br>
		<input type="text" name="otherCriticalDataTypes" id="otherCriticalDataTypes" value="{{ company.criticalDataTypes[len(company.criticalDataTypes)-1] }}"><br>
	{% else %}
		<input type="checkbox" name="criticalDataTypes" value="other">Other<br>
		<input type="text" name="otherCriticalDataTypes" id="otherCriticalDataTypes"><br>
	{% end %}

	<p>Which of the following are significant sources of revenue for your company? (check all that apply) *</p>
	{% for source in revenueSource %}
		<input type="checkbox" name="revenueSource" value="{{ source }}" {% if source in company.revenueSource %} checked {% end %}>{{ source }}<br>
	{% end %}
	{% if 'other' in company.criticalDataTypes %}
		<input type="checkbox" name="revenueSource" value="other" checked>Other<br>
		<input type="text" name="otherRevenueSource" id="otherRevenueSource" value="{{ company.revenueSource[len(company.revenueSource)-1] }}"><br>
	{% else %}
		<input type="checkbox" name="revenueSource" value="other">Other<br>
		<input type="text" name="otherRevenueSource" id="otherRevenueSource"><br>
	{% end %}

	<p>What sector(s) does your company's work involve? (check all that apply): *</p>
	{% for sector in sectors %}
		<input type="checkbox" name="sector" value="{{ sector }}" {% if sector in company.sector %} checked {% end %}>{{ sector }}<br>
	{% end %}
	{% if 'other' in company.sector %}
		<input type="checkbox" name="sector" value="other" checked>Other<br>
		<input type="text" name="otherSector" id="otherSector" value="{{ company.sector[len(company.sector)-1] }}"><br>
	{% else %}
		<input type="checkbox" name="sector" value="other">Other<br>
		<input type="text" name="otherSector" id="otherSector"><br>
	{% end %}

	<p>Please give us a short public statement describing your company’s mission and work. You can take this material from your website or other publications if you choose to. [200 words or less] *</p>
	<textarea rows="6" cols="70" name="descriptionLong" id="descriptionLong">{{ company.descriptionLong }}</textarea><br>
	<p>As a summary, please provide a one sentence description of your company. [25 words or less] *</p>
	<textarea rows="6" cols="70" name="descriptionShort" id="descriptionShort">{{ company.descriptionShort }}</textarea><br>
	<p>Besides revenue generation, how do you measure the impact your company has for society and the public good? [50 words or less]</p>
	<textarea rows="6" cols="70" name="socialImpact" id="socialImpact">{{ company.socialImpact }}</textarea><br>
	<p>Please include any financial or operational information that will help us understand your company. We are interested in specific information like past and projected annual revenues, total outside investment dollars to date, and significant investors or partners. [100 words or less]</p>
	<textarea rows="6" cols="70" name="financialInfo" id="financialInfo">{{ company.financialInfo }}</textarea><br>
	<p>Vetted?</p>
	<input type="radio" name="vetted" id="vetted" value="True" {% if company.vetted %} checked {% end %}>True<br>
	<input type="radio" name="vetted" id="vetted" value="False" {% if not company.vetted %} checked {% end %}>False<br>
	<input type="hidden" class="id" name="id" value="{{ id }}">
	<input type="submit" id="submit">
</form>


{% end %}