{% extends "main.html" %}
{% autoescape None %}

{% block body %}
<h2>{{ page_heading }}</h2>

<form method="post" id="submitCompany" class="m-form">
	<fieldset class="m-form-half">
		<div class="m-form-line"><label for="">First Name: *</label><input type="text" name="firstName" id="firstName" value="{{ company.submitter.firstName }}"></div>
		<div class="m-form-line"><label for="">Last Name: *</label><input type="text" name="lastName" id="lastName" value="{{ company.submitter.lastName }}"></div>
		<div class="m-form-line"><label for="">Title: *</label><input type="text" name="title" id="title" value="{{ company.submitter.title }}"></div>
		<div class="m-form-line"><label for="">Email: *</label><input type="text" name="email" id="email" value="{{ company.submitter.email }}"></div>
		<div class="m-form-line"><label for="">Phone:</label><input type="text" name="phone" id="phone" value="{{ company.submitter.phone }}"></div>
		<div class="m-form-box contacted-box"><label for="contacted"><input type="checkbox" name="contacted" id="contacted" value="contacted" {% if company.submitter.contacted %} checked {% end %}>Please check here if you would be willing to be contacted for further information about your company.</label></div>
	</fieldset>

	<fieldset class="m-form-half right">		
		<div class="m-form-line"><label for="companyName">Name of company:</label><input type="text" name="companyName" id="companyName" value="{{ company.companyName }}"></div>
		<div class="m-form-line"><label for="url">Company URL:</label><input type='text' name="url" id='url' value="{{ company.url }}"></div>
		<div class="m-form-line"><label for="ceoFirstName">First Name of CEO:</label><input type="text" name="ceoFirstName" id="ceoFirstName" value="{{ company.ceo.firstName}}"></div>
		<div class="m-form-line"><label for="ceoLastName">Last Name of CEO:</label><input type="text" name="ceoLastName" id="ceoLastName" value="{{ company.ceo.lastName }}"></div>
		<div class="m-form-line"><label for="ceoEmail">CEO Email:</label><input type="text" name="ceoEmail" id="ceoEmail" value="{{ company.ceo.email }}"></div>
		<div class="m-form-line"><label for="city">In which city is this company located?</label><input type="text" name="city" id="city" {% if company.city %} value="{{ company.city }}" {% end %}></div>
		<div class="m-form-line"><label for="zipCode">Zip Code:</label><input type="text" name="zipCode" id="zipCode" {% if company.zipCode %} value="{{ company.zipCode }}" {% end %}></div>
		<div class="m-form-box">Type of Company:<br>
		{% for type in companyType %}
			<label for=""><input type="radio" name="companyType" value="{{ type }}" {% if company.companyType == type %} checked {% end %}>{{ type }}</label>
		{% end %}
		{%if company.companyType not in companyType %}
			<label for=""><input type="radio" name="companyType" value="other" checked>Other
			<input type="text" name="otherCompanyType" id="otherCompanyType" value ="{{ company.companyType }}"></label>
		{% else %}
			<label for=""><input type="radio" name="companyType" value="other">Other
			<input type="text" name="otherCompanyType" id="otherCompanyType"></label>
		{% end %}
		</div>
		<div class="m-form-line"><label for="">Founding Year:</label><input type="text" name="yearFounded" id="yearFounded" value="{{ company.yearFounded }}"></div>
		<div class="m-form-line"><label for="">Number of FTE's:</label><input type="text" name="fte" id="fte" value="{{ company.fte }}"></div>
	</fieldset>

	<fieldset class="m-form-half">
		<h3>Which best describes the function of your company?</h3>
		{% for function in companyFunction %}
			<label for=""><input type="radio" name="companyFunction" value="{{ function }}" {% if company.companyFunction == function %} checked {% end %}>{{ function }}</label><br>
		{% end %}
		{%if company.companyFunction not in companyFunction %}
			<label for=""><input type="radio" name="companyFunction" value="other" checked>Other</label><br>
			<label for=""><input type="text" name="otherCompanyFunction" id="otherCompanyFunction" value="{{ company.companyFunction }}"></label><br>
		{% else %}
			<label for=""><input type="radio" name="companyFunction" value="other">Other</label>
			<label for=""><input type="text" name="otherCompanyFunction" id="otherCompanyFunction"></label>
		{% end %}
	</fieldset>
	
	<fieldset class="m-form-half right">
		<h3>Which of the following are critical sources of data for your company? By “critical,” we mean that your company would have to shut down a line of business, shut down completely, or replace the data in some way if the data were no longer available. (check all that apply) *</h3>
		{% for dataType in criticalDataTypes %}
			<label for=""><input type="checkbox" name="criticalDataTypes" value="{{ dataType }}" {% if dataType in company.criticalDataTypes %} checked {% end %}>{{ dataType }}</label><br>
		{% end %}
		{% if list(set(company.criticalDataTypes) - set(criticalDataTypes)) %}
			<label for=""><input type="checkbox" name="criticalDataTypes" value="Other" checked>Other</label>
			<label for=""><input type="text" name="otherCriticalDataTypes" id="otherCriticalDataTypes" value="{{ list(set(company.criticalDataTypes) - set(criticalDataTypes))[0] }}"></label><br>
		{% else %}
			<label for=""><input type="checkbox" name="criticalDataTypes" value="Other">Other</label>
			<label for=""><input type="text" name="otherCriticalDataTypes" id="otherCriticalDataTypes"></label>
		{% end %}
	</fieldset>
	<fieldset class="m-form-half">
		<h3>Which of the following are significant sources of revenue for your company? (check all that apply) *</h3>
		{% for source in revenueSource %}
			<label for=""><input type="checkbox" name="revenueSource" value="{{ source }}" {% if source in company.revenueSource %} checked {% end %}>{{ source }}<br>
		{% end %}
		{% if list(set(company.revenueSource) - set(revenueSource)) %}
			<label for=""><input type="checkbox" name="revenueSource" value="Other" checked>Other
			<input type="text" name="otherRevenueSource" id="otherRevenueSource" value="{{ list(set(company.revenueSource) - set(revenueSource))[0] }}"></label>
		{% else %}
			<label for=""><input type="checkbox" name="revenueSource" value="Other">Other
			<input type="text" name="otherRevenueSource" id="otherRevenueSource"></label>
		{% end %}
	</fieldset>
	<fieldset class="m-form-half right">
		<h3>What sector(s) does your company's work involve? (check all that apply): *</h3>
		{% for sector in sectors %}
			<label for=""><input type="checkbox" name="sector" value="{{ sector }}" {% if sector in company.sector %} checked {% end %}>{{ sector }}<br>
		{% end %}
		{% if list(set(company.sector) - set(sectors)) %}
			<label for=""><input type="checkbox" name="sector" value="Other" checked>Other
			<input type="text" name="otherSector" id="otherSector" value="{{ list(set(company.sector) - set(sectors))[0] }}"></label>
		{% else %}
			<label for=""><input type="checkbox" name="sector" value="other">Other
			<input type="text" name="otherSector" id="otherSector"></label>
		{% end %}
	</fieldset>
	<fieldset class="m-form-half">
		<h3>Please give us a short public statement describing your company’s mission and work. You can take this material from your website or other publications if you choose to. [200 words or less] *</h3>
		<textarea rows="10" cols="59" name="descriptionLong" id="descriptionLong">{{ company.descriptionLong }}</textarea><br>
		<h3>As a summary, please provide a one sentence description of your company. [25 words or less] *</h3>
		<textarea rows="10" cols="59" name="descriptionShort" id="descriptionShort">{{ company.descriptionShort }}</textarea><br>
		<h3>Besides revenue generation, how do you measure the impact your company has for society and the public good? [50 words or less]</h3>
		<textarea rows="10" cols="59" name="socialImpact" id="socialImpact">{{ company.socialImpact }}</textarea><br>
	</fieldset>
	<fieldset class="m-form-half right">
		<h3>Please include any financial or operational information that will help us understand your company. We are interested in specific information like past and projected annual revenues, total outside investment dollars to date, and significant investors or partners. [100 words or less]</h3>
		<textarea rows="10" cols="59" name="financialInfo" id="financialInfo">{{ company.financialInfo }}</textarea><br>
		<h3>Vetted?</h3>
		<input type="radio" name="vetted" id="vetted" value="True" {% if company.vetted %} checked {% end %}>True<br>
		<input type="radio" name="vetted" id="vetted" value="False" {% if not company.vetted %} checked {% end %}>False<br>
	</fieldset>
	<div class="m-form-footer">	
		<input type="hidden" class="id" name="id" value="{{ id }}">
		<input class="m-button" type="submit" id="submit" value="Save">
	</div>
</form>


{% end %}