{% extends "main.html" %}
{% autoescape None %}

{% block body %}

<h2>{{ page_heading }}</h2>

<p>Please fill out the following information for the datasets that you consider to be the most important to your core business.</p>


{% if dataset %}
<form method="post" class="m-form" parsley-validate>
	<div class="m-form-line"><label for="datasetName">Name of Dataset:</label><input type="text" name="datasetName" id="datasetName" parsley-trigger="change" parsley-required="true" value ="{{ dataset.datasetName }}"></div>
	<div class="m-form-line"><label for="datasetURL">URL of Dataset:</label><input type="text" name="datasetURL" id="datasetURL" parsley-trigger="change" parsley-type="url" value ="{{ dataset.datasetURL }}"></div>
	<div class="m-form-line"><label for="agency">Agency or Source: *</label><input type="text" name="agency" id="datasetAgency" parsley-required="true" parsley-trigger="change" value="{{dataset.agency}}"></div>

	<div class="m-form-box">Type of Dataset: *<br>
		<p>Type of Dataset:</p>
		{% for type in datatypes %}
			<input type="checkbox" name="dataType" value="{{ type }}" {% if type in dataset.dataType %} checked {% end %}>{{ type }}<br>
		{% end %}
		{%if list(set(dataset.dataType) - set(datatypes)) %}
			<input type="checkbox" name="dataType" parsley-required="true" value="Other" checked>Other<br><input type="text" name="otherDataType" id="otherDataType" value="{{ list(set(dataset.dataType) - set(datatypes))[0] }}"><br>
		{% else %}
			<input type="checkbox" name="dataType" parsley-required="true" value="Other">Other<br><input type="text" name="otherDataType" id="otherDataType"><br>
		{% end %}
	</div>
	<input type="hidden" class="id" name="id" value="{{ dataset.id }}">
	{% raw xsrf_form_html() %}
	<div class="m-form-footer">
		<input type="submit" id="submit" class="m-button" value="Save and Go Back">
	</div>
</form>
{% end %}

{% end %}