{% extends "main.html" %}
{% autoescape None %}

{% block body %}
		<style type="text/css">

			rect:hover {
				fill: #a9db6c;
			}
			
			#tooltip {
				position: absolute;
				width: 25px;
				text-align: center;
				height: auto;
				padding: 10px;
				background-color: white;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
				-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
				box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
				pointer-events: none;
			}
			
			#tooltip.hidden {
				display: none;
			}
			
			#tooltip p {
				margin: 0;
				font-family: sans-serif;
				font-size: 16px;
				line-height: 20px;
			}

			.axis path,
			.axis line {
				fill: none;
				stroke: #000;
				shape-rendering: crispEdges;
			}

			.x.axis path {
				display: none;
			}
			.x.axis .tick {
				stroke-width: 0px;
			}

			.findings-chart {
				border: 0px;
			}

		</style>


<div class="findings-page">
    <h1>OD500 Stats</h1>
    <p>The Open Data 500 is a living study which the GovLab will maintain and update it on an ongoing basis. We welcome inquiries, input, and comments on our work and findings. Please write to us at <a href="mailto:opendata500@thegovlab.org">OpenData500@thegovlab.org</a> or tweet at @OpenData500 and #OD500.</p>
    <p>Major patterns of open data companies:</p>
    <ul>
        <li>Open government data is a key business resource for hundreds of U.S.-based companies. Previous studies have estimated the broad economic value of open government data, but the Open Data 500 is the first to take a more granular, empirical approach that looks at individual companies in depth. Our results confirm that a variety of government open data is being used by a large number of companies of all kinds.</li>
        <li>Open Data companies operate in a large number of sectors and use very diverse sources of open government data. We found Open Data companies large and small, across the country, in all sectors. Many companies use more than 100 different data sources from a range of government agencies. Conversely, individual agencies not only provide data to a large number of companies, they often serve companies in very different sectors of the economy.</li>
        <li>Open Data companies generate value through a wide variety of operating models. These companies earn revenue from a range of sources, including advertising, sales of services, referrals to other businesses, etc.</li>
    </ul>
    <section>
        <div class="findings-chart categories-chart">
            <h2>Types of Companies</h2>
            <div id="category-bar-chart"></div>
        </div>
        <div class="findings-chart">
            <h2>Number of Companies Using Each Agency</h2>
            <div id="agency-bar-chart"></div>
        </div>
        <div id="tooltip" class="hidden">
			<p><span id="value">100</span></p>
		</div>
    </section>
    
</div>

<script src="http://d3js.org/d3.v3.min.js"></script>

<!-- D3 Graphs -->
<script type="text/javascript">

    var category_bar_data = [
						{name:"Business & Legal Services",value:39},
						{name:"Data/Technology",value:120},
						{name:"Education",value:19},
						{name:"Energy",value:22},
						{name:"Environment & Weather",value:13},
						{name:"Finance & Investment",value:72},
						{name:"Food & Agriculture",value:5},
						{name:"Geospatial/Mapping",value:27},
						{name:"Governance",value:30},
						{name:"Healthcare",value:37},
						{name:"Housing/Real Estate",value:19},
						{name:"Insurance",value:12},
						{name:"Lifestyle & Consumer",value:17},
						{name:"Research & Consulting",value:24},
						{name:"Scientific Research",value:15},
						{name:"Transportation",value:30}]
      
      var agency_bar_data = [{name:"Department of Commerce ", value:121},
							{name:"Department of Health and Human Services ", value:75},
							{name:"Securities and Exchange Commission ", value:42},
							{name:"Department of Labor ", value:28},
							{name:"Department of Energy ", value:24},
							{name:"Department of Education ", value:21},
							{name:"U.S. Environmental Protection Agency ", value:19},
							{name:"Department of the Treasury ", value:17},
							{name:"Department of Agriculture ", value:16},
							{name:"Department of Transportation ", value:15},
							{name:"Department of the Interior ", value:12},
							{name:"Department of Homeland Security ", value:9},
							{name:"Department of Justice ", value:9},
							{name:"Federal Reserve Board ", value:8},
							{name:"Department of Defense ", value:7},
							{name:"National Aeronautics and Space Administration ", value:5},
							{name:"Federal Election Commission ", value:4},
							{name:"Consumer Financial Protection Bureau ", value:3},
							{name:"General Services Administration ", value:3},
							{name:"Federal Deposit Insurance Corporation ", value:3}]

//------------------------------------------------------------------------------------CATEGORY CHART----------------------------------------------------------------------
			function make_category_chart() {
      		//Width and height
			var margin = {top: 10, right: 20, bottom: 170, left: 50},
			    w = 660 - margin.left - margin.right,
			    h = 500 - margin.top - margin.bottom;
			
			
			var dataset = category_bar_data;
			dataset.sort(function(a, b) { return b.value - a.value; })
			var xScale = d3.scale.ordinal()
							.domain(dataset.map(function(d) { return d.name; }))
							.rangeRoundBands([0, w], 0.05);

			var yScale = d3.scale.linear()
							.domain([0, d3.max(dataset, function(d) { return d.value; })])
							.range([h, 0]);
			
			var yAxis = d3.svg.axis()
			    .scale(yScale)
			    .orient("left")
			    .ticks(6);

			var xAxis = d3.svg.axis()
			    .scale(xScale)
			    .orient("bottom");
			
			//Chart
			var svg = d3.select("#category-bar-chart")
						.append("svg")
						.attr("width", w + margin.left + margin.right)
    					.attr("height", h + margin.top + margin.bottom)
    					.append("g")
    					.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    		//x-axis and labels
    		svg.append("g")
		        .attr("class", "x axis")
		        .attr("transform", "translate(0," + h + ")")
		        .call(xAxis)
		        .selectAll("text")  
		            .style("text-anchor", "end")
		            .attr("dx", "-.8em")
		            .attr("dy", ".15em")
		            .attr("transform", function(d) {
		                return "rotate(-65)" 
		                });

		    //y-axis and labels
			svg.append("g")
				.attr("class", "y axis")
				.call(yAxis)
				.append("text")
				.attr("transform", "rotate(-90)")
				.attr("y", -50)
				.attr("x", -50)
				.attr("dy", ".71em")
				.style("text-anchor", "end")
				.text("Number of Companies");

			//Create bars
			var rect = svg.selectAll("rect")
			   .data(dataset)
			   .enter()
			   .append("rect")
			   .attr("x", function(d, i) {
			   		return xScale(d.name);
			   })
			   .attr("y", function(d) {
			   		return yScale(d.value);
			   })
			   .attr("width", xScale.rangeBand())
			   .attr("height", function(d) {
			   		return h - yScale(d.value);
			   })
			   .attr("fill", "#543a7d")
			   .on("mouseover", function(d) {
			   		var coordinates = d3.mouse(this);
					var xPosition = coordinates[0]; 
					var yPosition = coordinates[1]; 
					d3.select("#tooltip")
						.style("left", d3.event.pageX + "px")
						.style("top", (d3.event.pageY - 28) + "px")						
						.select("#value")
						.text(d.value);
					d3.select("#tooltip").classed("hidden", false);
			   })
			   .on("mousemove", mousemove)
			   .on("mouseout", function() {
					d3.select("#tooltip").classed("hidden", true);
			   });

			function mousemove(d, i) {
				var coordinates = d3.mouse(this);
				var xPosition = coordinates[0]; 
				var yPosition = coordinates[1]; 
		   		d3.select("#tooltip")
		   			.style("left", d3.event.pageX + "px")
					.style("top", (d3.event.pageY - 28) + "px")
			}
		}

//------------------------------------------------------------------------------------AGENCIES CHART----------------------------------------------------------------------
	function make_agency_chart() {
      		//Width and height
			var margin = {top: 10, right: 20, bottom: 310, left: 70},
			    w = 660 - margin.left - margin.right,
			    h = 700 - margin.top - margin.bottom;
			
			
			var dataset = agency_bar_data;
			dataset.sort(function(a, b) { return b.value - a.value; })
			var xScale = d3.scale.ordinal()
							.domain(dataset.map(function(d) { return d.name; }))
							.rangeRoundBands([0, w], 0.05);

			var yScale = d3.scale.linear()
							.domain([0, d3.max(dataset, function(d) { return d.value; })+10])
							.range([h, 0]);
			console.log(d3.max(dataset, function(d) { return d.value; }))
			var yAxis = d3.svg.axis()
			    .scale(yScale)
			    .orient("left")
			    .ticks(6);

			var xAxis = d3.svg.axis()
			    .scale(xScale)
			    .orient("bottom");
			
			//Chart
			var svg = d3.select("#agency-bar-chart")
						.append("svg")
						.attr("width", w + margin.left + margin.right)
    					.attr("height", h + margin.top + margin.bottom)
    					.append("g")
    					.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    		//x-axis and labels
    		svg.append("g")
		        .attr("class", "x axis")
		        .attr("transform", "translate(0," + h + ")")
		        .call(xAxis)
		        .selectAll("text")  
		            .style("text-anchor", "end")
		            .attr("dx", "-.8em")
		            .attr("dy", ".15em")
		            .attr("transform", function(d) {
		                return "rotate(-65)" 
		                });

		    //y-axis and labels
			svg.append("g")
				.attr("class", "y axis")
				.call(yAxis)
				.append("text")
				.attr("transform", "rotate(-90)")
				.attr("y", -50)
				.attr("x", -50)
				.attr("dy", ".71em")
				.style("text-anchor", "end")
				.text("Number of Companies");

			//Create bars
			var rect = svg.selectAll("rect")
			   .data(dataset)
			   .enter()
			   .append("rect")
			   .attr("x", function(d, i) {
			   		return xScale(d.name);
			   })
			   .attr("y", function(d) {
			   		return yScale(d.value);
			   })
			   .attr("width", xScale.rangeBand())
			   .attr("height", function(d) {
			   		return h - yScale(d.value);
			   })
			   .attr("fill", "#543a7d")
			   .on("mouseover", function(d) {
			   		var coordinates = d3.mouse(this);
					var xPosition = coordinates[0]; 
					var yPosition = coordinates[1]; 
					d3.select("#tooltip")
						.style("left", d3.event.pageX + "px")
						.style("top", (d3.event.pageY - 28) + "px")						
						.select("#value")
						.text(d.value);
					d3.select("#tooltip").classed("hidden", false);
			   })
			   .on("mousemove", mousemove)
			   .on("mouseout", function() {
					d3.select("#tooltip").classed("hidden", true);
			   });

			function mousemove(d, i) {
				var coordinates = d3.mouse(this);
				var xPosition = coordinates[0]; 
				var yPosition = coordinates[1]; 
		   		d3.select("#tooltip")
		   			.style("left", d3.event.pageX + "px")
					.style("top", (d3.event.pageY - 28) + "px")
			}
		}


make_category_chart();
make_agency_chart();

</script>


{% end %}