{% extends "main.html" %}
{% autoescape None %}

{% block body %}
<section>
    <h2 class="m-page-title">How to Participate</h2>
    <div class="m-half">
        <h3>Companies</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt minus ratione tempore molestiae, laborum vero facere facilis, impedit est unde fuga, odio provident sequi voluptatem laboriosam deserunt aliquam. Eveniet, dignissimos? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error et impedit corporis, deleniti enim culpa at nobis animi itaque ea obcaecati blanditiis alias quam, perferendis adipisci officiis odit saepe illum.</p>
    </div>
    <div class="m-half">
        <h3>Datasets</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt minus ratione tempore molestiae, laborum vero facere facilis, impedit est unde fuga, odio provident sequi voluptatem laboriosam deserunt aliquam. Eveniet, dignissimos? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error et impedit corporis, deleniti enim culpa at nobis animi itaque ea obcaecati blanditiis alias quam, perferendis adipisci officiis odit saepe illum.</p>
    </div>   
</section>
<section>
    <h2 class="m-page-title">About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim cupiditate laboriosam ex quas cum quia repudiandae maiores quaerat suscipit, fugiat, quos, debitis porro a nulla similique eos aspernatur culpa vero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim cupiditate laboriosam ex quas cum quia repudiandae maiores quaerat suscipit, fugiat, quos, debitis porro a nulla similique eos aspernatur culpa vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim cupiditate laboriosam ex quas cum quia repudiandae maiores quaerat suscipit, fugiat, quos, debitis porro a nulla similique eos aspernatur culpa vero.</p>
    <p class="more"><a href="#" class="m-button">Read More</a></p>
</section>
<section>
    <h2 class="m-page-title">Expert Advisors</h2>
    <div class="m-half">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt minus ratione tempore molestiae, laborum vero facere facilis, impedit est unde fuga, odio provident sequi voluptatem laboriosam deserunt aliquam. Eveniet, dignissimos? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error et impedit corporis, deleniti enim culpa at nobis animi itaque ea obcaecati blanditiis alias quam, perferendis adipisci officiis odit saepe illum.</p>
    </div>
    <div class="m-half">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt minus ratione tempore molestiae, laborum vero facere facilis, impedit est unde fuga, odio provident sequi voluptatem laboriosam deserunt aliquam. Eveniet, dignissimos? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error et impedit corporis, deleniti enim culpa at nobis animi itaque ea obcaecati blanditiis alias quam, perferendis adipisci officiis odit saepe illum.</p>
    </div>   
</section>
{% end %}