{% extends "main.html" %}
{% autoescape None %}

{% block body %}
<script src="{{ static_url("js/d3.v3.min.js") }}"></script>
<script src="{{ static_url("js/sankey.js") }}"></script>
<h1 class="logo"><img src="{{ static_url("img/od500-logo.png") }}" alt=""></h1>

<div class="m-homepage">

<h1>Welcome to the Open Data 500</h1>


<section class="m-homepage-explore">
     <h2 style="font-size: 2.7em">What types of companies use which agencies?</h2>
	<p id="chart">	
</section>


<script type="text/javascript">
//------------------------------CHART/DIAGRAM------------------------------------------



// var width = 720,
//     height = 720,
//     outerRadius = Math.min(width, height) / 2 - 10,
//     innerRadius = outerRadius - 24;

// var formatPercent = d3.format(".1%");

// var arc = d3.svg.arc()
//     .innerRadius(innerRadius)
//     .outerRadius(outerRadius);

// var layout = d3.layout.chord()
//     .padding(.04)
//     .sortSubgroups(d3.descending)
//     .sortChords(d3.ascending);

// var path = d3.svg.chord()
//     .radius(innerRadius);

// var svg = d3.select("body").append("svg")
//     .attr("width", width)
//     .attr("height", height)
//   .append("g")
//     .attr("id", "circle")
//     .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

// svg.append("circle")
//     .attr("r", outerRadius);

// d3.csv("{{ static_url('cities.csv') }}", function(cities) {
//   d3.json("{{ static_url('matrix.json') }}", function(matrix) {

//     // Compute the chord layout.
//     layout.matrix(matrix);

//     // Add a group per neighborhood.
//     var group = svg.selectAll(".group")
//         .data(layout.groups)
//       .enter().append("g")
//         .attr("class", "group")
//         .on("mouseover", mouseover);

//     // Add a mouseover title.
//     group.append("title").text(function(d, i) {
//       return cities[i].name + ": " + formatPercent(d.value) + " of origins";
//     });

//     // Add the group arc.
//     var groupPath = group.append("path")
//         .attr("id", function(d, i) { return "group" + i; })
//         .attr("d", arc)
//         .style("fill", function(d, i) { return cities[i].color; });

//     // Add a text label.
//     var groupText = group.append("text")
//         .attr("x", 6)
//         .attr("dy", 15);

//     groupText.append("textPath")
//         .attr("xlink:href", function(d, i) { return "#group" + i; })
//         .text(function(d, i) { return cities[i].name; });

//     // Remove the labels that don't fit. :(
//     groupText.filter(function(d, i) { return groupPath[0][i].getTotalLength() / 2 - 16 < this.getComputedTextLength(); })
//         .remove();

//     // Add the chords.
//     var chord = svg.selectAll(".chord")
//         .data(layout.chords)
//       .enter().append("path")
//         .attr("class", "chord")
//         .style("fill", function(d) { return cities[d.source.index].color; })
//         .attr("d", path);

//     // Add an elaborate mouseover title for each chord.
//     chord.append("title").text(function(d) {
//       return cities[d.source.index].name
//           + " → " + cities[d.target.index].name
//           + ": " + formatPercent(d.source.value)
//           + "\n" + cities[d.target.index].name
//           + " → " + cities[d.source.index].name
//           + ": " + formatPercent(d.target.value);
//     });

//     function mouseover(d, i) {
//       chord.classed("fade", function(p) {
//         return p.source.index != i
//             && p.target.index != i;
//       });
//     }
//   });
// });

$('.m-homepage').css('text-align', 'left' );
var data;
d3.json("{{ static_url('matrix.json') }}", function(error, json) {
    if (error) return console.warn(error);
    data = json;
    draw_diagram();
})

function draw_diagram() {
    // From http://mkweb.bcgsc.ca/circos/guide/tables/
    var chord = d3.layout.chord()
        .padding(0.01)
        .sortSubgroups(d3.descending)
        .matrix(data.matrix);

    var width = 960,
        height = 1260,
        innerRadius = Math.min(width, height) * .25,
        outerRadius = innerRadius * 1.1;

    var maxColor = '#4a2f76'
    var baseColor = '#eeeeee';
    var baseColor2 = '#a9db6c';
    var range = 50;
    var maxVal = d3.max(chord.groups, function(d) { return d.value; });
    var minVal = d3.min(chord.groups, function(d) { return d.value; });
    var fill_agencies = d3.scale.linear().domain([0,range]).range([maxColor, baseColor]);
    var fill_categories = d3.scale.linear().domain([0,range]).range([maxColor, baseColor2]);

    var svg = d3.select("#chart").append("svg")
        .attr("width", width)
        .attr("height", height)
      .append("g")
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
    
    var circle = svg.append("circle")
        .attr("cx", 0)
        .attr("cy", 0)
        .attr("r", outerRadius)
        .style("fill", 'white')

    var nodes = svg.append("g").selectAll("path")
        .data(chord.groups)
        .enter().append("path")
        .style("fill", function(d) { 
            if (data.num_agencies > d.index) {
                return fill_agencies(d.index);
            } else {
                return fill_categories(d.index);
            }
        })
        //.style("stroke", function(d) { return fill_agencies(d.index); })
        .attr("d", d3.svg.arc().innerRadius(innerRadius).outerRadius(outerRadius))
        // .on("mouseover", function(g, i) {
        //     svg.selectAll(".chord path")
        //         .style("opacity", .01)
        //         .filter(function(d) { return d.source.index == i || d.target.index == i; })
        //         .transition()
        //         .style("opacity", 1);
        // })
        //.on("mouseover", fade(.01))
        //.on("mouseout", fade(1));

    // nodes.on("mouseover", function() {
    //     d3.selectAll(".chord path")
    //         .each(function(d, i) {
    //             if (d.source.index == i || d.target.index == i) {
    //                 d3.select(this).transition().style("opacity", 1);
    //             } else {
    //                 d3.select(this).transition().style("opacity", .01);
    //             }
    //         });
    // });

    circle.on("mouseover", function() {
        nodes.on("mouseover", fade(.01))
            .on("mouseout", fade(1));
    });
    circle.on("mouseout", function() {
        svg.selectAll(".chord path")
            .style("opacity", 1)
    })

    var ticks = svg.append("g").selectAll("g")
        .data(chord.groups)
      .enter().append("g").selectAll("g")
        .data(groupTicks)
      .enter().append("g")
        .attr("transform", function(d) {
          return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")"
              + "translate(" + outerRadius + ",0)";
        });

    // ticks.append("line")
    //     .attr("x1", 1)
    //     .attr("y1", 0)
    //     .attr("x2", 5)
    //     .attr("y2", 0)
    //     .style("stroke", "#000");

    ticks.append("text")
        .attr("x", 8)
        .attr("dy", ".35em")
        .attr("transform", function(d) { return d.angle > Math.PI ? "rotate(180)translate(-16)" : null; })
        .style("text-anchor", function(d) { return d.angle > Math.PI ? "end" : null; })
        .text(function(d) { return d.label; });

    var chord = svg.append("g")
        .attr("class", "chord")
      .selectAll("path")
        .data(chord.chords)
      .enter().append("path")
        .attr("d", d3.svg.chord().radius(innerRadius))
        .style("fill", function(d) { 
            return fill_agencies(d.target.index); 
        })
        .style("opacity", 1);

    chord.append("title")
        .text(function(d) { return data.names[d.source.index] + "->" + data.names[d.target.index] + "\n" + d.target.value + " companies"});

    // Returns an array of tick angles and labels, given a group.
    function groupTicks(d) {
      var k = (d.endAngle - d.startAngle) / d.value;
      return d3.range(0, d.value, 1000).map(function(v, i) {
        return {
          angle: v * k + d.startAngle + (d.endAngle - d.startAngle)/2,
          label: data.names[d.index]
        };
      });
    }

    // Returns an event handler for fading a given chord group.
    function fade(opacity) {
      return function(g, i) {
        svg.selectAll(".chord path")
            .filter(function(d) { return d.source.index != i && d.target.index != i; })
          //.transition()
            .style("opacity", opacity);
      };
    }
}

</script>

<script type="text/javascript">
//------------------------------MAIL CHIMP SIGNUP------------------------------------------
var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';
try {
    var jqueryLoaded=jQuery;
    jqueryLoaded=true;
} catch(err) {
    var jqueryLoaded=false;
}
var head= document.getElementsByTagName('head')[0];
if (!jqueryLoaded) {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = '//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
    head.appendChild(script);
    if (script.readyState && script.onload!==null){
        script.onreadystatechange= function () {
              if (this.readyState == 'complete') mce_preload_check();
        }    
    }
}

var err_style = '';
try{
    err_style = mc_custom_error_style;
} catch(e){
    err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
}
var head= document.getElementsByTagName('head')[0];
var style= document.createElement('style');
style.type= 'text/css';
if (style.styleSheet) {
  style.styleSheet.cssText = err_style;
} else {
  style.appendChild(document.createTextNode(err_style));
}
head.appendChild(style);
setTimeout('mce_preload_check();', 250);

var mce_preload_checks = 0;
function mce_preload_check(){
    if (mce_preload_checks>40) return;
    mce_preload_checks++;
    try {
        var jqueryLoaded=jQuery;
    } catch(err) {
        setTimeout('mce_preload_check();', 250);
        return;
    }
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
    head.appendChild(script);
    try {
        var validatorLoaded=jQuery("#fake-form").validate({});
    } catch(err) {
        setTimeout('mce_preload_check();', 250);
        return;
    }
    mce_init_form();
}
function mce_init_form(){
    jQuery(document).ready( function($) {
      var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
      var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
      $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
      options = { url: 'http://openinggovernment.us6.list-manage.com/subscribe/post-json?u=1a990feb5c&id=691b1fcbc9&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                    beforeSubmit: function(){
                        $('#mce_tmp_error_msg').remove();
                        $('.datefield','#mc_embed_signup').each(
                            function(){
                                var txt = 'filled';
                                var fields = new Array();
                                var i = 0;
                                $(':text', this).each(
                                    function(){
                                        fields[i] = this;
                                        i++;
                                    });
                                $(':hidden', this).each(
                                    function(){
                                        var bday = false;
                                        if (fields.length == 2){
                                            bday = true;
                                            fields[2] = {'value':1970};//trick birthdays into having years
                                        }
                                        if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                            this.value = '';
                                        } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                            this.value = '';
                                        } else {
                                            if (/\[day\]/.test(fields[0].name)){
                                                this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;                                           
                                            } else {
                                                this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                                            }
                                        }
                                    });
                            });
                        $('.phonefield-us','#mc_embed_signup').each(
                            function(){
                                var fields = new Array();
                                var i = 0;
                                $(':text', this).each(
                                    function(){
                                        fields[i] = this;
                                        i++;
                                    });
                                $(':hidden', this).each(
                                    function(){
                                        if ( fields[0].value.length != 3 || fields[1].value.length!=3 || fields[2].value.length!=4 ){
                                            this.value = '';
                                        } else {
                                            this.value = 'filled';
                                        }
                                    });
                            });
                        return mce_validator.form();
                    }, 
                    success: mce_success_cb
                };
      $('#mc-embedded-subscribe-form').ajaxForm(options);
      
      
    });
}
function mce_success_cb(resp){
    $('#mce-success-response').hide();
    $('#mce-error-response').hide();
    if (resp.result=="success"){
        $('#mce-'+resp.result+'-response').show();
        $('#mce-'+resp.result+'-response').html(resp.msg);
        $('#mc-embedded-subscribe-form').each(function(){
            this.reset();
        });
    } else {
        var index = -1;
        var msg;
        try {
            var parts = resp.msg.split(' - ',2);
            if (parts[1]==undefined){
                msg = resp.msg;
            } else {
                i = parseInt(parts[0]);
                if (i.toString() == parts[0]){
                    index = parts[0];
                    msg = parts[1];
                } else {
                    index = -1;
                    msg = resp.msg;
                }
            }
        } catch(e){
            index = -1;
            msg = resp.msg;
        }
        try{
            if (index== -1){
                $('#mce-'+resp.result+'-response').show();
                $('#mce-'+resp.result+'-response').html(msg);            
            } else {
                err_id = 'mce_tmp_error_msg';
                html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';
                
                var input_id = '#mc_embed_signup';
                var f = $(input_id);
                if (ftypes[index]=='address'){
                    input_id = '#mce-'+fnames[index]+'-addr1';
                    f = $(input_id).parent().parent().get(0);
                } else if (ftypes[index]=='date'){
                    input_id = '#mce-'+fnames[index]+'-month';
                    f = $(input_id).parent().parent().get(0);
                } else {
                    input_id = '#mce-'+fnames[index];
                    f = $().parent(input_id).get(0);
                }
                if (f){
                    $(f).append(html);
                    $(input_id).focus();
                } else {
                    $('#mce-'+resp.result+'-response').show();
                    $('#mce-'+resp.result+'-response').html(msg);
                }
            }
        } catch(e){
            $('#mce-'+resp.result+'-response').show();
            $('#mce-'+resp.result+'-response').html(msg);
        }
    }
}

</script>
<!--End mc_embed_signup-->
</div>
{% end %}