{% extends "main.html" %}
{% autoescape None %}

{% block body %}
<div class="m-country-homepage">

    <h1 class="first-title">Open Data 500 - Country Homepage</h1>
    <section class="m-front-image">
    	<div class="country-flag">
	        <img src="../static/img/canada-flag.png" alt="">
        </div>
    </section>

    <section class="m-homepage-about">
        <h1>About This Project</h1>
        <p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolore sapiente saepe nulla, sunt possimus maiores incidunt recusandae, asperiores voluptatum consequuntur maxime optio delectus tenetur. Rem accusamus et eos facere.</p>
        <p class="more"><a href="/about/" class="m-button">Learn More</a></p> 
    </section>

    <section class="m-homepage-participate">
        <h1>How To Participate</h1>
        <div class="m-homepage-box">
            <h2>1</h2>
            <h3>If you represent an Open Data company</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis reprehenderit ad nobis unde voluptatem, nesciunt tempora, aperiam placeat maiores atque praesentium nam inventore repudiandae voluptas officiis eum at commodi veniam!</p>    
        </div>
        <div class="m-homepage-box">
            <h2>2</h2>
            <h3>If you have information about a company on our list</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam fugiat culpa numquam earum neque exercitationem cupiditate architecto incidunt minima molestias iste obcaecati deleniti, ratione error laudantium ducimus a eveniet totam.</a>.</p>
        </div>
        <div class="m-homepage-box">
            <h2>3</h2>
            <h3>If you have general information to share</h3>
            <p><a href="http://www.opendata500.com/about/#disqus_thread">Join the Conversation</a>, tweet your comments to #OD500, or email us at <a href="mailto:opendata500@thegovlab.org">opendata500@thegovlab.org</a>.</p>
        </div>
    </section>
</div>
	
</div>
{% end %}