{% extends "main.html" %}
{% autoescape None %}

{% block body %}

Open Data 500 Roundtables: Department of Commerce, June 18, 2014

The first Open Data 500 Roundtable was held in Washington, DC on June 18, 2014. It was co-hosted by the GovLab and the White House Office of Science and Technology Policy (OSTP) together with the U.S. Department of Commerce. Under Secretary of Commerce for Economic Affairs Mark Doms led the Department's planning and engagement with the event, and participated for the entire day. About 20 other officials and staff from the Department of Commerce participated as well, with appearances by Secretary Penny Pritzker and Acting Deputy Secretary Bruce Andrews. Nick Sinai, U.S. Deputy Chief Technology Officer, and Erie Meyer, Senior Advisor to the U.S. CTO, represented OSTP at the event.

You can read blog posts about the event from Secretary of Commerce Penny Prtizker here (LINK) and from GovLab Senior Advisor Joel Gurin here (LINK). A full list of attendees and some photos of the event are below. [NOTE: WE CAN HOLD ON THE PHOTOS AND ADD THEM LATER IF THAT"S EASIER] The GovLab is now compiling a report on the Roundtable and will publish it in the near future.

The GovLab now has commitments from the Departments of Agriculture, Labor, Transportation, and Treasury to participate in similar Roundtables in 2014. We are planning additional events with other government agencies and businesses as well. Interested parties should please contact us at opendata500@thegovlab.org. 

The GovLab Open Data 500 Roundtables are supported by Series Sponsors Amazon Web Services and PricewaterhouseCoopers. We also thank the Data Transparency Coalition, the Event Sponsor for this first Roundtable, for providing refreshments, lunch, and a reception afterwards. Please contact us at opendata500@thegovlab.org for information on sponsorship opportunities.

Open Data Roundtable Attendees

Steven Adler - Information Strategist, IBM
Vikrum Aiyer - Special Advisor To The Under Secretary, Department of Commerce USPTO
Audrey Ariss - Research Assistant of the Open Data 500, The GovLab
Ty Beltramo - CTO, Mapquest
Avi Bender - Chief Technology Officer, Department of Commerce Census Bureau
Andrew Beveridge - Co-Founder and CEO, Social Explorer	
Ron Bewtra - Chief Technology Officer, Department of Commerce NOAA
Kristy Brown	- Research Assistant and Photographer, The GovLab
Robyn Caplan	- Reseach Fellow, The GovLab	
Sarah Cordivano - Project Manager for the Data Analytics team, Azavea	
Ashley De Smeth - Director of Development and Government Affairs, Appallicious	
Frank Digiammarino	Director, Global Public Sector, Amazon Web Services
Roslyn Docktor - Governmental Programs Executive, IBM
Mark Doms - Under Secretary, Department of Commerce Economics and Statistics Administration
Jim Dreyer - Leadership Director, Risk Assurance IT &amp; Process Assurance XBRL services, PricewaterhouseCoopers
Austin Durrer - Chief Of Staff, Department of Commerce Economics and Statistics Administration
Katherine Garcia - Research Assistant of the Open Data 500, The GovLab
Robert Glass - Federal Solution Architect, Apigee	
Ariel Gold - Program Manager, World Wide Public Sector Amazon Web Services
Aaron Greenspan - President and CEO, Think Computer Corporation	
Joel Gurin - Project Director of the Open Data 500, The GovLab
Alex Heit - Policy Associate, Data Transparency Coalition	
Hudson Hollister - Founder and Executive Director, Data Transparency Coalition	
John Horrigan, Consultant - Pew Research Centre	
Bernadette Hyland - CEO, 3 Round Stones	
George Ivanov - Public Policy and Government Relations Analyst, Google Maps	
Edward Johnson - Director, Office Of Strategic Planning And Policy (Nws), Department of Commerce NOAA
Bryson Koehler - EVP, CIO, The Weather Company	
Mike Kruger - Director Of Digital Engagement, Department of Commerce Office of the Secretary
Ajay Kundaria - Senior Advisor, Department of Commerce USPTO
David Langdon - Senior Policy Advisor For Economics And Statistics, Department of Commerce Office of the Secretary
Rick Lattimer - Policy Analyst, Department of Commerce Economics and Statistics Administration
Lauren Lipovic - Senior Advisor, Department of Commerce Economics and Statistics Administration
Laura Manley	- Project Manager of the Open Data 500, The GovLab
Alan Marco - Acting Chief Economist, Department of Commerce USPTO
Stephen Marley - Chief Technologist, Harris Corporation	
Nicole Mayerhauser – Chief of the National Income And Wealth Division, Department of Commerce Bureau of Economic Analysis
David McClure - Office Of The Chief Information Officer, Department of Commerce NOAA
Laura McNulty - Manager, National Government Health &amp; Sciences Team, Esri	
Kenneth Melero - Director of Federal, Socrata	
Erie Meyer - Senior Advisor to the CTO, White House Office of Science &amp; Technology Policy
David Michaud - Acting Deputy Chief Information Officer, Department of Commerce NOAA
Alexander Minor - Chief, Web Services Branch, Department of Commerce Bureau of Economic Analysis
Brian Moyer - Acting Director, Department of Commerce Bureau of Economic Analysis
Jeptha Nafziger – Detalee, OMB, Senate Budget Committee	
Elizabeth Nash - Director of Data and Product Development, PolicyMap	
Hamid Ouyachi - CTO, Department of Labor
Luis Palacios – Research Fellow, The GovLab
Harshil Parikh	 - Founder, TuvaLabs	
Emma Peck - Legislative Correspondent, Senator Mark R. Warner's office	
Nancy Potok - Deputy Director, Department of Commerce Census Bureau
Penny Pritzker - Secretary, Department of Commerce Office of the Secretary
Michael Ratcliffe - Assistant Division Chief For Geocartographic Products And Criteria, Department of Commerce Census Bureau
Arnaud Sahuguet - Chief Technology Officer, The GovLab	
John Henry Scott – Physicist, Department of Commerce National Institute of Standards and Technology
Jeffrey Sisson - Program Manager, Data Access And Dissemination Systems, Department of Commerce Census Bureau
Michael Alan Steinberg - Senior Vice President for Special Initiatives, AccuWeather	
Haley Van Dyck – Advisor, Office of Management and Budget
Bala Venkatesan - Vice President, Technology, Overture Technologies
Stefaan Verhulst - Chief Research and Development Officer of the Governance Laboratory, The GovLab
Shaunda Villones - Senior Economist And Special Assistant To The Director, Department of Commerce Bureau of Economic Analysis
Sean Vitka - Federal Policy Manager, Sunlight Foundation 	
Michael White - Senior Risk Analyst, OnDeck	
Arleen Zank - Founder and Editor in Chief, Way Better Patents	


{% end %}