{% extends "main.html" %}
{% autoescape None %}

{% block body %}
<div class="about-page">

	<h1>About the Mexico Open Data 100</h1>
	
	<section>
        <p>“The Open Data (X Number and X Country), based on the U.S. Open Data 500,  is the first comprehensive study of (X Country) companies that use open government data to generate new business and develop new products and services. Open Data is free, public data that can be used to launch commercial and nonprofit ventures, do research, make data-driven decisions, and solve complex problems.”</p>
	</section>
	<section>
	    <h2 class="m-page-title">Study Goals</h2>
		<ul>
		    <li>Provide a basis for assessing the economic value of government open data</li>
			<li>Encourage the development of new open data companies</li>
			<li>Foster a dialogue between government and business on how government data can be made more useful</li>
		</ul>
	    <p class="more"><a href="#" class="m-button">Read More</a></p>
	</section>
	<section>
		<h2  class="m-page-title">People</h2>
		<div class="m-half">
			<h3>Mexico Team</h3>
		</div>
		<div class="m-half">
			<h3>The GovLab Team </h3>
		</div>
	</section>
</div>
{% end %}