{% extends "main.html" %}
{% autoescape None %}

{% block body %}
<div id="roundtables">

<div class="rt-logo">
	<img src="{{ static_url("img/roundtables-logo.png") }}" alt="">

	<h2 class="rt-slogan">Making open government data more relevant, accessible, and actionable</h2>
</div>

<section>
	<p class="drop-cap">The GovLab is hosting a series of <strong>Open Data 500 Roundtables</strong> that will bring together federal agencies with the businesses and other organizations that use their data, drawing on the work of the Open Data 500. The U.S. <a href="http://www.whitehouse.gov/sites/default/files/microsites/ostp/us_open_data_action_plan.pdf" target="_blank">Open Data Action Plan, released by the White House on May 9, 2014</a>, describes these Roundtables as a key part of meeting the commitment to “support innovators and improve open data based on feedback.” The Plan notes that “Specific, actionable feedback from these sessions [the Roundtables] and others has the potential to improve descriptions, formats, and accessibility of government data.”</p>
</section>
<!-- <blockquote cite="http://www.whitehouse.gov/sites/default/files/microsites/ostp/us_open_data_action_plan.pdf">Specific, actionable feedback from these sessions [the Roundtables] and others has the potential to improve descriptions, formats, and accessibility of government data.</blockquote> -->

<section>
	<h2 class="m-page-title">The Roundtables</h2>

	<p>The Roundtables, which will be held in Washington, DC, will bring together data providers in government and data users in business and the nonprofit sector to identify the kinds of datasets that have the greatest value, and to determine what is needed to make them as useful as possible.  The GovLab will publish summaries of the Roundtables and their results for a public audience. The Roundtables are designed to:</p>

	<ul>
		<li>Prioritize the most important datasets in each agency for business and public use.</li>
		<li>Improve each agency’s data and make it easier to find, access, and work with.</li>
		<li>Connect businesses with government agency staff who manage the data they use, and set up a process for ongoing feedback.</li>
		<li>Foster continued collaboration between agencies and businesses, building on the results of each Roundtable.</li>
		<li>Increase public awareness of open data through written reports on each workshop.</li>
	</ul>

	<p>Beyond their immediate impact, the GovLab hopes that the Open Data 500 Roundtables will establish a new way of planning, preparing, and implementing the release of open data at the federal level. If successful, this program will make the federal open data system much more user-driven and business-focused. The shift to demand-driven open data will help agencies prioritize their work on open data much more effectively, meet the needs of businesses more efficiently, and potentially release billions of dollars in economic value through new, targeted data release.</p>
</section>

<section>
<h2 class="m-page-title">The First Roundtable</h2>

<p>The first Open Data 500 Roundtable, co-hosted by the GovLab and the White House Office of Science and Technology Policy, was held with the Department of Commerce on June 18, 2014. More information on that event, including a list of attendees, is available here. [LINK TO CLICK THROUGH]</p>
</section>
<section>
	<h2 class="m-page-title">Sponsorship</h2>

	<p>The Open Data 500 Rountables are supported by Series Sponsors Amazon Web Services and PricewaterhouseCoopers. The GovLab is currently seeking additional sponsors for the Open Data Roundtable Series and for individual Roundtable events. For more information, please contact us at <a href="mailto:opendata500@thegovlab.com">opendata500@thegovlab.com</a>.</p>
</section>
</div>


{% end %}