{% extends "main.html" %}
{% autoescape None %}

{% block body %}

<div class="m-homepage">
<!--     <div class="m-country-flag s-mx">
        <img src="{{ static_url("img/mexico-flag.png") }}" alt="">
    </div> -->
    <div class="video-container">
        <video poster="{{ static_url("img/mx/video-cover.png") }}" id="bgvid">
            <source src="http://opendata500.thegovlab.org/files/intro-video.mp4" type="video/mp4">
        </video>
        <div class="video-header">
            <h1 class="first-title">Datos Abiertos 100 México</h1>
            <span class="play-button"><img src="{{ static_url("img/mx/play-button.png") }}"></span>
        </div>
    </div>

    <!-- <section id="od100-video">
        <iframe width="960" height="540" src="https://www.youtube.com/embed/BJLUP3grhlE" frameborder="0" allowfullscreen></iframe>
    </section> -->
    
    <script src="{{ static_url("js/d3.v3.min.js") }}"></script>
    <section id="chord-chart-container">
        <iframe src="http://www.opendata500.com/mx/chart/?lan=es" width="960" height="860" marginwidth="0" marginheight="50" scrolling="no" frameborder="0"></iframe>
    </section>

<!--     <section class="m-homepage-banner">
        <img src="/static/img/mx/datosgobmx_banner.jpg">
    </section> -->

    <section class="m-homepage-about">
        <h1>Acerca de esta iniciativa</h1>
        <p class="intro">Como parte de la <a href="http://datos.gob.mx/">política de Datos Abiertos</a>, el Gobierno de la República colabora con The GovLab de la Universidad de Nueva York para realizar Datos Abiertos 100 México.  Esta iniciativa es el primer estudio de las compañías y ONGs mexicanas que utilizan datos gubernamentales abiertos para crecer sus negocios, desarrollar nuevos productos y servicios, o impulsar el valor social.</p>
        <p class="more"><a href="/mx/about/" class="m-button">Más información</a> <a href="/mx/submitCompany/" class="m-button">Ir a la encuesta</a></p> 
    </section>

    <section class="m-homepage-participate">
        <h1>Cómo participar</h1>
        <div class="m-homepage-box">
            <h2>1</h2>
            <h3>Si representas una compañía u ONG que trabaja con Datos Abiertos:</h3>
            <p>Por favor responde la <a href="/mx/submitCompany/">encuesta</a>.</p>    
        </div>
        <div class="m-homepage-box">
            <h2>2</h2>
            <h3>Si quieres recomendar una compañía que utiliza Datos Abiertos:</h3>
            <p>Por favor envía un correo a <a href="mailto:DA100MX@datos.gob.mx">DA100MX@datos.gob.mx</a>.</p>
        </div>
        <div class="m-homepage-box">
            <h2>3</h2>
            <h3>Si tienes información general que quieras compartir sobre los Datos Abiertos en México:</h3>
            <p><a href="http://www.opendata500.com/mx/about/#disqus_thread">Únete a la conversación</a>, twittea tus comentarios en #OD100MX, o envíanos un correo a <a href="mailto:DA100MX@datos.gob.mx">DA100MX@datos.gob.mx</a>.</p>
        </div>
    </section>
</div>


<script>

    $(document).ready(function() {
        $('#mc_embed_signup').removeClass('s-disabled').delay(5000).addClass('s-disabled');

        var introVideo = $('#bgvid');
        var playing = false;
        $('body').on('click', '.video-container', function() {
            if (playing) {
                introVideo.get(0).pause();
                $(this).find('.video-header').fadeIn(1000);
                playing = false;
            } else {
                introVideo.get(0).play();
                $(this).find('.video-header').fadeOut(1000);
                playing = true;
            }
        });
    });
</script>
{% end %}
