{% extends "main.html" %}
{% autoescape None %}

{% block body %}
<h1 class="logo"><img src="{{ static_url("img/od500-logo.png") }}" alt=""></h1>

<div class="m-homepage">

<h1>{{ page_heading }}</h1>
<!-- <section class="m-quotes">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, repudiandae, quidem, harum facere ad enim unde numquam voluptas nemo eaque consectetur exercitationem at consequatur possimus delectus vitae eum a ullam!</p>
	<p class="m-quotes-author">Person Name - <em>I am important</em></p>
</section> -->

<section class="m-home-big-links">
	<a href="#">Preview</a>
	<a href="#">Candidates</a>
</section>

<section class="m-home-resources">
	<ul>
		<h2>Press</h2>
		<li><a href="#">InfoWeek</a></li>
		<li><a href="#">FeedScoop</a></li>
	</ul>
	<ul>
		<h2>Academy</h2>
		<li><a href="#">Modules</a></li>
		<li><a href="#">Videos</a></li>
	</ul>
	<ul>
		<h2>Blogs</h2>
		<li><a href="#">GovLab Blog</a></li>
		<li><a href="#">GovLab Blog</a></li>
	</ul>

</section>

</div>
{% end %}