<!doctype html> 

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>     <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>     <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}" />
    <link rel="stylesheet" href="{{ static_url("css/styles.css") }}" />
    <!-- <link rel="stylesheet" href="{{ static_url("css/bootstrap.css") }}" /> -->
    <link rel="stylesheet" href="{{ static_url("css/libs/normalize/normalize.css") }}" />
    <link href='http://fonts.googleapis.com/css?family=Exo:100,500,100italic,500italic' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Load jQuery -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>!window.jQuery && document.write('<script src="{{ static_url("js/libs/jquery/jquery-1.10.1.min.js") }}"><\/script>')</script>
    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="parallax-bg" id="background" data-stellar-ratio="-0.01"></div>
    <div class="parallax-bg" id="background-2" data-stellar-ratio="-0.015"></div>  
    <div class="parallax-bg" id="background-3" data-stellar-ratio="-0.02"></div>  
    <header>
        <div id="mainMenu" class="l-centered m-main-menu">
            <a href="/">Home</a><a href="/about/">About</a><a href="/preview/">Preview</a><a href="/candidates/">Candidates</a><a href="/submitCompany/">Survey</a><a href="/resources/">Resources</a><a href="/download/">Download</a> {%try%} {% if user %} <a href="/admin/">Admin</a>{% end %}{%except%}{%end%}{%try%} {% if user %} <a href="/logout/">Logout</a>{% end %}{%except%}{%end%}
        </div>
    </header><!-- end header -->
    
    <div id="main" class="l-centered">
        <div id="container">
            {% block body %}{% end %}
        </div><!-- end container -->
    </div><!-- end main -->

    <footer>
        <div class="l-centered">
            <div class="m-footer-logos">
                <a href="http://thegovlab.org/"><img id="govlab-logo" src="{{ static_url("img/govlab-logo.png") }}" alt="The GovLab"></a>
                <a href="http://www.knightfoundation.org/"><img id="knight-logo" src="{{ static_url("img/knight-logo.png") }}" alt="Knight Foundation"></a>
            </div>
            <ul>
                <li class="footer-menu-item"><a href="https://twitter.com/thegovlab" target="_blank">Twitter</a></li> 
                <li class="footer-menu-item"><a href="/about/">About</a></li> 
                <li class="footer-menu-item"><a href="/terms/">Terms of Service</a></li>
                <li class="footer-menu-item last"><a href="mailto:opendata500@thegovlab.org">Contact Us</a></li> 
            </ul>
            <p class="creative-commons-license"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">The Open Data 500</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://thegovlab.org/" property="cc:attributionName" rel="cc:attributionURL">The GovLab</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/luisdaniel/OpenData500" rel="dct:source">https://github.com/luisdaniel/OpenData500</a>.</p>
        </div>
    </footer><!-- end footer -->
    
    <!-- plugins -->
    <script src="{{ static_url("js/plugins.js") }}"></script>
    <!-- parsley.js (for form validation) -->
    <script src="{{ static_url("js/parsley.min.js") }}"></script>
    <script src="{{ static_url("js/parsley.extend.min.js") }}"></script>
    <!-- Isotopes.js (for form validation) -->
    
    <!-- Parallax Effect -->
    <script src="{{ static_url("js/libs/jquery.stellar.min.js") }}"></script>
    <!-- main script -->
    <script src="{{ static_url("js/script.js") }}"></script>
    <script src="{{ static_url("js/ui-scripts.js") }}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46511610-1', 'opendata500.com');
      ga('send', 'pageview');

    </script>
    </body>
</html>