<!-- This is the press page -->
{% extends "main.html" %}
{% autoescape None %}

{% block body %}

<section class="m-press">
	<h1>Press, Media and Blogs</h1>

	<p class="intro">The Open Data 500 has received attention in the press and on blogs that cover business, government, and technology. Here, beginning with the most recent, is a current list of selected coverage.</p>
		<a class="m-press-item" href="http://www.forbes.com/sites/bethsimonenoveck/2014/01/08/from-faith-based-to-evidence-based-the-open-data-500-and-understanding-how-open-data-helps-the-american-economy/" target="_blank">
			<p class="m-press-title">From Faith-Based to Evidence-Based: The Open Data 500 and Understanding How Open Data Helps the American Economy</p>
			<p class="m-press-meta">by Beth Noveck, Forbes.com, 1/8/2014</p>
		</a>

		<a class="m-press-item" href="http://fedscoop.com/open-data-500-intersection-open-data-economy/" target="_blank">
			<p class="m-press-title">Open Data 500: <br>Intersection of Open Data and the Economy</p>
			<p class="m-press-meta">by Colby Hochmuth, FedScoop, 1/1/2014</p>
		</a>

		<a class="m-press-item" href="http://blog.programmableweb.com/2014/01/01/open-data-now-hottest-contenders-for-2014/" target="_blank">
			<p class="m-press-title">Open Data Now: <br>Hottest Contenders for 2014</p>
			<p class="m-press-meta">by Mark Boyd, ProgrammableWeb, 1/1/2014</p>
		</a>
		<a class="m-press-item" href="http://www.informationweek.com/government/open-government/open-government-data-companies-cash-in/d/d-id/1113143" target="_blank">
			<p class="m-press-title">Open Government Data: <br>Companies Cash In</p>
			<p class="m-press-meta">by Wyatt Kash, Information Week: Government, 12/17/2013</p>
		</a>
		<a class="m-press-item" href="http://www.whitehouse.gov/blog/2013/12/17/open-data-action" target="_blank">
			<p class="m-press-title">Open Data in Action</p>
			<p class="m-press-meta">by Nick Sinai and Erie Meyer, White House blog, 12/17/2013</p>
		</a>
		<a class="m-press-item" href="" target="_blank">
			<p class="m-press-title">Open Data 500 Gives Voice to Companies Using Government Data</p>
			<p class="m-press-meta">by Colby Hochmuth, FedScoop, 9/23/2013</p>
		</a>

		<a class="m-press-item" href="http://www.informationweek.com/software/information-management/govlab-seeks-open-data-success-stories/d/d-id/1111603?" target="_blank">
			<p class="m-press-title">GovLab Seeks Open Data Success Stories</p>
			<p class="m-press-meta">by Wyatt Kash, Information Week: Government, 9/19/2013</p>
		</a>
	</div>
</section>


{% end %}