{% extends "main.html" %}
{% autoescape None %}

{% block body %}

<div class="m-preview">
	<section>
		<h1 class="m-page-title">{{ page_heading }}</h1>
		<p class="intro">These companies are 50 of the first to complete our survey for the Open Data 500. Expand each company to view a full-length description, its location, the type of data it uses, and more.  Our final study will have this type of information on 500 companies in a searchable, sortable, and downloadable format. Detailed information is shown here as companies have provided it to us. We do not vouch for the objectivity of all information at this stage, and invite input and comment.</p>
	</section>

	<ul class="m-preview-list">
		<li class="m-list-head">
			<div class="m-preview-list-control"></div>
			<div class="m-preview-list-name">Company</div>
			<div class="m-preview-list-sectors">Category</div>
			<div class="m-preview-list-desc">Submitted Description</div>
		</li>
		{% for company in companies %}
		<li class="m-list-company">
			<div class="m-list-company-summary">
				<div class="m-preview-list-control"><span class="m-expand-arrow"></span></div>
				<div class="m-preview-list-name"><strong>{{ company.companyName }}</strong></div>
				<div class="m-preview-list-sectors">{{ company.companyCategory }}</div>
				<div class="m-preview-list-desc">{{ company.descriptionShort }}</div>
			</div>
			<div class="m-list-company-full">
				<div class="m-half">
					<h3>Company Information</h3>
					<p><strong>Year Founded:</strong> {{company.yearFounded}}</p>
					<p><strong>Location:</strong> {{company.city}}, {{company.state}}</p>
					<p><strong>FTE:</strong> {% if company.fte == 0 %}Not Available{%else%}{{company.fte}}{%end%}</p>
					<p><strong>Type of Company:</strong> {{company.companyType}}</p>
					<p><strong>Company Function:</strong> {{company.companyFunction}}</p>
					<p><strong>Category:</strong> {{company.companyCategory}}</p>
					<p><strong>Source of Revenue: </strong>{{ ', '.join(company.revenueSource) }}</p>
					<br>
					<a class="m-button" href="/{{company.prettyName}}/">Comment</a>
					<br>
				</div>
				<div class="m-half">
					<h3>Description:</h3>
					<p>{{company.descriptionLong}}</p>
					<h3>Social Impact:</h3>
					<p>{{company.socialImpact}}</p>
					<h3>Financial Info:</h3>
					<p>{{company.financialInfo}}</p>
				</div>
				<div class="m-full datasets">
					<h3>Datasets</h3>
					<ul>
					{% for data in company.datasets %}
							{% if data.datasetName %}<li><a href="{{data.datasetURL}}">{{data.datasetName}}</a></li>
							{% elif data.datasetURL %}<li><a href="{{data.datasetURL}}">{{data.datasetURL}}</a></li>
							{% elif data.agency %}<li>{{data.agency}}</li>{%end%}
					{%end%}
					</ul>
				</div>
			</div>	
		</li>
		{%end%}
	</ul>
</div>
{% end %}