{% extends "main.html" %}
{% autoescape None %}

{% block body %}

<div class="m-homepage">
	<h1>{{ page_heading }}</h1>

	<ul class="m-homepage-list">
		<li class="m-list-head">
			<div class="m-homepage-list-control"></div>
			<div class="m-homepage-list-name">Company</div>
			<div class="m-homepage-list-sectors">Sector</div>
			<div class="m-homepage-list-desc">Description</div>
		</li>
		{% for company in submittedCompanies %}
		<li class="m-list-company">
			<div class="m-list-company-summary">
				<div class="m-homepage-list-control"><span class="m-expand-arrow"></span></div>
				<div class="m-homepage-list-name"><strong>{{ company.companyName }}</strong></div>
				<div class="m-homepage-list-sectors">{% for sector in company.sector %} {{sector}} {%end%}</div>
				<div class="m-homepage-list-desc">{{ company.descriptionShort }}</div>
			</div>
			<div class="m-list-company-full">
				<div class="m-half">
					<h3>Company Information</h3>
					<p><strong>Year Founded:</strong> {{company.yearFounded}}</p>
					<p><strong>Location:</strong> {{company.city}}, USA</p>
					<p><strong>FTE:</strong> {{company.fte}}</p>
					<p><strong>Type of Company:</strong> {{company.companyType}}</p>
					<p><strong>Company Function:</strong> {{company.companyFunction}}</p>
					<p><strong>Sector(s):</strong> {% for sector in company.sector %} {{sector}} {%end%}</p>
					<p><strong>Source of Revenue:</strong> {% for source in company.revenueSource %} {{source}}, {%end%}</p>
				</div>
				<div class="m-half">
					<h3>Description:</h3>
					<p>{{company.descriptionLong}}</p>
					<h3>Social Impact:</h3>
					<p>{{company.socialImpact}}</p>
					<h3>Financial Info:</h3>
					<p>{{company.financialInfo}}</p>
				</div>
				<div class="m-full datasets">
					<h3>Datasets</h3>
					<ul>
					{% for data in company.datasets %}
							<li><a href="{{data.datasetURL}}">{{data.datasetName}}</a></li>
					{%end%}
					</ul>
				</div>
			</div>	
		</li>
		{%end%}
	</ul>
</div>
{% end %}