{% extends "main.html" %}
{% autoescape None %}

{% block body %}
{{ page_heading }}
<div class="submitDescription">
	<p>Thank you for helping us create the Open Data 500!</p>
	<p>The Open Data 500 will be the first comprehensive census of U.S.-based companies using government data to develop new products and services. The goal of the Open Data 500 is to understand how companies use open government data in their business, how it can be made more useful, and how it can help promote innovation. <b>To qualify for the Open Data 500, a company must:</b></p>
	<ul>
		<li>Be U.S.-based,</li>
		<li>Earn revenue from its products and services, and</li>
		<li>Use open government data as a critical resource for its business. (While most Open Data 500 companies will work with federal data, we are also interested in those that use city or state data if their work can scale regionally or nationally.)</li>
	</ul>
	<p>If your company meets these criteria, please take a few minutes to fill out this short online form. By being part of this <b>first major public study of Open Data companies, </b>you will help us understand how government data can serve business needs more effectively. We also expect that the Open Data 500 list will become a widely used resource for other businesses, investors, the media, and others to identify companies that are using Open Data in innovative ways. Thank you again for your participation.</p>
	<p><em>The fields marked with * are required</em></p>
</div>

<form method="post" id="submitCompany">
	{% if not submitterId %}
		Your First Name:* <input type="text" name="firstName" id="firstName"><br>
		Your Last Name:* <input type="text" name="lastName" id="lastName"><br>
		Your Organization:* <input type="text" name="org" id="org"><br>
		Your Email:* <input type="text" name="email" id="email"><br>
		<br>
	{% end %}
	Name of Company You are Recommending:* <input type="text" name="companyName" id="companyName"><br>
	Company URL:* <input type='text' name="url" id='url'><br>
	First Name of Contact Person (if known) <input type="text" name="firstNameContact" id="firstNameContact"><br>
	Last Name of Contact Person (if known) <input type="text" name="lastNameContact" id="lastNameContact"><br>
	Email of Contact Person (if known) <input type="text" name="emailContact" id="emailContact"><br>
	Why should we consider this company/organization? (100 word limit)<br>
	<textarea rows="6" cols="70" name="reasonForRecommending" id="reasonForRecommending"></textarea><br>
	<div class="submitButtons">
		{% if submitterId %}
			<input type="hidden" class="submitterId" name="submitterId" value="submitterId">
		{% else %}
			Do you have other types of information you would like to share about open data organizations, projects or initiatives? (100 word limit)<br>
			<textarea rows="6" cols="70" name="otherInfo" id="otherInfo"></textarea><br>
		{% end %}
		<input type="submit" id="submit" name="submit" value="Submit">
		<input type="submit" id="submit" name="submit" value="Recommend Another Company">
	</div>
</form>





{% end %}