{% extends "main.html" %}
{% autoescape None %}

{% block body %}
<div class="resources-page">
	<h1>{{ page_heading }}</h1>

	<section class="intro">
		<p>These Resources provide an opportunity to learn more about Open Data and about the Open Data 500 project. The GovLab Academy provides online learning for anyone interested in Open Data, including an extensive Open Data module. <a href='http://thegovlab.org/blog/'>The GovLab Blog</a> covers Open Data on a regular basis.</p>
	</section>
	<section class="resource-panel">
		<a class="resource-logo" href='http://www.thegovlabacademy.org/data/opendata/'><img src='{{ static_url("img/govlabacademy-logo.png") }}'></a>
		<p>The GovLab Academy is an online training community that uses technology and innovation to tackle public problems. A partnership between The GovLab and MIT Media Lab’s Online Learning Initiative, the site offers videos, podcasts, readings and activities designed to enable the purpose-driven learner to deepen his or her practical knowledge.</p>
	</section>

	<section class="resource-panel">
		<a class="resource-logo" href='http://thegovlab.org/blog/'><img src='{{ static_url("img/govlabblog-logo.png") }}'></a>
		<p>The Governance Lab (The GovLab) at New York University strives to improve people’s lives by changing how we govern. Founded in 2012, with funding from the MacArthur and Knight Foundations, the GovLab designs technology, policy and strategies for fostering more open and collaborative approaches to governance, and tests what works.</p>
		
		<ul>
			<li><a href="http://thegovlab.org/beth-noveck-open-datas-real-value-lies-in-getting-citizens-to-collaborate/">Beth Noveck: ‘Open data’s real value lies in getting citizens to collaborate’</a></li>
			<li><a href="http://thegovlab.org/a-global-week-for-open-data/">A Global Week for Open Data</a></li>
			<li><a href="http://thegovlab.org/now-live-blog-from-open-data-summit/">NOW: Live-Blog from Open Data Institute Summit</a></li>
			<li><a href="http://thegovlab.org/a-chance-to-help-shape-the-global-open-data-movement/">A chance to help shape the global Open Data movement</a></li>
			<li><a href="http://thegovlab.org/govlab-selected-readings-on-open-data/">The GovLab Selected Readings on Open Data</a></li>
		</ul>
		<ul>
			<li><a href="http://thegovlab.org/the-govlabs-open-governance-twitter-lists/">The GovLab’s Open Governance Twitter Lists</a></li> 
			<li><a href="http://thegovlab.org/whats-the-value-of-open-data/">What’s The Value of Open Data?</a></li>
			<li><a href="http://thegovlab.org/data-transparency-2013-an-open-data-benchmark/">Data Transparency 2013: An Open Data Benchmark</a></li>
			<li><a href="http://thegovlab.org/understanding-open-data-with-joel-gurin/">Understanding Open Data with Joel Gurin</a></li>
			<li><a href="http://thegovlab.org/re-imagining-how-we-provide-and-govern-health-care-using-open-data/">Re-imagining How We Provide and Govern Health Care Using Open Data</a></li>
		</ul>
	</section>



	

	





	<!-- <footer>
		<a class="m-button" href="#">Recommend a company</a><a class="m-button" href="http://thegovlab.org/submit-your-company">Submit Your Company</a>
	</footer> -->
</div>

{% end %}



