{% extends "main.html" %}
{% autoescape None %}

{% block body %}
<div class="submitDescription">
	<p>Thank you for helping us create the Open Data 500!</p>
	<p>The Open Data 500 will be the first comprehensive census of U.S.-based companies using government data to develop new products and services. The goal of the Open Data 500 is to understand how companies use open government data in their business, how it can be made more useful, and how it can help promote innovation. <b>To qualify for the Open Data 500, a company must:</b></p>
	<ul>
		<li>Be U.S.-based,</li>
		<li>Earn revenue from its products and services, and</li>
		<li>Use open government data as a critical resource for its business. (While most Open Data 500 companies will work with federal data, we are also interested in those that use city or state data if their work can scale regionally or nationally.)</li>
	</ul>
	<p>If your company meets these criteria, please take a few minutes to fill out this short online form. By being part of this <b>first major public study of Open Data companies, </b>you will help us understand how government data can serve business needs more effectively. We also expect that the Open Data 500 list will become a widely used resource for other businesses, investors, the media, and others to identify companies that are using Open Data in innovative ways. Thank you again for your participation.</p>
	<p><em>The fields marked with * are required</em></p>
</div>

<form method="post" id="submitCompany">
	First Name: <input type="text" name="firstName" id="firstName"><br>
	Last Name: <input type="text" name="lastName" id="lastName"><br>
	Title: <input type="text" name="title" id="title"><br>
	Name of your company: <input type="text" name="companyName" id="companyName"><br>
	Email: <input type="text" name="email" id="email"><br>
	Phone: <input type="text" name="phone" id="phone"><br>

	Name of CEO: <input type="text" name="ceoName" id="ceoName"><br>
	CEO Email: <input type="text" name="ceoEmail" id="ceoEmail"><br>
	Type of Company:<br>
	<input type="radio" name="companyType" value="Public">Public<br>
	<input type="radio" name="companyType" value="Private">Private<br>
	<input type="radio" name="companyType" value="Nonprofit">Nonprofit<br>
	<input type="radio" name="companyType" value="other">Other<br>
	<input type="text" name="otherCompanyType" id="otherCompanyType"><br>
	Founding Year: <input type="text" name="yearFounded" id="yearFounded"><br>
	Number of FTE's: <input type="text" name="FTE" id="FTE"><br>
	Which best describes the function of your company?
	<input type="radio" name="companyFunction" value="Consumer Research and/or Marketing">Consumer Research and/or Marketing<br>
	<input type="radio" name="companyFunction" value="Consumer Services">Consumer Services<br>
	<input type="radio" name="companyFunction" value="Data Management and Analysis">Data Management and Analysis<br>
	<input type="radio" name="companyFunction" value="Financial/Investment Services">Financial/Investment Services<br>
	<input type="radio" name="companyFunction" value="Information for Consumers">Information for Consumers<br>
	<input type="text" name="otherCompanyFunction" id="otherCompanyFunction"><br>
	<p>Which of the following are critical sources of data for your company? By “critical,” we mean that your company would have to shut down a line of business, shut down completely, or replace the data in some way if the data were no longer available. (check all that apply) *</p>
	<input type="checkbox" name="criticalDataTypes" value="Federal Open Data">Federal Open Data<br>
	<input type="checkbox" name="criticalDataTypes" value="State Open Data">State Open Data<br>
	<input type="checkbox" name="criticalDataTypes" value="City/Local Open Data">City/Local Open Data<br>
	<input type="checkbox" name="criticalDataTypes" value="Private/Proprietary Data Sources">Private/Proprietary Data Sources<br>
	<input type="text" name="otherCriticalDataTypes" id="otherCriticalDataTypes"><br>
	<p>Which of the following are significant sources of revenue for your company? (check all that apply) *</p>
	<input type="checkbox" name="revenueSource" value="Advertising">Advertising<br>
	<input type="checkbox" name="revenueSource" value="Data Management and Analytic Services">Data Management and Analytic Services<br>
	<input type="checkbox" name="revenueSource" value="Database Licensing">Database Licensing<br>
	<input type="checkbox" name="revenueSource" value="Lead Generation To Other Businesses">Lead Generation To Other Businesses<br>
	<input type="checkbox" name="revenueSource" value="Philanthropy">Philanthropy<br>
	<input type="checkbox" name="revenueSource" value="Software Licensing">Software Licensing<br>
	<input type="checkbox" name="revenueSource" value="Subscriptions">Subscriptions<br>
	<input type="checkbox" name="revenueSource" value="User Fees for Web or Mobile Access">User Fees for Web or Mobile Access<br>
	<input type="text" name="otherRevenueSource" id="otherRevenueSource"><br>
	<p>What sector(s) does your company's work involve? (check all that apply): *</p>
	<input type="checkbox" name="sector" value="Agriculture">Agriculture<br>
	<input type="checkbox" name="sector" value="Arts, Entertainment and Recreation">Arts, Entertainment and Recreation<br>
	<input type="checkbox" name="sector" value="Crime">Crime<br>
	<input type="checkbox" name="sector" value="Education">Education<br>
	<input type="checkbox" name="sector" value="Energy">Energy<br>
	<input type="checkbox" name="sector" value="Environmental">Environmental<br>
	<input type="checkbox" name="sector" value="Finance">Finance<br>
	<input type="checkbox" name="sector" value="Geospatial data/mapping">Geospatial data/mapping<br>
	<input type="checkbox" name="sector" value="Health and Healthcare">Health and Healthcare<br>
	<input type="checkbox" name="sector" value="Housing/Real Estate">Housing/Real Estate<br>
	<input type="checkbox" name="sector" value="Manufacturing">Manufacturing<br>
	<input type="checkbox" name="sector" value="Nutrition">Nutrition<br>
	<input type="checkbox" name="sector" value="Scientific Research">Scientific Research<br>
	<input type="checkbox" name="sector" value="Social Assistance">Social Assistance<br>
	<input type="checkbox" name="sector" value="Trade">Trade<br>
	<input type="checkbox" name="sector" value="Transportation">Transportation<br>
	<input type="checkbox" name="sector" value="Telecom">Telecom<br>
	<input type="checkbox" name="sector" value="Weather">Weather<br>
	<input type="text" name="otherSector" id="otherSector"><br>
	<p>Please give us a short public statement describing your company’s mission and work. You can take this material from your website or other publications if you choose to. [200 words or less] *</p>
	<textarea rows="6" cols="70" name="descriptionLong" id="descriptionLong"></textarea><br>
	<p>As a summary, please provide a one sentence description of your company. [25 words or less] *</p>
	<textarea rows="6" cols="70" name="descriptionShort" id="descriptionShort"></textarea><br>
	<p>Besides revenue generation, how do you measure the impact your company has for society and the public good? [50 words or less]</p>
	<textarea rows="6" cols="70" name="socialImpact" id="socialImpact"></textarea><br>
	<p>Please include any financial or operational information that will help us understand your company. We are interested in specific information like past and projected annual revenues, total outside investment dollars to date, and significant investors or partners. [100 words or less]</p>
	<textarea rows="6" cols="70" name="financialInfo" id="financialInfo"></textarea><br>
	<input type="submit" id="submit">
</form>






































