{% extends "../main.html" %}
{% autoescape None %}

{% block body %}
<div id="roundtables">
	<div class="event-title">
		<div class="host-agency-logo">
			<img src="{{ static_url("img/roundtables/doc-logo.png") }}">
		</div>
		<h1>U.S. Department of Commerce Roundtable</h1>
		<h2>June 18, 2014</h2>

	</div>
	<span class="event-picture-gallery">
		<a href="https://www.flickr.com/photos/thegovlab/sets/72157645294263883/" target="_blank">See the full gallery at Flickr</a> | 
		Photos by Kristine Brown
	</span>
	
	<div class="event-pictures-viewer">
		<div class="event-pictures-strip">
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-01-01.jpg") }}">
				<figcaption>
					<div>Stefaan Verhulst</div>
					<em>Chief Research and Development Officer, the GovLab</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-01-06.jpg") }}">
				<figcaption>
					<div>Penny Pritzker</div>
					<em>Secretary of Commerce</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-01-02.jpg") }}">
				<figcaption>
					<div>Mark Doms</div>
					<em>Under Secretary of Commerce for Economic Affairs</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-01-03.jpg") }}">
				<figcaption>
					<em>Joel Gurin, Senior Advisor at the GovLab, with Acting Deputy Secretary of Commerce Bruce Andrews</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-01-04.jpg") }}">
				<figcaption>
					<div>David Michaud</div>
					<em>Acting Deputy CIO, NOAA</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-01-05.jpg") }}">
				<figcaption>
					<div>Nick Sinai</div>
					<em>U.S. Deputy Chief Technology Officer</em>
				</figcaption>
			</figure>
			<figure class="event-picture-container">
				<img src="{{ static_url("img/roundtables/roundtable-01-07.jpg") }}">
				<figcaption>
					<div>Erie Meyer</div>
					<em>Senior Advisor to the U.S. CTO, leads a breakout session</em>
				</figcaption>
			</figure>
		</div>
	</div>


	<section>
		<p class="drop-cap">The first Open Data Roundtable was held in Washington, DC on June 18, 2014. It was co-hosted by the GovLab and the White House Office of Science and Technology Policy (OSTP) together with the U.S. Department of Commerce. Under Secretary of Commerce for Economic Affairs Mark Doms led the Department's planning and engagement with the event, and participated for the entire day. Over 20 other officials and staff from the Department of Commerce participated as well, with appearances by Secretary Penny Pritzker and Acting Deputy Secretary Bruce Andrews. Nick Sinai, U.S. Deputy Chief Technology Officer, and Erie Meyer, Senior Advisor to the U.S. CTO, represented OSTP at the event. The GovLab is now compiling a report on the Roundtable for public release.</p>

		<p>Read blog posts about the event from <a href="http://www.commerce.gov/blog/2014/06/19/listening-our-data-customers-open-data-roundtable">Bruce Andrews, Acting Deputy Secretary</a> and <a href="http://www.esa.doc.gov/Blog/2014/06/19/big-day-big-data-beginning-our-data-transformation">Mark Doms, Under Secretary for Economic Affairs</a>.</p>
	</section>
	<section>
		<h2 class="m-page-title">Upcoming Roundtables</h2>
		<p>The GovLab is now working with the Departments of Agriculture, Labor, Transportation, and Treasury to design similar Roundtables in 2014. We are planning additional events with other government agencies and businesses as well. Interested parties should please contact us at <a href="mailto:opendata500@thegovlab.org">opendata500@thegovlab.org</a>.</p>
	</section>
	
	
	<section>
		<h2 class="m-page-title">Open Data Roundtable Attendees</h2>

		<ul class="roundtable-attendees">
			<li><span>Steven Adler</span>
				Information Strategist, IBM</li>
			<li><span>Vikrum Aiyer</span>
				Special Advisor To The Under Secretary, Department of Commerce USPTO</li>
			<li><span>Audrey Ariss</span>
				Research Assistant of the Open Data 500, The GovLab</li>
			<li><span>Ty Beltramo</span>
				CTO, Mapquest</li>
			<li><span>Avi Bender</span>
				Chief Technology Officer, Department of Commerce Census Bureau</li>
			<li><span>Andrew Beveridge</span>
				Co-Founder and CEO, Social Explorer</li>
			<li><span>Ron Bewtra</span>
				Chief Technology Officer, Department of Commerce NOAA</li>
			<li><span>Kristy Brown</span>
				Research Assistant and Photographer, The GovLab</li>
			<li><span>Robyn Caplan</span>
				Reseach Fellow, The GovLab</li>
			<li><span>Sarah Cordivano</span>
				Project Manager for the Data Analytics team, Azavea	</li>
			<li><span>Ashley De Smeth</span>
				Director of Development and Government Affairs, Appallicious</li>
			<li><span>Frank Digiammarino</span>
				Director, Global Public Sector, Amazon Web Services</li>
			<li><span>Roslyn Docktor</span>
				Governmental Programs Executive, IBM</li>
			<li><span>Mark Doms</span>
				Under Secretary, Department of Commerce Economics and Statistics Administration</li>
			<li><span>Jim Dreyer</span>
				Leadership Director, Risk Assurance IT &amp; Process Assurance XBRL services, PricewaterhouseCoopers</li>
			<li><span>Austin Durrer</span>
				Chief Of Staff, Department of Commerce Economics and Statistics Administration</li>
			<li><span>Katherine Garcia</span>
				Research Assistant of the Open Data 500, The GovLab</li>
			<li><span>Robert Glass</span>
				Federal Solution Architect, Apigee	</li>
			<li><span>Ariel Gold</span>
				Program Manager, World Wide Public Sector Amazon Web Services</li>
			<li><span>Aaron Greenspan</span>
				President and CEO, Think Computer Corporation</li>
			<li><span>Joel Gurin</span>
				Project Director of the Open Data 500, The GovLab</li>
			<li><span>Alex Heit</span>
				Policy Associate, Data Transparency Coalition</li>
			<li><span>Hudson Hollister</span>
				Founder and Executive Director, Data Transparency Coalition</li>
			<li><span>John Horrigan</span>
				Consultant, Pew Research Centre</li>
			<li><span>Bernadette Hyland</span>
				CEO, 3 Round Stones</li>
			<li><span>George Ivanov</span>
				Public Policy and Government Relations Analyst, Google Maps</li>
			<li><span>Edward Johnson</span>
				Director, Office Of Strategic Planning And Policy (Nws), Department of Commerce NOAA</li>
			<li><span>Bryson Koehler</span>
				EVP, CIO, The Weather Company</li>
			<li><span>Mike Kruger</span>
				Director Of Digital Engagement, Department of Commerce Office of the Secretary</li>
			<li><span>Ajay Kundaria</span>
				Senior Advisor, Department of Commerce USPTO</li>
			<li><span>David Langdon</span>
				Senior Policy Advisor For Economics And Statistics, Department of Commerce Office of the Secretary</li>
			<li><span>Rick Lattimer</span>
				Policy Analyst, Department of Commerce Economics and Statistics Administration</li>
			<li><span>Lauren Lipovic</span>
				Senior Advisor, Department of Commerce Economics and Statistics Administration</li>
			<li><span>Laura Manley</span>
				Project Manager of the Open Data 500, The GovLab</li>
			<li><span>Alan Marco</span>
				Acting Chief Economist, Department of Commerce USPTO</li>
			<li><span>Stephen Marley</span>
				Chief Technologist, Harris Corporation</li>
			<li><span>Nicole Mayerhauser</span>
				Chief of the National Income And Wealth Division, Department of Commerce Bureau of Economic Analysis</li>
			<li><span>David McClure</span>
				Office Of The Chief Information Officer, Department of Commerce NOAA</li>
			<li><span>Laura McNulty</span>
				Manager, National Government Health &amp; Sciences Team, Esri	</li>
			<li><span>Kenneth Melero</span>
				Director of Federal, Socrata</li>
			<li><span>Erie Meyer</span>
				Senior Advisor to the CTO, White House Office of Science &amp; Technology Policy</li>
			<li><span>David Michaud</span>
				Acting Deputy Chief Information Officer, Department of Commerce NOAA</li>
			<li><span>Alexander Minor</span>
				Chief, Web Services Branch, Department of Commerce Bureau of Economic Analysis</li>
			<li><span>Brian Moyer</span>
				Acting Director, Department of Commerce Bureau of Economic Analysis</li>
			<li><span>Jeptha Nafziger</span>
				Detalee, OMB, Senate Budget Committee</li>
			<li><span>Elizabeth Nash</span>
				Director of Data and Product Development, PolicyMap</li>
			<li><span>Hamid Ouyachi</span>
				CTO, Department of Labor</li>
			<li><span>Luis Daniel</span>
				Research Fellow and Developer, The GovLab</li>
			<li><span>Harshil Parikh</span>
				Founder, TuvaLabs</li>
			<li><span>Emma Peck</span>
				Legislative Correspondent, Senator Mark R. Warner's office	</li>
			<li><span>Nancy Potok</span>
				Deputy Director, Department of Commerce Census Bureau</li>
			<li><span>Penny Pritzker</span>
				Secretary, Department of Commerce Office of the Secretary</li>
			<li><span>Michael Ratcliffe</span>
				Assistant Division Chief For Geocartographic Products And Criteria, Department of Commerce Census Bureau</li>
			<li><span>Arnaud Sahuguet</span>
				Chief Technology Officer, The GovLab</li>
			<li><span>John Henry Scott</span>
				Physicist, Department of Commerce National Institute of Standards and Technology</li>
			<li><span>Jeffrey Sisson</span>
				Program Manager, Data Access And Dissemination Systems, Department of Commerce Census Bureau</li>
			<li><span>Michael Alan Steinberg</span>
				Senior Vice President for Special Initiatives, AccuWeather</li>
			<li><span>Haley Van Dyck</span>
				Advisor, Office of Management and Budget</li>
			<li><span>Bala Venkatesan</span>
				Vice President, Technology, Overture Technologies</li>
			<li><span>Stefaan Verhulst</span>
				Chief Research and Development Officer of the Governance Laboratory, The GovLab</li>
			<li><span>Shaunda Villones</span>
				Senior Economist And Special Assistant To The Director, Department of Commerce Bureau of Economic Analysis</li>
			<li><span>Sean Vitka</span>
				Federal Policy Manager, Sunlight Foundation</li>
			<li><span>Michael White</span>
				Senior Risk Analyst, OnDeck</li>
			<li><span>Arleen Zank</span>
				Founder and Editor in Chief, Way Better Patents</li>
		</ul>
		<p class="invitation-disclaimer"><em>To invite attendees for this event, the GovLab sent an email to over 120 companies in the Open Data 500 study that we know to be using Department of Commerce data, and several nonprofit organizations that either use Commerce data directly or study the way it is used. The Department of Commerce chose its own representatives, high-level officials and staff who direct the Department's data programs.</em></p>
	</section>
	<section>
		<h2 class="m-page-title">Series Sponsors</h2>

		<div class="roundtables-series-sponsors">
			<div id="sponsor-aws" class="sponsor-container"><img src="{{ static_url("img/roundtables/roundtables-sponsor-aws.png") }}"></div>
			<div id="sponsor-pwc" class="sponsor-container"><img src="{{ static_url("img/roundtables/roundtables-sponsor-pwc.png") }}"></div>
		</div>
		<p>The Open Data Roundtables Series is supported by Amazon Web Services and PricewaterhouseCoopers. The GovLab is currently seeking additional sponsors for the Open Data Roundtable Series and for individual Roundtable events. For more information, please contact us at <a href="mailto:opendata500@thegovlab.org">opendata500@thegovlab.org</a>.</p>
	</section>
	<section>
		<h2 class="m-page-title">Event Supporter</h2>

		<div class="roundtables-event-sponsors">
			<div id="sponsor-dtc" class="sponsor-container"><img src="{{ static_url("img/roundtables/roundtables-sponsor-dtc.png") }}"></div>
		</div>
		<p>The GovLab also thanks the Data Transparency Coalition, the Event Sponsor for this first Roundtable, for providing refreshments, lunch, and a reception after the event.</p>
	</section>
</div>
{% end %}