<!-- This is the code for the download page -->
{% extends "../main.html" %}
{% autoescape None %}

{% block body %}


<h1>{{ settings["page_heading"] }}</h1>

<section class="intro">
	<p>We are currently working on this section of the OD500. Please check back soon for complete documentation and API. In the meantime, you can download a dump of all companies, agencies, and datasets</p>
</section>

<section class="m-download">
	<div class="m-download-item">
		<p>All Companies</p>
		<a class="m-button" href="/download/us_OD500_Companies.json">JSON</a>
	</div>
	<div class="m-download-item">
		<p>Agencies and Datasets</p>
		<a class="m-button" href="/download/us_OD500_Agencies.json">JSON</a>
	</div>
	<div class="m-download-item">
		<p>All Companies</p>
		<a class="m-button" href="/download/us_OD500_Companies.csv">CSV</a>
	</div>
	<div class="m-download-item">
		<p>Agencies and Datasets</p>
		<a class="m-button" href="/download/us_OD500_Agencies.csv">CSV</a>
	</div>

	
	
	
</section>


{% end %}