{% extends "../main.html" %}
{% autoescape None %}

{% block body %}

<div class="m-homepage">

    <h1 class="first-title">{{ settings["page_heading"]}}</h1>
    <div class="m-banner-slider">
        <img src="{{ static_url("img/roundtable-banner.jpg") }}" alt="">
    </div>
    <script src="{{ static_url("js/d3.v3.min.js") }}"></script>
    <section id="chord-chart-container">
        <h2>Open Data Compass</h2>
        <h3>What types of companies use which agencies' data?</h3>
    	<div id="chord-chart">
         <span class="chord-legend companies">Company Categories</span>
         <span class="chord-legend agencies">Federal Agencies</span>
        </div>
        <h3 class="data-text"><div class="embed-popup"><a class="m-button"><strong>Embed Chart</strong></a></div></h3><br>
        <div class="dialog-example">
            <p>To embed this chart on your website, just copy and paste this code onto your page:</p>
            <textarea class="embed-code" readonly="readonly"><iframe src="http://www.opendata500.com/chart/" width="960" height="860" marginwidth="0" marginheight="50" scrolling="no" frameborder="0"></iframe></textarea>
        </div>
    </section>

    <!-- <iframe src="/chart/" width="960" height="860" marginwidth="0" marginheight="50" scrolling="no" frameborder="0"></iframe> -->

    <section class="m-homepage-about">
        <h1>About This Project</h1>
        <p class="intro">The Open Data 500, funded by the <a href="http://www.knightfoundation.org/" target="_blank">John S. and James L. Knight Foundation</a> and conducted by <a href="http://thegovlab.org/" target="_blank">the GovLab</a>, is the first comprehensive study of U.S. companies that use open government data to generate new business and develop new products and services.</p>
        <p class="more"><a href="/about/" class="m-button">Learn More</a></p> 
    </section>

    <section class="m-homepage-participate">
        <h1>How To Participate</h1>
        <div class="m-homepage-box">
            <h2>1</h2>
            <h3>If you represent an Open Data company</h3>
            <p>If your company is not already on our list, please fill out our <a href="/submitCompany/">survey</a> to tell us about your work and the data you use.</p>    
        </div>
        <div class="m-homepage-box">
            <h2>2</h2>
            <h3>If you have information about a company on our list</h3>
            <p>please use the Comment button for that company to tell us about it, or email us at <a href="mailto:opendata500@thegovlab.org">opendata500@thegovlab.org</a>.</p>
        </div>
        <div class="m-homepage-box">
            <h2>3</h2>
            <h3>If you have general information to share</h3>
            <p><a href="http://www.opendata500.com/about/#disqus_thread">Join the Conversation</a>, tweet your comments to #OD500, or email us at <a href="mailto:opendata500@thegovlab.org">opendata500@thegovlab.org</a>.</p>
        </div>
    </section>
</div>
<script type="text/javascript">


$('.m-homepage').css('text-align', 'left' );
var data;
d3.json("{{ static_url('files/us_matrix.json') }}", function(error, json) {
    if (error) return console.warn(error);
    data = json;
    draw_diagram();
})

function draw_diagram() {
    var chord = d3.layout.chord()
        .padding(0.01)
        .sortSubgroups(d3.descending)
        .matrix(data.matrix);

    var width = 730,
        height = 750,
        innerRadius = Math.min(width, height) * .25,
        outerRadius = innerRadius * 1.14;

    var maxColor = '#4a2f76'
    var baseColor = '#eeeeee';
    var baseColor2 = '#a9db6c';
    var range = 50;
    var maxVal = d3.max(chord.groups, function(d) { return d.value; });
    var minVal = d3.min(chord.groups, function(d) { return d.value; });
    var fill_agencies = d3.scale.linear().domain([0,range]).range([maxColor, baseColor]);
    var fill_categories = d3.scale.linear().domain([0,range]).range([maxColor, baseColor2]);

    var svg = d3.select("#chord-chart").append("svg")
        .attr("width", width)
        .attr("height", height)
        .attr("id", "circle")
      .append("g")
        .attr("transform", "translate(335, 375)");
        // .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
    
    var circle = svg.append("circle")
        .attr("r", outerRadius);

    var nodes = svg.append("g").selectAll("path")
        .data(chord.groups)
        .enter().append("path")
        .style("fill", function(d) { 
            if (data.num_agencies > d.index) {
                return fill_agencies(d.index);
            } else {
                return fill_categories(d.index);
            }
        })
        .attr("d", d3.svg.arc().innerRadius(innerRadius).outerRadius(outerRadius))
        .on("mouseover", mouseover);

    var ticks = svg.append("g").selectAll("g")
        .data(chord.groups)
        .enter().append("g").selectAll("g")
        .data(groupTicks)
        .enter().append("g")
        .attr("transform", function(d) {
          return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")"
              + "translate(" + outerRadius + ",0)";
        });

    ticks.append("text")
        .attr("x", 8)
        .attr("dy", ".35em")
        .attr("transform", function(d) { return d.angle > Math.PI ? "rotate(180)translate(-16)" : null; })
        .style("text-anchor", function(d) { return d.angle > Math.PI ? "end" : null; })
        .text(function(d) { return d.label; })
        .filter(function(d, i) { return d.angleDiff < .017 })
        .remove();

    //var chord = svg.append("g")
    var chord = svg.selectAll(".chord")
      //.selectAll("path")
        .data(chord.chords)
      .enter().append("path")
        .attr("class", "chord")
        .attr("d", d3.svg.chord().radius(innerRadius))
        .style("fill", "rgba(0,0,0,0.2)"); 
        // .style("fill", function(d) { 
        //     return fill_agencies(d.target.index); 
        // });

    chord.on("mouseover", function(d) {
        d3.select(this).style("fill", "rgba(0,0,0,0.4)");
    }).on("mouseout", function(d) {
        d3.select(this).style("fill", "rgba(0,0,0,0.1)");
        // d3.select(this).style("fill", function(d) {
        //     return fill_agencies(d.target.index);
        // });
    });

    chord.append("title")
        .text(function(d) { return data.names[d.source.index] + "->" + data.names[d.target.index] + "\n" + d.target.value + " companies"});

    // nodes.append("title")
    //     .text(function(d) { return data.names[d.index] + "\n" + d.value + " companies"});

    function groupTicks(d) {
      var k = (d.endAngle - d.startAngle) / d.value;
      return d3.range(0, d.value, 1000).map(function(v, i) {
        return {
          angle: v * k + d.startAngle + (d.endAngle - d.startAngle)/2,
          label: data.names[d.index],
          angleDiff: d.endAngle - d.startAngle
        };
      });
    }

    function mouseover(d, i) {
      chord.classed("fade", function(p) {
        return p.source.index != i
            && p.target.index != i;
      });
    }
}

</script>

<script>
    $('#mc_embed_signup').removeClass('s-disabled').delay(5000).addClass('s-disabled');
</script>
{% end %}