{% extends "../main.html" %}
{% autoescape None %}

{% block body %}



<section class="submitDescription">
	<h1>Open Data 500 <br>Company Survey</h1>
	<p>The Open Data 500, funded by the Knight Foundation and conducted by the GovLab, is the first comprehensive study of U.S. companies that use open government data to generate new business and develop new products and services. The goal is to (1) provide a basis for assessing the economic value of government data; (2) encourage the development of new open data companies; and (3) foster a dialogue between government and business on how government data can be made more useful.</p>
	<p>By participating in this study, your company can become part of a widely used resource for other businesses, investors, and the media to identify companies that are using Open Data in innovative ways. You will also be able to give feedback to government agencies whose data you use, and help us make government data more accessible, usable, and attuned to business needs.</p>

	<p><strong>To qualify for the Open Data 500, a company must:</strong></p>
	<ul>
		<li>Be U.S.-based,</li>
		<li>Earn revenue from its products and services, and</li>
		<li>Use open government data as a key resource for its business. (While most Open Data 500 companies will work with federal data, we are also interested in those that use city or state data in a way that can scale regionally or nationally.)</li>
	</ul>
	<p>If your company meets these criteria, please take a few minutes to fill out this short online form. Thank you again for your participation.</p>
	<p><em>The fields marked with * are required</em></p>
</section>
{% if country == "int" %}{% set c = "us" %}{%else%}{% set c = country %}{%end%}
<form method="post" id="submitCompany" class="m-form companyForm" parsley-validate>
	<fieldset class="m-form-half">
		<h3>Personal Information</h3>
		<div class="m-form-line"><label for="">First Name: *</label><input type="text" name="firstName" id="firstName" parsley-required="true"></div>
		<div class="m-form-line"><label for="">Last Name: *</label><input type="text" name="lastName" id="lastName" parsley-required="true"></div>
		<div class="m-form-line"><label for="">Title: *</label><input type="text" name="title" id="title" parsley-required="true"></div>
		<div class="m-form-line"><label for="">Email: *</label><input type="text" name="email" id="email" parsley-trigger="change" parsley-type="email" parsley-required="true"></div>
		<div class="m-form-line"><label for="">Phone:</label><input type="text" name="phone" id="phone" parsley-trigger="change" parsley-type="phone"></div>
		<div class="m-form-box contacted-box"><label for="contacted"><input type="checkbox" name="contacted" id="contacted" value="contacted">Please check here if you would be willing to be contacted for further information about your company.</label></div>
	</fieldset>
	<fieldset class="m-form-half right">
		<h3>Company Information</h3>
		<div class="m-form-line"><label for="companyName">Company Name: *</label><input type="text" name="companyName" id="companyName" parsley-remote="/validate/?country={{country}}" parsley-remote-method="POST" parsley-required="true"></div>
		<div class="m-form-line"><label for="url">Company URL: *</label><input type='text' name="url" id='url' parsley-trigger="change" parsley-type="url" parsley-required="true"></div>
		<div class="m-form-line"><label for="city">In which city is this company located?</label><input type="text" name="city" id="city"></div>
		<div class="m-form-line">
			<label for="state">State: *</label>
			<select name='state' id="state" parsley-required="true">
				{% for i in range(0, 53) %}
					<option name="state" value="{{stateListAbbrev[c][i]}}">{{ stateList[c][i] }}</option>
				{%end%}
			</select>
		</div>
		<div class="m-form-line"><label for="country">Country:</label><input type="text" name="country" value="{{country_keys[country]}}" disabled="disabled"></div>
		<div class="m-form-line"><label for="zipCode">Zip Code:</label><input type="text" name="zipCode" id="zipCode" parsley-trigger="change" parsley-regexp="(^\d{5}$)|(^\d{5}-\d{4}$)"></div>
		<div class="m-form-line"><label for="ceoFirstName">First Name of CEO:</label><input type="text" name="ceoFirstName" id="ceoFirstName"></div>
		<div class="m-form-line"><label for="ceoLastName">Last Name of CEO:</label><input type="text" name="ceoLastName" id="ceoLastName"></div>
		<div class="m-form-box">Type of Company: *<br>
		{% for type in companyType %}
			<label for=""><input type="radio" name="companyType" data-trigger="change" data-group="companyType" data-mincheck="1" value="{{ type }}">{{ type }}</label>
		{% end %}
			<label for=""><input type="radio" name="companyType" data-trigger="change" data-group="companyType" data-mincheck="1" value="other" parsley-required="true">Other
			<input type="text" name="otherCompanyType" id="otherCompanyType" data-trigger="change" data-group="companyType" data-mincheck="1"></label>
		</div>
		<div class="m-form-line"><label for="">Founding Year: *</label><input type="text" name="yearFounded" id="yearFounded" parsley-type="number" parsley-trigger="change" parsley-required="true" parsley-range="[1000, 2014]"></div>
		<div class="m-form-line"><label for="">Number of full-time employees: *</label><input type="text" name="fte" id="fte" parsley-trigger="change" parsley-required="true" parsley-type="number"></div>
	</fieldset>
	
	<fieldset class="m-form-half">
		<h3>Which of the following are significant sources of revenue for your company? <br><em>(check all that apply)</em> *</h3>
		{% for source in revenueSource %}
			<label for="{{source}}"><input type="checkbox" id="{{source}}" name="revenueSource" data-trigger="change" data-group="revenueSource" data-mincheck="1" value="{{ source }}">{{ source }}<br></label>
		{% end %}
			<label for="{{source}}"><input type="checkbox" id="{{source}}" name="revenueSource" parsley-required="true" value="Other">Other</label>
			<input type="text" name="otherRevenueSource" id="otherRevenueSource" data-trigger="change" data-group="revenueSource" data-mincheck="1"></label>
	</fieldset>
	<fieldset class="m-form-half right">
		<h3>What category best describes your company? *</h3>
		{% for category in categories %}
			<label for="{{category}}"><input type="radio" id="{{category}}" name="category" value="{{ category }}">{{ category }}<br>
		{% end %}
			<label for="{{category}}"><input type="radio" id="{{category}}" name="category" class="otherCategory" parsley-required="true" value="Other">Other
			<input type="text" name="otherCategory" id="otherCategory" class="otherCategory"></label>
	</fieldset>
	<fieldset class="m-form-half left">
		<h3>Please give us a short public statement describing your company’s mission and work. You can take this material from your website or other publications if you choose to. <br><em>[200 words or less]</em> *</h3>
		<textarea rows="10" cols="59" name="description" id="description" parsley-trigger="keyup" parsley-maxwords="200" parsley-required="true"></textarea><br><br>
	</fieldset>
	<fieldset class="m-form-half right">
		<h3>As a summary, please provide a one sentence description of your company. <br><em>[25 words or less]</em> *</h3>
		<textarea rows="10" cols="59" name="descriptionShort" id="descriptionShort" parsley-trigger="keyup" parsley-maxwords="25" parsley-required="true"></textarea><br>
	</fieldset>
	<fieldset class="m-form-half left">
		<h3>Please include any financial or operational information that will help us understand your company. We are interested in specific information like past and projected annual revenues, total outside investment dollars to date, and significant investors or partners. <br><em>[100 words or less]</em></h3>
		<textarea rows="10" cols="59" name="financialInfo" id="financialInfo" parsley-trigger="keyup" parsley-maxwords="100"></textarea><br><br>
	</fieldset>
	<fieldset class="m-form-half right">
		<h3>What datasets (if any) are not currently available that would be useful for your company to have as government open data?<br><em>[50 words or less]</em></h3>
		<textarea rows="10" cols="59" name="datasetWishList" id="datasetWishList" parsley-trigger="keyup" parsley-maxwords="50"></textarea><br>
	</fieldset>
	<fieldset class="m-form-half">
		<h3>From approximately how many sources (i.e. agencies, subagencies, local and state governments) does your company use data? *</h3>
		<div class="source-count-buttons">
			<input type="radio" name="sourceCount" id="count1" value="1-10"><label for="count1">1-10</label>
			<input type="radio" name="sourceCount" id="count2" value="10-50"><label for="count2">10-50</label>
			<input type="radio" name="sourceCount" id="count3" value="50-100"><label for="count3">50-100</label>
			<input type="radio" name="sourceCount" id="count4" parsley-required="true" value="100+"><label for="count4">100+</label>
		</div>
		{% raw xsrf_form_html() %}
	</fieldset>
</form>


<p class="disclaimer-text warning">Your responses will become part of a public database of information on Open Data companies. By submitting this form you are agreeing that, other than personal contact information, this information will be part of a publicly available database.</p>
<div class="saveCompanyForm-new">	
	<input type="hidden" class="companyID" name="companyID" value="">
	<input type="button" class="m-button" id="companySave-new" name="submit" value="Next">
	<span class="message-form" style="display:none"></span>
	<span class="error-form" style="display:none"></span>
</div>

<!--------------------------------------------DATASETS--------------------------------------!-->
<div class="submit-data-information">
</div>


{% end %}
