{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}
<div class="about-page">
<!-- <div class="m-country-flag s-mx">
	<img src="{{ static_url("img/mexico-flag.png") }}" alt="">
</div> -->
<h1 class="first-title">About the Open Data 100 Australia</h1>

<section class="intro">
	<p>The Open Data 100 Australia is part of the Commonwealth of Australia's Open Data initiative, and is the first comprehensive study of Australian companies and NGOs that use open government data to generate new business, develop new products and services or create social value. Open Data is free, public data that can be used, reused and redistributed to launch commercial and nonprofit ventures, conduct research, make data-driven decisions, and solve complex problems.</p>
</section>

<section id="about-goals">
	<h2>Study Objectives</h2>
	<ul>
		<li>Provide a basis for assessing the economic value of government open data
		<li>Encourage the development of new open data companies</li>
		<li>Foster a dialogue between government and business on how government data can be made for useful</li>
	</ul>
</section>

<section id="about-govlab-approach">
	<h2>Approach</h2>
	<p>The Australian Open Data 100 Project is a study of Australian companies that use open government data. The project is being undertaken in collaboration between the GovLab, a team of researchers at New York University, and the Australian Government Department of Communications. This collaboration will produce a landmark study of the Australian experience and meets the Australian Government’s open data policy commitments on greater consultation with the private sector on open data.</p>

</section>

<div class="sub-sections">
	<section id="about-identify" class="m-half">
		<h2 class="m-page-title">Company Identification</h2>
		<p>The Open Data 100 Australia team will compile the list of companies and NGO's through (1) outreach campaigns, (2) advice from experts and professional organizations, and (3) additional research.
The results of the study will culminate in an online platform at www.opendata500.com/au, which will highlight the companies and their use of open government data in Australia.</p>
	</section>

	<section id="about-what-study-is-not" class="m-half">
		<h2 class="m-page-title">What The Study Is Not</h2>
		<p>The Open Data 100 Australia is not a rating or ranking of companies. It covers companies of different sizes and categories, using various kinds of data. The Open Data 100 Australia is not a competition, but an attempt to give a broad, inclusive view of the field. The study also does not provide a random sample for definitive statistical analysis. Since this is the first thorough scan of companies in the field, it is not yet possible to determine the exact landscape of open data companies.</p>
	</section>
</div>

<section id="about-approach">
	<h2>About the Open Data Policy</h2>
	<p>The Australian Government is committed to making more government data, particularly high-value data, openly available to the public and business. The key goal of the policy is to enable Australians to use and re-use the data in innovative ways that stimulate economic growth.</p>
The Australian Open Data 500 Project will create new case studies on how companies are using public sector open data and the benefits this provides to their business.</p>
</section>



<section id="about-people">
	<h2>Team</h2>
	<h3 class="adj-title">Data Policy Team at the Australian Government Department of Communications</h3>
	<div class="m-team">
		<div id="team-helen-owens" class="m-team-picture">
			<div>
				<img src="/static/img/au/helen-owens.jpg" alt="">
				<p class="m-team-member-name">Helen Owens</p>
				<p class="m-team-member-job">Head of Data Policy, <br>Commonwealth Department of Communications</p>
			</div>
		</div>
		<div id="team-tim-neal" class="m-team-picture">
			<div>
				<img src="/static/img/au/tim-neal.jpg" alt="">
				<p class="m-team-member-name">Tim Neal</p>
				<p class="m-team-member-job">Director of Data Access Policy, <br>Commonwealth Department of Communications</p>
			</div>
		</div>

		<div id="team-naomi-perdomo" class="m-team-picture">
			<div>
				<img src="/static/img/au/naomi-perdomo.jpg" alt="">
				<p class="m-team-member-name">Naomi Perdomo</p>
				<p class="m-team-member-job">Policy Advisor, <br>Commonwealth Department of Communications</p>
			</div>
		</div>
		<div class="m-team-bios">
			<div class="m-team-bio-helen-owens">
				<h3>Helen Owens</h3>
				<p>Helen Owens is the head of the Data Policy Branch in the Commonwealth Department of Communications.  She is responsible for providing advice to the Minister for Communications on the policy settings necessary to maximise the benefits arising from the use of spatial and open data, and the exploitation of big data analytics in Government. </p>
				
				<p>Helen previously worked at the Australian Government Department of Resources, Energy and Tourism as the General Manager of the Office of Spatial Policy, and spent three years as the Director of the Office of the Capability Coordinator for Geospatial Information at the Australian Geospatial Intelligence Organisation.  In this role she was responsible for strategic geospatial capability planning and leading the development of Defence spatial concepts, policy and doctrine across the Defence portfolio. </p>

				<p>A graduate of Monash University with a Bachelor of Business, Helen is a business specialist with significant private and public sector experience in strategic and business planning, spatial capabilities, information management, human resource management and corporate services.</p>
			</div>
			<div class="m-team-bio-tim-neal">
				<h3>Tim Neal</h3>
				<p>Tim Neal is the Director of Data Access Policy in the Commonwealth Department of Communications. He is responsible for providing strategic data capability and infrastructure advice to Government; specifically policy leadership, programme management and concept development across spatial policy, open data, big data and data analytics. </p>
				
				<p>In this role he is the lead on the Australian Open Data 100, NationalMap, Open Data Network, Data Driven Innovation, the Commonwealth Data Efficiency, and the FIND projects; the Commonwealth Sponsor of the Foundation Spatial Data Framework Geocoded Addressing Theme; and the manager of international data standards engagement for the Commonwealth Government.</p>

				<p>Tim previously worked in Commonwealth Government Department of Resources, Energy and Tourism as the Director of Capability and Standards in the Office of Spatial Policy and spent seven years in a variety of roles in the Department of Defence. In both roles he was responsible for a range of operations and projects that covered national security, Defence and foundation data.  </p>
				
				<p>Tim is a graduate of the University of Queensland with a Masters and Bachelor Degree in Political Science.</p>
			</div>
			<div class="m-team-bio-naomi-perdomo">
				<h3>Naomi Perdomo</h3>
				<p>Naomi Perdomo is a Policy Advisor on data in the Commonwealth Department of Communications. Since joining the Australian Public Service, she has contributed to a number of significant policy projects, including developing legislation to increase protections for children online. Naomi has coauthored a paper on best practice policy development, comparing academic theory with recent public policy case studies, and co-founded the departmental High Value Open Data Initiative. Naomi previously worked as a Legal Officer, predominately focussing on commercial and property law matters. </p>

				<p>Naomi holds a Bachelor of Laws (Honours) and Bachelor of Commerce, with a major in Banking and Finance, from Monash University in Melbourne, Australia.</p>
			</div>
		</div>
	</div>
	<div class="m-team">
		<div id="team-greg-pugh" class="m-team-picture">
			<div>
				<img src="/static/img/au/greg-pugh.jpg" alt="">
				<p class="m-team-member-name">Greg Pugh</p>
				<p class="m-team-member-job">Senior Policy Advisor, <br>Commonwealth Department of Communications</p>
			</div>
		</div>
		<div id="team-sacha-isaac" class="m-team-picture">
			<div>
				<img src="/static/img/au/sacha-isaac.jpg" alt="">
				<p class="m-team-member-name">Sacha Isaac</p>
				<p class="m-team-member-job">Stakeholder Engagement Officer, <br>Commonwealth Department of Communications</p>
			</div>
		</div>
		
		<div class="m-team-bios">
			<div class="m-team-bio-greg-pugh">
				<h3>Greg Pugh</h3>
				<p>Greg Pugh is a Senior Policy Advisor currently working on consumer access issues in the Department of Communications. </p>

				<p>Greg has been in the Australian Public Service for four years in a range of different policy areas, including the development of policy relevant to the rollout of the National Broadband Network and the telecommunications industry more generally. This included the implementation of the optional battery backup deployment model and the transition of legacy alarm services from copper to fibre networks. He has also been involved in the running of a Data Driven Innovation project with other government agencies and industry partners. </p>

				<p>More recently, Greg’s work has focussed on the development of a series of discussion papers that will form the basis of a consumer safeguards policy applicable across all communications sectors.</p> 

				<p>Greg is an admitted lawyer, holding a postgraduate degree in legal practice and undergraduate degrees in law and communications from the University of Wollongong, Australia.</p>
			</div>
			<div class="m-team-bio-sacha-isaac">
				<h3>Sacha Isaac</h3>
				<p>Sacha Isaac is a Stakeholder Engagement Officer, working directly to the head of the Data Policy Branch in the Commonwealth Department of Communications.</p>

				<p>In this role, Sacha has the lead on building and maintaining productive alliances and professional relationships within the Communications portfolio, across the spatial, open and big data policy agendas.</p>

				<p>Sacha has extensive experience in telecommunications policy, including being part of a small team tasked with developing and implementing the Australian Government’s Mobile Black Spot Programme, an initiative to extend mobile phone coverage and competition in regional Australia. In previous roles, Sacha was the Assistant Director of a team that supported an external committee conducting the Australian Government’s legislated 2011–12 Regional Telecommunications Review.</p>

				<p>Sacha holds a Bachelor of Sport and Recreation Management, and a Postgraduate Diploma in Commerce, with a major in Marketing from Lincoln University in Christchurch, New Zealand.</p>
			</div>
		</div>
	</div>

	<h3>The GovLab</h3>
	<div class="m-team">
		<div id="team-joel-gurin" class="m-team-picture">
			<div>
				<img src="/static/img/us/joel-gurin.jpg" alt="">
				<p class="m-team-member-name">Joel Gurin</p>
				<p class="m-team-member-job">Project Director, Open Data 500, and Senior Advisor, <br>The GovLab</p>
			</div>
		</div>
		<div id="team-laura-manley" class="m-team-picture">
			<div>
				<img src="/static/img/us/laura-manley.jpg" alt="">
				<p class="m-team-member-name">Laura Manley</p>
				<p class="m-team-member-job">Project Manager, Open Data 500</p>
			</div>
		</div>
		<div id="team-katherine-garcia" class="m-team-picture">
			<div>
				<img src="/static/img/us/katherine-garcia.jpg" alt="">
				<p class="m-team-member-name">Katherine Julia Garcia</p>
				<p class="m-team-member-job">Project Liaison, Open Data 100 Australia</p>
			</div>
		</div>
		<div class="m-team-bios"> 
			<div class="m-team-bio-joel-gurin">
				<h3>Joel Gurin</h3>
				<p>Joel Gurin is Senior Advisor at the Governance Lab at NYU, where he directs the Open Data 500, a project to study companies that use government Open Data as a key business resource (OpenData500.com). He is the author of the new book, Open Data Now, and covers the field through his website, OpenDataNow.com. He was formerly Editorial Director and then Executive Vice President of Consumers Union and Consumer Reports. From late 2009 through early 2012 Joel Gurin was Chief of the Consumer and Governmental Affairs Bureau of the Federal Communications Commission. He also served as Chair of the White House Task Force on Smart Disclosure, which studied how the federal government can help consumers by providing information on complex choices in the marketplace. He tweets <a href="https://twitter.com/joelgurin" target="_blank">@joelgurin</a>.</p>
			</div>
			<div class="m-team-bio-laura-manley">
				<h3>Laura Manley</h3>
				<p>Laura Manley is the Project Manager of the Open Data 500, the first comprehensive study of U.S. companies that use open government data to generate new business and develop new products and services. She has over 10 years of experience working with NGOs and social enterprises in the US, South Asia, Sub-Saharan Africa and South America specializing in startup strategic planning and organizational development.</p>
				<p>Laura is also the Director of Social Entrepreneurship Research at the NYU Stern School of Business and has worked with multiple development agencies including the United Nations Office of the High Commissioner for Human Rights, the National Endowment for Democracy, UNICEF, and MasterCard Foundation. She holds a Bachelors in Business Administration from the University of Massachusetts Amherst and a Masters in Public Administration from NYU Wagner focusing on international policy and entrepreneurship.</p>
			</div>
			<div class="m-team-bio-katherine-garcia">
				<h3>Katherine Julia Garcia</h3>
				<p>Katherine Garcia earned her MPA with an emphasis in Policy Analysis from Baruch College. Prior to joining the Open Data 500 team, she served as the Press Assistant for the U.S. Mission to the United Nations. Katherine serves on the Board of Directors for the Metro NY Chapter of the U.S. National Committee for UN Women, which promotes gender equality and women's empowerment and SustainUS, a non-profit that empowers youth to advance sustainable development.</p>
			</div>
		</div>
		<div class="m-team">
			<div id="team-audrey-ariss"class="m-team-picture">
				<div>
					<img src="/static/img/us/audrey-ariss.jpg" alt="">
					<p class="m-team-member-name">Audrey Ariss</p>
					<p class="m-team-member-job">Research Assistant</p>
				</div>
			</div>
			<div id="team-luis-daniel" class="m-team-picture">
			<div>
				<img src="/static/img/us/luis-daniel.jpg" alt="">
				<p class="m-team-member-name">Luis Daniel Palacios</p>
				<p class="m-team-member-job">Research Fellow, <br>The GovLab</p>
			</div>
		</div>
		</div>
		<div class="m-team-bios">
			<div class="m-team-bio-audrey-ariss">
				<h3>Audrey Ariss</h3>
				<p>Audrey Ariss is a research assistant for Open Data 500. She is a recent graduate from Columbia University’s School of International and Public Affairs where she obtained a dual Masters in International Affairs and Applied Quantitative Methods, with foci on urban development and technology policy. She is a 2013 Google Policy Fellow, and conducted work on universal service programs, municipal broadband issues, and open data policies. Audrey holds a bachelors in modern history and French from the University of Oxford, St. Catherine’s College.</p>
			</div>
			<div class="m-team-bio-luis-daniel">
				<h3>Luis Daniel</h3>
				<p>Luis Daniel is originally from Monterrey, Mexico and is a recent graduate of the Interactive Telecommunications Program at Tisch School of the Arts in NYU. He worked as a Solomon Fellow at NYC Digital where he created and ran New York City government’s first official Spanish Twitter account, @NYCgob. During his time in graduate school, Luis focused on ways technology could help alleviate the problems Mexico faces because of the War on Drugs. In his past life, Luis worked on oil rigs in South Texas as a field engineer for an oilfield services company. He received his B.S. in Mechanical Engineering from The University of Texas at Austin.</p>
			</div>
		</div>
	</div>	
</section>
<!-- <footer>
	<a class="m-button" href="#">Recommend a company</a><a class="m-button" href="http://thegovlab.org/submit-your-company">Submit Your Company</a>
</footer> -->
</div>
<div id="overlay"></div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'opendata500'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>



</div>

{% end %}
