{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}

<div class="m-homepage">
    <h1 class="first-title">Open Data 500 Australia</h1>
    <script src="{{ static_url("js/d3.v3.min.js") }}"></script>
    <section id="chord-chart-container">
        <h2>Open Data Compass</h2>
        <h3>What types of companies use which agencies' data?</h3>
        <p></p>
        <br />

        <div id="chord-chart">
            <span class="chord-legend companies">Company Categories</span>
            <span class="chord-legend agencies">Federal Agencies</span>
        </div>
        <div class="embed-chart-info">
            <span id="embed-chart-trigger" class="expand-trigger">Embed Chart</span>
            <div class="embed-chart-info-content">
                <p>To embed this chart on your website, just copy and paste this code onto your page:</p>
                <textarea class="embed-code" readonly="readonly">
                    <iframe src="http://www.opendata500.com/au/chart/" width="960" height="860" marginwidth="0" marginheight="50" scrolling="no" frameborder="0"></iframe>
                </textarea>
            </div>
        </div>

    </section>


    <!--<section class="m-homepage-banner">
        <img src="/static/img/au/australia-banner.png">
    </section>-->

    <section class="m-homepage-about">
        <h1>About This Project</h1>
        <p class="intro">Australia is working in partnership with The GovLab at New York University to conduct the Open Data 500 Australia. This is the first study of Australian companies and NGOs that use open government data to generate new business, develop new products and services, and create social value.</p>
        <p class="more"><a href="/au/about/" class="m-button">Learn More</a></p> 
    </section>

    <section class="m-homepage-participate">
        <h1>How To Participate</h1>
        <div class="m-homepage-box">
            <h2>1</h2>
            <h3>If you represent an Open Data company or NGO</h3>
            <p>Please fill out our <a href="/au/submitCompany/">survey</a>.</p>    
        </div>
        <div class="m-homepage-box">
            <h2>2</h2>
            <h3>If you would like to recommend an Open Data company</h3>
            <p>Please email us at <a href="mailto:opendata@communications.gov.au">opendata@communications.gov.au</a>.</p>
        </div>
        <div class="m-homepage-box">
            <h2>3</h2>
            <h3>If you have general information to share about open data in Australia</h3>
            <p>Email us at <a href="mailto:opendata@communications.gov.au">opendata@communications.gov.au</a>.</p>
        </div>
    </section>
</div>


<script>
    $('#mc_embed_signup').removeClass('s-disabled').delay(5000).addClass('s-disabled');
</script>
{% end %}
