{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}
<div class="resources-page">
	<h1 class="first-title">Open Data Resources</h1>
	<section id="resources-blog" class="resource-panel">
		<div class="resources-intro">
			<p>Resources on open data policy and open government initatives in Australia:</p>
		</div>	
		<ul>
			<li><a href="http://www.data.gov.au" target="_blank">data.gov.au</a></li>
			<li><a href="http://www.nationalmap.gov.au" target="_blank">The National Map</a></li>
			<li><a href="http://www.malcolmturnbull.com.au/assets/Coalitions_Policy_for_E-Government_and_the_Digital_Economy_(2).pdf" target="_blank">The Coalition's Policy for E-Government and the Digital Economy</a></li>
			<li><a href="https://www.omidyar.com/sites/default/files/file_archive/insights/ON%20Report_061114_FNL.pdf" target="_blank">Open for Business: How Open Data can Help Achieve the G20 Growth Target</a></li>
		</ul>
		<ul>
			<li><a href="http://www.pwc.com.au/consulting/assets/publications/Data-drive-innovation-Sep14.pdf" target="_blank">Deciding with Data</a></li>
			<li><a href="http://ands.org.au/resource/houghton-cost-benefit-study.pdf" target="_blank">Costs and Benefits of Data Provision</a></li>
			<li><a href="https://www.anzsog.edu.au/media/upload/publication/94_2-Houghton-and-Gruen-Transparency-and-Productivity.pdf" target="_blank">Transparency and Productivity</a></li>
		</ul>
	</section>
</div>

{% end %}



