{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}

<h1>{{ page_heading }}</h1>

<input type="hidden" id="companyName" value="{{ company.companyName }}" />

	<form class="m-form" id="company-data-form" data-parsley-validate>
		
		{% module FormData(country, settings['default_language'], True, company) %}
		{% raw xsrf_form_html() %}

	</form>

	{% module AgencyAdd(country, settings['default_language'], company) %}
	
	</form>

	<fieldset class="m-form-half">
		<input type="button" id="submit-all-forms" class="m-button" value="Save And Finish">
		<span class="response-message"></span>
	</fieldset>


{% end %}
