
{% extends "../../main.html" %}
{% autoescape None %}

{% block body %}

<h1>Thanks For Submitting to the Open Data 500 Australia</h1>

<h3>Help us spread the word to the government open data community by tweeting about your participation:
  <a href="https://twitter.com/intent/tweet?text={{ url_escape(company) }}+just+participated+in+the+%23OD500AU%2C+the+first+study+of+Australian+companies+using+gov+%23opendata.+OpenData500.com%2Fau" class="twitter-hashtag-button" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></h3>
<br>
<br>

<p>If you have any questions or concerns, please email <a href="mailto:opendata@communications.gov.au">opendata@communications.gov.au</a>.</p>

{% end %}
